{% load staticfiles i18n account socialaccount avatar_tags %}

{% if request.user.is_authenticated %}
  <form class="pull-right" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'fbz-tumblr-home' %}">
    <p class="login-info text-xs-center">
      <span class="as">Logged in as: </span><a class="username" href="http://{{ request.user.username }}.tumblr.com" target="_blank" rel="nofollow" title="Open your Tumblr in a new tab.'">{{ request.user.username }}</a>
      <img class="avatar" src="{% avatar_url request.user 32 %}" alt="" height="16" width="16">
      <input type="submit" value="Log out">
    </p>
  </form>
{% else %}
  <p class="login-info text-xs-center text-md-right">
    Not logged into Tumblr.
    <a class="tumblr-login-link" href="{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}">Log in here</a>
  </p>
{% endif %}
