{% load staticfiles comments %}

<div id="fbz-on-tumblr" class="row">
    <div class="carousel-header">
      <img class="img-responsive" src="{% static 'framebuzz/tumblr/img/v2/fbz-on-tumblr@2x.png' %}" height="70" width="736">
    </div>
    <div id="carousel" class="clearfix">
      <ul class="bxslider">
          {% for video in slides %}
          {% get_comment_count for video as comment_count %}
            <li style="background-image: url('{{ video.default_thumbnail }}');">
              <a class="play-video" data-remodal-target="modal" href="#" data-video-url="{% url 'video-embed' video.slug %}">
                <span class="bubble">{{ comment_count }}</span>
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
</div>
