{% load staticfiles %}

<div id="fbz-on-tumblr" class="row">
    <div class="carousel-header">
      <img class="img-responsive" src="{% static 'framebuzz/tumblr/img/v2/fbz-on-tumblr@2x.png' %}" height="70" width="736">
    </div>
    <div id="carousel" class="clearfix">
      <a href="#" class="previous"></a>
      <ul>
        <li>
          <a href="#">
            <img src="{% static 'framebuzz/tumblr/img/v2/fpo-slide@2x.png' %}" width="166" height="118">
            <span class="bubble">207</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="{% static 'framebuzz/tumblr/img/v2/fpo-slide@2x.png' %}" width="166" height="118">
            <span class="bubble">1</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="{% static 'framebuzz/tumblr/img/v2/fpo-slide@2x.png' %}" width="166" height="118">
            <span class="bubble">298</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="{% static 'framebuzz/tumblr/img/v2/fpo-slide@2x.png' %}" width="166" height="118">
            <span class="bubble">85</span>
          </a>
        </li>
      </ul>
      <a href="#" class="next"></a>
    </div>
</div>
