{% load staticfiles %}

<div class="edit-video col-xs-12">
    <form class="video-edit-form" method="POST" action="{% url 'fbz-edit-video' video.slug %}" data-slug="{{ video.slug }}">
        {% for field in edit_form %}
            <div class="form-row clearfix">
                {{ field }}
                {% if field.name == 'title' %}
                    <a href="{% url 'fbz-delete-video' video.slug %}" class="btn-delete-video pull-right" data-slug="{{ video.slug }}">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}
            </div>
            {% if field.name == 'title' %}
                <img class="cover-image img-fluid" width="100%" src="{{ video.default_thumbnail }}" alt="Editing {{ video.title|title }}">
            {% endif %}
        {% endfor %}
        <div class="submit-row clearfix">
            <input class="btn-submit pull-right hidden-xs-down" type="submit" value="Save changes">
            <input class="btn-submit pull-right hidden-sm-up" type="submit" value="Save">
            <a class="btn-cancel-edit pull-left" data-slug="{{ video.slug }}">Cancel</a>
        </div>
    </form>
</div>
