{% load i18n staticfiles %}

<div class="item col-xs-6 col-md-4 pull-left">
    <div id="{{ video.slug }}" class="edit-container"></div>
    <div class="video {% if video.processing %} processing{% endif %}">
        {% if not video.processing %}
            <div class="overlay col-xs-6 col-md-4 clearfix hidden-xs-down">
                <a class="edit-video pull-right" href="{% url 'fbz-edit-video' video.slug %}" data-slug="{{ video.slug }}">edit</a>
                <a class="play-video" data-remodal-target="modal" href="#" data-video-url="{% url 'video-embed' video.slug %}">
                    <img src="{% static 'framebuzz/tumblr/img/play@2x.png' %}" height="47" width="47">
                </a>
                <a class="post-on-tumblr" href="{% url 'fbz-tumblr-post' video.slug %}">
                    <span>Post to my tumblr</span>
                    <img src="{% static 'framebuzz/tumblr/img/btn-tumblr@2x.png' %}" height="35" width="168">
                </a>
                <a class="copy-embed">copy embed tag</a>
                <textarea class="embed-code">{{ video.tumblr_embed_code }}</textarea>
            </div>
        {% endif %}
        <div class="header clearfix">
            <strong class="title pull-left">{{ video.title|title }}</strong>
            <strong class="duration pull-right">
                  {% if not video.processing %}
                     {{ video.timeInHMS }}
                  {% endif %}
               </strong>
        </div>
        {% if video.processing %}
            <div class="process-message hidden-sm-down">
                <strong class="title">Processing Video&hellip;</strong>
                <strong>Your video will appear here when finished.</strong>
            </div>
        {% endif %}
        <img class="cover-image img-fluid" width="100%" src="{% if video.processing %}{% static 'framebuzz/tumblr/img/v2/img-loading@2x.jpg' %}{% else %}{{ video.default_thumbnail }}{% endif %}" alt="{{ video.title|title }}">
    </div>
    {% if video.description %}
        <div class="video-description animated">
            <p data-fulltext="{{ video.formatted_description }}">{{ video.formatted_description }}</p>
        </div>
    {% endif %}
</div>
