{% load staticfiles socialaccount %}

<div class="col-xs-12">
  <h1>1. Upload a Video</h1>
  <div id="upload-container" class="blue-round">
    {% if request.user.is_authenticated %}
    {% else %}
        <div id="upload-login" class="row">
          <p class="login">
              <a id="tumblr-login-link" href="{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}">Log in to your tumblr account</a>
          </p>
          <p class="info">
            In just a few seconds, you'll be able to upload your first video,<br>
            start a video chat, and manage your video uploads.
          </p>
        </div>
    {% endif %}
  </div>
</div>
