{% load staticfiles socialaccount %}

<div class="col-xs-12">
  <h1>1. Upload a Video</h1>
  <div id="upload-container" class="blue-round{% if request.user.is_authenticated %} uploading{% endif %}">
    {% if request.user.is_authenticated %}
      <form id="upload-video-form" action="{% url 'fbz-tumblr-dashboard' request.user.username %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ upload_form.fpname.as_hidden }}
          <div class="row drop-pane-row clearfix">
              <div class="col-xs-6 right-divider pull-left">
                  <div class="row input-row">
                      <div class="col-xs-12">
                          {{ upload_form.title }}
                      </div>
                  </div>
                  <div class="row input-row textarea-row">
                      <div class="col-xs-12">
                          {{ upload_form.description }}
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 pull-right">
                  <div class="row drop-pane-row-inner">
                      <div id="upload-drop-pane" class="col-lg-12 clearfix">
                          {{ upload_form.fpfile }}
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div id="drop-result-bar" class="col-xs-12"></div>
          </div>
          <div class="row">
              <div class="col-xs-12 submit-row">
                <input type="submit" class="btn btn-large btn-theme" value="Upload Video">
              </div>
          </div>
      </form>
    {% else %}
        <div id="upload-login" class="row">
          <p class="login">
              <a class="tumblr-login-link" href="{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}">Log in to your tumblr account</a>
          </p>
          <p class="info">
            In just a few seconds, you'll be able to upload your first video,<br>
            start a video chat, and manage your video uploads.
          </p>
        </div>
    {% endif %}
  </div>
</div>
