/* line 17, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**************************************************
 * Fonts                                          *
 **************************************************/
/* line 8, ../sass/home.scss */
font-face {
  font-family: 'Caviar Dreams';
  src: url("../../font/Caviar Dreams Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../font/Caviar Dreams Bold.eot?#iefix") format("embedded-opentype"), url("../../font/Caviar Dreams Bold.woff") format("woff"), url("../../font/Caviar Dreams Bold.ttf") format("truetype"), url("../../font/Caviar Dreams Bold.svg#svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'REVOLUTION';
  src: url("../../font/REVOLUTION.eot");
  /* IE9 Compat Modes */
  src: url("../../font/REVOLUTION.eot?#iefix") format("embedded-opentype"), url("../../font/REVOLUTION.woff") format("woff"), url("../../font/REVOLUTION.ttf") format("truetype"), url("../../font/REVOLUTION.svg#svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url("../../font/CaviarDreams.eot");
  /* IE9 Compat Modes */
  src: url("../../font/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../../font/CaviarDreams.woff") format("woff"), url("../../font/CaviarDreams.ttf") format("truetype"), url("../../font/CaviarDreams.svg#svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

/**************************************************
 * Homepage                                       *
 **************************************************/
/* line 48, ../sass/home.scss */
body {
  background: #cae4ee url("../../img/home-bkg.png") repeat-x;
  color: #262626;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/home.scss */
a, a:active, a:hover, a:visited, a:link {
  outline: 0 none;
}

/* line 58, ../sass/home.scss */
strong {
  font-weight: 700;
}

/* line 60, ../sass/home.scss */
nav {
  width: 1200px;
  margin: 0 auto;
}
/* line 64, ../sass/home.scss */
nav ul {
  width: 957px;
}
/* line 67, ../sass/home.scss */
nav ul li {
  float: right;
  padding-top: 40px;
  padding-left: 20px;
}
/* line 72, ../sass/home.scss */
nav ul li a {
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 78, ../sass/home.scss */
nav ul li a:hover {
  color: white;
  font-weight: 700px;
  text-decoration: underline;
}

/* line 88, ../sass/home.scss */
#header {
  position: relative;
  z-index: 0;
}
/* line 92, ../sass/home.scss */
#header div.container {
  height: 150px;
}
/* line 95, ../sass/home.scss */
#header div.container #logo {
  display: block;
  height: 58px;
  left: 137px;
  position: relative;
  top: 20px;
  width: 480px;
}
/* line 104, ../sass/home.scss */
#header div.container span.beta {
  background: url("/media/img/public-beta.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 86px;
  left: 71px;
  position: relative;
  top: 71px;
  width: 20px;
}

/* line 116, ../sass/home.scss */
#page-wrapper {
  min-height: 100%;
  position: relative;
}

/* line 121, ../sass/home.scss */
#page-container {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 112px;
}

/* line 127, ../sass/home.scss */
div.box {
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 47, 0.26);
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 47, 0.26);
  -moz-box-shadow: 1px 3px 5px rgba(0, 0, 47, 0.26);
  behavior: url(../../htc/PIE.htc);
  padding: 20px;
}

/* line 143, ../sass/home.scss */
body.marketing #header span.beta {
  display: none;
}
/* line 145, ../sass/home.scss */
body.marketing div.content-wrapper {
  position: relative;
  height: 100%;
}
/* line 150, ../sass/home.scss */
body.marketing div.content-wrapper #about,
body.marketing div.content-wrapper #contact {
  min-height: 350px;
  margin-bottom: 286px;
}
/* line 154, ../sass/home.scss */
body.marketing div.content-wrapper #about h1,
body.marketing div.content-wrapper #contact h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 160, ../sass/home.scss */
body.marketing div.content-wrapper #about p,
body.marketing div.content-wrapper #contact p {
  line-height: 22px;
  padding-bottom: 20px;
}
/* line 165, ../sass/home.scss */
body.marketing div.content-wrapper #about ul,
body.marketing div.content-wrapper #contact ul {
  list-style: disc inside none;
  padding-bottom: 20px;
}
/* line 169, ../sass/home.scss */
body.marketing div.content-wrapper #about ul li,
body.marketing div.content-wrapper #contact ul li {
  color: #262626;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 20px 0 20px;
  text-indent: -16px;
}
/* line 176, ../sass/home.scss */
body.marketing div.content-wrapper #about ul li strong,
body.marketing div.content-wrapper #contact ul li strong {
  font-weight: 700;
}

/* line 184, ../sass/home.scss */
#center #video-container {
  margin-left: 137px;
  padding: 35px 35px 20px;
}
/* line 188, ../sass/home.scss */
#center #video-container iframe {
  height: 378px;
  width: 675px;
}
/* line 194, ../sass/home.scss */
#center #video-container #fb-description div.description {
  float: left;
  width: 70%;
}
/* line 198, ../sass/home.scss */
#center #video-container #fb-description div.description h1, #center #video-container #fb-description div.description p {
  color: #262626;
}
/* line 202, ../sass/home.scss */
#center #video-container #fb-description div.description h1 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 208, ../sass/home.scss */
#center #video-container #fb-description div.description p {
  line-height: 20px;
}
/* line 213, ../sass/home.scss */
#center #video-container #fb-description a.add-framebuzz {
  display: block;
  float: right;
  height: 91px;
  width: 171px;
}
/* line 222, ../sass/home.scss */
#center div.sidebar {
  float: right;
  width: 251px;
}
/* line 226, ../sass/home.scss */
#center div.sidebar #bubble {
  background: url("../../img/caption-bubble.png") no-repeat;
  height: 107px;
  width: 251px;
}
/* line 231, ../sass/home.scss */
#center div.sidebar #bubble h2 {
  font-size: 18px;
  font-family: 'REVOLUTION';
  color: #333;
  padding: 16px;
}
/* line 238, ../sass/home.scss */
#center div.sidebar #bubble p {
  color: #333;
  font-family: 'Caviar Dreams';
  font-size: 16px;
  padding: 0 16px;
  line-height: 16px;
}
/* line 247, ../sass/home.scss */
#center div.sidebar #social-login {
  margin-top: 10px;
  padding-left: 10px;
}
/* line 251, ../sass/home.scss */
#center div.sidebar #social-login strong {
  color: #79BAD4;
  display: block;
  font-family: 'REVOLUTION';
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 8px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 261, ../sass/home.scss */
#center div.sidebar #social-login span {
  color: #c3e4e8;
  display: block;
  font-family: 'REVOLUTION';
  font-size: 1.3em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 269, ../sass/home.scss */
#center div.sidebar #social-login ul {
  margin-top: 5px;
  height: 34px;
}
/* line 273, ../sass/home.scss */
#center div.sidebar #social-login ul li {
  float: left;
  height: 34px;
  width: 31px;
}
/* line 278, ../sass/home.scss */
#center div.sidebar #social-login ul li a {
  background: url("../../img/sm-links.png") no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 31px;
}
/* line 285, ../sass/home.scss */
#center div.sidebar #social-login ul li a.twitter {
  background-position: 0 0;
}
/* line 286, ../sass/home.scss */
#center div.sidebar #social-login ul li a.facebook {
  background-position: -27px 0;
}
/* line 287, ../sass/home.scss */
#center div.sidebar #social-login ul li a.google {
  background-position: -57px 0;
}
/* line 291, ../sass/home.scss */
#center div.sidebar #social-login ul li.login {
  color: white;
  font-size: 0.9em;
  width: 85px;
  margin-left: 8px;
  margin-top: 8px;
  height: auto;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 300, ../sass/home.scss */
#center div.sidebar #social-login ul li.login a {
  background: none;
  color: white;
  width: auto;
  height: auto;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 311, ../sass/home.scss */
#center div.sidebar #clients {
  margin-top: 76px;
  width: 211px;
}
/* line 315, ../sass/home.scss */
#center div.sidebar #clients h3 {
  color: #76a3b5;
  display: block;
  font-family: 'REVOLUTION';
  font-size: 1em;
  margin-bottom: 24px;
  text-shadow: 0px 1px 1px #FFF;
}
/* line 324, ../sass/home.scss */
#center div.sidebar #clients img {
  margin-bottom: 14px;
}

/* line 331, ../sass/home.scss */
#info {
  margin-top: 40px;
  margin-left: 78px;
}
/* line 335, ../sass/home.scss */
#info div.box {
  margin-bottom: 40px;
  width: 700px;
}
/* line 341, ../sass/home.scss */
#info #tabs ul.nav-tabs {
  background: url("../../img/tab-border.jpg") repeat-x scroll 0 30px transparent;
  border: 0 none;
  margin-bottom: 5px;
  position: relative;
  z-index: 100;
}
/* line 348, ../sass/home.scss */
#info #tabs ul.nav-tabs li {
  margin-top: -3px;
}
/* line 351, ../sass/home.scss */
#info #tabs ul.nav-tabs li a {
  background: url("../../img/tab-unselected.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  color: #1881AD;
  display: inline-block;
  font-weight: 400;
  min-width: 105px;
  padding: 4px 0 17px;
  text-align: center;
}
/* line 362, ../sass/home.scss */
#info #tabs ul.nav-tabs li:after {
  content: url("../../img/tab-divider.png");
  padding: 0 10px;
  position: relative;
  top: 6px;
}
/* line 369, ../sass/home.scss */
#info #tabs ul.nav-tabs li:last-child {
  margin-top: 0;
}
/* line 372, ../sass/home.scss */
#info #tabs ul.nav-tabs li:last-child:after {
  content: none;
  padding: 0;
}
/* line 379, ../sass/home.scss */
#info #tabs ul.nav-tabs li:hover a, #info #tabs ul.nav-tabs li.active a {
  background: url("../../img/tab-selected.png") no-repeat 0 0 transparent;
  color: white;
  font-weight: 700;
}
/* line 387, ../sass/home.scss */
#info #tabs ul.nav-tabs li:hover a {
  padding: 4px 0 10px;
}
/* line 391, ../sass/home.scss */
#info #tabs ul.nav-tabs li.active:hover a {
  padding: 4px 0 17px;
}
/* line 396, ../sass/home.scss */
#info #tabs div.tab-content {
  overflow: visible;
  position: relative;
  z-index: 1;
}
/* line 401, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane {
  padding: 0;
}
/* line 404, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane h2, #info #tabs div.tab-content div.tab-pane p {
  color: #262626;
}
/* line 408, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane h2 {
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px 0;
}
/* line 414, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane p {
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}
/* line 419, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane p:last-child {
  padding-bottom: 0;
}
/* line 422, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane ul {
  list-style: disc inside none;
}
/* line 425, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane ul li {
  color: #262626;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 20px 0 20px;
  text-indent: -16px;
}
/* line 432, ../sass/home.scss */
#info #tabs div.tab-content div.tab-pane ul li strong {
  font-weight: 700;
}
/* line 439, ../sass/home.scss */
#info #how-it-works {
  height: 198px;
  width: 741px;
  margin-bottom: 35px;
}
/* line 444, ../sass/home.scss */
#info #how-it-works img {
  height: 198px;
  width: 742px;
}
/* line 452, ../sass/home.scss */
#info #faq ul li {
  color: black;
  height: auto;
  float: left;
  line-height: 20px;
  padding-top: 20px;
  font-weight: 400;
  width: 70%;
}
/* line 461, ../sass/home.scss */
#info #faq ul li span, #info #faq ul li strong {
  display: block;
}
/* line 462, ../sass/home.scss */
#info #faq ul li span {
  padding-top: 10px;
}
/* line 463, ../sass/home.scss */
#info #faq ul li strong {
  font-weight: 700;
}
/* line 465, ../sass/home.scss */
#info #faq ul li:first-child, #info #faq ul li:nth-child(2) {
  padding-top: 0;
}
/* line 468, ../sass/home.scss */
#info #faq ul li.image {
  float: left;
  height: 60px;
  padding: 10px 0;
  width: 163px;
}

/* line 478, ../sass/home.scss */
div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #04344a;
  padding: 45px 0;
  width: 100%;
}
/* line 488, ../sass/home.scss */
div.footer div.container span {
  color: #cae4ed;
  display: inline-block;
  float: left;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 496, ../sass/home.scss */
div.footer div.container ul {
  display: inline-block;
  float: right;
  width: 495px;
}
/* line 501, ../sass/home.scss */
div.footer div.container ul li {
  font-weight: 400;
  float: left;
  padding-left: 25px;
}
/* line 506, ../sass/home.scss */
div.footer div.container ul li a {
  color: #cae4ed;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* line 514, ../sass/home.scss */
div.footer div.container ul li a:hover {
  text-decoration: underline;
}
