/* line 17, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #666;
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

/* line 15, ../sass/screen.scss */
div.pagination-centered {
  margin: 0;
}

/* line 16, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 17, ../sass/screen.scss */
ul.nav strong {
  font-weight: normal;
}

/* line 18, ../sass/screen.scss */
a, a:active, a:hover, a:visited, a:link {
  outline: 0 none;
}

/* line 21, ../sass/screen.scss */
#login,
#signup {
  margin: 0 25.6411% 0 42.7179%;
}
/* line 24, ../sass/screen.scss */
#login h1,
#signup h1 {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  text-shadow: 0px 1px 1px #FFFFFF;
  font-weight: bold;
}
/* line 35, ../sass/screen.scss */
#login table tbody td,
#signup table tbody td {
  padding: 4px 0;
}
/* line 41, ../sass/screen.scss */
#login ul.socialaccount_providers,
#signup ul.socialaccount_providers {
  margin: 20px auto;
  width: 190px;
}
/* line 45, ../sass/screen.scss */
#login ul.socialaccount_providers li,
#signup ul.socialaccount_providers li {
  float: left;
  height: 42px;
  margin: 0 10px;
  width: 42px;
}
/* line 51, ../sass/screen.scss */
#login ul.socialaccount_providers li a.socialaccount_provider,
#signup ul.socialaccount_providers li a.socialaccount_provider {
  background-repeat: no-repeat;
  background-image: url("../../img/social-icons.png");
  height: 40px;
  width: 40px;
  display: inline-block;
  text-indent: -99999px;
  opacity: .9;
  filter: Alpha(Opacity=9);
}
/* line 61, ../sass/screen.scss */
#login ul.socialaccount_providers li a.socialaccount_provider:hover,
#signup ul.socialaccount_providers li a.socialaccount_provider:hover {
  opacity: 1;
  filter: Alpha(Opacity=10);
}
/* line 67, ../sass/screen.scss */
#login ul.socialaccount_providers li a.twitter,
#signup ul.socialaccount_providers li a.twitter {
  background-position: -174px 0;
}
/* line 71, ../sass/screen.scss */
#login ul.socialaccount_providers li a.facebook,
#signup ul.socialaccount_providers li a.facebook {
  background-position: -131px 0;
}
/* line 75, ../sass/screen.scss */
#login ul.socialaccount_providers li a.google,
#signup ul.socialaccount_providers li a.google {
  background-position: -218px 0;
}
/* line 81, ../sass/screen.scss */
#login p.form-description,
#signup p.form-description {
  padding: 0 0 20px 0;
}
/* line 83, ../sass/screen.scss */
#login div.login-or,
#signup div.login-or {
  margin: 0 auto;
  width: 22px;
}
/* line 88, ../sass/screen.scss */
#login div.form-actions,
#signup div.form-actions {
  margin: 20px 0 0;
  padding: 20px 0 0;
}
/* line 92, ../sass/screen.scss */
#login div.form-actions button,
#signup div.form-actions button {
  float: right;
}
/* line 94, ../sass/screen.scss */
#login div.form-actions a.secondaryAction,
#signup div.form-actions a.secondaryAction {
  display: inline-block;
  margin: 5px 0;
}

/* line 102, ../sass/screen.scss */
form p.checkbox-group {
  width: 57.5%;
}
/* line 105, ../sass/screen.scss */
form p.checkbox-group label {
  float: left;
  display: block;
  width: 93%;
}
/* line 111, ../sass/screen.scss */
form p.checkbox-group input {
  float: left;
  display: block;
}

/***********************************************************************
 *  Navigation Bar                                                     *
 **********************************************************************/
/* line 126, ../sass/screen.scss */
#main-menu ul li.dropdown a.dropdown-toggle {
  padding: 8px 10px;
}
/* line 129, ../sass/screen.scss */
#main-menu ul li.dropdown a.dropdown-toggle strong, #main-menu ul li.dropdown a.dropdown-toggle img, #main-menu ul li.dropdown a.dropdown-toggle b {
  display: block;
  float: left;
}
/* line 134, ../sass/screen.scss */
#main-menu ul li.dropdown a.dropdown-toggle strong {
  margin: 9px 8px 7px 12px;
}
/* line 135, ../sass/screen.scss */
#main-menu ul li.dropdown a.dropdown-toggle img {
  border: 2px solid #EEEEEE;
}
/* line 136, ../sass/screen.scss */
#main-menu ul li.dropdown a.dropdown-toggle b {
  margin-top: 18px;
}
/* line 143, ../sass/screen.scss */
#main-menu #select-playlist-form ul li {
  float: left;
}
/* line 146, ../sass/screen.scss */
#main-menu #select-playlist-form ul li button {
  margin-top: 0;
  margin-left: 10px;
}
/* line 157, ../sass/screen.scss */
#main-menu #main-menu-right li.dropdown a.dropdown-toggle strong {
  margin: 7px 8px 7px 12px;
}
/* line 158, ../sass/screen.scss */
#main-menu #main-menu-right li.dropdown a.dropdown-toggle b {
  margin-top: 16px;
}

/* line 164, ../sass/screen.scss */
div.navbar {
  height: 52px;
}
/* line 167, ../sass/screen.scss */
div.navbar a.brand {
  padding: 17px 20px 10px;
}

/* line 172, ../sass/screen.scss */
div.subhead {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 178, ../sass/screen.scss */
div.subhead ul li.separator,
div.subhead ul li.spacer {
  height: 36px;
}
/* line 182, ../sass/screen.scss */
div.subhead ul li.spacer {
  width: 154px;
}
/* line 183, ../sass/screen.scss */
div.subhead ul li.separator {
  width: 140px;
}
/* line 186, ../sass/screen.scss */
div.subhead ul li.select-video #analytics-select-video-form {
  padding: 2px 0;
}
/* line 190, ../sass/screen.scss */
div.subhead ul li.select-video #analytics-select-video-form ul li {
  float: left;
  width: 333px;
}
/* line 194, ../sass/screen.scss */
div.subhead ul li.select-video #analytics-select-video-form ul li select {
  width: 100%;
}
/* line 197, ../sass/screen.scss */
div.subhead ul li.select-video #analytics-select-video-form ul li.submit {
  float: right;
  margin-left: 5px;
  width: 49px;
}

/* line 208, ../sass/screen.scss */
#page-wrapper {
  min-height: 100%;
  position: relative;
}

/* line 213, ../sass/screen.scss */
#change-avatar-form {
  margin-bottom: 30px;
}
/* line 217, ../sass/screen.scss */
#change-avatar-form #current-avatar h2 {
  font-weight: bold;
  text-align: center;
}
/* line 222, ../sass/screen.scss */
#change-avatar-form #current-avatar img {
  margin: 10px 23px;
}
/* line 227, ../sass/screen.scss */
#change-avatar-form ul li label {
  color: #317EAC;
  font-weight: bold;
  margin-left: 16px;
}
/* line 233, ../sass/screen.scss */
#change-avatar-form ul li ul {
  margin-top: 10px;
}
/* line 236, ../sass/screen.scss */
#change-avatar-form ul li ul li {
  display: inline-block;
  height: 100px;
  width: 120px;
}
/* line 241, ../sass/screen.scss */
#change-avatar-form ul li ul li label {
  margin-left: 0px;
}
/* line 243, ../sass/screen.scss */
#change-avatar-form ul li ul li input[type='radio'] {
  position: relative;
  bottom: 35px;
}

/***********************************************************************
 *  Video Content                                                      *
 **********************************************************************/
/* line 258, ../sass/screen.scss */
ul.video-list-ajax li {
  border: none;
  float: left;
  height: 200px;
  margin: 0 5px 20px 5px;
  position: relative;
}
/* line 265, ../sass/screen.scss */
ul.video-list-ajax li a.close {
  color: white;
  display: block;
  opacity: 0.4;
  position: absolute;
  right: 25px;
  top: -3px;
  z-index: 1000;
}
/* line 274, ../sass/screen.scss */
ul.video-list-ajax li a.close:hover, ul.video-list-ajax li a.close:focus {
  opacity: 0.9;
}
/* line 277, ../sass/screen.scss */
ul.video-list-ajax li div.result-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
}
/* line 283, ../sass/screen.scss */
ul.video-list-ajax li div.result-wrapper a.video-thumb {
  background: #000000;
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 160px;
}
/* line 290, ../sass/screen.scss */
ul.video-list-ajax li div.result-wrapper a.video-thumb img {
  height: 120px;
  width: 160px;
}
/* line 296, ../sass/screen.scss */
ul.video-list-ajax li div.result-wrapper h3 {
  margin-top: 10px;
}
/* line 299, ../sass/screen.scss */
ul.video-list-ajax li div.result-wrapper h3 a {
  background: none;
  display: block;
  text-align: center;
  height: auto;
  width: 205px;
}
/* line 309, ../sass/screen.scss */
ul.video-list-ajax li.selected {
  background-color: #7bb33d;
  background-image: -moz-linear-gradient(top, rgba(127, 186, 62, 0.3), rgba(116, 169, 57, 0.4));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(127, 186, 62, 0.3)), to(rgba(116, 169, 57, 0.4)));
  background-image: -webkit-linear-gradient(top, rgba(127, 186, 62, 0.3), rgba(116, 169, 57, 0.4));
  background-image: -o-linear-gradient(top, rgba(127, 186, 62, 0.3), rgba(116, 169, 57, 0.4));
  background-image: linear-gradient(to bottom, rgba(127, 186, 62, 0.3), rgba(116, 169, 57, 0.4));
  background-repeat: repeat-x;
  border-color: #73a839 #73a839 #4c6f26;
}
/* line 319, ../sass/screen.scss */
ul.video-list-ajax li.selected div.result-wrapper h3 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 326, ../sass/screen.scss */
ul.video-list-ajax li.center {
  width: 100%;
}
/* line 329, ../sass/screen.scss */
ul.video-list-ajax li.center h4.alert-heading {
  font-weight: 700;
}

/* line 334, ../sass/screen.scss */
#embed-modal-dialog {
  z-index: 99999;
}
/* line 337, ../sass/screen.scss */
#embed-modal-dialog p {
  margin-bottom: 10px;
}
/* line 339, ../sass/screen.scss */
#embed-modal-dialog p.notice {
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 344, ../sass/screen.scss */
#embed-modal-dialog textarea {
  font-family: Courier, 'Courier New', monospace;
  height: 65px;
  width: 97.5%;
}

/* line 352, ../sass/screen.scss */
#page-container {
  padding-bottom: 162px;
  padding-top: 50px;
}

/* line 358, ../sass/screen.scss */
#dashboard-video-list div.page-header {
  margin-bottom: 20px;
}
/* line 362, ../sass/screen.scss */
#dashboard-video-list p.page-description {
  padding: 9px 0;
  padding-bottom: 20px;
}
/* line 367, ../sass/screen.scss */
#dashboard-video-list div.alert-info p {
  text-shadow: 0 1px 1px #FFF;
}
/* line 369, ../sass/screen.scss */
#dashboard-video-list div.form-actions {
  background: none;
}
/* line 372, ../sass/screen.scss */
#dashboard-video-list div.form-actions a {
  display: block;
  float: right;
}
/* line 377, ../sass/screen.scss */
#dashboard-video-list div.form-actions a.btn-primary {
  margin-left: 10px;
}
/* line 379, ../sass/screen.scss */
#dashboard-video-list div.form-actions div.pagination a {
  float: left;
}
/* line 383, ../sass/screen.scss */
#dashboard-video-list div.connect-options {
  padding-top: 20px;
}
/* line 386, ../sass/screen.scss */
#dashboard-video-list div.connect-options h2 {
  border-bottom: 1px solid #F5F5F5;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 394, ../sass/screen.scss */
#dashboard-video-list div.connect-options p {
  padding-bottom: 20px;
}
/* line 398, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard {
  padding: 10px;
}
/* line 401, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard ol.acc-wizard-sidebar {
  float: left;
  width: 28%;
}
/* line 405, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard ol.acc-wizard-sidebar li {
  padding: 0.25em 0.25em 0.75em 0.25em;
}
/* line 410, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion {
  float: left;
  width: 72%;
}
/* line 416, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-error h4, #dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-error p {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 418, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-error p {
  padding-bottom: 0;
}
/* line 421, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-error p a {
  color: #BD4247;
  text-decoration: underline;
}
/* line 430, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion #1-connect-youtube-form .acc-wizard-step,
#dashboard-video-list div.connect-options div.acc-wizard div.accordion #2-select-videos-form .acc-wizard-step {
  display: none;
}
/* line 433, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div#3-embed-icon.accordion-body div.accordion-inner form#3-embed-icon-form {
  display: none;
}
/* line 436, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div#3-embed-icon.accordion-body div.accordion-inner form#3-embed-icon-form div.alert-success {
  display: none;
}
/* line 439, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-success {
  margin-bottom: 0;
}
/* line 442, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion div.alert-success p {
  padding-bottom: 0;
}
/* line 445, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion #url-search-embed {
  font-family: Courier, 'Courier New', monospace;
  height: 65px;
  margin-bottom: 0;
  width: 97.5%;
}
/* line 452, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion #youtube-search {
  margin-top: 5px;
  margin-bottom: 0px;
  width: 97.5%;
}
/* line 458, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax {
  height: 300px;
  overflow: auto;
  padding-top: 3px;
}
/* line 463, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  cursor: pointer;
  float: none;
  padding: 5px;
  margin-bottom: 10px;
  height: auto;
}
/* line 472, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper a, #dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result {
  float: left;
}
/* line 474, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper a.video-thumb {
  height: 60px;
  margin-right: 10px;
  width: 80px;
}
/* line 479, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper a.video-thumb img {
  height: 60px;
  width: 80px;
}
/* line 485, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result {
  width: 82%;
}
/* line 488, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result h3 {
  margin-top: 0;
  padding: 17px 0;
}
/* line 492, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result h3 span {
  display: block;
  float: left;
  width: 79%;
}
/* line 498, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result h3 a.embed-button {
  background-color: #FFFFFF;
  background-image: linear-gradient(#ffffff, #ffffff 5%, #ffffff);
  background-repeat: no-repeat;
  float: right;
  width: 65px;
}
/* line 506, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result h3.embed {
  padding: 0;
  padding-top: 1%;
}
/* line 512, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.result-wrapper div.result div.embed-code {
  display: none;
}
/* line 518, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.embed-code {
  display: none;
  padding-top: 5px;
}
/* line 522, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li div.embed-code textarea {
  font-family: Courier, 'Courier New', monospace;
  height: 65px;
  margin-bottom: 0;
  width: 97.5%;
}
/* line 531, ../sass/screen.scss */
#dashboard-video-list div.connect-options div.acc-wizard div.accordion ul.video-list-ajax li.center {
  float: none;
  margin: 0;
  padding: 0;
  height: 81px;
}

/* line 545, ../sass/screen.scss */
div.container div.page-header {
  margin: 0;
}
/* line 548, ../sass/screen.scss */
div.container div.page-header h1 {
  font-size: 1.5em;
}
/* line 551, ../sass/screen.scss */
div.container p.form-description {
  padding: 17px 0;
}
/* line 554, ../sass/screen.scss */
div.container p.form-description strong {
  font-weight: bold;
}
/* line 558, ../sass/screen.scss */
div.container #avatar-upload img {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 17px;
}
/* line 565, ../sass/screen.scss */
div.container #avatar-upload #avatar-form {
  float: left;
  margin-top: 5px;
}
/* line 569, ../sass/screen.scss */
div.container #avatar-upload #avatar-form input.btn {
  display: block;
  margin-top: 5px;
}
/* line 577, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list {
  padding-left: 0;
  padding-right: 0;
}
/* line 581, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header {
  padding-bottom: 9px;
}
/* line 584, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header em.bio {
  display: block;
  font-style: italic;
  text-shadow: 0px 1px 1px white;
  text-align: center;
}
/* line 592, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header #follow_button,
div.container div.sidebar-nav ul.nav-list li.profile-header #unfollow_button {
  margin: 10px 7px;
}
/* line 596, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper {
  margin: 0 30%;
  width: 100px;
}
/* line 600, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper a.profile-link {
  display: block;
  height: 100px;
  width: 100px;
}
/* line 605, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper a.profile-link img {
  height: 100px;
  width: 100px;
}
/* line 611, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper span.change-avatar {
  background: none repeat scroll 0 0 black;
  margin-top: -21px;
  color: white;
  display: none;
  font-size: 10px;
  margin-left: 10px;
  opacity: 0.8;
  padding: 0 3px;
  text-decoration: none;
  width: 83px;
}
/* line 624, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper h2 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  margin-top: 7px;
}
/* line 631, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper a.website {
  display: block;
  margin-bottom: 7px;
  text-align: center;
}
/* line 637, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.profile-header div.header-wrapper a.btn {
  margin: 0 7px;
  width: 60px;
}
/* line 644, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.user-avatar-link {
  height: 30px;
}
/* line 647, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.user-avatar-link a span {
  bottom: 9px;
  position: relative;
  left: 5px;
}
/* line 654, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.video-description {
  line-height: 16px;
  word-wrap: break-word;
}
/* line 658, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.video-description a {
  padding: 10px 15px;
}
/* line 664, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.user-statistics table tr td {
  line-height: 17px;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
}
/* line 669, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.user-statistics table tr td strong {
  display: block;
  font-weight: bold;
  text-shadow: 0 1px 1px #FFFFFF;
}
/* line 679, ../sass/screen.scss */
div.container div.sidebar-nav ul.nav-list li.wide {
  left: -25px;
  position: relative;
  width: 251px;
}

/* line 689, ../sass/screen.scss */
#feed li {
  border-bottom: 1px dotted #CCCCCC;
  padding: 10px 0;
  width: 100%;
}
/* line 694, ../sass/screen.scss */
#feed li img {
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
/* line 701, ../sass/screen.scss */
#feed li div.feed-header {
  float: left;
  width: 805px;
}
/* line 705, ../sass/screen.scss */
#feed li div.feed-header div.details {
  float: left;
  margin-bottom: 2px;
  width: 100%;
}
/* line 710, ../sass/screen.scss */
#feed li div.feed-header div.details h1, #feed li div.feed-header div.details a, #feed li div.feed-header div.details span {
  display: inline-block;
}
/* line 711, ../sass/screen.scss */
#feed li div.feed-header div.details h1, #feed li div.feed-header div.details a {
  float: left;
}
/* line 712, ../sass/screen.scss */
#feed li div.feed-header div.details h1 {
  margin-right: 10px;
}
/* line 714, ../sass/screen.scss */
#feed li div.feed-header div.details span {
  float: right;
  font-size: 12px;
}
/* line 718, ../sass/screen.scss */
#feed li div.feed-header div.details span a {
  float: right;
  margin-left: 5px;
  font-weight: normal;
}
/* line 725, ../sass/screen.scss */
#feed li div.feed-header div.details span.website {
  font-weight: bold;
}
/* line 728, ../sass/screen.scss */
#feed li div.feed-header p {
  line-height: 18px;
}
/* line 731, ../sass/screen.scss */
#feed li:last-child {
  border-bottom: 0;
}

/* line 735, ../sass/screen.scss */
#reset-password-done {
  float: none;
  margin-left: 17%;
  width: 800px;
}
/* line 740, ../sass/screen.scss */
#reset-password-done div.alert {
  margin: 20px 0;
}

/* line 744, ../sass/screen.scss */
#analytics div.alert {
  margin-top: 20px;
  padding: 20px;
}
/* line 749, ../sass/screen.scss */
#analytics div.alert p a {
  margin-left: 415px;
}

/* line 754, ../sass/screen.scss */
#moderate div.alert {
  margin-top: 20px;
}

/* line 756, ../sass/screen.scss */
footer {
  bottom: 0;
  left: 0;
  position: absolute;
  background: #04344a;
  padding: 45px 0px;
  width: 100%;
}
/* line 764, ../sass/screen.scss */
footer span.copyright {
  color: #cae4ed;
  font-weight: bold;
  display: inline-block;
  float: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 33%;
}
/* line 774, ../sass/screen.scss */
footer ul li {
  float: right;
  padding-left: 25px;
  font-weight: 400;
}
/* line 779, ../sass/screen.scss */
footer ul li a {
  color: #cae4ed;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* line 787, ../sass/screen.scss */
footer ul li a:hover {
  color: white;
  text-decoration: underline;
}
