/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3/border-radius";

body.profiles {
    #base {
        margin-top: 16px;

        #logo {
            padding: 16px 0 0 0;

            div.row-logo {
                padding: 0 53px 0 29px;

                a {
                    display: block;
                    height: 25px;
                    margin: 0 auto;
                    width: 116px;

                    img {
                        height: 25px;
                        width: 116px;
                    }
                }                
            }

            div.row-search {
                #search-form {
                    border-bottom: 1px solid #f6f6f6;
                    width: 45%;

                    i { color: #999999; }

                    input {
                        border: none;
                        color: #5c5c5c;
                        text-indent: 5px;
                        width: 95%;
                    }

                    button { display: none; }
                }
            }

            div.row-user {
                a.dropdown-toggle {
                    display: block;
                    height: 41px;
                    line-height: 41px;
                    margin: 0;
                    padding: 0;
                    top: -10px;
                    width: auto;

                    img.img-circle {
                        height: 41px;
                        width: 41px;
                    }

                    i.fa { line-height: 41px; }

                    i.fa-cog {
                        color: #CACACA;
                        font-size: 24px;
                        margin-right: 5px;
                        padding-left: 5px;
                    }

                    i.fa-caret-down {
                        color: #9C9C9C;
                        margin-right: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        #sidebar {
            #user-avatar {
                a {
                    display: block;
                    height: 109px;
                    width: 100%;

                    img {
                        height: 109px;
                        width: 100%;
                    }
                }
            }

            #user-display-name {
                background-color: #2B2727;

                div {
                    h1 {
                        color: #FFFFFF;
                        font-size: 20px;
                        font-weight: 700;
                        margin: 10px 9px 10px;
                    }

                    a.toggle-follow {
                        display: block;
                        line-height: 34px;

                        .fa-user {
                            font-size: 18px;
                            line-height: 34px;
                            text-align: left;
                            text-indent: 5px;
                        }

                        .fa-plus, .fa-minus {
                            font-size: 9px;
                            line-height: 34px;
                            text-align: left;
                            text-indent: 18px;
                        }

                        &.follow-button {
                            i.fa-circle {
                                color: #6CC561;
                                font-size: 2.5em;
                            }
                        }

                        &.unfollow-button {
                            i.fa-circle {
                                color: #D75452;
                                font-size: 2.5em;
                            }
                        }
                    }
                }
            }

            #user-details {
                background: #FFFFFF;
                padding: 8px 28px 23px;

                h2 {
                    color: #6e6e6e;
                    font-weight: 500;
                    font-size: 18px;
                    margin-bottom: 0;

                    i.fa-play {
                        color: #05171E;
                        position: relative;
                        left: 28px;
                    }
                }

                h3 {
                    color: #bfbfbf;
                    font-size: 17px;
                    font-weight: 300;
                    margin-top: 0;

                    i { font-size: 20px; }
                }

                em {
                    color: #9d9c9c;
                    font-size: 15px;
                    font-style: italic;
                }
            }

            #user-stats {
                background: #E9E9E9;
                padding: 20px 14px;

                .nav-tabs {
                    border-bottom: none;

                    li {
                        float: left;
                        width: 33%;

                        a {
                            color: #898686;
                            font-size: 17px;
                            font-weight: 700;
                            padding: 0;
                            margin: 0;

                            i { color: #AEAEAE; }
                        }

                        &.active {
                            a {
                                background-color: transparent;
                                border-color: transparent;
                            }
                        }
                    }
                }
            }

            #recommendations {
                overflow: hidden;

                h2 {
                    color: #ACABAB;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0;
                    position: relative;
                    top: 6px;
                    text-indent: 9px;
                }

                div.pull-left {
                    padding: 0;
                    margin-left: -1px;

                    img.img-responsive {
                        max-width: 102%;
                    }
                }
            }
        }

        #profile-content {
            background: #05171E;
            min-height: 800px;
            
            #add-video {
                background: #1DAFEC;

                #add-video-form {
                    input {
                        background: #1DAFEC;
                        border: none;
                        border-bottom: 1px solid #A3D9ED;
                        color: #bce0ed;
                        margin-left: 13px;
                        margin-bottom: 9px;
                        padding: 20px 11px 0px 0px;
                        width: 98%;
                    }

                    div.submit {
                        background: #1EABE4;
                        padding: 0;
                        height: 100%;

                        button {
                            background: #1EABE4;
                            border: none;
                            font-weight: bold;
                            padding: 17px 0 11px 0;
                            color: white;
                            text-indent: 9px;

                            i { color: white; }
                        }
                    }
                }
            }

            #timeline {
                background: #05171E;
                padding: 20px 0;

                nav {
                    margin-bottom: 16px;

                    .nav-pills > li + li { margin-left: 6%; }

                    ul.nav-pills {
                        padding: 0 28px;

                        li {

                            a {
                                color: #898989;
                                font-size: 13px;
                                font-weight: 500;
                                padding: 12px 24px;
                            }

                            &.active, &:hover {
                                 a {
                                    @include border-radius(3px, 3px);
                                    border-color: #102e3b;
                                    background-color: #102e3b;
                                    color: #c5c5c5;
                                    text-align: center;
                                }
                            }

                            &.active {
                                font-weight: 700;
                            }

                            &.start { margin-left: 0; }
                        }
                    }
                }

                div.responsive-timeline {
                    font-family: "ff-dagny-web-pro", sans-serif;

                    div.container {
                        min-height: 605px;
                    }

                    div.item {
                        div.content {
                            padding-bottom: 0;
                        
                            div.header {
                                div.header-content {
                                    padding-left: 0;
                                }

                                img.header-avatar {
                                    height: 41px;
                                    width: 41px;
                                }

                                a {
                                    color: #247cc0;
                                }

                                p {
                                    color: #565555;
                                    margin-bottom: 0;
                                    position: relative;
                                    line-height: 16px;
                                    text-align: left;
                                    font-weight: 500;

                                    i {
                                        color: #b2bbbe;
                                        font-size: 7px;
                                        position: relative;
                                        top: -5px;
                                    }

                                    span { 
                                        font-weight: 500;
                                        padding: 0 4px 0 4px; 
                                    }
                                }

                                div.action-type {
                                    i {
                                        color: #C5C6C6;
                                        font-size: 20px;
                                        position: relative;
                                        right: 20px;
                                    }
                                }
                            }

                            div.posted {
                                div {
                                    color: #949292;
                                    padding: 0;
                                }   
                            }
                        }

                        footer {
                            span.corner { top: -47px; }

                            a.thumbnail-link {
                                display: block;
                                overflow: hidden;
                                height: 294px;
                                width: 100%;

                                img.cover {
                                    max-height: 294px;
                                    width: 101%;
                                }
                            }
                        }
                    }
                }

                div.loadMore {

                }
            }
        }
    }

    #footer {
        margin-top: 0;
    }
}