/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3/border-radius";

body.profiles {
    #base {
        margin-top: 16px;

        #logo {
            padding: 16px 0 13px 0;

            div.row-logo {
                padding: 0 53px 0 29px;

                a {
                    display: block;
                    height: 25px;
                    margin: 0 auto;
                    width: 116px;

                    img {
                        height: 25px;
                        width: 116px;
                    }
                }                
            }

            div.row-search {
                #search-form {
                    border-bottom: 1px solid #f6f6f6;
                    width: 45%;

                    i { color: #999999; }

                    input {
                        border: none;
                        color: #5c5c5c;
                        text-indent: 5px;
                        width: 95%;
                    }

                    button { display: none; }
                }
            }

            div.row-user {
                a.dropdown-toggle {
                    display: block;
                    height: 41px;
                    line-height: 41px;
                    margin: 0;
                    padding: 0;
                    top: -10px;
                    width: auto;

                    img.img-circle {
                        height: 41px;
                        width: 41px;
                    }

                    i.fa { line-height: 41px; }

                    i.fa-cog {
                        color: #CACACA;
                        font-size: 24px;
                        margin-right: 5px;
                        padding-left: 5px;
                    }

                    i.fa-caret-down {
                        color: #9C9C9C;
                        margin-right: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        #sidebar {
            #user-avatar {
                a {
                    display: block;
                    height: 109px;
                    width: 100%;

                    img {
                        height: 109px;
                        width: 100%;
                    }
                }
            }

            #user-display-name {
                background-color: #2B2727;

                div {
                    h1 {
                        color: #FFFFFF;
                        font-size: 20px;
                        font-weight: 700;
                        margin: 10px 9px 10px;
                    }

                    a.toggle-follow {
                        display: block;
                        line-height: 34px;

                        .fa-user {
                            font-size: 18px;
                            line-height: 34px;
                            text-align: left;
                            text-indent: 5px;
                        }

                        .fa-plus, .fa-minus {
                            font-size: 9px;
                            line-height: 34px;
                            text-align: left;
                            text-indent: 18px;
                        }

                        &.follow-button {
                            i.fa-circle {
                                color: #6CC561;
                                font-size: 2.5em;
                            }
                        }

                        &.unfollow-button {
                            i.fa-circle {
                                color: #D75452;
                                font-size: 2.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}