/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3/border-radius";

#add-video {
    position: relative;

    div.tabs-wrapper {
        background: #00AFF0;
    }

    .nav-tabs {
        background-color: white;
        border-bottom: none;
        margin: 9px;
        padding: 5px 0px;
        @include border-radius(3px, 3px);

        li {
            background-color: white;
            border-right: 1px solid #CCC;
            position: relative;

            @include border-radius(0px, 0px);

            &.active {
                background-color: white;
            }

            &:last-child {
                border-right: none;
            }

            a {
                border: none;
                border-color: transparent;
                background-color: white;
                padding: 2px 15px;

                &:hover {
                    border: none;
                    border-color: transparent;
                    background-color: white;                   
                }

                i, strong { 
                    display: block;
                    text-align: center;
                    width: 100%;
                }

                i {
                    font-size: 20px;
                }

                strong {
                    color: #999999;
                    font-size: 12px;
                }
            }

            &.indicator {
                display: none;
                background: transparent;
                top: 49px;
                position: absolute;
                z-index: 99;

                i {
                    color: #0591C5;
                    font-size: 1.6em;
                }

                &.file {
                    left: 4.1%;
                }

                &.youtube {
                    left: 14%;
                }

                &.uploads {
                    left: 92.1%;
                }

                &.active {
                    display: block;
                }
            }

            &.uploads {
                border-right: none;

                a i {
                    color: #1EABE4;
                }

                &:hover, &:active, &:focus, &.active {
                    a strong {
                        color: #1EABE4;
                    }
                }
            }

            &.file {
                a i {
                    color: #6CC561;
                }

                &:hover, &:active, &:focus, &.active {
                    a strong {
                        color: #6CC561;
                    }
                }
            }

            &.youtube {
                border-right: none;

                a i {
                    color: #CF000F;
                }

                &:hover, &:active, &:focus, &.active {
                    a strong {
                        color: #CF000F;
                    }
                }
            }
        }
    }

    div.tab-pane {
        @include border-bottom-left-radius(3px);
        @include border-bottom-right-radius(3px);
        background-color: #0591c5;
        padding: 9px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border-color: transparent;
        background-color: white;
    }

    div.tab-content {
        @include border-bottom-left-radius(3px);
        @include border-bottom-right-radius(3px);
        padding: 0 17px 0 18px;
        position: absolute;
        z-index: 999;
    }

    form, div.pending {
        div.submit-row {
            margin: 5px -15px;

            div.col-xs-6 {
                padding: 0 5px;

                button, a {
                    border: none;
                    color: white;
                    font-size: 0.9em;
                    padding: 3px 9px;

                    &.confirm-upload {
                        background: #E45DBE;
                        font-weight: bold;

                        &:hover, &:active, &:focus {
                            background: #DE3FB1;
                        }

                        span.fa-stack {
                            line-height: 1.42857em;
                            height: 14px;
                            position: relative;
                            left: 0;
                            top: -4px;

                            i.fa-video-camera {
                                color: white;
                                font-size: 20px;
                            }

                            i.fa-plus {
                                color: #E45DBE;
                                font-size: 0.9em;
                                padding-top: 1px;
                                text-indent: -6px;
                            }

                            @media screen and (-webkit-min-device-pixel-ratio:0) {
                                i.fa-plus {
                                    padding-top: 2px;
                                    text-indent: -5px;
                                }
                            }
                        }
                    }

                    &.cancel-upload {
                        padding-right: 0;
                        padding-left: 0;
                        background: transparent;
                        color: #6E4949;

                        i {
                            line-height: 1.42857em;
                        }

                        &:hover, &:active, &:focus {
                            background: transparent;
                            color: #774040;
                        }
                    }
                }
            }
        }

        div.drop-pane-row {
            background-color: #f6f6f6;
            margin: 0;
            @include border-radius(5px, 5px);

            #upload-drop-pane {
                color: #ababab;
                text-align: center;
                padding: 15px 0;
                background-color: #f0f0f0;
                border: 2px dashed #d8d8d8;
                font-size: 0.9em;
                margin: 0 5px;
                width: 98.5%;
                @include border-radius(3px, 3px);
            }

            div.input-row {
                margin-left: -10px;
                margin-right: -10px;
                padding-top: 5px;
                
                div {
                    padding: 0;

                    input, textarea {
                        border: 1px solid #CCCCCC;
                        color: #AAA;
                        padding: 3px 5px;
                        width: 100%;
                        @include border-radius(2px, 2px);

                        &::-webkit-input-placeholder { /* WebKit browsers */
                            color:    #AAA;
                            font-weight: 300;
                            font-style: italic;
                        }
                        
                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color:    #AAA;
                            font-weight: 300;
                            font-style: italic;
                        }
                        
                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color:    #AAA;
                            font-weight: 300;
                            font-style: italic;
                        }
                        
                        &:-ms-input-placeholder { /* Internet Explorer 10+ */
                            color:    #AAA;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &.placeholder {
                            color:    #AAA;
                            font-weight: 300;
                            font-style: italic;                            
                        }

                        &:focus {
                            border: 1px solid #AAA;
                            outline: 0;
                        }

                        &.error {
                            border: 1px solid red;

                            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }
                            
                            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }
                            
                            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &.placeholder {
                                color:    red;
                                font-weight: 300;
                                font-style: italic;                            
                            }
                        }
                    }
                }
            }

            div.textarea-row {
                margin-bottom: 5px;

                textarea {
                    height: 43px;
                }
            }
        }
    }

    #pending-uploads {
        div.pending {
            div.uploads-row {
                background-color: #f0f0f0;
                border: 2px dashed #d8d8d8;
                margin: 5px -10px;
                padding: 15px 0;
                @include border-radius(3px, 3px);

                table {
                    width: 100%;
                    
                    tr {
                        td {
                            border-top: 1px dashed #d8d8d8;
                            color: #ABABAB;
                            font-size: 0.9em;
                            padding: 5px 0;
                            width: 50%;

                            a.video-link {
                                color: #ABABAB;
                                text-decoration: none;
                                cursor: default;

                                &.finished {
                                    color: #00aeef;
                                    cursor: pointer;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            div.progress-bar {
                                height: 22px;
                                border: 1px solid #111;
                                background-color: #292929;
                                width: 100%;

                                div {
                                    height: 100%;
                                    color: #fff;
                                    text-align: right;
                                    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
                                    width: 0;
                                    background-color: #0099ff;
                                }
                            }

                            &.icon {
                                width: 8%;

                                a.video-link {
                                    &.finished {
                                        &:hover {
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }

                            &.percentage {
                                width: 42%;
                            }

                            &.no-uploads {
                                border-top: none;
                                text-align: center;
                                font-style: italic;
                            }
                        }

                        &.first {
                            td {
                                padding-top: 0;
                                border-top: none;
                            }
                        }

                        &.last {
                            td {
                                padding-bottom: 0;
                            }
                        }
                    }

                    &.complete {
                        display: none;
                    }
                }
            }
        }
    }
}