{% extends "dashboard/base_dark.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags dashboard_tags comments %}

{% block page_class %}tasks{% endblock %}

{% block page_content %}

<div class="col-md-12">
    <div class="block">
        <h2>Tasks</h2>
        <div class="config">
            <a class="sbox" href="{% url 'tasks-create' request.user.username %}" rel="shadowbox">
                <i class="icon-plus add-new-todo"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="listview">
                    <h3 class="block-title">Open</h3>
                    {% for task in tasks %}
                        {% include "tasks/snippets/item.html" %}
                    {% empty %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4">
                <div class="listview">
                    <h3 class="block-title">In Progress</h3>
                    <header class="listview-header">
                        <div class="clearfix"></div>
                    </header>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4">
                <div class="listview">
                    <h3 class="block-title">Complete</h3>
                    <header class="listview-header">
                        <div class="clearfix"></div>
                    </header>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'framebuzz/dashboard/js/dashboard.tasks.js' %}"></script>
    {% endcompress %}
{% endblock %}
