{% extends "dashboard/base_dark.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags dashboard_tags comments %}

{% block page_content %}

<div class="col-md-12">
    <div class="block">
        <h2>Tasks</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="listview">
                    <header class="media listview-header">
                        <label class="pull-left">
                            <input class="check-all" type="checkbox" value="" >
                        </label>
                        <a href="{% url 'tasks-create' request.user.username %}" class="btn btn-sm btn-success sbox" rel="shadowbox">
                            Add New
                        </a>
                        <a href="#" class="btn btn-sm list-delete-all btn-danger">
                            Delete Selected Tasks
                        </a>
                        <div class="clearfix"></div>
                    </header>
                    {% for task in tasks %}
                        {% include "tasks/snippets/item.html" %}
                    {% empty %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 hidden">
                <div class="listview">
                    <header class="media listview-header">
                        <div class="clearfix"></div>
                    </header>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script type="text/javascript">
            $(document).ready(function() {

                $(document).on('click', 'a.task-confirm-delete', function(e) {
                    e.preventDefault();

                    var url = $(this).attr('href'),
                        parentItem = $(this).parent().parent();

                    $.get(url, function(response) {
                        if (response == 200) {
                            parentItem.fadeOut(200, function() {
                                parentItem.remove();
                            });
                        }
                    });

                    return false;
                });
            });
        </script>
    {% endcompress %}
{% endblock %}
