amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.2
astroid==1.0.0
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
billiard==3.3.0.23
boto==2.27.0
celery==3.1.25
certifi==2017.1.23
contextlib2==0.5.4
Django==1.5.5
django-addendum==0.1.0
django-announce==0.1.5
django-appconf==0.6
django-avatar==1.0.5
django-cache-machine==0.8
django-celery==3.2.1
django-celery-email==1.0.3
django-classy-tags==0.4
django-compressor==1.3
django-debug-toolbar==0.9.4
django-debug-toolbar-template-timings==0.5.1
django-filer==0.9.5
django-grappelli==2.4.6
django-jsonfield==0.9.3
django-localflavor==1.0
django-mobile==0.3.0
django-model-utils==2.0.3
django-mptt==0.5.5
django-oembed==0.1.3
django-polymorphic==0.5.3
django-postgrespool==0.2.4
django-pure-pagination==0.2.1
django-randomslugfield==0.2.1
django-redis-sessions==0.4.0
django-robots==1.0
django-sendgrid==1.0.1
django-storages==1.1.8
django-stored-messages==1.0.1
django-tagging==0.3.1
django-templated-email==0.4.9
django-timezone-field==0.4
django-tinymce==1.5.1
django-watson==1.1.1
django-xmlrpc==0.1.5
django-zebra==0.4.5
djangorestframework==3.11.2
DjangoSEO==1.0
easy-thumbnails==1.4
eventlet==0.14.0
Fabric==1.6.0
flower==0.9.1
futures==3.0.5
gdata==2.0.17
google-api-python-client==1.1
greenlet==0.4.1
gunicorn==0.17.2
httplib2==0.8
ipython==1.1.0
iso8601==0.1.4
johnny-cache==1.4
kombu==3.0.37
logilab-common==0.60.0
lxml==3.2.3
micawber==0.3.3
newrelic==2.80.1.61
numpy==1.7.1
oauth2==1.5.211
oauthlib==2.0.1
packaging==16.8
paramiko==1.10.0
Paste==1.7.5.1
Pillow==2.5.3
psycopg2==2.5.2
pycrypto==2.6
pylint==1.0.0
pyparsing==2.2.0
python-dateutil==2.1
python-flowdock==0.1
python-gflags==2.0
python-memcached==1.48
python-openid==2.2.5
python-varnish==0.2.1
pytz==2013b0
PyYAML==3.10
raven==5.21.0
redis==2.7.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
sockjs-tornado==1.0.0
South==1.0.1
SQLAlchemy==0.8.1
sqlparse==0.1.10
stripe==1.22.0
tornado==4.2
tornado-redis==2.4.1
vine==1.1.3
webapp2==2.5.2
WebOb==1.2.3
youtube-dl==2013.11.7
zencoder==0.6.5
zinnia-theme-bootstrap==0.1
