/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *      Global
 */
/* line 20, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 24, ../sass/screen.scss */
body {
  background-color: white;
}

/*
 *      Mixins
 */
/*
 *      Common Elements
 */
/* line 48, ../sass/screen.scss */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* line 53, ../sass/screen.scss */
div.navbar {
  background-color: #272727;
  box-shadow: none;
}
/* line 57, ../sass/screen.scss */
div.navbar div.navbar-inner {
  background: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
  border-left: 0 none;
  border-right: none;
  box-shadow: none;
  margin: 0 auto;
  overflow: hidden;
  width: 97%;
}
/* line 73, ../sass/screen.scss */
div.navbar div.navbar-inner a.brand {
  border: none;
  padding: 8px 0px 0px 35px;
  text-shadow: none;
  outline: none;
  height: 71px;
  width: 310px;
}
/* line 82, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav {
  padding: 16px 0;
  margin-right: -5px;
}
/* line 87, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.link a {
  border-left: none;
  font-family: 'futura-pt-condensed';
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
}
/* line 95, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.link a.active, div.navbar div.navbar-inner ul.nav li.link a:hover {
  background: none !important;
}
/* line 98, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.social {
  float: left;
  margin-left: 13px;
  margin-top: -9px;
}

/* line 107, ../sass/screen.scss */
div.marketing-content {
  min-height: 620px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 113, ../sass/screen.scss */
div.marketing-content div.anystretch img {
  left: 0 !important;
  top: -143px !important;
}
/* line 118, ../sass/screen.scss */
div.marketing-content #home {
  min-height: 1300px;
  width: 100%;
  position: relative;
}
/* line 123, ../sass/screen.scss */
div.marketing-content #home h1 {
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 40px;
  font-weight: 300;
  padding: 37px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
}
/* line 132, ../sass/screen.scss */
div.marketing-content #home h1 em {
  font-weight: 700;
}
/* line 137, ../sass/screen.scss */
div.marketing-content #home #watch {
  height: 670px;
}
/* line 141, ../sass/screen.scss */
div.marketing-content #home #watch div.anystretch img {
  bottom: 0px !important;
  height: 820px !important;
  min-width: 1600px;
}
/* line 148, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container {
  padding-bottom: 37px;
}
/* line 151, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #video-container {
  padding-left: 500px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  float: left;
  overflow: hidden;
  padding: 17px 17px 20px 17px;
  background-color: white;
  height: 440px;
  margin: 0 38px 0 262px;
  width: 640px;
}
/* line 164, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #video-container iframe {
  background: #202020;
  border-bottom: 3px solid #202020;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* line 172, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #callout {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background: rgba(255, 255, 255, 0.75);
  height: 258px;
  margin-top: 0;
  float: left;
  padding: 17px;
  width: 192px;
}
/* line 181, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #callout p {
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 22px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 190, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #callout a.signup {
  float: right;
}
/* line 195, ../sass/screen.scss */
div.marketing-content #home h2.header {
  background: #3c89af;
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 0;
  padding: 38px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* line 207, ../sass/screen.scss */
div.marketing-content #home a.signup {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #9e0f84;
  display: block;
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  width: 130px;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 221, ../sass/screen.scss */
div.marketing-content #home a.signup:hover {
  text-decoration: none;
  background-color: #7A0066;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 227, ../sass/screen.scss */
div.marketing-content #home a.signup em {
  font-size: 10px;
  padding-left: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
/* line 236, ../sass/screen.scss */
div.marketing-content #home span.arrow {
  background: url("../img/arrow.png") no-repeat center bottom;
  content: " ";
  height: 24px;
  position: absolute;
  top: -2px;
  width: 85px;
  z-index: 100;
}
/* line 246, ../sass/screen.scss */
div.marketing-content #home #community {
  height: 442px;
}
/* line 250, ../sass/screen.scss */
div.marketing-content #home #community div.anystretch img {
  bottom: 0px !important;
  height: 585px !important;
  min-width: 1600px;
}
/* line 257, ../sass/screen.scss */
div.marketing-content #home #community #community-container {
  padding-left: 93px;
  padding-top: 30px;
  padding-bottom: 86px;
  position: relative;
}
/* line 263, ../sass/screen.scss */
div.marketing-content #home #community #community-container span.arrow {
  top: 0;
  left: 594px;
}
/* line 268, ../sass/screen.scss */
div.marketing-content #home #community #community-container h3 {
  color: #202020;
  font-family: 'proxima-nova';
  font-size: 34px;
  font-weight: 300;
  padding-top: 63px;
  padding-bottom: 23px;
}
/* line 277, ../sass/screen.scss */
div.marketing-content #home #community #community-container p {
  color: #202020;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 29px;
  width: 320px;
}
/* line 289, ../sass/screen.scss */
div.marketing-content #home #framebuzz {
  background: #000000;
  height: 615px;
  width: 100%;
}
/* line 295, ../sass/screen.scss */
div.marketing-content #home #framebuzz div.anystretch img {
  top: 80px !important;
}
/* line 300, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights {
  background: rgba(0, 0, 0, 0.74);
}
/* line 303, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container {
  position: relative;
}
/* line 306, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container span.arrow {
  left: 553px;
}
/* line 308, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul {
  padding-bottom: 35px;
}
/* line 311, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li {
  float: left;
  padding: 0 19px;
  width: 262px;
  margin-top: -10px;
}
/* line 317, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li h4 {
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}
/* line 326, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li img {
  height: 150px;
  margin: 0 53px;
  width: 150px;
}
/* line 331, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li img.discover {
  margin: 0 55px;
  position: relative;
  top: 5px;
}
/* line 338, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li p {
  color: #d9d9d9;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
/* line 351, ../sass/screen.scss */
div.marketing-content #home #framebuzz h3 {
  color: white;
  font-family: 'proxima-nova';
  font-size: 28px;
  font-weight: 500;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
}
/* line 362, ../sass/screen.scss */
div.marketing-content #home #signup {
  background: white;
}
/* line 365, ../sass/screen.scss */
div.marketing-content #home #signup span.arrow {
  left: 557px;
}
/* line 367, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container {
  padding-top: 70px;
  padding-bottom: 75px;
  position: relative;
}
/* line 372, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container h3 {
  color: #454848;
  font-family: 'proxima-nova';
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 13px;
  text-align: center;
}
/* line 381, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container h4 {
  color: #454848;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 68px;
  text-align: center;
}
/* line 390, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul {
  margin: 0 auto;
  width: 650px;
}
/* line 394, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li {
  color: #454848;
  float: left;
  width: 260px;
}
/* line 399, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li.first {
  margin-right: 75px;
}
/* line 401, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li h5 {
  font-family: 'proxima-nova';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 19px;
  text-align: right;
}
/* line 409, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  height: 214px;
  line-height: 20px;
  text-align: right;
}
/* line 418, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li span {
  margin-top: 34px;
  display: block;
  font-family: 'proxima-nova';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 19px;
  text-align: right;
  float: right;
}
/* line 429, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li a.signup {
  margin-top: 24px;
  float: right;
}
/* line 439, ../sass/screen.scss */
div.marketing-content #press {
  background: white;
  min-height: 800px;
}
/* line 443, ../sass/screen.scss */
div.marketing-content #press div.header {
  background: #2289ba;
}
/* line 446, ../sass/screen.scss */
div.marketing-content #press div.header span {
  color: white;
  display: block;
  padding: 30px 0;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 458, ../sass/screen.scss */
div.marketing-content #press div.alert {
  font-family: 'proxima-nova';
  font-weight: 300;
  margin: 0 auto;
  width: 600px;
}
/* line 465, ../sass/screen.scss */
div.marketing-content #press #media, div.marketing-content #press #releases {
  padding-bottom: 45px;
}
/* line 468, ../sass/screen.scss */
div.marketing-content #press #media div.header, div.marketing-content #press #releases div.header {
  margin-bottom: 0;
}
/* line 473, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper h2, div.marketing-content #press #releases div.wrapper h2 {
  color: #383835;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 24px;
  padding: 36px 0;
}
/* line 481, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table, div.marketing-content #press #releases div.wrapper table {
  width: 100%;
  padding-bottom: 45px;
}
/* line 486, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td, div.marketing-content #press #releases div.wrapper table tr td {
  padding-bottom: 45px;
  width: 33%;
}
/* line 491, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a:hover, div.marketing-content #press #releases div.wrapper table tr td a:hover {
  text-decoration: none;
}
/* line 493, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a img, div.marketing-content #press #releases div.wrapper table tr td a img {
  float: left;
  margin-right: 20px;
}
/* line 498, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file, div.marketing-content #press #releases div.wrapper table tr td a div.file {
  float: left;
}
/* line 501, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file span.title, div.marketing-content #press #releases div.wrapper table tr td a div.file span.title {
  color: #2289ba;
  display: block;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 9px;
}
/* line 510, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file span.type, div.marketing-content #press #releases div.wrapper table tr td a div.file span.type {
  color: #7a7a7a;
  display: block;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
}
/* line 523, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a:hover div.file span.title, div.marketing-content #press #releases div.wrapper table tr td a:hover div.file span.title {
  text-decoration: underline;
}
/* line 530, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper p, div.marketing-content #press #releases div.wrapper p {
  color: #383835;
  line-height: 25px;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 18px;
}
/* line 537, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper p a, div.marketing-content #press #releases div.wrapper p a {
  color: #2289ba;
}
/* line 545, ../sass/screen.scss */
div.marketing-content #about {
  font-family: 'proxima-nova';
  font-weight: 300;
}
/* line 549, ../sass/screen.scss */
div.marketing-content #about #manifesto {
  background: #fafafa;
  padding: 52px 0;
}
/* line 553, ../sass/screen.scss */
div.marketing-content #about #manifesto h1 {
  color: #393a36;
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
}
/* line 560, ../sass/screen.scss */
div.marketing-content #about #manifesto p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  width: 825px;
}
/* line 571, ../sass/screen.scss */
div.marketing-content #about #who {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgba(23, 136, 188, 0.6)), color-stop(100%, #1788bc));
  background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  padding: 52px 0;
}
/* line 581, ../sass/screen.scss */
div.marketing-content #about #who h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 589, ../sass/screen.scss */
div.marketing-content #about #who h2 {
  color: white;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 72px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 600, ../sass/screen.scss */
div.marketing-content #about #who ul li {
  display: block;
  float: left;
  padding: 36px 0;
  width: 338px;
  margin-right: 93px;
}
/* line 607, ../sass/screen.scss */
div.marketing-content #about #who ul li:last-child {
  margin-right: 0;
}
/* line 609, ../sass/screen.scss */
div.marketing-content #about #who ul li h3 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 23px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 618, ../sass/screen.scss */
div.marketing-content #about #who ul li p {
  color: white;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 631, ../sass/screen.scss */
div.marketing-content #about #team {
  background: #fafafa;
  padding: 52px 0;
}
/* line 635, ../sass/screen.scss */
div.marketing-content #about #team h1 {
  color: #393a36;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}
/* line 643, ../sass/screen.scss */
div.marketing-content #about #team ul li {
  display: block;
  float: left;
  padding: 36px 0;
  width: 338px;
  margin-right: 93px;
  min-height: 300px;
}
/* line 651, ../sass/screen.scss */
div.marketing-content #about #team ul li.last {
  margin-right: 0;
}
/* line 653, ../sass/screen.scss */
div.marketing-content #about #team ul li img {
  margin-bottom: 48px;
}
/* line 657, ../sass/screen.scss */
div.marketing-content #about #team ul li h2 {
  color: #1788bc;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}
/* line 665, ../sass/screen.scss */
div.marketing-content #about #team ul li h3 {
  margin-bottom: 32px;
  text-align: center;
}
/* line 670, ../sass/screen.scss */
div.marketing-content #about #team ul li p {
  color: #3f3f3f;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
/* line 682, ../sass/screen.scss */
div.marketing-content #about #contact {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgba(23, 136, 188, 0.6)), color-stop(100%, #1788bc));
  background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, #1788bc 100%);
  padding: 52px 0;
}
/* line 693, ../sass/screen.scss */
div.marketing-content #about #contact h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 32px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 700, ../sass/screen.scss */
div.marketing-content #about #contact div.alert-success {
  margin: 30px auto 50px;
  width: 500px;
}
/* line 705, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form {
  width: 1063px;
}
/* line 708, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form label {
  color: white;
  padding-bottom: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 714, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form input[type='text'] {
  margin-bottom: 35px;
  width: 440px;
}
/* line 719, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form textarea {
  height: 215px;
  width: 565px;
}
/* line 724, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form div.user {
  float: left;
  margin-right: 28px;
}
/* line 729, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form div.message {
  float: left;
}
/* line 734, ../sass/screen.scss */
div.marketing-content #about #contact #contact-form p.submit button {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  border: none;
  background: #18678c;
  color: white;
  padding: 10px 0;
  float: right;
  font-size: 14px;
  width: 199px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 751, ../sass/screen.scss */
div.marketing-content #signup-page, div.marketing-content #login-page, div.marketing-content #reset-password, div.marketing-content #reset-password-done {
  color: #383835;
  height: 840px;
  padding: 45px 0;
  font-family: 'proxima-nova';
  font-weight: 300;
}
/* line 758, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper, div.marketing-content #login-page div.wrapper, div.marketing-content #reset-password div.wrapper, div.marketing-content #reset-password-done div.wrapper {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  background-color: white;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  padding: 25px;
  width: 400px;
}
/* line 768, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper h1, div.marketing-content #login-page div.wrapper h1, div.marketing-content #reset-password div.wrapper h1, div.marketing-content #reset-password-done div.wrapper h1 {
  font-family: 'proxima-nova';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-bottom: 25px;
}
/* line 776, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper p.description, div.marketing-content #login-page div.wrapper p.description, div.marketing-content #reset-password div.wrapper p.description, div.marketing-content #reset-password-done div.wrapper p.description {
  text-align: center;
  padding-bottom: 25px;
}
/* line 781, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers, div.marketing-content #login-page div.wrapper ul.socialaccount_providers, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers {
  margin: 0 auto;
  padding: 25px 0;
  width: 245px;
}
/* line 786, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li {
  float: left;
  height: 64px;
  margin-right: 25px;
  width: 64px;
}
/* line 792, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li:last-child, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li:last-child, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li:last-child, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li:last-child {
  margin-right: 0;
}
/* line 794, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li a, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li a, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li a, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li a {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  display: block;
  height: 64px;
  width: 64px;
}
/* line 800, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li a.facebook, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li a.facebook, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li a.facebook, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li a.facebook {
  background-color: #3B5998;
}
/* line 801, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li a.twitter, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li a.twitter, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li a.twitter, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li a.twitter {
  background-color: #4099FF;
}
/* line 802, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li a.google, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li a.google, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li a.google, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li a.google {
  background-color: #D34836;
}
/* line 804, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.socialaccount_providers li a img, div.marketing-content #login-page div.wrapper ul.socialaccount_providers li a img, div.marketing-content #reset-password div.wrapper ul.socialaccount_providers li a img, div.marketing-content #reset-password-done div.wrapper ul.socialaccount_providers li a img {
  padding: 16px;
  height: 32px;
  width: 32px;
}
/* line 814, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper button.signup, div.marketing-content #login-page div.wrapper button.signup, div.marketing-content #reset-password div.wrapper button.signup, div.marketing-content #reset-password-done div.wrapper button.signup {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #9e0f84;
  border: 0;
  display: block;
  color: white;
  float: right;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  min-width: 130px;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 830, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper button.signup:hover, div.marketing-content #login-page div.wrapper button.signup:hover, div.marketing-content #reset-password div.wrapper button.signup:hover, div.marketing-content #reset-password-done div.wrapper button.signup:hover {
  text-decoration: none;
  background-color: #7A0066;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 836, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper button.signup em, div.marketing-content #login-page div.wrapper button.signup em, div.marketing-content #reset-password div.wrapper button.signup em, div.marketing-content #reset-password-done div.wrapper button.signup em {
  font-size: 10px;
  padding-left: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
/* line 845, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.errorlist, div.marketing-content #login-page div.wrapper ul.errorlist, div.marketing-content #reset-password div.wrapper ul.errorlist, div.marketing-content #reset-password-done div.wrapper ul.errorlist {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 300px;
}
/* line 850, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper ul.errorlist li, div.marketing-content #login-page div.wrapper ul.errorlist li, div.marketing-content #reset-password div.wrapper ul.errorlist li, div.marketing-content #reset-password-done div.wrapper ul.errorlist li {
  color: #990000;
  text-align: center;
}
/* line 857, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper form p, div.marketing-content #login-page div.wrapper form p, div.marketing-content #reset-password div.wrapper form p, div.marketing-content #reset-password-done div.wrapper form p {
  padding-bottom: 10px;
}
/* line 860, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper form p label, div.marketing-content #login-page div.wrapper form p label, div.marketing-content #reset-password div.wrapper form p label, div.marketing-content #reset-password-done div.wrapper form p label {
  margin-bottom: 5px;
  font-weight: 500;
}
/* line 865, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper form p input, div.marketing-content #login-page div.wrapper form p input, div.marketing-content #reset-password div.wrapper form p input, div.marketing-content #reset-password-done div.wrapper form p input {
  font-family: 'proxima-nova' !important;
  width: 385px;
}
/* line 871, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper form p.terms, div.marketing-content #login-page div.wrapper form p.terms, div.marketing-content #reset-password div.wrapper form p.terms, div.marketing-content #reset-password-done div.wrapper form p.terms {
  padding: 0px 0 15px 0;
  line-height: 20px;
}
/* line 877, ../sass/screen.scss */
div.marketing-content #signup-page div.wrapper form div.actions a.secondaryAction, div.marketing-content #login-page div.wrapper form div.actions a.secondaryAction, div.marketing-content #reset-password div.wrapper form div.actions a.secondaryAction, div.marketing-content #reset-password-done div.wrapper form div.actions a.secondaryAction {
  display: block;
  float: left;
  line-height: 38px;
}
/* line 891, ../sass/screen.scss */
div.marketing-content #login-page div.wrapper form p label {
  display: table-cell;
  padding-bottom: 5px;
  margin-bottom: 0;
  width: 50%;
}
/* line 898, ../sass/screen.scss */
div.marketing-content #login-page div.wrapper form p input[type='checkbox'] {
  display: block;
  left: 112px;
  position: relative;
  top: -24px;
  width: 15px;
}
/* line 912, ../sass/screen.scss */
div.marketing-content #reset-password div.wrapper p.description {
  text-align: left;
}
/* line 916, ../sass/screen.scss */
div.marketing-content #reset-password div.wrapper form {
  margin-bottom: 25px;
}
/* line 920, ../sass/screen.scss */
div.marketing-content #reset-password div.wrapper form div.actions button.signup {
  min-width: 160px;
}
/* line 926, ../sass/screen.scss */
div.marketing-content #reset-password div.wrapper p.help {
  padding-bottom: 0;
}

/* line 934, ../sass/screen.scss */
#privacy div.content-wrapper, #terms div.content-wrapper {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  background-color: white;
  box-shadow: 0 -5px 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 1200px;
}
/* line 941, ../sass/screen.scss */
#privacy div.content-wrapper div.page-content, #terms div.content-wrapper div.page-content {
  font-family: 'proxima-nova';
  font-weight: 300;
  padding: 25px;
}
/* line 947, ../sass/screen.scss */
#privacy div.content-wrapper div.page-content h1, #terms div.content-wrapper div.page-content h1 {
  font-weight: 700;
  font-size: 24px;
}
/* line 952, ../sass/screen.scss */
#privacy div.content-wrapper div.page-content ul, #terms div.content-wrapper div.page-content ul {
  list-style-type: circle inside none;
}
/* line 954, ../sass/screen.scss */
#privacy div.content-wrapper div.page-content p, #privacy div.content-wrapper div.page-content ul li, #privacy div.content-wrapper div.page-content ol li, #terms div.content-wrapper div.page-content p, #terms div.content-wrapper div.page-content ul li, #terms div.content-wrapper div.page-content ol li {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 20px;
}

/* line 966, ../sass/screen.scss */
body.background-bottom.terms div.marketing-content {
  min-height: 4693px;
  width: 100%;
}
/* line 973, ../sass/screen.scss */
body.background-bottom.privacy div.marketing-content {
  min-height: 3405px;
  width: 100%;
}
/* line 980, ../sass/screen.scss */
body.background-bottom.accounts div.marketing-content, body.background-bottom.zinnia div.marketing-content {
  min-height: 840px;
  width: 100%;
}
/* line 987, ../sass/screen.scss */
body.background-bottom div.marketing-content div.anystretch {
  background-color: #188bbe;
}
/* line 990, ../sass/screen.scss */
body.background-bottom div.marketing-content div.anystretch img {
  left: 0px !important;
  top: auto !important;
  bottom: -5px !important;
  height: 1178px !important;
}

/*
 *      FrameBuzz Blog
 */
/* line 1004, ../sass/screen.scss */
body.zinnia {
  font: 14px/18px normal 'proxima-nova';
}
/* line 1009, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  background-color: white;
  box-shadow: 0 -5px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  min-height: 840px;
}
/* line 1016, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content h1 {
  color: #323232;
  font: 30px/36px normal 'futura-pt-condensed';
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 25px;
}
/* line 1024, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content h2 {
  color: #323232;
  font: 30px/36px normal 'futura-pt-condensed';
  font-weight: 300;
  text-transform: uppercase;
}
/* line 1031, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content h3, body.zinnia div.marketing-content div.wrapper #zinnia-content legend {
  color: #323232;
  font: 24px/30px normal 'futura-pt-condensed';
  font-weight: 300;
  text-transform: uppercase;
}
/* line 1039, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form legend {
  padding-bottom: 20px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
/* line 1044, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form label {
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
/* line 1049, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form textarea {
  height: 70px;
  margin: 5px 0 20px 0;
  width: 720px;
}
/* line 1055, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form p.auth, body.zinnia div.marketing-content div.wrapper #zinnia-content form p.submit {
  float: left;
  width: 50%;
}
/* line 1060, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form p.auth {
  position: relative;
  top: 10px;
}
/* line 1065, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form p.submit {
  float: right;
}
/* line 1068, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content form p.submit .btn {
  float: right;
  margin-left: 10px;
}
/* line 1077, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article header h2 {
  color: #323232;
  font: 30px/24px normal 'futura-pt-condensed';
  font-weight: 500;
  text-transform: uppercase;
}
/* line 1085, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article div.entry-content {
  line-height: 20px;
  padding: 25px 0;
}
/* line 1089, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article div.entry-content.continue {
  padding: 25px 0 10px 0;
}
/* line 1094, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article footer {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 25px;
  padding: 25px 0 10px 0;
}
/* line 1099, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article footer p {
  float: left;
  width: 50%;
}
/* line 1104, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content article footer p.entry-tags {
  float: right;
  text-align: right;
}
/* line 1111, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content div.entry-similar {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
/* line 1117, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content div.entry-prev-next {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
}
/* line 1121, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content div.entry-prev-next ul.pager {
  margin: 23px 0;
}
/* line 1126, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content section {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
/* line 1134, ../sass/screen.scss */
body.zinnia div.marketing-content div.wrapper #zinnia-content #sidebar aside h3 {
  color: #323232;
  font: 26px/32px normal 'futura-pt-condensed';
  font-weight: 300;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* line 1148, ../sass/screen.scss */
div.footer {
  background-color: black;
  padding: 33px 0;
}
/* line 1152, ../sass/screen.scss */
div.footer a {
  color: white;
  border-left: none;
  font-family: 'futura-pt-condensed';
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  float: right;
  display: inline-block;
  margin-left: 13px;
  opacity: 0.8;
  text-decoration: none;
}
/* line 1165, ../sass/screen.scss */
div.footer a:hover {
  opacity: 1;
}
/* line 1170, ../sass/screen.scss */
div.footer a.active, div.footer a:hover {
  background: none !important;
}
/* line 1172, ../sass/screen.scss */
div.footer span {
  color: white;
  display: block;
  font-family: 'futura-pt-condensed';
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  display: inline-block;
}

/*
 *      iPad Compatibility
 */
@media screen and (device-aspect-ratio: 3 / 4) {
  /* line 1191, ../sass/screen.scss */
  .wrapper {
    width: 768px;
  }

  /* line 1195, ../sass/screen.scss */
  div.navbar {
    width: 768px;
  }
  /* line 1198, ../sass/screen.scss */
  div.navbar div.navbar-inner {
    width: 100%;
  }
  /* line 1201, ../sass/screen.scss */
  div.navbar div.navbar-inner a.brand {
    padding: 20px 0px 0px 0px;
    height: 45px;
    width: 207px;
  }

  /* line 1212, ../sass/screen.scss */
  div.marketing-content #home #watch div.anystretch {
    min-width: 768px;
  }
  /* line 1217, ../sass/screen.scss */
  div.marketing-content #home #watch #watch-container #video-container {
    margin-left: 25px;
  }
  /* line 1221, ../sass/screen.scss */
  div.marketing-content #home #watch #watch-container #callout {
    height: 108px;
    margin: 25px 10px;
    width: 648px;
  }
  /* line 1231, ../sass/screen.scss */
  div.marketing-content #community div.anystretch {
    display: none;
  }
}
