/* line 4, ../sass/home.scss */
#main {
  overflow: hidden;
}
/* line 7, ../sass/home.scss */
#main div.main-wrapper {
  overflow: hidden;
}
/* line 11, ../sass/home.scss */
#main .full-wrap {
  margin-left: -17px;
}
/* line 14, ../sass/home.scss */
#main .full-wrap .full-wrap-inner {
  padding: 0;
}
/* line 20, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner {
  position: relative;
}
/* line 23, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info {
  position: absolute;
  top: 0;
  padding: 43px 18px;
}
/* line 28, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 31, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 span {
  color: #f200bc;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 18px 0;
  padding: 0 18px;
  line-height: 44px;
}
/* line 41, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 strong {
  font-weight: 700;
}
/* line 44, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble {
  position: relative;
}
/* line 47, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 18px;
  position: relative;
}
/* line 53, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner div {
  padding: 0;
}
/* line 55, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner p {
  color: #282828;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
/* line 62, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner p:last-child {
  margin-bottom: 0;
}
/* line 66, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right {
  padding: 0;
  position: relative;
}
/* line 70, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right img.img-responsive {
  max-height: 99px;
  float: right;
}
/* line 75, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right a.btn-signup {
  border: 2px solid #FFFFFF;
  height: 44px;
  left: 20%;
  width: 46%;
}
/* line 83, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble i.corner {
  display: inline-block;
  position: relative;
  left: 15%;
  bottom: 0;
  height: 22px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
/* line 97, ../sass/home.scss */
#main #fbz-features {
  margin-top: -1px;
}
/* line 100, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner {
  background: #000000;
}
/* line 103, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner h2 {
  color: #666666;
  margin: 0;
  padding: 15px 0 0 32px;
  font-style: italic;
  font-size: 23px;
  line-height: 15px;
}
/* line 112, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul {
  list-style: none inside none;
  padding: 0 0 0 10px;
}
/* line 116, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li {
  color: white;
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
}
/* line 122, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.blue {
  color: #00adf2;
}
/* line 124, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup {
  margin-top: 32px;
  font-style: normal;
}
/* line 128, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup i.fa-play {
  color: #f200bc;
}
/* line 130, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup i.fa-circle {
  color: rgba(255, 255, 255, 0.6);
}
/* line 135, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li i {
  color: white;
  font-style: normal;
}
/* line 144, ../sass/home.scss */
#main #how-to-fbz {
  background: #000000;
  max-height: 322px;
  overflow: hidden;
  position: relative;
  top: -6px;
}
/* line 151, ../sass/home.scss */
#main #how-to-fbz div.slider, #main #how-to-fbz div.pull-right {
  background: #000000;
}
/* line 157, ../sass/home.scss */
#main #how-to-fbz div.slider h2 {
  background: #01b3f6;
  color: white;
  margin: 0;
  font-size: 19px;
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
  padding: 0 18px;
}
/* line 168, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper {
  margin: 0;
}
/* line 171, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport {
  background: black;
  border: none;
  box-shadow: none;
  left: 0;
  width: 99.9% !important;
}
/* line 178, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul {
  padding: 0;
  margin: 0;
}
/* line 182, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li {
  position: relative;
}
/* line 185, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li img.img-responsive {
  width: 100%;
}
/* line 189, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
/* line 195, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 {
  line-height: 36px;
  margin-top: 22px;
  margin-bottom: 7px;
  padding: 0;
}
/* line 201, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 i.fa-icon {
  color: white;
  padding-left: 18px;
  padding-right: 9px;
  font-size: 20px;
  width: 45px;
}
/* line 209, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 span {
  background: white;
  color: black;
  display: inline-block;
  height: 100%;
  font-style: italic;
  padding: 0 13px;
  font-size: 17px;
}
/* line 220, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner p {
  color: #cccccc;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 16px;
}
/* line 227, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner p strong {
  font-weight: 700;
}
/* line 232, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 0 10px 0;
  width: 101%;
}
/* line 237, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person.person-1 {
  border-left: 7px solid #f26c00;
}
/* line 241, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person.person-2 {
  border-left: 7px solid #01b3f6;
  margin-bottom: 0;
}
/* line 246, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person p {
  margin: 16px 0 16px 47px;
}
/* line 250, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person div.avatar {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 257, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner {
  padding: 0;
  position: relative;
}
/* line 261, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner p {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 17px;
  margin: 0 0 30px 0;
}
/* line 267, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner span.corner {
  position: absolute;
  display: block;
  width: 0;
  height: 44px;
  line-height: 0;
  display: block;
  right: 0;
  line-height: 0;
  position: absolute;
  top: -23px;
  width: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
}
/* line 287, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-1 div.discover-inner {
  margin-left: 14.5%;
}
/* line 290, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-1 div.discover-inner span.corner {
  border: solid 22px #dd0986;
  border-color: transparent transparent #dd0986;
  right: -22px;
}
/* line 299, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner {
  margin-left: 14%;
}
/* line 302, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner p {
  margin-bottom: 0;
}
/* line 306, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner span.corner {
  border: solid 22px #01b3f6;
  border-color: transparent transparent #01b3f6;
  right: -3px;
}
/* line 315, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 19px;
  margin: 0 0 8px 0;
}
/* line 325, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner p {
  margin: 0 15px 0 0;
  width: 106%;
}
/* line 330, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon {
  padding: 0;
}
/* line 333, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-icon {
  margin: 18% 0;
}
/* line 337, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-group {
  color: #01b3f6;
}
/* line 341, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-thumbs-up, #main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-bullhorn {
  color: #ffd800;
}
/* line 350, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence.influence-2 div.influence-inner div.icon i.fa-icon.fa-group {
  margin: 5% 0;
}
/* line 362, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager {
  position: absolute;
  bottom: 44px;
  z-index: 10;
  width: 100%;
}
/* line 368, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager {
  padding-top: 0;
}
/* line 371, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager a.bx-pager-link {
  background: white;
}
/* line 374, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager a.bx-pager-link.active {
  background: #ffd800;
}
/* line 384, ../sass/home.scss */
#main #signup {
  padding-top: 29px;
  padding-bottom: 40px;
  font-size: 17px;
}
/* line 389, ../sass/home.scss */
#main #signup a.login {
  color: #0197cf;
  font-weight: 700;
}
/* line 394, ../sass/home.scss */
#main #signup a.btn-signup {
  display: inline-block;
  margin-left: 15px;
  margin-right: 9px;
}
/* line 400, ../sass/home.scss */
#main #signup strong {
  font-weight: 700;
  font-style: italic;
}
/* line 406, ../sass/home.scss */
#main #callout {
  padding-bottom: 65px;
}
/* line 409, ../sass/home.scss */
#main #callout img {
  display: block;
  height: 294px;
  margin: 0 auto;
  width: 541px;
}
/* line 416, ../sass/home.scss */
#main #callout div.callout-text {
  margin-top: 20px;
  line-height: 15px;
  font-size: 13px;
  text-align: right;
}
/* line 422, ../sass/home.scss */
#main #callout div.callout-text img.logo {
  height: 42px;
  left: 167px;
  position: relative;
  top: -1px;
  width: 193px;
}
/* line 430, ../sass/home.scss */
#main #callout div.callout-text span.line1 {
  display: inline-block;
  padding-top: 18px;
  text-align: left;
}
/* line 438, ../sass/home.scss */
#main #video-carousel {
  background: #202020;
  margin-top: -1px;
  padding: 0;
  height: 443px;
  overflow: hidden;
  margin-left: -15px;
}
/* line 446, ../sass/home.scss */
#main #video-carousel #fbz-player-container {
  background: #202020;
  margin-left: -1px;
  padding: 0;
  width: 71.75%;
  height: 445px;
}
/* line 454, ../sass/home.scss */
#main #video-carousel #staff-picks {
  height: 445px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 28.43%;
  z-index: 10;
}
/* line 462, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper {
  height: 445px !important;
  max-width: 100% !important;
  left: 6px;
}
/* line 467, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper .bx-caption {
  background: rgba(0, 0, 0, 0.7);
}
/* line 470, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper .bx-caption span {
  font-family: 'pragmatica-web-condensed';
  font-size: 1em;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 48px;
}
/* line 479, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper .bx-prev {
  left: 0px;
}
/* line 483, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper div.bx-viewport {
  border: none;
  background: none;
  box-shadow: none;
}
/* line 488, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper div.bx-viewport ul {
  padding: 0;
}
/* line 491, ../sass/home.scss */
#main #video-carousel #staff-picks div.bx-wrapper div.bx-viewport ul li {
  cursor: pointer;
  height: 148px;
}
/* line 505, ../sass/home.scss */
#main #fbz-signup {
  background: #00B0AE;
  margin-top: -1px;
  margin-left: -16px;
  padding: 20px 20px 0;
  position: relative;
  z-index: 10;
}
/* line 513, ../sass/home.scss */
#main #fbz-signup div.signup-bkg {
  background: #05171E;
  padding: 0 0 28px 0;
  position: relative;
  overflow: hidden;
}
/* line 519, ../sass/home.scss */
#main #fbz-signup div.signup-bkg img.img-responsive {
  height: 100%;
  max-width: 140%;
  position: absolute;
  top: 0;
  z-index: 0;
}
/* line 527, ../sass/home.scss */
#main #fbz-signup div.signup-bkg h4 {
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  font-size: 2.64em;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 34px 0;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
/* line 539, ../sass/home.scss */
#main #fbz-signup div.signup-bkg h4 span {
  font-family: "lobster";
}
/* line 544, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container {
  background: rgba(255, 255, 255, 0.8);
  margin: 0 22px;
  padding: 22px 7px;
  position: relative;
  z-index: 10;
}
/* line 551, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social {
  padding: 0;
  width: 95%;
}
/* line 555, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider {
  color: white;
  display: block;
  height: 37px;
  margin-bottom: 13px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
/* line 564, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider span.btn-title {
  font-family: 'pragmatica-web-condensed';
  font-size: 1.2em;
  display: block;
  line-height: 39px;
  text-align: center;
  text-indent: -37px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  width: 85%;
}
/* line 575, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider span.btn-icon {
  display: block;
  width: 37px;
  height: 37px;
  position: relative;
}
/* line 581, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider span.btn-icon i {
  display: block;
  font-size: 1.6em;
  padding-top: 7px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 589, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.facebook {
  background: #3b5998;
}
/* line 592, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.facebook span.btn-icon {
  background: #354f88;
}
/* line 595, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.facebook span.btn-icon i {
  padding-top: 7px;
}
/* line 601, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.twitter {
  background: #45b0e3;
}
/* line 604, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.twitter span.btn-icon {
  background: #40a2d1;
}
/* line 609, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.google {
  background: #de4c34;
}
/* line 612, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.google span.btn-icon {
  background: #ce3e26;
}
/* line 615, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container div.social a.socialaccount_provider.google span.btn-icon i {
  padding-top: 8px;
}
/* line 628, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container #signup-form div.form-row {
  margin-bottom: 12px;
}
/* line 631, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container #signup-form div.form-row label {
  line-height: 27px;
  margin-bottom: 0;
  padding: 0 8px 0 0;
  text-align: right;
}
/* line 638, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container #signup-form div.form-row input {
  width: 50%;
}
/* line 643, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container #signup-form div.row-submit {
  margin-bottom: 0;
  position: relative;
  height: 65px;
  margin-top: -24px;
}
/* line 649, ../sass/home.scss */
#main #fbz-signup div.signup-bkg #signup-container #signup-form div.row-submit button {
  background: #f200bc;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  margin: 28px 0 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  width: 83%;
  z-index: 10;
}
/* line 666, ../sass/home.scss */
#main #fbz-signup div.signup-bkg div.row-learn-more {
  left: -56px;
  margin-bottom: 0;
  position: relative;
}
/* line 671, ../sass/home.scss */
#main #fbz-signup div.signup-bkg div.row-learn-more div.col-xs-4 {
  background: rgba(255, 255, 255, 0.8);
  height: 30px;
  padding: 0;
  position: absolute;
  z-index: 0;
  left: 68.8%;
}
/* line 679, ../sass/home.scss */
#main #fbz-signup div.signup-bkg div.row-learn-more div.col-xs-4 a {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  line-height: 25px;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
/* line 692, ../sass/home.scss */
#main #fbz-media-logos {
  background: #00B0AE;
  border-right: 1px solid #05171E;
  left: 1px;
  margin-top: -1px;
  padding: 0 35px 21px;
  position: relative;
}
/* line 700, ../sass/home.scss */
#main #fbz-media-logos div.logo-bkg {
  border-top: 1px solid black;
  background: #05171E;
}
/* line 704, ../sass/home.scss */
#main #fbz-media-logos div.logo-bkg div.col-xs-3 {
  background: #05171E;
}
/* line 707, ../sass/home.scss */
#main #fbz-media-logos div.logo-bkg div.col-xs-3 a {
  display: block;
  height: 70px;
}
/* line 711, ../sass/home.scss */
#main #fbz-media-logos div.logo-bkg div.col-xs-3 a img.img-responsive {
  max-width: 50%;
  opacity: 0.85;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 719, ../sass/home.scss */
#main #fbz-media-logos div.logo-bkg div.col-xs-3:hover img.img-responsive {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 728, ../sass/home.scss */
#main a.btn-signup {
  background-color: #f200bc;
  border-color: #f200bc;
  color: white;
  font-size: 18px;
  padding: 10px 39px 7px;
  line-height: 20px;
}
/* line 736, ../sass/home.scss */
#main a.btn-signup span.fa-stack {
  bottom: 1px;
  color: #FFFFFF;
  height: 20px;
  left: 5px;
  line-height: 20px;
  position: relative;
  width: 20px;
}
/* line 745, ../sass/home.scss */
#main a.btn-signup span.fa-stack i.fa-play {
  color: #f200bc;
  font-size: 12px;
  padding-left: 2px;
}
/* line 751, ../sass/home.scss */
#main a.btn-signup span.fa-stack i.fa-circle {
  color: rgba(255, 255, 255, 0.6) !important;
}
/* line 757, ../sass/home.scss */
#main a.btn-signup:hover span.fa-stack i.fa-circle, #main a.btn-signup:focus span.fa-stack i.fa-circle {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* line 765, ../sass/home.scss */
body.home iframe {
  height: 445px;
  width: 700px;
  margin-top: -5px;
}
/* line 772, ../sass/home.scss */
body.home #main #fbz-header {
  background-color: #202020;
  position: relative;
  z-index: 50;
}
/* line 777, ../sass/home.scss */
body.home #main #fbz-header img.img-responsive {
  max-width: 101%;
}
/* line 781, ../sass/home.scss */
body.home #main #fbz-header div.info {
  height: 400px;
  width: 100%;
}
/* line 785, ../sass/home.scss */
body.home #main #fbz-header div.info h1 {
  height: 44px;
  width: 50%;
}
/* line 789, ../sass/home.scss */
body.home #main #fbz-header div.info h1 span {
  font-family: 'pragmatica-web-condensed';
  display: inline-block;
  font-weight: 300;
  width: 100%;
  font-style: normal;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
}
/* line 801, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble {
  bottom: -15px;
  padding: 0;
  position: absolute;
  width: 100%;
}
/* line 807, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble i.corner {
  color: white;
  line-height: 13px;
  height: 13px;
}
/* line 813, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble div.bubble-inner {
  padding: 11px;
  border-radius: 0;
}
/* line 817, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble div.bubble-inner.staff-picks {
  width: 100%;
  padding: 13px 11px 8px 11px;
}
/* line 822, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble div.bubble-inner p {
  font-style: normal;
}
/* line 825, ../sass/home.scss */
body.home #main #fbz-header div.info div.bubble div.bubble-inner p strong {
  font-family: 'pragmatica-web-condensed';
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
}
/* line 838, ../sass/home.scss */
body.home #footer {
  margin-top: 0;
}

/* line 844, ../sass/home.scss */
body.learn-more iframe {
  height: 322px;
  width: 580px;
}
