/* line 4, ../sass/home.scss */
body {
  background: white;
}

/* line 8, ../sass/home.scss */
h1 {
  color: white;
  font-family: 'lobster';
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.6);
}

/* line 16, ../sass/home.scss */
h2 {
  color: #333333;
  font-size: 60px;
  font-family: 'lobster';
  padding-top: 70px;
  padding-bottom: 15px;
  text-align: center;
}

/* line 25, ../sass/home.scss */
h3 {
  font-size: 2.21em;
  font-family: 'lobster';
  color: #ff2c00;
}

/* line 31, ../sass/home.scss */
div.container {
  width: 890px;
}

/* line 36, ../sass/home.scss */
#intro img.logo {
  display: block;
  height: 61px;
  margin: 0 auto;
  width: 276px;
  margin-top: 16px;
}
/* line 44, ../sass/home.scss */
#intro #callout {
  background: rgba(0, 0, 0, 0.31);
  margin: 34px 0 42px;
  padding: 13px 13px 3px;
}
/* line 49, ../sass/home.scss */
#intro #callout p {
  color: #FFFFFF;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
  width: 100%;
}

/* line 60, ../sass/home.scss */
#login {
  padding-top: 10px;
}
/* line 63, ../sass/home.scss */
#login a {
  color: white;
}

/* line 69, ../sass/home.scss */
#base div.row {
  background: white;
}
/* line 72, ../sass/home.scss */
#base div.row div.container {
  padding-top: 58px;
  padding-bottom: 58px;
}
/* line 76, ../sass/home.scss */
#base div.row div.container img {
  border: 5px solid #DCDCDC;
}
/* line 82, ../sass/home.scss */
#base div.row.dark {
  background: #0b2531;
}
/* line 87, ../sass/home.scss */
#base div.row.dark div.dark-inner div.left h3, #base div.row.dark div.dark-inner div.left p {
  text-align: right;
}
/* line 91, ../sass/home.scss */
#base div.row.dark div.container {
  background: #0b2531;
}
/* line 94, ../sass/home.scss */
#base div.row.dark div.container div.row {
  background: #0b2531;
  color: white;
}
/* line 100, ../sass/home.scss */
#base div.row.dark h2 {
  background: #05171f;
  color: white;
}
/* line 107, ../sass/home.scss */
#base #quote.row {
  background: #05171f;
}
/* line 110, ../sass/home.scss */
#base #quote.row div.container {
  background: #05171f;
}
/* line 113, ../sass/home.scss */
#base #quote.row div.container div.row {
  background: #05171f;
}
/* line 116, ../sass/home.scss */
#base #quote.row div.container div.row p {
  color: white;
  font-family: 'lobster';
}
/* line 120, ../sass/home.scss */
#base #quote.row div.container div.row p span.blue {
  color: #029dd9;
}
/* line 124, ../sass/home.scss */
#base #quote.row div.container div.row p span.line1 {
  font-size: 24px;
}
/* line 126, ../sass/home.scss */
#base #quote.row div.container div.row p span.line2 {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
/* line 133, ../sass/home.scss */
#base #quote.row div.container div.row p span.line3 {
  font-size: 29px;
}
/* line 134, ../sass/home.scss */
#base #quote.row div.container div.row p span.line4 {
  font-size: 24px;
}
/* line 135, ../sass/home.scss */
#base #quote.row div.container div.row p span.line5 {
  font-size: 24px;
}
/* line 138, ../sass/home.scss */
#base #quote.row div.container div.row p.author {
  color: white;
  font-family: 'futura-pt';
}
/* line 142, ../sass/home.scss */
#base #quote.row div.container div.row p.author span.orange {
  color: #ff2c00;
}
/* line 152, ../sass/home.scss */
#base #follow.row div.container {
  padding-top: 75px;
  padding-bottom: 75px;
}
/* line 156, ../sass/home.scss */
#base #follow.row div.container p {
  color: #029dd9;
  font-size: 35px;
  font-family: 'lobster';
}
/* line 166, ../sass/home.scss */
#base #follow.row div.container img.logo {
  border: none;
  width: 249px;
}
/* line 171, ../sass/home.scss */
#base #follow.row div.container a {
  display: block;
}
/* line 174, ../sass/home.scss */
#base #follow.row div.container a span.fa-stack.fa-lg {
  -webkit-border-radius: 500px 500px;
  -moz-border-radius: 500px / 500px;
  border-radius: 500px / 500px;
  height: 3em;
  line-height: 3em;
  width: 3em;
}
/* line 180, ../sass/home.scss */
#base #follow.row div.container a span.fa-stack.fa-lg .fa-stack-2x {
  font-size: 3em;
}
/* line 181, ../sass/home.scss */
#base #follow.row div.container a span.fa-stack.fa-lg i.fa-circle {
  color: white;
}
/* line 185, ../sass/home.scss */
#base #follow.row div.container a.google span.fa-stack.fa-lg {
  border: 1px solid #f23830;
}
/* line 186, ../sass/home.scss */
#base #follow.row div.container a.google i.fa-stack-1x {
  color: #f23830;
}
/* line 190, ../sass/home.scss */
#base #follow.row div.container a.linkedin span.fa-stack.fa-lg {
  border: 1px solid #397EB6;
}
/* line 191, ../sass/home.scss */
#base #follow.row div.container a.linkedin i.fa-stack-1x {
  color: #397EB6;
}
/* line 195, ../sass/home.scss */
#base #follow.row div.container a.twitter span.fa-stack.fa-lg {
  border: 1px solid #00aae4;
}
/* line 196, ../sass/home.scss */
#base #follow.row div.container a.twitter i.fa-stack-1x {
  color: #00aae4;
}
/* line 202, ../sass/home.scss */
#base footer.row {
  background: #00aff3;
  margin-top: -1px;
  padding-top: 46px;
}
/* line 207, ../sass/home.scss */
#base footer.row div.container {
  background: #00aff3;
}
/* line 210, ../sass/home.scss */
#base footer.row div.container div.row {
  background: #00aff3;
}
/* line 213, ../sass/home.scss */
#base footer.row div.container div.row h4 {
  color: white;
  font-family: 'lobster';
  font-size: 32px;
}
/* line 219, ../sass/home.scss */
#base footer.row div.container div.row a {
  color: white;
  display: block;
  font-family: 'futura-pt';
  font-size: 16px;
  text-decoration: none;
}
/* line 226, ../sass/home.scss */
#base footer.row div.container div.row a:active, #base footer.row div.container div.row a:hover {
  text-decoration: underline;
}
/* line 233, ../sass/home.scss */
#base footer.row p.copyright {
  background: #03a3e1;
  border-top: 9px solid #03abec;
  border-bottom: 6px solid #03abec;
  color: white;
  font-family: 'futura-pt';
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
}
