/* line 4, ../sass/home.scss */
#main {
  overflow: hidden;
}
/* line 7, ../sass/home.scss */
#main .full-wrap {
  margin-left: -17px;
}
/* line 10, ../sass/home.scss */
#main .full-wrap .full-wrap-inner {
  padding: 0;
}
/* line 16, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner {
  position: relative;
}
/* line 19, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info {
  position: absolute;
  top: 0;
  padding: 43px 18px;
}
/* line 24, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 27, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 span {
  color: #f200bc;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 18px 0;
  padding: 0 18px;
  line-height: 44px;
}
/* line 37, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info h1 strong {
  font-weight: 700;
}
/* line 40, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble {
  position: relative;
}
/* line 43, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 18px;
  position: relative;
}
/* line 49, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner div {
  padding: 0;
}
/* line 51, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner p {
  color: #282828;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
/* line 58, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.bubble-inner p:last-child {
  margin-bottom: 0;
}
/* line 62, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right {
  padding: 0;
  position: relative;
}
/* line 66, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right img.img-responsive {
  max-height: 99px;
  float: right;
}
/* line 71, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble div.pull-right a.btn-signup {
  border: 2px solid #FFFFFF;
  height: 44px;
  left: 20%;
  width: 46%;
}
/* line 79, ../sass/home.scss */
#main #fbz-header div.full-wrap-inner div.info div.bubble i.corner {
  display: inline-block;
  position: relative;
  left: 15%;
  bottom: 0;
  height: 22px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
/* line 93, ../sass/home.scss */
#main #fbz-features {
  margin-top: -1px;
}
/* line 96, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner {
  background: #000000;
}
/* line 99, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner h2 {
  color: #666666;
  margin: 0;
  padding: 15px 0 0 32px;
  font-style: italic;
  font-size: 23px;
  line-height: 15px;
}
/* line 108, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul {
  list-style: none inside none;
  padding: 0 0 0 10px;
}
/* line 112, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li {
  color: white;
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
}
/* line 118, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.blue {
  color: #00adf2;
}
/* line 120, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup {
  margin-top: 32px;
  font-style: normal;
}
/* line 124, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup i.fa-play {
  color: #f200bc;
}
/* line 126, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li.signup i.fa-circle {
  color: rgba(255, 255, 255, 0.6);
}
/* line 131, ../sass/home.scss */
#main #fbz-features div.full-wrap-inner ul li i {
  color: white;
  font-style: normal;
}
/* line 140, ../sass/home.scss */
#main #how-to-fbz {
  background: #000000;
  max-height: 322px;
  overflow: hidden;
  position: relative;
  top: -6px;
}
/* line 147, ../sass/home.scss */
#main #how-to-fbz div.slider, #main #how-to-fbz div.pull-right {
  background: #000000;
}
/* line 153, ../sass/home.scss */
#main #how-to-fbz div.slider h2 {
  background: #01b3f6;
  color: white;
  margin: 0;
  font-size: 19px;
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
  padding: 0 18px;
}
/* line 164, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper {
  margin: 0;
}
/* line 167, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport {
  background: black;
  border: none;
  box-shadow: none;
  left: 0;
  width: 99.9% !important;
}
/* line 174, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul {
  padding: 0;
  margin: 0;
}
/* line 178, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li {
  position: relative;
}
/* line 181, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li img.img-responsive {
  width: 100%;
}
/* line 185, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
/* line 191, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 {
  line-height: 36px;
  margin-top: 22px;
  margin-bottom: 7px;
  padding: 0;
}
/* line 197, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 i.fa-icon {
  color: white;
  padding-left: 18px;
  padding-right: 9px;
  font-size: 20px;
  width: 45px;
}
/* line 205, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner h4 span {
  background: white;
  color: black;
  display: inline-block;
  height: 100%;
  font-style: italic;
  padding: 0 13px;
  font-size: 17px;
}
/* line 216, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner p {
  color: #cccccc;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 16px;
}
/* line 223, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner p strong {
  font-weight: 700;
}
/* line 228, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 0 10px 0;
  width: 101%;
}
/* line 233, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person.person-1 {
  border-left: 7px solid #f26c00;
}
/* line 237, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person.person-2 {
  border-left: 7px solid #01b3f6;
  margin-bottom: 0;
}
/* line 242, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person p {
  margin: 16px 0 16px 47px;
}
/* line 246, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.person div.avatar {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 253, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner {
  padding: 0;
  position: relative;
}
/* line 257, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner p {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 17px;
  margin: 0 0 30px 0;
}
/* line 263, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover div.discover-inner span.corner {
  position: absolute;
  display: block;
  width: 0;
  height: 44px;
  line-height: 0;
  display: block;
  right: 0;
  line-height: 0;
  position: absolute;
  top: -23px;
  width: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
}
/* line 283, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-1 div.discover-inner {
  margin-left: 14.5%;
}
/* line 286, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-1 div.discover-inner span.corner {
  border: solid 22px #dd0986;
  border-color: transparent transparent #dd0986;
  right: -22px;
}
/* line 295, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner {
  margin-left: 14%;
}
/* line 298, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner p {
  margin-bottom: 0;
}
/* line 302, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.discover.discover-2 div.discover-inner span.corner {
  border: solid 22px #01b3f6;
  border-color: transparent transparent #01b3f6;
  right: -3px;
}
/* line 311, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 19px;
  margin: 0 0 8px 0;
}
/* line 321, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner p {
  margin: 0 15px 0 0;
  width: 106%;
}
/* line 326, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon {
  padding: 0;
}
/* line 329, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-icon {
  margin: 18% 0;
}
/* line 333, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-group {
  color: #01b3f6;
}
/* line 337, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-thumbs-up, #main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence div.influence-inner div.icon i.fa-bullhorn {
  color: #ffd800;
}
/* line 346, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-viewport ul li div.slide-inner div.influence.influence-2 div.influence-inner div.icon i.fa-icon.fa-group {
  margin: 5% 0;
}
/* line 358, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager {
  position: absolute;
  bottom: 44px;
  z-index: 10;
  width: 100%;
}
/* line 364, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager {
  padding-top: 0;
}
/* line 367, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager a.bx-pager-link {
  background: white;
}
/* line 370, ../sass/home.scss */
#main #how-to-fbz div.slider .bx-wrapper .bx-controls.bx-has-pager .bx-pager a.bx-pager-link.active {
  background: #ffd800;
}
/* line 380, ../sass/home.scss */
#main #signup {
  padding-top: 29px;
  padding-bottom: 40px;
  font-size: 17px;
}
/* line 385, ../sass/home.scss */
#main #signup a.login {
  color: #0197cf;
  font-weight: 700;
}
/* line 390, ../sass/home.scss */
#main #signup a.btn-signup {
  display: inline-block;
  margin-left: 15px;
  margin-right: 9px;
}
/* line 396, ../sass/home.scss */
#main #signup strong {
  font-weight: 700;
  font-style: italic;
}
/* line 402, ../sass/home.scss */
#main #callout {
  padding-bottom: 65px;
}
/* line 405, ../sass/home.scss */
#main #callout img {
  display: block;
  height: 294px;
  margin: 0 auto;
  width: 541px;
}
/* line 412, ../sass/home.scss */
#main #callout div.callout-text {
  margin-top: 20px;
  line-height: 15px;
  font-size: 13px;
  text-align: right;
}
/* line 418, ../sass/home.scss */
#main #callout div.callout-text img.logo {
  height: 42px;
  left: 167px;
  position: relative;
  top: -1px;
  width: 193px;
}
/* line 426, ../sass/home.scss */
#main #callout div.callout-text span.line1 {
  display: inline-block;
  padding-top: 18px;
  text-align: left;
}
/* line 434, ../sass/home.scss */
#main #fbz-home {
  background: #05171E;
}
/* line 438, ../sass/home.scss */
#main #fbz-home div.full-wrap-inner h1, #main #fbz-home div.full-wrap-inner h2 {
  color: white;
  text-align: center;
}
/* line 443, ../sass/home.scss */
#main #fbz-home div.full-wrap-inner h1 {
  font-weight: bold;
}
/* line 447, ../sass/home.scss */
#main #fbz-home div.full-wrap-inner #video-carousel {
  height: 400px;
}
/* line 454, ../sass/home.scss */
#main #fbz-signup h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 461, ../sass/home.scss */
#main #fbz-signup #signup-container div.social {
  padding: 0;
  width: 95%;
}
/* line 465, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider {
  color: white;
  display: block;
  height: 37px;
  margin-bottom: 13px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
/* line 474, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider span.btn-title {
  display: block;
  line-height: 37px;
  text-align: center;
  width: 86%;
}
/* line 481, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider span.btn-icon {
  display: block;
  width: 37px;
  height: 37px;
  position: relative;
}
/* line 487, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider span.btn-icon i {
  display: block;
  font-size: 1.6em;
  padding-top: 7px;
}
/* line 494, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.facebook {
  background: #3b5998;
}
/* line 497, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.facebook span.btn-icon {
  background: #354f88;
}
/* line 500, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.facebook span.btn-icon i {
  padding-top: 7px;
}
/* line 506, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.twitter {
  background: #45b0e3;
}
/* line 509, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.twitter span.btn-icon {
  background: #40a2d1;
}
/* line 514, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.google {
  background: #de4c34;
}
/* line 517, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.google span.btn-icon {
  background: #ce3e26;
}
/* line 520, ../sass/home.scss */
#main #fbz-signup #signup-container div.social a.socialaccount_provider.google span.btn-icon i {
  padding-top: 8px;
}
/* line 533, ../sass/home.scss */
#main #fbz-signup #signup-container #signup-form div.form-row {
  margin-bottom: 10px;
}
/* line 536, ../sass/home.scss */
#main #fbz-signup #signup-container #signup-form div.form-row label {
  line-height: 27px;
  margin-bottom: 0;
  padding: 0 8px 0 0;
  text-align: right;
}
/* line 543, ../sass/home.scss */
#main #fbz-signup #signup-container #signup-form div.form-row input {
  width: 50%;
}
/* line 548, ../sass/home.scss */
#main #fbz-signup #signup-container #signup-form div.row-submit {
  margin: 20px 0;
  position: relative;
  height: 37px;
}
/* line 553, ../sass/home.scss */
#main #fbz-signup #signup-container #signup-form div.row-submit button {
  background: #f200bc;
  border: 0;
  color: white;
  font-weight: bold;
  height: 37px;
  margin: 0 25%;
  width: 75%;
}
/* line 567, ../sass/home.scss */
#main #fbz-media-logos {
  background: #05171E;
  position: relative;
}
/* line 572, ../sass/home.scss */
#main #fbz-media-logos div.col-xs-3 a {
  display: block;
  height: 70px;
}
/* line 576, ../sass/home.scss */
#main #fbz-media-logos div.col-xs-3 a img.img-responsive {
  max-width: 50%;
  opacity: 0.85;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 584, ../sass/home.scss */
#main #fbz-media-logos div.col-xs-3:hover img.img-responsive {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 592, ../sass/home.scss */
#main a.btn-signup {
  background-color: #f200bc;
  border-color: #f200bc;
  color: white;
  font-size: 18px;
  padding: 10px 39px 7px;
  line-height: 20px;
}
/* line 600, ../sass/home.scss */
#main a.btn-signup span.fa-stack {
  bottom: 1px;
  color: #FFFFFF;
  height: 20px;
  left: 5px;
  line-height: 20px;
  position: relative;
  width: 20px;
}
/* line 609, ../sass/home.scss */
#main a.btn-signup span.fa-stack i.fa-play {
  color: #f200bc;
  font-size: 12px;
  padding-left: 2px;
}
/* line 615, ../sass/home.scss */
#main a.btn-signup span.fa-stack i.fa-circle {
  color: rgba(255, 255, 255, 0.6) !important;
}
/* line 621, ../sass/home.scss */
#main a.btn-signup:hover span.fa-stack i.fa-circle, #main a.btn-signup:focus span.fa-stack i.fa-circle {
  color: rgba(255, 255, 255, 0.9) !important;
}
/* line 627, ../sass/home.scss */
#main iframe {
  height: 322px;
  width: 580px;
}

/* line 634, ../sass/home.scss */
body.home #footer {
  margin-top: 0;
}
