/* line 1, ../sass/onboarding.scss */
#onboarding {
  background: transparent url("../../img/player-separator.png") no-repeat center bottom;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 56px;
  width: 610px;
}
/* line 8, ../sass/onboarding.scss */
#onboarding #video {
  position: relative;
}
/* line 11, ../sass/onboarding.scss */
#onboarding #video div.mejs-container {
  height: 306px !important;
  width: 610px !important;
}
/* line 16, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-mediaelement {
  position: relative;
}
/* line 19, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-mediaelement video {
  position: absolute;
  height: 306px !important;
  width: 610px !important;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 30, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-layers .mejs-controls {
  display: none;
}
/* line 32, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-layers .mejs-poster {
  position: relative;
}
/* line 35, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-layers .mejs-poster img {
  position: absolute;
  height: 306px;
  width: 610px;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 45, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-layers .mejs-overlay-button {
  background-image: none;
  height: auto;
  margin: 18px 0 0 -63px;
  opacity: 1;
  width: 126px;
  z-index: 999;
}
/* line 53, ../sass/onboarding.scss */
#onboarding #video div.mejs-container div.mejs-inner div.mejs-layers .mejs-overlay-button .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  font-weight: 500;
}
/* line 64, ../sass/onboarding.scss */
#onboarding #video #steps {
  position: absolute;
  top: 0;
  width: 610px;
  z-index: 5;
}
/* line 71, ../sass/onboarding.scss */
#onboarding #video #steps div.step.step1 {
  background-color: rgba(255, 255, 255, 0.81);
  margin: 31px auto 0;
  padding: 55px 27px;
  height: 233px;
  width: 403px;
}
/* line 78, ../sass/onboarding.scss */
#onboarding #video #steps div.step.step1 h1 {
  color: #424242;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
}
/* line 84, ../sass/onboarding.scss */
#onboarding #video #steps div.step.step1 h1 strong {
  font-weight: 700;
}
