/* line 8, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 12, ../sass/screen.scss */
a {
  outline: 0;
}

/* line 14, ../sass/screen.scss */
.text-justify {
  text-align: justify;
}

/* line 18, ../sass/screen.scss */
.wf-loading #main {
  visibility: hidden;
}

/* line 21, ../sass/screen.scss */
#btn-login {
  margin-top: 15px;
}

/* line 25, ../sass/screen.scss */
#login-container {
  margin: 10px 0px 0px -292px;
  padding: 13px;
  width: 360px;
}
/* line 30, ../sass/screen.scss */
#login-container #login-form {
  padding: 0;
}
/* line 34, ../sass/screen.scss */
#login-container #login-form input[type='text'],
#login-container #login-form input[type='password'] {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
/* line 50, ../sass/screen.scss */
#login-container #login-form label {
  color: #666666;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 20px;
}
/* line 60, ../sass/screen.scss */
#login-container div.form-row {
  margin-bottom: 19px;
}
/* line 62, ../sass/screen.scss */
#login-container div.or {
  color: #666666;
  font-size: 12px;
  padding: 9px 14px 9px 8px;
}
/* line 68, ../sass/screen.scss */
#login-container div.social {
  margin-bottom: 13px;
  padding: 0;
}
/* line 72, ../sass/screen.scss */
#login-container div.social a.btn-info {
  background-color: #636365;
  border-color: #565658;
  color: #FFFFFF;
  padding: 6px 8px;
}

/* line 81, ../sass/screen.scss */
body.content {
  /* Styles used by the homepage, about page, and other marketing pages. */
}
/* line 84, ../sass/screen.scss */
body.content #base {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background: white;
  margin-top: 24px;
}
/* line 89, ../sass/screen.scss */
body.content #base #homepage-logo {
  padding: 33px 0;
}
/* line 92, ../sass/screen.scss */
body.content #base #homepage-logo a {
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 184px;
}
/* line 98, ../sass/screen.scss */
body.content #base #homepage-logo a img {
  height: 40px;
  width: 184px;
}
/* line 105, ../sass/screen.scss */
body.content #base #logo {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
  padding: 16px 0 0 0;
  position: relative;
  z-index: 10;
}
/* line 113, ../sass/screen.scss */
body.content #base #logo div.row-logo {
  margin: 0;
}
/* line 116, ../sass/screen.scss */
body.content #base #logo div.row-logo a {
  display: block;
  height: 25px;
  margin-left: 13px;
  width: 100%;
}
/* line 122, ../sass/screen.scss */
body.content #base #logo div.row-logo a img {
  height: 25px;
  width: 116px;
}
/* line 130, ../sass/screen.scss */
body.content #base #logo div.row-search #search-form {
  border-bottom: 1px solid #f6f6f6;
  box-shadow: none;
  width: 100%;
}
/* line 135, ../sass/screen.scss */
body.content #base #logo div.row-search #search-form i {
  color: #999999;
}
/* line 137, ../sass/screen.scss */
body.content #base #logo div.row-search #search-form input {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: none;
  box-shadow: none;
  color: #5c5c5c;
  font-size: 14px;
  margin-bottom: 0;
  height: 22px;
  padding-left: 0;
  text-indent: 5px;
  width: 95%;
}
/* line 149, ../sass/screen.scss */
body.content #base #logo div.row-search #search-form input:focus {
  outline: 0;
}
/* line 154, ../sass/screen.scss */
body.content #base #logo div.row-search #search-form button {
  display: none;
}
/* line 159, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle {
  display: block;
  height: 41px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  top: -10px;
  width: auto;
}
/* line 168, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle:focus, body.content #base #logo div.row-user a.dropdown-toggle:hover {
  background: none;
}
/* line 172, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle img.img-circle {
  height: 41px;
  width: 41px;
}
/* line 177, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle i.fa {
  line-height: 41px;
}
/* line 179, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle i.fa-cog {
  color: #CACACA;
  font-size: 24px;
  margin-right: 5px;
  padding-left: 5px;
}
/* line 186, ../sass/screen.scss */
body.content #base #logo div.row-user a.dropdown-toggle i.fa-caret-down {
  color: #9C9C9C;
  margin-right: 0;
  padding-right: 0;
}
/* line 193, ../sass/screen.scss */
body.content #base #logo div.row-user #btn-login {
  margin: 0 10px;
  padding: 0 5px;
}
/* line 200, ../sass/screen.scss */
body.content #base #main {
  overflow: hidden;
}
/* line 203, ../sass/screen.scss */
body.content #base #main #links {
  padding-top: 10px;
}
/* line 206, ../sass/screen.scss */
body.content #base #main #links div {
  padding: 0;
  text-align: center;
}
/* line 211, ../sass/screen.scss */
body.content #base #main #links div a {
  color: #878787;
  font-size: 1.05em;
}
/* line 216, ../sass/screen.scss */
body.content #base #main #links div i.icon-muted {
  color: #F0F0F0;
  display: inline-block;
  font-size: 1.5em;
  position: relative;
  top: -3px;
}
/* line 226, ../sass/screen.scss */
body.content #base #main #callout {
  padding-top: 105px;
  padding-bottom: 65px;
}
/* line 230, ../sass/screen.scss */
body.content #base #main #callout img {
  display: block;
  height: 294px;
  margin: 0 auto;
  width: 541px;
}

/* line 241, ../sass/screen.scss */
body.about {
  color: #595959;
}
/* line 244, ../sass/screen.scss */
body.about img.img-circle {
  height: 137px;
  width: 137px;
}
/* line 249, ../sass/screen.scss */
body.about h1.wrapper {
  background: #8F8F8F;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 14px;
  padding: 10px 25px;
}
/* line 259, ../sass/screen.scss */
body.about div.person {
  overflow: hidden;
}
/* line 262, ../sass/screen.scss */
body.about div.person h2 {
  color: #00aeef;
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 268, ../sass/screen.scss */
body.about div.person p.title {
  color: #666666;
}

/* line 275, ../sass/screen.scss */
body.search #main {
  background: url("../../img/search_bkg.png") repeat-x;
  padding-bottom: 30px;
}
/* line 280, ../sass/screen.scss */
body.search #main #search-results h1 {
  color: #7c7c7c;
  font-size: 17px;
  font-weight: 500;
}
/* line 285, ../sass/screen.scss */
body.search #main #search-results h1 strong {
  color: #cccccc;
  font-style: italic;
  font-weight: 700;
}
/* line 292, ../sass/screen.scss */
body.search #main #search-results h2 {
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}
/* line 299, ../sass/screen.scss */
body.search #main #search-results a.more {
  font-weight: 700;
  font-size: 12px;
}
/* line 304, ../sass/screen.scss */
body.search #main #search-results div.row-users {
  height: 404px;
}
/* line 307, ../sass/screen.scss */
body.search #main #search-results div.row-users div.user {
  padding: 9px 14px;
  width: 100%;
}
/* line 311, ../sass/screen.scss */
body.search #main #search-results div.row-users div.user div.avatar {
  padding: 0;
}
/* line 313, ../sass/screen.scss */
body.search #main #search-results div.row-users div.user a {
  font-size: 12px;
  color: white;
}
/* line 318, ../sass/screen.scss */
body.search #main #search-results div.row-users div.user div.row-tagline {
  color: #8c8a8a;
  font-size: 11px;
}
/* line 325, ../sass/screen.scss */
body.search #main #search-results div.row-videos {
  margin-top: 9px;
}
/* line 328, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video {
  margin: 0px 5px 10px;
  padding: 0;
  position: relative;
}
/* line 334, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video.col-xs-6 {
  width: 48%;
}
/* line 338, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video.col-xs-4 {
  width: 32%;
}
/* line 342, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video a.thumbnail-link {
  display: block;
  overflow: hidden;
}
/* line 347, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video a.title {
  display: inline-block;
  width: 93%;
}
/* line 352, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video h3 {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-weight: 700;
  font-size: 11px;
  padding: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 59px;
}
/* line 365, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video h3 a {
  color: white;
}
/* line 369, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video h3 span.comment-count {
  font-size: 12px;
  margin-top: 4px;
  text-align: right;
}
/* line 374, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video h3 span.comment-count i {
  left: 4px;
  position: relative;
}
/* line 381, ../sass/screen.scss */
body.search #main #search-results div.row-videos div.video img.img-responsive {
  height: 177px;
  max-width: 100%;
}
/* line 388, ../sass/screen.scss */
body.search #main #search-results div.row-convos {
  margin-top: 9px;
}
/* line 391, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment {
  -webkit-border-radius: 12px 12px;
  -moz-border-radius: 12px / 12px;
  border-radius: 12px / 12px;
  background: #575757;
  color: white;
  font-size: 12px;
  font-weight: 700;
  min-height: 36px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
/* line 402, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment div.text {
  padding: 0;
}
/* line 406, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment div.col-xs-2 {
  padding: 0 12px;
}
/* line 410, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment img.img-circle {
  border: 2px solid white;
  float: left;
  height: 32px;
  width: 32px;
}
/* line 417, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment p {
  color: #FFFFFF;
  float: right;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}
/* line 423, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment p span {
  display: inline-block;
  vertical-align: -8px;
}
/* line 427, ../sass/screen.scss */
body.search #main #search-results div.row-convos div.comment p span span.highlight {
  vertical-align: 0;
  margin: 0 2px;
}
/* line 435, ../sass/screen.scss */
body.search #main #search-results div.row-convos p.description {
  color: #848484;
  font-size: 11px;
  line-height: 18px;
  position: relative;
}
/* line 441, ../sass/screen.scss */
body.search #main #search-results div.row-convos p.description a {
  color: white;
}
/* line 445, ../sass/screen.scss */
body.search #main #search-results div.row-convos p.description span.corner {
  top: -3px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 18px #575757;
  border-color: #575757 transparent transparent transparent;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  left: 80%;
}
/* line 462, ../sass/screen.scss */
body.search #main #search-results div.empty h3 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}
/* line 470, ../sass/screen.scss */
body.search #main #search-results div.fbz-pagination {
  min-width: 20%;
}
/* line 473, ../sass/screen.scss */
body.search #main #search-results div.fbz-pagination ul {
  list-style: none outside none;
}
/* line 476, ../sass/screen.scss */
body.search #main #search-results div.fbz-pagination ul li {
  float: left;
  width: 25px;
}
/* line 480, ../sass/screen.scss */
body.search #main #search-results div.fbz-pagination ul li a {
  display: inline-block;
  text-align: right;
  width: 100%;
}
/* line 487, ../sass/screen.scss */
body.search #main #search-results div.fbz-pagination ul li.active a {
  font-weight: 700;
  color: white;
}
/* line 498, ../sass/screen.scss */
body.search #footer {
  margin-top: 0;
}

/* line 504, ../sass/screen.scss */
body.subpage div.row-header {
  position: relative;
}
/* line 507, ../sass/screen.scss */
body.subpage div.row-header h1 {
  color: #CCCCCC;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 7px;
}
/* line 515, ../sass/screen.scss */
body.subpage div.row-description {
  background-color: #1DAFEC;
  margin-bottom: 15px;
}
/* line 520, ../sass/screen.scss */
body.subpage div.row-description div p, body.subpage div.row-description div h2 {
  color: white;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
}
/* line 527, ../sass/screen.scss */
body.subpage div.row-description div h2 {
  font-weight: 700;
}

/* line 534, ../sass/screen.scss */
body.contact form input, body.contact form textarea {
  width: 100%;
}
/* line 538, ../sass/screen.scss */
body.contact form div.form-group {
  border-bottom: 1px solid #ccc;
}
/* line 541, ../sass/screen.scss */
body.contact form div.form-group:last-child {
  border-bottom: none;
}
/* line 546, ../sass/screen.scss */
body.contact form label {
  color: #bbb;
  font-weight: 700;
}
/* line 551, ../sass/screen.scss */
body.contact form input[type='text'] {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #5C5C5C;
  font-size: 14px;
  height: 22px;
  margin-bottom: 0;
  padding-left: 0;
  text-indent: 5px;
}
/* line 563, ../sass/screen.scss */
body.contact form textarea {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  color: #5C5C5C;
  font-size: 14px;
  padding: 2px 5px;
}

/* line 577, ../sass/screen.scss */
body.press button.close {
  display: none;
}
/* line 579, ../sass/screen.scss */
body.press a {
  color: #4B86C6;
  font-weight: 500;
}
/* line 585, ../sass/screen.scss */
body.press article title {
  display: block;
  font-weight: 700;
}
/* line 590, ../sass/screen.scss */
body.press article p {
  font-weight: 300;
}
/* line 593, ../sass/screen.scss */
body.press div.row-media {
  margin-bottom: 19px;
}
/* line 596, ../sass/screen.scss */
body.press div.row-media div.file {
  line-height: 14px;
}
/* line 599, ../sass/screen.scss */
body.press div.row-media div.file span.type {
  color: #A4A4A4;
  font-size: 12px;
}

/* line 607, ../sass/screen.scss */
#footer {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6b6b6b;
  margin-top: 33px;
  padding-top: 13px;
  padding-bottom: 10px;
}
/* line 617, ../sass/screen.scss */
#footer a {
  color: white;
}
/* line 619, ../sass/screen.scss */
#footer div {
  padding: 0;
}

/* line 624, ../sass/screen.scss */
#copyright {
  padding-top: 12px;
  padding-bottom: 130px;
}
/* line 628, ../sass/screen.scss */
#copyright strong {
  font-size: 1.05em;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
