/* line 3, ../sass/screen.scss */
html {
  /* Needed for fullscreen background. */
  background: url("../../img/background.jpg") no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

/* line 10, ../sass/screen.scss */
body {
  /* Needed for fullscreen background. */
  background-color: transparent;
  min-height: 100%;
}

/* line 16, ../sass/screen.scss */
.text-justify {
  text-align: justify;
}

/* line 19, ../sass/screen.scss */
body.content {
  /* Styles used by the homepage, about page, and other marketing pages. */
}
/* line 22, ../sass/screen.scss */
body.content #base {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background: white;
  margin-top: 24px;
}
/* line 27, ../sass/screen.scss */
body.content #base #logo {
  padding: 33px 0;
}
/* line 30, ../sass/screen.scss */
body.content #base #logo a {
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 184px;
}
/* line 36, ../sass/screen.scss */
body.content #base #logo a img {
  height: 40px;
  width: 184px;
}
/* line 44, ../sass/screen.scss */
body.content #base #main #video-container {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: transparent url("../../img/player-separator.png") no-repeat center bottom;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 56px;
  width: 640px;
}
/* line 55, ../sass/screen.scss */
body.content #base #main #video-container div.video {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #202020;
  height: 398px;
  width: 640px;
}
/* line 64, ../sass/screen.scss */
body.content #base #main #video-container div.video iframe {
  height: 100%;
  width: 100%;
}
/* line 71, ../sass/screen.scss */
body.content #base #main #links {
  padding-top: 10px;
}
/* line 74, ../sass/screen.scss */
body.content #base #main #links div {
  padding: 0;
  text-align: center;
}
/* line 79, ../sass/screen.scss */
body.content #base #main #links div a {
  color: #878787;
  font-size: 1.05em;
}
/* line 84, ../sass/screen.scss */
body.content #base #main #links div i.icon-muted {
  color: #F0F0F0;
  display: inline-block;
  font-size: 1.5em;
  position: relative;
  top: -3px;
}
/* line 94, ../sass/screen.scss */
body.content #base #main #callout {
  padding-top: 105px;
  padding-bottom: 65px;
}
/* line 98, ../sass/screen.scss */
body.content #base #main #callout img {
  display: block;
  height: 294px;
  margin: 0 auto;
  width: 541px;
}

/* line 110, ../sass/screen.scss */
body.about img.img-circle {
  height: 137px;
  width: 137px;
}
/* line 115, ../sass/screen.scss */
body.about h1.wrapper {
  background: #8F8F8F;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 14px;
  padding: 10px 25px;
}
/* line 125, ../sass/screen.scss */
body.about div.person {
  overflow: hidden;
}
/* line 128, ../sass/screen.scss */
body.about div.person h2 {
  margin-bottom: 0;
  margin-top: 10px;
}

/* line 139, ../sass/screen.scss */
#footer {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6b6b6b;
  margin-top: 33px;
  padding-top: 13px;
  padding-bottom: 10px;
}
/* line 149, ../sass/screen.scss */
#footer a {
  color: white;
}
/* line 151, ../sass/screen.scss */
#footer div.col-xs-1 {
  padding: 0;
}

/* line 156, ../sass/screen.scss */
#copyright {
  padding-top: 12px;
  padding-bottom: 130px;
}
/* line 160, ../sass/screen.scss */
#copyright strong {
  font-size: 1.05em;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
