{% extends "todo/base.html" %}
{% load url from future %}

{% block title %}{{ list_title }} Todo Lists{% endblock %}

{% block page_content %}

<div class="col-md-12 masonry">
    <div class="block">
        <h2><i class="fa fa-list"></i> Task Lists <a class="btn btn-xs btn-success pull-right" href="{% url 'todo-add_list' %}"><i class="fa fa-plus"></i> New Task List</a></h2>
        <div class="col-md-12">
           <p>{{ item_count }} items in {{ list_count }} lists</p>

           	{% regroup list_list by group as section_list %}

            {% for group in section_list %}
                <h3>{{ group.grouper }}</h3>
                <ul>
                    {% for item in group.list %}
           	            <li><a class="todo" href="{% url 'todo-incomplete_tasks' item.id item.slug %}">{{ item.name }} </a> ({{ item.incomplete_tasks.count }}/{{ item.item_set.count }})</li>
                    {% endfor %}
                </ul>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
