/* line 5, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 15, ../sass/screen.scss */
.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important;
}

@media (min-width: 800px) {
  /* line 25, ../sass/screen.scss */
  .container {
    overflow: hidden;
    width: 736px;
  }
}
/* line 32, ../sass/screen.scss */
.embed-responsive-4by3 {
  padding-bottom: 0 !important;
}

/* line 39, ../sass/screen.scss */
body {
  background: #2d3c51;
  font: 12px/16px 'proxima-nova';
}

/* line 47, ../sass/screen.scss */
.blue-round {
  background-color: #28374c;
  border: 1px solid #26354a;
  padding: 44px 0 10px 3px;
  text-align: center;
  width: 100%;
}
/* line 54, ../sass/screen.scss */
.blue-round.no-videos {
  padding: 44px 0;
}

/* line 61, ../sass/screen.scss */
.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
/* line 66, ../sass/screen.scss */
.multi-item-carousel .carousel-inner .active.left {
  left: -25%;
}
/* line 70, ../sass/screen.scss */
.multi-item-carousel .carousel-inner .active.right {
  left: 25%;
}
/* line 75, ../sass/screen.scss */
.multi-item-carousel .carousel-inner .next {
  left: 25%;
}
/* line 79, ../sass/screen.scss */
.multi-item-carousel .carousel-inner .prev {
  left: -25%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  /* line 83, ../sass/screen.scss */
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none !important;
  }
}
/* line 92, ../sass/screen.scss */
.multi-item-carousel .carouse-control.left, .multi-item-carousel .carouse-control.right {
  background-image: none;
}

/* line 101, ../sass/screen.scss */
#growls div.growl div.growl-title {
  display: none;
}

/* line 110, ../sass/screen.scss */
#sidenav {
  left: -15px;
  margin-top: 30px;
  position: absolute;
  top: 188px;
}
/* line 117, ../sass/screen.scss */
#sidenav div.innernav a {
  border: 0 none;
  color: #cccccc;
  display: block;
  height: 62px;
  font: 20px 'lobster';
  width: 100%;
}
/* line 125, ../sass/screen.scss */
#sidenav div.innernav a span.icon {
  background: url("../../img/v2/sidenav@2x.png") no-repeat;
  background-size: 126px 187px;
  display: inline-block;
  height: 62px;
  margin-right: 9px;
  width: 62px;
  vertical-align: middle;
}
/* line 135, ../sass/screen.scss */
#sidenav div.innernav a:hover {
  text-decoration: underline;
}
/* line 140, ../sass/screen.scss */
#sidenav div.innernav a.upload span.icon {
  background-position: 0 0;
}
/* line 145, ../sass/screen.scss */
#sidenav div.innernav a.upload:hover span.icon {
  background-position: -64px 0;
}
/* line 152, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes span.icon {
  background-position: 0 -62px;
}
/* line 157, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes:hover span.icon {
  background-position: -64px -62px;
}
/* line 164, ../sass/screen.scss */
#sidenav div.innernav a.share span.icon {
  background-position: 0 -124px;
  height: 63px;
}
/* line 170, ../sass/screen.scss */
#sidenav div.innernav a.share:hover span.icon {
  background-position: -64px -124px;
}

/* line 180, ../sass/screen.scss */
#base #header {
  position: relative;
}
/* line 184, ../sass/screen.scss */
#base #header #logo-content #fbz-logo {
  background: url("../../img/v2/bkg-header@2x.png") repeat-x;
  background-size: 1px 76px;
  height: auto;
}
/* line 189, ../sass/screen.scss */
#base #header #logo-content #fbz-logo img {
  background-size: 736px 76px;
}
/* line 194, ../sass/screen.scss */
#base #header #logo-content #tumblr-video-chat {
  background: white;
  height: auto;
}
/* line 198, ../sass/screen.scss */
#base #header #logo-content #tumblr-video-chat img {
  background-size: 736px 93px;
}
/* line 203, ../sass/screen.scss */
#base #header #logo-content #what-is-fbz {
  background: #2d3c51;
  height: auto;
}
/* line 207, ../sass/screen.scss */
#base #header #logo-content #what-is-fbz img {
  background-size: 736px 88px;
}
/* line 213, ../sass/screen.scss */
#base #header #actions {
  background: #3a4a60;
  padding: 11px 0 10px 0;
}
/* line 217, ../sass/screen.scss */
#base #header #actions p.login-info {
  cursor: default;
  font-size: 0.66rem;
  line-height: 11px;
}
/* line 222, ../sass/screen.scss */
#base #header #actions p.login-info span.as {
  color: #8597b1;
  font-size: 10px;
  padding-top: 1px;
  position: relative;
  top: 1px;
}
/* line 230, ../sass/screen.scss */
#base #header #actions p.login-info a.username {
  color: #9ba6b5;
  font-size: 12px;
  position: relative;
  top: 1px;
  font-weight: 600;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}
/* line 240, ../sass/screen.scss */
#base #header #actions p.login-info a.username:hover {
  text-decoration: underline;
}
/* line 245, ../sass/screen.scss */
#base #header #actions p.login-info a,
#base #header #actions p.login-info input {
  color: #8597b1;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}
/* line 253, ../sass/screen.scss */
#base #header #actions p.login-info a {
  padding-left: 8px;
}
/* line 257, ../sass/screen.scss */
#base #header #actions p.login-info input {
  background: none;
  border: none;
  font-size: 10px;
  margin-left: -7px;
}
/* line 264, ../sass/screen.scss */
#base #header #actions p.login-info img.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  height: 16px;
  width: 16px;
}
/* line 275, ../sass/screen.scss */
#base #example {
  position: relative;
  max-height: 180px;
}
/* line 279, ../sass/screen.scss */
#base #example #embed-row {
  height: 180px;
}
/* line 282, ../sass/screen.scss */
#base #example #embed-row .mejs-container {
  background: none;
  height: 180px !important;
}
/* line 289, ../sass/screen.scss */
#base #login-row {
  overflow: hidden;
  min-height: 69px;
  padding-top: 14px;
}
/* line 294, ../sass/screen.scss */
#base #login-row a.btn-login {
  background: url("../../img/v2/btn-login@2x.png") no-repeat;
  background-size: 290px 80px;
  width: 290px;
  margin: 0 auto;
  height: 38px;
}
/* line 301, ../sass/screen.scss */
#base #login-row a.btn-login:hover {
  background-position: 0 -43px;
}
/* line 306, ../sass/screen.scss */
#base #login-row a.btn-start-fbz {
  background: url("../../img/v2/btn-upload@2x.png") no-repeat;
  background-size: 271px 86px;
  display: block;
  height: 43px;
  overflow: hidden;
  margin: 0 auto;
  width: 271px;
}
/* line 315, ../sass/screen.scss */
#base #login-row a.btn-start-fbz:hover {
  background-position: 0 -46px;
}
/* line 321, ../sass/screen.scss */
#base #fbz-on-tumblr {
  min-height: 96px;
  width: 320px;
}
/* line 325, ../sass/screen.scss */
#base #fbz-on-tumblr div.carousel-header {
  min-width: 320px;
  height: 43px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 331, ../sass/screen.scss */
#base #fbz-on-tumblr div.carousel-header img {
  background-size: 736px 70px;
  height: 70px;
  position: absolute;
  left: -210px;
  top: -20px;
}
/* line 340, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel {
  height: 74px;
  width: 300px;
  margin: 0 13px;
}
/* line 345, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel ol.carousel-indicators {
  display: none;
}
/* line 349, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel a.carousel-control {
  background: rgba(238, 238, 238, 0.69);
  cursor: pointer;
  display: block;
  height: 42px;
  top: 43px;
  width: 11px;
}
/* line 357, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel a.carousel-control i {
  font-size: 0.5rem;
  position: absolute;
  top: 18px;
  left: 3px;
  text-shadow: none;
}
/* line 365, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel a.carousel-control.left {
  left: -6px;
}
/* line 369, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel a.carousel-control.right {
  right: 0;
}
/* line 374, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner {
  margin-left: 9px;
  margin-right: 9px;
  height: 42px;
}
/* line 379, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner div.item {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 60px 42px;
  height: 42px;
  margin-right: 9px;
  width: 60px;
}
/* line 387, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner div.item:nth-child(4n) {
  margin-right: 0;
}
/* line 391, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner div.item a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 397, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner div.item a span.bubble {
  background: url("../../img/v2/bubble@2x.png") no-repeat;
  background-size: 50px 50px;
  color: white;
  display: block;
  font-family: 'Lobster';
  position: absolute;
  text-align: center;
  z-index: 10;
  background-size: 23px 23px;
  font-size: 10px;
  height: 23px;
  width: 23px;
  padding: 1px 0 0px;
  left: 33%;
  top: 11px;
}
/* line 415, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.carousel-inner div.item a:hover {
  -webkit-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
}
/* line 426, ../sass/screen.scss */
#base #uploader {
  min-height: 230px;
}
/* line 429, ../sass/screen.scss */
#base #uploader h1 {
  color: white;
  font-size: 32px;
  font-family: 'lobster';
  text-align: center;
  line-height: 43px;
  padding-bottom: 5px;
  padding-top: 24px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 442, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row {
  margin-top: 11px;
}
/* line 445, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #38485f;
  color: white;
  cursor: pointer;
  width: 100%;
}
/* line 452, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn:hover {
  background: #15273c;
}
/* line 458, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input,
#base #uploader #upload-container #upload-video-form textarea {
  font: 13px/16px 'proxima-nova';
  color: #888888;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}
/* line 464, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-webkit-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 471, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 478, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 485, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 492, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.placeholder,
#base #uploader #upload-container #upload-video-form textarea.placeholder {
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 498, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:focus,
#base #uploader #upload-container #upload-video-form textarea:focus {
  border: 1px solid #28374c;
  outline: 0;
}
/* line 503, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error,
#base #uploader #upload-container #upload-video-form textarea.error {
  border: 1px solid red;
}
/* line 506, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 513, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 520, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 527, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error.placeholder,
#base #uploader #upload-container #upload-video-form textarea.error.placeholder {
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 535, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row {
  margin-top: 11px;
}
/* line 538, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row textarea {
  height: 135px;
}
/* line 544, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row input.filepicker {
  display: none;
}
/* line 548, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane div.filepicker {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  border: 17px solid #55677f;
  padding: 0 !important;
  position: relative;
  width: 100%;
  background-color: #55677f;
  left: 0px;
  z-index: 100;
}
/* line 562, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  background-color: #55677f !important;
  border: 3px dashed #7687a3 !important;
  color: white !important;
  float: none !important;
  margin: 0 !important;
  padding: 30px 11px 63px !important;
  text-align: center !important;
  width: 100% !important;
  line-height: 14px !important;
  font-size: 14px !important;
  font-weight: 700;
  min-height: 146px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 580, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div em {
  display: block;
  font-size: 11px !important;
  padding-top: 5px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
/* line 588, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div span {
  position: absolute;
  right: 10px;
  top: 10px;
  float: none !important;
  font-size: 18px !important;
}
/* line 597, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div.error {
  border: 2px dashed red !important;
}
/* line 601, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div > div {
  height: 22px !important;
  margin: 0 3px !important;
}
/* line 606, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #37aef0;
  border: none;
  position: absolute;
  bottom: 22px;
  left: 20%;
  padding: 4px 22px;
  width: 60%;
  z-index: 100;
}
/* line 617, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info:hover {
  background: #007ab8;
}
/* line 623, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.upload-pane {
  margin-top: 11px;
}
/* line 629, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login {
  padding-bottom: 21px;
}
/* line 632, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login a {
  color: #36aeef;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: bold;
}
/* line 641, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.info {
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 649, ../sass/screen.scss */
#base #uploader #upload-container.logged-in {
  padding: 21px 17px 17px;
}
/* line 653, ../sass/screen.scss */
#base #uploader #upload-container.logged-out {
  padding: 35px 23px;
}
/* line 657, ../sass/screen.scss */
#base #uploader #upload-container.logged-out #upload-login p.info {
  font-size: 0.75rem;
  line-height: 16px;
}
/* line 666, ../sass/screen.scss */
#base #post {
  background: #334359;
  min-height: 297px;
  position: relative;
  bottom: 9px;
  padding-top: 24px;
}
/* line 673, ../sass/screen.scss */
#base #post h1 {
  color: #92a2b8;
  font-size: 1.3rem;
  line-height: 20px;
  font-family: 'lobster';
  text-align: left;
  padding-bottom: 16px;
}
/* line 682, ../sass/screen.scss */
#base #post em {
  color: #fffffd;
}
/* line 686, ../sass/screen.scss */
#base #post img {
  border: 2px solid white;
  display: inline-block;
  margin-left: 28px;
  margin-right: 11px;
}
/* line 693, ../sass/screen.scss */
#base #post p.info {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  letter-spacing: -0.03em;
  font-size: 0.8rem;
  line-height: 15px;
}
/* line 705, ../sass/screen.scss */
#base #videos {
  margin-top: 41px;
  margin-bottom: 100px;
}
/* line 710, ../sass/screen.scss */
#base #videos h3 a {
  color: white;
  display: block;
  font: 26px 'lobster';
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 721, ../sass/screen.scss */
#base #videos #no-videos {
  min-height: 112px;
  text-align: center;
  margin-bottom: 56px;
}
/* line 726, ../sass/screen.scss */
#base #videos #no-videos h4 {
  color: #495b75;
  font: 28px/48px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 732, ../sass/screen.scss */
#base #videos #no-videos p {
  color: #677a94;
  font: 19px/40px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 740, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #314056;
  padding: 7px 0 3px;
  width: auto;
  position: absolute;
  right: 19px;
  bottom: 15px;
  margin: 0;
}
/* line 750, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul {
  padding: 0;
  width: 100%;
}
/* line 754, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li {
  display: inline-block;
  padding: 0 2px;
}
/* line 758, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a,
#base #videos div.page-wrapper div.pagination ul li span {
  color: #92a2b8;
  font: 14px/18px 'proxima-nova';
  font-weight: 500;
  float: left;
}
/* line 766, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li.active {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #4583d8;
  padding: 0 6px;
}
/* line 771, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li.active a {
  font-weight: 700;
  color: white;
}
/* line 778, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link i {
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
/* line 784, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.prev i {
  margin-right: 2px;
}
/* line 788, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.next i {
  margin-left: 2px;
}
/* line 792, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.next, #base #videos div.page-wrapper div.pagination ul li a.page-link.prev {
  text-decoration: underline;
}
/* line 808, ../sass/screen.scss */
#base #videos #video-list {
  padding: 22px;
}
/* line 811, ../sass/screen.scss */
#base #videos #video-list .no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 817, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container {
  display: none;
  position: absolute;
  overflow: hidden;
  max-height: 375px;
  z-index: 99999;
  top: 35px;
  margin-right: 15px;
}
/* line 826, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container.loaded {
  display: block;
}
/* line 833, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row input {
  color: #333333;
  border: 0 none;
  font: 700 14px 'proxima-nova';
  padding: 9px 30px 9px 9px;
  position: relative;
  z-index: 10;
  width: 100%;
  left: 0;
}
/* line 844, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row a.btn-delete-video {
  color: #333333;
  font-size: 17px;
  position: relative;
  z-index: 20;
  top: -30px;
  right: 4px;
}
/* line 852, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row a.btn-delete-video:hover {
  color: #1f1f1f;
}
/* line 857, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row textarea {
  color: #525252;
  border: 0 none;
  height: 151px;
  font: 500 11px 'proxima-nova';
  padding: 18px 12px;
  width: 100%;
}
/* line 867, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row {
  height: 48px;
  padding: 0;
}
/* line 871, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row a.btn-cancel-edit {
  background: #757575;
  color: white;
  cursor: pointer;
  display: block;
  font: 13px 'proxima-nova';
  padding: 16px 0;
  text-decoration: underline;
  width: 35%;
}
/* line 881, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row a.btn-cancel-edit:hover {
  background: #666666;
}
/* line 886, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row input.btn-submit {
  background: #36aeef;
  border: 0 none;
  color: white;
  cursor: pointer;
  display: block;
  height: 100%;
  font: 15px 'proxima-nova';
  text-decoration: underline;
  width: 65%;
}
/* line 897, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row input.btn-submit:hover {
  background: #129ae2;
}
/* line 906, ../sass/screen.scss */
#base #videos #video-list div.item div.video {
  position: relative;
  z-index: 1;
}
/* line 910, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10;
}
/* line 918, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.edit-video {
  color: white;
  cursor: pointer;
  font: 500 13px 'proxima-nova';
  text-decoration: underline;
  position: relative;
  right: -10px;
  top: 3px;
  opacity: 0.8;
  z-index: 22;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 930, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.edit-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 936, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video {
  display: block;
  height: 47px;
  margin: 20px auto 0;
  opacity: 0.8;
  position: relative;
  top: 0;
  width: 47px;
  z-index: 11;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 947, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video img {
  height: 47px;
  width: 47px;
}
/* line 952, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 958, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr {
  color: white;
  display: block;
  font: 13.9px 'proxima-nova';
  position: relative;
  left: 20px;
  margin: 6px 0 0;
}
/* line 966, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr img,
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr span {
  display: block;
  position: absolute;
  top: 0;
}
/* line 973, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr span {
  padding: 9px 0;
  text-indent: 49px;
  z-index: 6;
}
/* line 979, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr img {
  position: relative;
  z-index: 5;
  width: 168px;
  height: 35px;
}
/* line 987, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.copy-embed {
  color: #9dc5fd;
  cursor: pointer;
  display: block;
  font: 12.64px 'proxima-nova';
  text-align: center;
  text-decoration: underline;
  width: 100%;
  line-height: 15px;
  padding: 4px 0;
}
/* line 999, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay textarea.embed-code {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  font: 11px/13px 'courier new';
  resize: none;
  word-break: break-all;
  word-wrap: break-word;
  bottom: 0;
  border: 0 none;
  height: 16px;
  padding: 2px;
}
/* line 1015, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header {
  padding-bottom: 5px;
}
/* line 1018, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header strong.title {
  color: white;
  font: 10px 'proxima-nova';
  text-align: left;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}
/* line 1030, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header strong.duration {
  color: #92a2b8;
  font: 11px 'proxima-nova';
  text-align: right;
  font-weight: 500;
}
/* line 1039, ../sass/screen.scss */
#base #videos #video-list div.item div.video:hover div.overlay {
  display: block;
}
/* line 1044, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing {
  cursor: auto;
}
/* line 1047, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message {
  padding: 0 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30px;
}
/* line 1054, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message i {
  color: white;
  display: block;
  margin: 10px auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 1061, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message strong {
  color: white;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  bottom: -41px;
  position: relative;
}
/* line 1071, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message strong.title {
  font-weight: 700;
  font-style: italic;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 45px;
  top: -6px;
}
/* line 1082, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.header {
  padding-bottom: 7px;
}
/* line 1085, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.header strong.title {
  max-width: 211px;
}
/* line 1090, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing img.cover-image {
  max-height: 135px;
}
/* line 1096, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description {
  cursor: pointer;
  position: relative;
  padding: 16px 0;
  width: 211px;
  opacity: 1;
}
/* line 1103, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description.hide {
  opacity: 0;
}
/* line 1107, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description p {
  color: #afbfd4;
  font: 0.6rem 'proxima-nova';
  font-weight: 300;
  line-height: 11px;
  text-align: left;
  max-height: 50px;
  height: 100%;
  opacity: 0;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 1118, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description p.complete, #base #videos #video-list div.item div.video-description p.is-truncated {
  opacity: 1;
}
/* line 1125, ../sass/screen.scss */
#base #videos #video-list div.item.expanded {
  position: relative;
  z-index: 1000;
}
/* line 1129, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.item {
  margin-bottom: 0;
}
/* line 1133, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.video-description {
  background-color: rgba(41, 55, 76, 0.9);
  position: absolute;
  top: 165px;
  width: 211px;
}
/* line 1139, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.video-description p {
  opacity: 1;
  max-height: none;
}
/* line 1146, ../sass/screen.scss */
#base #videos #video-list div.item a.toggle-description {
  margin-left: -3px;
}

/* line 1155, ../sass/screen.scss */
footer {
  color: white;
  font: bold 16px/20px 'proxima-nova';
  padding-bottom: 13px;
}

/* line 1168, ../sass/screen.scss */
body.logged-out.no-carousel #uploader {
  margin-top: 38px;
}
/* line 1173, ../sass/screen.scss */
body.logged-out p.login-info {
  text-align: right;
  cursor: default;
  color: #8597b1;
  font-size: 10px;
}
/* line 1179, ../sass/screen.scss */
body.logged-out p.login-info a {
  padding-left: 5px;
}
/* line 1186, ../sass/screen.scss */
body.logged-in #base #videos {
  margin-bottom: 95px;
}
/* line 1190, ../sass/screen.scss */
body.logged-in #video-list {
  min-height: 521px;
}
/* line 1195, ../sass/screen.scss */
body.logged-in.no-carousel #uploader {
  margin-top: 23px;
}
/* line 1199, ../sass/screen.scss */
body.logged-in.no-carousel #base #videos {
  margin-bottom: 110px;
}
/* line 1205, ../sass/screen.scss */
body.logged-in.no-videos #base #videos {
  margin-bottom: inherit;
}
/* line 1208, ../sass/screen.scss */
body.logged-in.no-videos #base #videos #no-videos {
  margin-bottom: 100px;
}
/* line 1213, ../sass/screen.scss */
body.logged-in.no-videos #video-list {
  min-height: auto;
}
/* line 1218, ../sass/screen.scss */
body.logged-in.no-videos.no-carousel #base #videos #no-videos {
  margin-bottom: 84px;
}

@media (min-width: 768px) {
  /* line 1239, ../sass/screen.scss */
  .blue-round {
    -moz-border-radius: 6px / 6px;
    -webkit-border-radius: 6px 6px;
    border-radius: 6px / 6px;
  }

  /* line 1244, ../sass/screen.scss */
  #base #header {
    min-height: 257px;
  }
  /* line 1247, ../sass/screen.scss */
  #base #header #actions {
    height: 38px;
  }
  /* line 1250, ../sass/screen.scss */
  #base #header #actions p.info {
    font-size: 10px;
  }
  /* line 1254, ../sass/screen.scss */
  #base #header #actions.logged-out {
    padding-top: 10px;
  }
  /* line 1258, ../sass/screen.scss */
  #base #header #actions.logged-in {
    padding-top: 8px;
  }
  /* line 1264, ../sass/screen.scss */
  #base #example {
    min-height: 467px;
  }
  /* line 1267, ../sass/screen.scss */
  #base #example #embed-row {
    height: 428px;
  }
  /* line 1270, ../sass/screen.scss */
  #base #example #embed-row .mejs-container {
    background: #36465D;
    height: 428px !important;
  }
  /* line 1277, ../sass/screen.scss */
  #base #login-row {
    min-height: 98px;
    padding-top: 0;
  }
  /* line 1281, ../sass/screen.scss */
  #base #login-row a.btn-login {
    background-size: 446px 108px;
    height: 50px;
    width: 446px;
  }
  /* line 1286, ../sass/screen.scss */
  #base #login-row a.btn-login:hover {
    background-position: 0 -58px;
  }
  /* line 1291, ../sass/screen.scss */
  #base #login-row a.btn-start-fbz {
    background-size: 339px 106px;
    height: 50px;
    width: 339px;
  }
  /* line 1296, ../sass/screen.scss */
  #base #login-row a.btn-start-fbz:hover {
    background-position: 0 -56px;
  }
  /* line 1302, ../sass/screen.scss */
  #base #fbz-on-tumblr {
    margin-left: -34px;
    margin-right: -34px;
    min-height: 228px;
    width: 806px;
  }
  /* line 1308, ../sass/screen.scss */
  #base #fbz-on-tumblr div.carousel-header {
    margin-bottom: 27px;
  }
  /* line 1311, ../sass/screen.scss */
  #base #fbz-on-tumblr div.carousel-header img {
    background-size: 736px 70px;
    left: 35px;
  }
  /* line 1317, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel {
    margin: 0;
    height: 118px;
    width: 806px;
  }
  /* line 1322, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel a.carousel-control {
    width: 21px;
    height: 81px;
    top: 88px;
  }
  /* line 1327, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel a.carousel-control i {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    top: 37%;
  }
  /* line 1333, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel a.carousel-control.left i {
    left: 2px;
  }
  /* line 1339, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel a.carousel-control.right i {
    right: 2px;
  }
  /* line 1345, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel div.carousel-inner {
    height: 118px;
    margin: 0 auto;
    width: 748px;
  }
  /* line 1350, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel div.carousel-inner div.item {
    background-size: 166px 118px;
    margin-right: 24px;
    height: 118px;
    width: 166px;
  }
  /* line 1357, ../sass/screen.scss */
  #base #fbz-on-tumblr #carousel div.carousel-inner div.item a span.bubble {
    background-size: 50px 50px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: 13px 0 21px;
    left: 36%;
    top: 43px;
  }
  /* line 1372, ../sass/screen.scss */
  #base #uploader {
    min-height: 354px;
  }
  /* line 1375, ../sass/screen.scss */
  #base #uploader h1 {
    padding: 16px 0;
  }
  /* line 1381, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.upload-pane {
    margin-top: 0;
  }
  /* line 1386, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane div.filepicker {
    width: 105%;
    left: -14px;
  }
  /* line 1391, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div {
    font-size: 16px !important;
  }
  /* line 1395, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info {
    width: 47%;
    left: 27%;
  }
  /* line 1406, ../sass/screen.scss */
  #base #uploader #upload-container.logged-out {
    padding: 44px 17px;
  }
  /* line 1410, ../sass/screen.scss */
  #base #uploader #upload-container.logged-out #upload-login p.info {
    font-size: 13px;
    line-height: 18px;
  }
  /* line 1419, ../sass/screen.scss */
  #base #post {
    bottom: 0;
    background: none;
    min-height: 235px;
    padding: 0;
  }
  /* line 1425, ../sass/screen.scss */
  #base #post h1 {
    font-size: 38.04px;
    line-height: 43px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
  }
  /* line 1431, ../sass/screen.scss */
  #base #post p.info {
    font-size: 15px;
    line-height: 30px;
  }
  /* line 1440, ../sass/screen.scss */
  #base #videos #video-list div.row div.video {
    margin-left: 0;
    min-height: 230px;
  }
  /* line 1444, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.item {
    width: 211px;
  }
  /* line 1447, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.item div.header {
    padding-bottom: 8px;
  }
  /* line 1450, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.item div.header strong.title {
    font: 13px 'proxima-nova';
    max-width: 170px;
  }
  /* line 1455, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.item div.header strong.duration {
    font: 14px 'proxima-nova';
  }
  /* line 1462, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.video-description p {
    font: 12.64px 'proxima-nova';
    line-height: 14px;
    font-weight: 500;
  }
  /* line 1470, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message {
    width: 211px;
  }
  /* line 1473, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message strong {
    font-size: 10px;
    line-height: 12px;
  }
  /* line 1477, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message strong.title {
    font-size: 16px;
    margin-bottom: 94px;
    top: 0;
  }
}
