/* line 5, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 14, ../sass/screen.scss */
.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important;
}

@media (min-width: 800px) {
  /* line 24, ../sass/screen.scss */
  .container {
    width: 736px;
  }
}
/* line 29, ../sass/screen.scss */
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  width: 100%;
}

/* line 38, ../sass/screen.scss */
.embed-responsive-4by3 {
  padding-bottom: 0 !important;
}

/* line 42, ../sass/screen.scss */
.remodal-wrapper.mobile {
  width: 590px;
  height: 380px;
}
@media screen and (orientation: portrait) {
  /* line 42, ../sass/screen.scss */
  .remodal-wrapper.mobile {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 590px;
    height: 380px;
    overflow: scroll;
    margin-left: -125px;
    top: 20%;
  }
}
@media screen and (orientation: landscape) {
  /* line 42, ../sass/screen.scss */
  .remodal-wrapper.mobile {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}
/* line 63, ../sass/screen.scss */
.remodal-wrapper.mobile .remodal {
  width: 100%;
  height: 100%;
}

/* line 72, ../sass/screen.scss */
body {
  background: #2d3c51;
  font: 12px/16px 'proxima-nova';
}

/* line 80, ../sass/screen.scss */
.blue-round {
  background-color: #28374c;
  border: 1px solid #26354a;
  padding: 44px 0 10px 3px;
  text-align: center;
  width: 100%;
}
/* line 87, ../sass/screen.scss */
.blue-round.no-videos {
  padding: 44px 0;
}

/* line 94, ../sass/screen.scss */
#growls div.growl div.growl-title {
  display: none;
}

/* line 101, ../sass/screen.scss */
div.pagination {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #314056;
  padding: 7px 0 3px;
  width: auto;
  position: absolute;
  right: 21px;
  bottom: 7px;
  margin: 0;
  height: 33px;
}
/* line 112, ../sass/screen.scss */
div.pagination ul {
  padding: 0;
  width: 100%;
}
/* line 116, ../sass/screen.scss */
div.pagination ul li {
  display: inline-block;
  padding: 0 2px;
}
/* line 120, ../sass/screen.scss */
div.pagination ul li a,
div.pagination ul li span {
  border: 0 none;
  background: none;
  color: #92a2b8;
  display: inline-block;
  font: 14px/18px 'proxima-nova';
  font-weight: 500;
  float: left;
  padding: 0;
  margin-left: 0;
}
/* line 133, ../sass/screen.scss */
div.pagination ul li.active {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #4583d8;
  padding: 0 6px;
}
/* line 138, ../sass/screen.scss */
div.pagination ul li.active a {
  font-weight: 700;
  color: white;
}
/* line 144, ../sass/screen.scss */
div.pagination ul li a.page-link {
  background: none;
}
/* line 147, ../sass/screen.scss */
div.pagination ul li a.page-link i {
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
/* line 153, ../sass/screen.scss */
div.pagination ul li a.page-link.prev i {
  margin-right: 2px;
}
/* line 157, ../sass/screen.scss */
div.pagination ul li a.page-link.next i {
  margin-left: 2px;
}
/* line 161, ../sass/screen.scss */
div.pagination ul li a.page-link.next, div.pagination ul li a.page-link.prev {
  text-decoration: underline;
  min-width: 42px;
}
/* line 167, ../sass/screen.scss */
div.pagination ul li a.page-link:hover {
  color: white;
}
/* line 172, ../sass/screen.scss */
div.pagination ul li span.disabled {
  min-width: 42px;
}

/* line 189, ../sass/screen.scss */
#sidenav {
  left: -15px;
  margin-top: 30px;
  position: absolute;
  top: 188px;
  z-index: 9999;
}
/* line 197, ../sass/screen.scss */
#sidenav div.innernav a {
  border: 0 none;
  color: #cccccc;
  display: block;
  height: 62px;
  font: 20px 'lobster';
  width: 100%;
}
/* line 205, ../sass/screen.scss */
#sidenav div.innernav a span.icon {
  background: url("../../img/v2/sidenav@2x.png") no-repeat;
  background-size: 126px 187px;
  display: inline-block;
  height: 62px;
  margin-right: 9px;
  width: 62px;
  vertical-align: middle;
}
/* line 215, ../sass/screen.scss */
#sidenav div.innernav a:hover {
  text-decoration: underline;
}
/* line 220, ../sass/screen.scss */
#sidenav div.innernav a.upload span.icon {
  background-position: 0 0;
}
/* line 225, ../sass/screen.scss */
#sidenav div.innernav a.upload:hover span.icon {
  background-position: -64px 0;
}
/* line 232, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes span.icon {
  background-position: 0 -62px;
}
/* line 237, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes:hover span.icon {
  background-position: -64px -62px;
}
/* line 244, ../sass/screen.scss */
#sidenav div.innernav a.share span.icon {
  background-position: 0 -124px;
  height: 63px;
}
/* line 250, ../sass/screen.scss */
#sidenav div.innernav a.share:hover span.icon {
  background-position: -64px -124px;
}

/* line 260, ../sass/screen.scss */
#base #header {
  position: relative;
}
/* line 264, ../sass/screen.scss */
#base #header #logo-content #fbz-logo {
  background: url("../../img/v2/header-bkg@2x.png") repeat-x;
  background-size: 1px 76px;
  height: auto;
}
/* line 269, ../sass/screen.scss */
#base #header #logo-content #fbz-logo img {
  background-size: 736px 76px;
  width: 736px;
}
/* line 275, ../sass/screen.scss */
#base #header #logo-content #tumblr-video-chat {
  background: white;
  height: auto;
}
/* line 279, ../sass/screen.scss */
#base #header #logo-content #tumblr-video-chat img {
  background-size: 736px 93px;
  width: 736px;
}
/* line 285, ../sass/screen.scss */
#base #header #logo-content #what-is-fbz {
  background: #2d3c51;
  height: auto;
}
/* line 289, ../sass/screen.scss */
#base #header #logo-content #what-is-fbz img {
  background-size: 736px 88px;
  width: 736px;
}
/* line 296, ../sass/screen.scss */
#base #header #actions {
  background: #3a4a60;
  padding: 11px 0 10px;
}
/* line 300, ../sass/screen.scss */
#base #header #actions p.login-info {
  cursor: default;
  font-size: 0.66rem;
  line-height: 11px;
}
/* line 305, ../sass/screen.scss */
#base #header #actions p.login-info span.as {
  color: #8597b1;
  font-size: 10px;
  padding-top: 1px;
  position: relative;
  top: 1px;
}
/* line 313, ../sass/screen.scss */
#base #header #actions p.login-info a.username {
  color: #9ba6b5;
  font-size: 12px;
  position: relative;
  top: 1px;
  font-weight: 600;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}
/* line 323, ../sass/screen.scss */
#base #header #actions p.login-info a.username:hover {
  text-decoration: underline;
}
/* line 328, ../sass/screen.scss */
#base #header #actions p.login-info a,
#base #header #actions p.login-info input {
  color: #8597b1;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}
/* line 336, ../sass/screen.scss */
#base #header #actions p.login-info a {
  padding-left: 8px;
}
/* line 340, ../sass/screen.scss */
#base #header #actions p.login-info input {
  background: none;
  border: none;
  font-size: 10px;
  margin-left: -7px;
}
/* line 347, ../sass/screen.scss */
#base #header #actions p.login-info img.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  height: 16px;
  width: 16px;
}
/* line 358, ../sass/screen.scss */
#base #example {
  position: relative;
  z-index: 1;
}
/* line 362, ../sass/screen.scss */
#base #example #embed-row {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #37465c;
  border: 15px solid #37465c;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 371, ../sass/screen.scss */
#base #example #embed-row .mejs-container {
  background: #37465c;
}
/* line 377, ../sass/screen.scss */
#base #login-row {
  overflow: hidden;
  min-height: 69px;
  padding-top: 14px;
}
/* line 382, ../sass/screen.scss */
#base #login-row a.btn-login {
  background: url("../../img/v2/btn-login@2x.png") no-repeat;
  background-size: 290px 80px;
  width: 290px;
  margin: 0 auto;
  height: 38px;
}
/* line 389, ../sass/screen.scss */
#base #login-row a.btn-login:hover {
  background-position: 0 -43px;
}
/* line 394, ../sass/screen.scss */
#base #login-row a.btn-start-fbz {
  background: url("../../img/v2/btn-upload@2x.png") no-repeat;
  background-size: 271px 86px;
  display: block;
  height: 43px;
  overflow: hidden;
  margin: 0 auto;
  width: 271px;
}
/* line 403, ../sass/screen.scss */
#base #login-row a.btn-start-fbz:hover {
  background-position: 0 -46px;
}
/* line 409, ../sass/screen.scss */
#base #video-carousel {
  background: white;
}
/* line 413, ../sass/screen.scss */
#base #fbz-on-tumblr {
  max-width: 806px;
}
/* line 416, ../sass/screen.scss */
#base #fbz-on-tumblr h1 {
  height: 45px;
}
/* line 419, ../sass/screen.scss */
#base #fbz-on-tumblr h1 img {
  background-size: 736px 60px;
}
/* line 424, ../sass/screen.scss */
#base #fbz-on-tumblr #featured-videos-carousel {
  height: 74px;
  width: 100%;
  margin: 0px 0px 7px 0px;
}
/* line 430, ../sass/screen.scss */
#base #fbz-on-tumblr #featured-videos-carousel li.item a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 436, ../sass/screen.scss */
#base #fbz-on-tumblr #featured-videos-carousel li.item a img.cover {
  background-repeat: no-repeat;
  background-size: 77px 42px;
  height: 77px;
}
/* line 442, ../sass/screen.scss */
#base #fbz-on-tumblr #featured-videos-carousel li.item a span.bubble {
  background: url("../../img/v2/bubble@2x.png") no-repeat;
  color: white;
  display: block;
  font-family: 'Lobster';
  position: absolute;
  text-align: center;
  z-index: 10;
  background-size: 43px 43px;
  font-size: 21px;
  height: 43px;
  width: 43px;
  padding: 8px 0 0;
  left: 44%;
  top: 25%;
}
/* line 459, ../sass/screen.scss */
#base #fbz-on-tumblr #featured-videos-carousel li.item a:hover {
  -webkit-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
}
/* line 469, ../sass/screen.scss */
#base #uploader {
  min-height: 230px;
}
/* line 472, ../sass/screen.scss */
#base #uploader h1 {
  color: white;
  font-size: 32px;
  font-family: 'lobster';
  text-align: center;
  line-height: 43px;
  padding-bottom: 5px;
  padding-top: 24px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 483, ../sass/screen.scss */
#base #uploader div.container {
  padding-left: 0;
  padding-right: 0;
}
/* line 490, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row {
  margin-top: 11px;
}
/* line 493, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #38485f;
  color: white;
  cursor: pointer;
  width: 100%;
}
/* line 500, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn:hover {
  background: #15273c;
}
/* line 506, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input,
#base #uploader #upload-container #upload-video-form textarea {
  font: 13px/16px 'proxima-nova';
  color: #888888;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}
/* line 512, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-webkit-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 519, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 526, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 533, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 540, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.placeholder,
#base #uploader #upload-container #upload-video-form textarea.placeholder {
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 546, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:focus,
#base #uploader #upload-container #upload-video-form textarea:focus {
  border: 1px solid #28374c;
  outline: 0;
}
/* line 551, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error,
#base #uploader #upload-container #upload-video-form textarea.error {
  border: 1px solid red;
}
/* line 554, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 561, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 568, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 575, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error.placeholder,
#base #uploader #upload-container #upload-video-form textarea.error.placeholder {
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 583, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row {
  margin-top: 11px;
}
/* line 586, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row textarea {
  height: 135px;
}
/* line 592, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row input.filepicker {
  display: none;
}
/* line 596, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane div.filepicker {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  border: 17px solid #55677f;
  padding: 0 !important;
  position: relative;
  width: 100%;
  background-color: #55677f;
  left: 0;
  z-index: 100;
}
/* line 610, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  background-color: #55677f !important;
  border: 3px dashed #7687a3 !important;
  color: white !important;
  float: none !important;
  margin: 0 !important;
  padding: 30px 11px 63px !important;
  text-align: center !important;
  width: 100% !important;
  line-height: 14px !important;
  font-size: 14px !important;
  font-weight: 700;
  min-height: 146px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 628, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div em {
  display: block;
  font-size: 11px !important;
  padding-top: 5px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
/* line 636, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div span {
  position: absolute;
  right: 10px;
  top: 10px;
  float: none !important;
  font-size: 18px !important;
}
/* line 645, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div.error {
  border: 2px dashed red !important;
}
/* line 649, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div > div {
  height: 22px !important;
  margin: 0 3px !important;
}
/* line 654, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #37aef0;
  border: none;
  position: absolute;
  bottom: 22px;
  left: 20%;
  padding: 4px 22px;
  width: 60%;
  z-index: 100;
}
/* line 665, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info:hover {
  background: #007ab8;
}
/* line 671, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.upload-pane {
  margin-top: 11px;
}
/* line 677, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login {
  padding-bottom: 21px;
}
/* line 680, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login a {
  color: #36aeef;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: bold;
}
/* line 689, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.info {
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 697, ../sass/screen.scss */
#base #uploader #upload-container.logged-in {
  padding: 21px 17px 17px;
}
/* line 701, ../sass/screen.scss */
#base #uploader #upload-container.logged-out {
  padding: 35px 23px;
}
/* line 705, ../sass/screen.scss */
#base #uploader #upload-container.logged-out #upload-login p.info {
  font-size: 0.75rem;
  line-height: 16px;
}
/* line 714, ../sass/screen.scss */
#base #post {
  background: #334359;
  min-height: 297px;
  position: relative;
  bottom: 9px;
  padding-top: 24px;
}
/* line 721, ../sass/screen.scss */
#base #post h1 {
  color: #92a2b8;
  font-size: 1.9rem;
  line-height: 29px;
  font-family: 'lobster';
  text-align: left;
  padding-bottom: 16px;
}
/* line 730, ../sass/screen.scss */
#base #post em {
  color: #fffffd;
}
/* line 734, ../sass/screen.scss */
#base #post img {
  border: 2px solid white;
  display: inline-block;
  margin-left: 28px;
  margin-right: 11px;
}
/* line 741, ../sass/screen.scss */
#base #post p.info {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  font-size: 0.9rem;
  line-height: 20px;
}
/* line 752, ../sass/screen.scss */
#base #videos {
  margin-top: 41px;
  margin-bottom: 9px;
}
/* line 757, ../sass/screen.scss */
#base #videos h3 a {
  color: white;
  display: block;
  font: 26px 'lobster';
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 768, ../sass/screen.scss */
#base #videos #no-videos {
  min-height: 112px;
  text-align: center;
  margin-bottom: 9px;
}
/* line 773, ../sass/screen.scss */
#base #videos #no-videos h4 {
  color: #495b75;
  font: 20px/22px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 779, ../sass/screen.scss */
#base #videos #no-videos p {
  color: #677a94;
  font: 19px/30px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 786, ../sass/screen.scss */
#base #videos #video-list {
  padding: 0 22px 22px;
}
/* line 789, ../sass/screen.scss */
#base #videos #video-list .no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 794, ../sass/screen.scss */
#base #videos #video-list div.item {
  padding-top: 22px;
  min-height: 215px;
}
/* line 798, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container {
  display: none;
  position: absolute;
  z-index: 99999;
}
/* line 803, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container.loaded {
  display: block;
}
/* line 809, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row {
  max-height: 100px;
}
/* line 813, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row.title {
  height: 31px;
  overflow: hidden;
}
/* line 818, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row input {
  color: #333333;
  border: 0 none;
  font: 700 0.75rem 'proxima-nova';
  padding: 9px 30px 9px 9px;
  position: relative;
  z-index: 10;
  width: 100%;
  left: 0;
}
/* line 829, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row a.btn-delete-video {
  color: #333333;
  font-size: 17px;
  position: relative;
  z-index: 20;
  top: -29px;
  right: 1px;
}
/* line 837, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row a.btn-delete-video:hover {
  color: #1f1f1f;
}
/* line 842, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.form-row textarea {
  color: #525252;
  border: 0 none;
  height: 151px;
  font: 500 11px 'proxima-nova';
  padding: 18px 12px;
  height: 100px;
  width: 100%;
}
/* line 853, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row {
  height: 36px;
  padding: 0;
}
/* line 857, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row a.btn-cancel-edit {
  background: #757575;
  color: white;
  cursor: pointer;
  display: block;
  font: 13px 'proxima-nova';
  text-decoration: underline;
  padding: 10px 0;
  width: 40%;
}
/* line 867, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row a.btn-cancel-edit:hover {
  background: #666666;
}
/* line 872, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row input.btn-submit {
  background: #36aeef;
  border: 0 none;
  color: white;
  cursor: pointer;
  display: block;
  height: 100%;
  font: 15px 'proxima-nova';
  text-decoration: underline;
  width: 60%;
}
/* line 883, ../sass/screen.scss */
#base #videos #video-list div.item div.edit-container div.edit-video form div.submit-row input.btn-submit:hover {
  background: #129ae2;
}
/* line 892, ../sass/screen.scss */
#base #videos #video-list div.item div.video {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 183px;
}
/* line 898, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  top: 20px;
  width: 100%;
  height: inherit;
  max-height: 183px;
  z-index: 10;
}
/* line 908, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.edit-video {
  color: white;
  cursor: pointer;
  font: 500 13px 'proxima-nova';
  text-decoration: underline;
  position: relative;
  right: -10px;
  top: 3px;
  opacity: 0.8;
  z-index: 22;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 920, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.edit-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 926, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video {
  display: block;
  height: 47px;
  margin: 7px auto 0;
  opacity: 0.8;
  position: relative;
  top: 0;
  width: 47px;
  z-index: 11;
  margin-top: 10%;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 938, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video img {
  height: 47px;
  width: 47px;
}
/* line 943, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.play-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 949, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr {
  color: white;
  display: block;
  font: 13.9px 'proxima-nova';
  position: relative;
  margin: 6px 0 0;
  width: 170px;
}
/* line 957, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr img,
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr span {
  display: block;
  position: absolute;
  top: 0;
}
/* line 964, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr span {
  padding: 9px 0;
  text-indent: 49px;
  z-index: 6;
}
/* line 970, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.post-on-tumblr img {
  position: relative;
  z-index: 5;
  width: 168px;
  height: 35px;
}
/* line 978, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay a.copy-embed {
  color: #9dc5fd;
  cursor: pointer;
  display: block;
  font: 12.64px 'proxima-nova';
  text-align: center;
  text-decoration: underline;
  width: 100%;
  line-height: 15px;
  padding: 5px 0;
}
/* line 990, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.overlay textarea.embed-code {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  font: 11px/13px 'courier new';
  resize: none;
  word-break: break-all;
  word-wrap: break-word;
  bottom: 0;
  border: 0 none;
  height: 16px;
  padding: 2px;
}
/* line 1006, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header {
  height: 20px;
}
/* line 1009, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header strong.title {
  color: white;
  font: 0.85rem 'proxima-nova';
  text-align: left;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}
/* line 1021, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header strong.duration {
  color: #92a2b8;
  font: 0.85rem 'proxima-nova';
  text-align: right;
  font-weight: 500;
}
/* line 1027, ../sass/screen.scss */
#base #videos #video-list div.item div.video div.header strong.duration i {
  font-style: italic;
}
/* line 1034, ../sass/screen.scss */
#base #videos #video-list div.item div.video:hover div.overlay {
  display: block;
}
/* line 1039, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing {
  cursor: auto;
}
/* line 1042, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message {
  padding: 0 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30px;
}
/* line 1049, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message i {
  color: white;
  display: block;
  margin: 10px auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 1056, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message strong {
  color: white;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  bottom: -41px;
  position: relative;
}
/* line 1066, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.process-message strong.title {
  font-weight: 700;
  font-style: italic;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 45px;
  top: -6px;
}
/* line 1077, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.header {
  padding-bottom: 7px;
}
/* line 1080, ../sass/screen.scss */
#base #videos #video-list div.item div.video.processing div.header strong.title {
  max-width: 211px;
}
/* line 1089, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description {
  cursor: pointer;
  position: relative;
  padding: 8px 0;
  width: 100%;
  opacity: 1;
}
/* line 1096, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description.hide {
  opacity: 0;
}
/* line 1100, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description p {
  color: #afbfd4;
  font: 0.6rem 'proxima-nova';
  font-weight: 300;
  line-height: 11px;
  text-align: left;
  max-height: 50px;
  height: 100%;
  opacity: 0;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 1111, ../sass/screen.scss */
#base #videos #video-list div.item div.video-description p.complete, #base #videos #video-list div.item div.video-description p.is-truncated {
  opacity: 1;
}
/* line 1118, ../sass/screen.scss */
#base #videos #video-list div.item.expanded {
  position: relative;
  z-index: 1000;
}
/* line 1122, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.item {
  margin-bottom: 0;
}
/* line 1126, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.video-description {
  background-color: rgba(41, 55, 76, 0.9);
  position: absolute;
  top: 100%;
  width: 100%;
}
/* line 1132, ../sass/screen.scss */
#base #videos #video-list div.item.expanded div.video-description p {
  opacity: 1;
  max-height: none;
}
/* line 1139, ../sass/screen.scss */
#base #videos #video-list div.item a.toggle-description {
  margin-left: -3px;
}
/* line 1145, ../sass/screen.scss */
#base #videos #video-list .pagination-page div.row {
  margin-bottom: 15px;
}

/* line 1153, ../sass/screen.scss */
footer {
  background: #26354A;
  color: white;
  font: bold 16px/20px 'proxima-nova';
  padding: 13px 0;
}

/* line 1166, ../sass/screen.scss */
body.logged-out.no-carousel #uploader {
  margin-top: 38px;
}
/* line 1171, ../sass/screen.scss */
body.logged-out p.login-info {
  text-align: right;
  cursor: default;
  color: #8597b1;
  font-size: 10px;
}
/* line 1177, ../sass/screen.scss */
body.logged-out p.login-info a {
  padding-left: 5px;
}
/* line 1184, ../sass/screen.scss */
body.logged-in #base #videos {
  margin-bottom: 95px;
}
/* line 1189, ../sass/screen.scss */
body.logged-in.no-carousel #uploader {
  margin-top: 23px;
}
/* line 1193, ../sass/screen.scss */
body.logged-in.no-carousel #base #videos {
  margin-bottom: 110px;
}
/* line 1199, ../sass/screen.scss */
body.logged-in.no-videos #base #videos {
  margin-bottom: inherit;
}
/* line 1203, ../sass/screen.scss */
body.logged-in.no-videos #video-list {
  min-height: auto;
}
/* line 1208, ../sass/screen.scss */
body.logged-in.no-videos.no-carousel #base #videos #no-videos {
  margin-bottom: 84px;
}

@media (min-width: 544px) {
  /* line 1222, ../sass/screen.scss */
  #base #fbz-on-tumblr h1 {
    height: 70px;
  }
  /* line 1229, ../sass/screen.scss */
  #base #fbz-on-tumblr #featured-videos-carousel li.item a img.cover {
    height: auto;
  }
  /* line 1233, ../sass/screen.scss */
  #base #fbz-on-tumblr #featured-videos-carousel li.item a span.bubble {
    background-size: 50px 50px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: 13px 0 21px;
    left: 36%;
    top: 26%;
  }
  /* line 1248, ../sass/screen.scss */
  #base #videos #no-videos {
    min-height: 112px;
    text-align: center;
    margin-bottom: 56px;
  }
  /* line 1253, ../sass/screen.scss */
  #base #videos #no-videos h4 {
    color: #495b75;
    font: 28px/48px 'proxima-nova';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  /* line 1259, ../sass/screen.scss */
  #base #videos #no-videos p {
    color: #677a94;
    font: 19px/40px 'proxima-nova';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  /* line 1268, ../sass/screen.scss */
  #base #videos #video-list div.item div.video {
    height: 162px;
  }
  /* line 1272, ../sass/screen.scss */
  #base #videos #video-list div.item div.video div.overlay a.play-video {
    margin-top: 8%;
  }
  /* line 1277, ../sass/screen.scss */
  #base #videos #video-list div.item div.video div.header strong.title {
    font-size: 0.76rem;
  }
  /* line 1281, ../sass/screen.scss */
  #base #videos #video-list div.item div.video div.header strong.duration {
    font: 0.7rem 'proxima-nova';
  }
}
@media (min-width: 768px) {
  /* line 1294, ../sass/screen.scss */
  .blue-round {
    -moz-border-radius: 6px / 6px;
    -webkit-border-radius: 6px 6px;
    border-radius: 6px / 6px;
  }

  /* line 1299, ../sass/screen.scss */
  #base #header {
    min-height: 257px;
  }
  /* line 1302, ../sass/screen.scss */
  #base #header #actions {
    height: 38px;
  }
  /* line 1305, ../sass/screen.scss */
  #base #header #actions p.info {
    font-size: 10px;
  }
  /* line 1309, ../sass/screen.scss */
  #base #header #actions.logged-out {
    padding-top: 10px;
  }
  /* line 1313, ../sass/screen.scss */
  #base #header #actions.logged-in {
    padding-top: 8px;
  }
  /* line 1321, ../sass/screen.scss */
  #base #example #embed-row .mejs-container {
    background: #36465D;
  }
  /* line 1327, ../sass/screen.scss */
  #base #login-row {
    min-height: 98px;
    padding-top: 0;
    margin-top: 38px;
  }
  /* line 1332, ../sass/screen.scss */
  #base #login-row a.btn-login {
    background-size: 446px 108px;
    height: 50px;
    width: 446px;
  }
  /* line 1337, ../sass/screen.scss */
  #base #login-row a.btn-login:hover {
    background-position: 0 -58px;
  }
  /* line 1342, ../sass/screen.scss */
  #base #login-row a.btn-start-fbz {
    background-size: 339px 106px;
    height: 50px;
    width: 339px;
  }
  /* line 1347, ../sass/screen.scss */
  #base #login-row a.btn-start-fbz:hover {
    background-position: 0 -56px;
  }
  /* line 1353, ../sass/screen.scss */
  #base #fbz-on-tumblr {
    width: 806px;
  }
  /* line 1356, ../sass/screen.scss */
  #base #fbz-on-tumblr h1 {
    height: 80px;
  }
  /* line 1360, ../sass/screen.scss */
  #base #fbz-on-tumblr #featured-videos-carousel {
    margin: 0;
    height: 118px !important;
    width: 806px;
  }
  /* line 1367, ../sass/screen.scss */
  #base #fbz-on-tumblr #featured-videos-carousel li.item a span.bubble {
    top: 32%;
  }
  /* line 1374, ../sass/screen.scss */
  #base #fbz-on-tumblr .lSAction > a {
    top: 47%;
  }
  /* line 1379, ../sass/screen.scss */
  #base #uploader {
    min-height: 354px;
  }
  /* line 1382, ../sass/screen.scss */
  #base #uploader h1 {
    padding: 16px 0;
  }
  /* line 1388, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.upload-pane {
    margin-top: 0;
  }
  /* line 1393, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane div.filepicker {
    width: 105%;
    left: -14px;
  }
  /* line 1398, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div {
    font-size: 16px !important;
  }
  /* line 1402, ../sass/screen.scss */
  #base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info {
    width: 47%;
    left: 27%;
  }
  /* line 1411, ../sass/screen.scss */
  #base #uploader #upload-container.logged-out {
    padding: 44px 17px;
  }
  /* line 1415, ../sass/screen.scss */
  #base #uploader #upload-container.logged-out #upload-login p.info {
    font-size: 13px;
    line-height: 18px;
  }
  /* line 1424, ../sass/screen.scss */
  #base #post {
    bottom: 0;
    background: none;
    min-height: 235px;
    padding: 0;
  }
  /* line 1430, ../sass/screen.scss */
  #base #post h1 {
    font-size: 38.04px;
    line-height: 43px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
  }
  /* line 1436, ../sass/screen.scss */
  #base #post p.info {
    font-size: 15px;
    line-height: 30px;
  }
  /* line 1445, ../sass/screen.scss */
  #base #videos #video-list div.row div.video {
    height: 140px;
  }
  /* line 1449, ../sass/screen.scss */
  #base #videos #video-list div.row div.video div.video-description p {
    font: 12.64px 'proxima-nova';
    line-height: 14px;
    font-weight: 500;
  }
  /* line 1457, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message {
    width: 211px;
  }
  /* line 1460, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message strong {
    font-size: 10px;
    line-height: 12px;
  }
  /* line 1464, ../sass/screen.scss */
  #base #videos #video-list div.row div.video.processing div.process-message strong.title {
    font-size: 16px;
    margin-bottom: 94px;
    top: 0;
  }
  /* line 1475, ../sass/screen.scss */
  #base #videos #video-list div.item {
    max-height: 210px;
  }
  /* line 1479, ../sass/screen.scss */
  #base #videos #video-list div.item div.video div.overlay {
    height: inherit;
    max-height: 118px;
  }
  /* line 1483, ../sass/screen.scss */
  #base #videos #video-list div.item div.video div.overlay a.play-video {
    margin-top: 4%;
  }
  /* line 1491, ../sass/screen.scss */
  #base #videos #video-list div.item div.edit-controller div.edit-video form div.submit-row {
    height: 48px;
  }
  /* line 1494, ../sass/screen.scss */
  #base #videos #video-list div.item div.edit-controller div.edit-video form div.submit-row input.btn-submit {
    width: 65%;
  }
  /* line 1498, ../sass/screen.scss */
  #base #videos #video-list div.item div.edit-controller div.edit-video form div.submit-row a.btn-cancel-edit {
    padding: 16px 0;
    width: 35%;
  }
}
