/* line 5, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 14, ../sass/screen.scss */
.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important;
}

@media (min-width: 800px) {
  /* line 24, ../sass/screen.scss */
  .container {
    width: 736px;
  }
}
/* line 32, ../sass/screen.scss */
body {
  font: 12px/16px 'proxima-nova';
}

/* line 39, ../sass/screen.scss */
.blue-round {
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
  background-color: #28374c;
  border: 1px solid #26354a;
  padding: 44px 0 10px 3px;
  text-align: center;
  width: 100%;
}
/* line 47, ../sass/screen.scss */
.blue-round.no-videos {
  padding: 44px 0;
}

/* line 54, ../sass/screen.scss */
#growls div.growl div.growl-title {
  display: none;
}

/* line 62, ../sass/screen.scss */
#sidenav {
  left: -15px;
  margin-top: 30px;
  position: absolute;
  top: 188px;
}
/* line 69, ../sass/screen.scss */
#sidenav div.innernav a {
  border: 0 none;
  color: white;
  display: block;
  height: 62px;
  font: 20px 'lobster';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}
/* line 78, ../sass/screen.scss */
#sidenav div.innernav a span.icon {
  background: url("../../img/v2/sidenav@2x.png") no-repeat;
  background-size: 126px 187px;
  display: inline-block;
  height: 62px;
  margin-right: 9px;
  width: 62px;
  vertical-align: middle;
}
/* line 88, ../sass/screen.scss */
#sidenav div.innernav a:hover {
  text-decoration: underline;
}
/* line 93, ../sass/screen.scss */
#sidenav div.innernav a.upload span.icon {
  background-position: 0 0;
}
/* line 98, ../sass/screen.scss */
#sidenav div.innernav a.upload:hover span.icon {
  background-position: -64px 0;
}
/* line 105, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes span.icon {
  background-position: 0 -62px;
}
/* line 110, ../sass/screen.scss */
#sidenav div.innernav a.framebuzzes:hover span.icon {
  background-position: -64px -62px;
}
/* line 116, ../sass/screen.scss */
#sidenav div.innernav a.share {
  color: #67788f;
}
/* line 119, ../sass/screen.scss */
#sidenav div.innernav a.share span.icon {
  background-position: 0 -124px;
  height: 63px;
}
/* line 125, ../sass/screen.scss */
#sidenav div.innernav a.share:hover span.icon {
  background-position: -64px -124px;
}

/* line 135, ../sass/screen.scss */
#base #header {
  min-height: 257px;
  position: relative;
}
/* line 139, ../sass/screen.scss */
#base #header img.header {
  margin: 0 auto;
}
/* line 143, ../sass/screen.scss */
#base #header #actions {
  height: 38px;
}
/* line 146, ../sass/screen.scss */
#base #header #actions.logged-out {
  padding-top: 10px;
}
/* line 150, ../sass/screen.scss */
#base #header #actions.logged-in {
  padding-top: 8px;
}
/* line 154, ../sass/screen.scss */
#base #header #actions p.login-info {
  cursor: default;
}
/* line 157, ../sass/screen.scss */
#base #header #actions p.login-info span.as {
  color: #8597b1;
  font-size: 10px;
  padding-top: 1px;
  position: relative;
  top: 1px;
}
/* line 165, ../sass/screen.scss */
#base #header #actions p.login-info a.username {
  color: #9ba6b5;
  font-size: 12px;
  position: relative;
  top: 1px;
  font-weight: 600;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}
/* line 175, ../sass/screen.scss */
#base #header #actions p.login-info a.username:hover {
  text-decoration: underline;
}
/* line 180, ../sass/screen.scss */
#base #header #actions p.login-info a,
#base #header #actions p.login-info input {
  color: #8597b1;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}
/* line 188, ../sass/screen.scss */
#base #header #actions p.login-info a {
  padding-left: 8px;
}
/* line 192, ../sass/screen.scss */
#base #header #actions p.login-info input {
  background: none;
  border: none;
  font-size: 10px;
  margin-left: -7px;
}
/* line 199, ../sass/screen.scss */
#base #header #actions p.login-info img.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  height: 16px;
  width: 16px;
}
/* line 210, ../sass/screen.scss */
#base #example {
  min-height: 467px;
  position: relative;
}
/* line 214, ../sass/screen.scss */
#base #example #embed-row {
  position: absolute;
  top: 4px;
  width: 736px;
  height: 428px;
}
/* line 222, ../sass/screen.scss */
#base #login-row {
  min-height: 98px;
}
/* line 225, ../sass/screen.scss */
#base #login-row a.btn-login {
  background: url("../../img/v2/btn-login@2x.png") no-repeat;
  background-size: 446px 108px;
  display: block;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  width: 446px;
}
/* line 234, ../sass/screen.scss */
#base #login-row a.btn-login:hover {
  background-position: 0 -58px;
}
/* line 239, ../sass/screen.scss */
#base #login-row a.btn-start-fbz {
  background: url("../../img/v2/btn-upload@2x.png") no-repeat;
  background-size: 339px 106px;
  display: block;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  width: 339px;
}
/* line 248, ../sass/screen.scss */
#base #login-row a.btn-start-fbz:hover {
  background-position: 0 -56px;
}
/* line 254, ../sass/screen.scss */
#base #fbz-on-tumblr {
  margin-bottom: 37px;
  margin-left: -34px;
  margin-right: -34px;
  min-height: 223px;
}
/* line 261, ../sass/screen.scss */
#base #fbz-on-tumblr div.carousel-header img {
  margin: 0 auto;
}
/* line 266, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel {
  height: 118px;
  width: 804px;
  overflow: hidden;
  position: relative;
  top: -7px;
}
/* line 273, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper {
  height: 100%;
  max-width: 798px !important;
}
/* line 277, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-viewport {
  -webkit-moz-box-shadow: none;
  -moz-moz-box-shadow: none;
  -ms-moz-box-shadow: none;
  -o-moz-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  height: 100%;
  width: 736px !important;
  left: 18px;
  margin: 0 12px;
}
/* line 290, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-next,
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-prev {
  background: url("../../img/v2/controls@2x.png") no-repeat;
  background-size: 47px 81px;
  cursor: pointer;
  display: block;
  height: 81px;
  position: absolute;
  top: 34px;
  width: 21px;
}
/* line 301, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-next.bx-prev,
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-prev.bx-prev {
  background-position: 0 0;
  float: left;
  left: -2px;
}
/* line 307, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-next.bx-next,
#base #fbz-on-tumblr #carousel div.bx-wrapper div.bx-controls-direction a.bx-prev.bx-next {
  background-position: -25px 0;
  float: right;
  right: 5px;
}
/* line 315, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul {
  display: block;
  height: 118px;
}
/* line 319, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li {
  display: inline-block;
  height: 118px;
  background-repeat: no-repeat;
  background-size: 166px 118px;
  width: 166px;
}
/* line 326, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li a {
  -webkit-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  box-shadow: inset 4px 4px 18px 18px rgba(255, 255, 255, 0.1);
  display: block;
  position: relative;
  height: 118px;
  width: 166px;
}
/* line 335, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li a img {
  position: absolute;
  z-index: 1;
}
/* line 340, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li a span.bubble {
  background: url("../../img/v2/bubble@2x.png") no-repeat;
  background-size: 50px 50px;
  color: white;
  display: block;
  font-family: 'Lobster';
  font-size: 25px;
  height: 50px;
  width: 50px;
  padding: 13px 0 21px;
  position: absolute;
  left: 36%;
  top: 43px;
  text-align: center;
  z-index: 10;
}
/* line 357, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li a:hover {
  -webkit-box-shadow: inset 4px 4px 18px 18px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 4px 4px 18px 18px rgba(0, 0, 0, 0.18);
  box-shadow: inset 4px 4px 18px 18px rgba(0, 0, 0, 0.18);
}
/* line 364, ../sass/screen.scss */
#base #fbz-on-tumblr #carousel div.bx-wrapper ul li:nth-child(4n) {
  margin-right: 0;
}
/* line 373, ../sass/screen.scss */
#base #uploader {
  min-height: 324px;
}
/* line 376, ../sass/screen.scss */
#base #uploader h1 {
  color: white;
  font-size: 32px;
  font-family: 'lobster';
  text-align: center;
  line-height: 43px;
  padding-bottom: 16px;
  margin-left: -2px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 388, ../sass/screen.scss */
#base #uploader #upload-container.logged-in {
  padding: 21px 17px 17px;
}
/* line 392, ../sass/screen.scss */
#base #uploader #upload-container.logged-out {
  padding: 44px 17px;
}
/* line 397, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row {
  margin-top: 11px;
}
/* line 400, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #38485f;
  color: white;
  cursor: pointer;
  width: 100%;
}
/* line 407, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.submit-row input.btn:hover {
  background: #15273c;
}
/* line 413, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input,
#base #uploader #upload-container #upload-video-form textarea {
  font: 13px/16px 'proxima-nova';
  color: #888888;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}
/* line 419, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-webkit-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 426, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 433, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 440, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 447, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.placeholder,
#base #uploader #upload-container #upload-video-form textarea.placeholder {
  color: #28374c;
  font-weight: 300;
  font-style: italic;
}
/* line 453, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input:focus,
#base #uploader #upload-container #upload-video-form textarea:focus {
  border: 1px solid #28374c;
  outline: 0;
}
/* line 458, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error,
#base #uploader #upload-container #upload-video-form textarea.error {
  border: 1px solid red;
}
/* line 461, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 468, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error::-moz-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 475, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error:-ms-input-placeholder,
#base #uploader #upload-container #upload-video-form textarea.error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 482, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form input.error.placeholder,
#base #uploader #upload-container #upload-video-form textarea.error.placeholder {
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 490, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row {
  margin-top: 11px;
}
/* line 493, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.textarea-row textarea {
  height: 135px;
}
/* line 499, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row input.filepicker {
  display: none;
}
/* line 503, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane div.filepicker {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  border: 17px solid #55677f;
  padding: 0 !important;
  position: relative;
  width: 105%;
  background-color: #55677f;
  left: -14px;
  z-index: 100;
}
/* line 517, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div {
  -moz-border-radius: 4px / 4px !important;
  -webkit-border-radius: 4px 4px !important;
  border-radius: 4px / 4px !important;
  background-color: #55677f !important;
  border: 3px dashed #7687a3 !important;
  color: white !important;
  float: none !important;
  margin: 0 !important;
  padding: 30px 11px 63px !important;
  text-align: center !important;
  width: 100% !important;
  line-height: 14px !important;
  font-size: 16px !important;
  font-weight: 700;
  min-height: 146px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 535, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div em {
  display: block;
  font-size: 11px !important;
  padding-top: 5px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
/* line 543, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div span {
  position: absolute;
  right: 10px;
  top: 10px;
  float: none !important;
  font-size: 18px !important;
}
/* line 552, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div.error {
  border: 2px dashed red !important;
}
/* line 556, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > div > div {
  height: 22px !important;
  margin: 0 3px !important;
}
/* line 561, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background: #37aef0;
  border: none;
  position: absolute;
  bottom: 22px;
  left: 28%;
  padding: 4px 22px;
  z-index: 100;
}
/* line 571, ../sass/screen.scss */
#base #uploader #upload-container #upload-video-form div.drop-pane-row #upload-drop-pane > div > button.btn-info:hover {
  background: #007ab8;
}
/* line 579, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login {
  padding-bottom: 21px;
}
/* line 582, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.login a {
  color: #36aeef;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: bold;
}
/* line 591, ../sass/screen.scss */
#base #uploader #upload-container #upload-login p.info {
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 601, ../sass/screen.scss */
#base #post {
  min-height: 235px;
  position: relative;
  bottom: 0;
}
/* line 606, ../sass/screen.scss */
#base #post h1 {
  color: #92a2b8;
  font-size: 38.04px;
  font-family: 'lobster';
  text-align: left;
  line-height: 43px;
  padding-bottom: 16px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 616, ../sass/screen.scss */
#base #post em {
  color: #fffffd;
}
/* line 620, ../sass/screen.scss */
#base #post img {
  border: 2px solid white;
  display: inline-block;
  margin-left: 28px;
  margin-right: 11px;
}
/* line 627, ../sass/screen.scss */
#base #post p.info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 30px;
  padding-top: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  letter-spacing: -0.03em;
}
/* line 639, ../sass/screen.scss */
#base #videos {
  margin-top: 41px;
  margin-bottom: 100px;
}
/* line 644, ../sass/screen.scss */
#base #videos h3 a {
  color: white;
  display: block;
  font: 26px 'lobster';
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 655, ../sass/screen.scss */
#base #videos #no-videos {
  min-height: 112px;
  text-align: center;
  margin-bottom: 56px;
}
/* line 660, ../sass/screen.scss */
#base #videos #no-videos h4 {
  color: #495b75;
  font: 28px/48px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 666, ../sass/screen.scss */
#base #videos #no-videos p {
  color: #677a94;
  font: 19px/40px 'proxima-nova';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 674, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #314056;
  padding: 7px 0 3px;
  width: auto;
  position: absolute;
  right: 19px;
  bottom: 15px;
  margin: 0;
}
/* line 684, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul {
  padding: 0;
  width: 100%;
}
/* line 688, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li {
  display: inline-block;
  padding: 0 2px;
}
/* line 692, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a,
#base #videos div.page-wrapper div.pagination ul li span {
  color: #92a2b8;
  font: 14px/18px 'proxima-nova';
  font-weight: 500;
  float: left;
}
/* line 700, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li.active {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #4583d8;
  padding: 0 6px;
}
/* line 705, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li.active a {
  font-weight: 700;
  color: white;
}
/* line 712, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link i {
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
/* line 718, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.prev i {
  margin-right: 2px;
}
/* line 722, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.next i {
  margin-left: 2px;
}
/* line 726, ../sass/screen.scss */
#base #videos div.page-wrapper div.pagination ul li a.page-link.next, #base #videos div.page-wrapper div.pagination ul li a.page-link.prev {
  text-decoration: underline;
}
/* line 743, ../sass/screen.scss */
#base #videos #video-list .no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 748, ../sass/screen.scss */
#base #videos #video-list div.row {
  padding: 0 20px;
}
/* line 751, ../sass/screen.scss */
#base #videos #video-list div.row div.video {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
/* line 756, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  height: 140px;
  width: 211px;
  position: absolute;
  top: 25px;
  z-index: 10;
}
/* line 765, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.edit-video {
  color: white;
  cursor: pointer;
  font: 500 13px 'proxima-nova';
  text-decoration: underline;
  position: relative;
  right: 11px;
  top: 11px;
  opacity: 0.8;
  z-index: 22;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 777, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.edit-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 783, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.play-video {
  display: block;
  height: 47px;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  top: 18px;
  width: 47px;
  z-index: 11;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 794, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.play-video img {
  height: 47px;
  width: 47px;
}
/* line 799, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.play-video:hover {
  opacity: 1;
  -moz-transition: opacity, 20ms, ease-in-out 1s;
  -o-transition: opacity, 20ms, ease-in-out 1s;
  -webkit-transition: opacity, 20ms, ease-in-out 1s;
  transition: opacity 20ms ease-in-out 1s;
}
/* line 805, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.post-on-tumblr {
  color: white;
  display: block;
  font: 13.9px 'proxima-nova';
  position: relative;
  left: 20px;
  margin: 24px 0 0 0;
}
/* line 813, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.post-on-tumblr img,
#base #videos #video-list div.row div.video div.overlay a.post-on-tumblr span {
  display: block;
  position: absolute;
  top: 0;
}
/* line 820, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.post-on-tumblr span {
  padding: 9px 0;
  text-indent: 49px;
  z-index: 6;
}
/* line 826, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.post-on-tumblr img {
  position: relative;
  z-index: 5;
  width: 168px;
  height: 35px;
}
/* line 834, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay a.copy-embed {
  color: #9dc5fd;
  display: block;
  font: 12.64px 'proxima-nova';
  text-align: center;
  text-decoration: underline;
  width: 100%;
  padding-top: 15px;
  line-height: 13px;
}
/* line 845, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.overlay textarea.embed-code {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  font: 11px/13px 'courier new';
  resize: none;
  word-break: break-all;
  word-wrap: break-word;
  bottom: 0;
  border: 0 none;
  height: 16px;
  padding: 2px;
}
/* line 861, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.header {
  padding-bottom: 8px;
}
/* line 864, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.header strong.title {
  color: white;
  font: 13px 'proxima-nova';
  text-align: left;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}
/* line 876, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.header strong.duration {
  color: #92a2b8;
  font: 14px 'proxima-nova';
  text-align: right;
  font-weight: 500;
}
/* line 884, ../sass/screen.scss */
#base #videos #video-list div.row div.video div.cover {
  background-repeat: no-repeat;
  background-size: 211px 140px;
  width: 211px;
  height: 140px;
}
/* line 891, ../sass/screen.scss */
#base #videos #video-list div.row div.video p.description {
  color: #afbfd4;
  display: block;
  font: 12.64px 'proxima-nova';
  font-weight: 500;
  padding-top: 2px;
  text-align: left;
  max-height: 50px;
  margin-bottom: 32px;
  overflow: hidden;
  height: 100%;
}
/* line 904, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing {
  cursor: auto;
}
/* line 907, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing div.process-message {
  padding: 0 12px;
  position: absolute;
  text-align: center;
  width: 211px;
  top: 30px;
}
/* line 914, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing div.process-message i {
  color: white;
  display: block;
  margin: 10px auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 921, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing div.process-message strong {
  color: white;
  font-size: 10px;
  line-height: 12px;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-style: normal;
}
/* line 929, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing div.process-message strong.title {
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 94px;
}
/* line 940, ../sass/screen.scss */
#base #videos #video-list div.row div.video.processing div.header strong.title {
  max-width: 211px;
}
/* line 947, ../sass/screen.scss */
#base #videos #video-list div.row div.video:hover div.overlay {
  display: block;
}

/* line 957, ../sass/screen.scss */
footer {
  color: white;
  font: bold 16px/20px 'proxima-nova';
  padding-bottom: 13px;
}

/* line 967, ../sass/screen.scss */
body.logged-out {
  background: #2a394e url("../../img/v2/bkg-loggedout.png") repeat-x;
}
/* line 970, ../sass/screen.scss */
body.logged-out.no-carousel {
  background: #2a394e url("../../img/v2/bkg-loggedout-nocarousel.png") repeat-x;
}
/* line 973, ../sass/screen.scss */
body.logged-out.no-carousel #uploader {
  margin-top: 38px;
}
/* line 978, ../sass/screen.scss */
body.logged-out p.login-info {
  text-align: right;
  cursor: default;
  color: #8597b1;
  font-size: 10px;
}
/* line 984, ../sass/screen.scss */
body.logged-out p.login-info a {
  padding-left: 5px;
}
/* line 990, ../sass/screen.scss */
body.logged-in {
  background: #2a394e url("../../img/v2/bkg-loggedin.png") repeat-x;
}
/* line 993, ../sass/screen.scss */
body.logged-in #base #videos {
  margin-bottom: 95px;
}
/* line 997, ../sass/screen.scss */
body.logged-in #video-list {
  min-height: 521px;
}
/* line 1001, ../sass/screen.scss */
body.logged-in.no-carousel {
  background: #2a394e url("../../img/v2/bkg-loggedin-nocarousel.png") repeat-x;
}
/* line 1004, ../sass/screen.scss */
body.logged-in.no-carousel #uploader {
  margin-top: 23px;
}
/* line 1008, ../sass/screen.scss */
body.logged-in.no-carousel #base #videos {
  margin-bottom: 110px;
}
/* line 1013, ../sass/screen.scss */
body.logged-in.no-videos {
  background: #2a394e url("../../img/v2/bkg-novideos.png") repeat-x;
}
/* line 1016, ../sass/screen.scss */
body.logged-in.no-videos #base #videos {
  margin-bottom: inherit;
}
/* line 1019, ../sass/screen.scss */
body.logged-in.no-videos #base #videos #no-videos {
  margin-bottom: 100px;
}
/* line 1024, ../sass/screen.scss */
body.logged-in.no-videos #video-list {
  min-height: auto;
}
/* line 1028, ../sass/screen.scss */
body.logged-in.no-videos.no-carousel {
  background: #2a394e url("../../img/v2/bkg-novideos-nocarousel.png") repeat-x;
}
/* line 1031, ../sass/screen.scss */
body.logged-in.no-videos.no-carousel #base #videos #no-videos {
  margin-bottom: 84px;
}
