@import "compass/css3/border-radius";
@import "compass/css3/transition";


h1 {
    color: white;
    font-family: 'lobster';
    font-size: 70px;
    text-align: center;
}

h2 {
    color: #333333;
    font-size: 60px;
    font-family: 'lobster';
    text-align: center;
}

h3 {
    font-size: 36px;
    font-family: 'lobster';
    color: #ff2c00;
}

#base {
    div.row {
        background: white;
    }
}
