@import "compass/css3/border-radius";

#main {
    overflow: hidden;

    .full-wrap {
        margin-left: -17px;

        .full-wrap-inner {
            padding: 0;
        }
    }

    #fbz-header {
        div.full-wrap-inner {
            position: relative;
            
            div.info {
                position: absolute;
                top: 0;
                padding: 43px 18px;

                h1 {
                    background-color: rgba(255, 255, 255, .90);
                    color: #f200bc;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 26px;
                    margin: 0 0 18px 0;
                    padding: 0 18px;
                    line-height: 44px;

                    strong { font-weight: 700; }
                }

                div.bubble {
                    div.bubble-inner {
                        @include border-radius(3px, 3px);
                        background-color: rgba(255, 255, 255, .90);
                        padding: 18px;
                        position: relative;

                        div { padding: 0; }

                        p {
                            color: #282828;
                            font-style: italic;
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 22px;

                            &:last-child { margin-bottom: 0; }
                        }
                    }

                    div.pull-right {
                        padding: 0;
                        position: relative;

                        img.img-responsive {
                            max-height: 99px;
                            float: right;
                        }

                        a.btn-signup {
                            border: 2px solid #FFFFFF;
                            height: 44px;
                            left: 20%;
                            width: 46%;
                        }
                    }

                    div.corner {
                        position: relative;
                        left: 15%;
                        position: relative;
                        top: -3px;

                        i {
                            color: rgba(255, 255, 255, .90);
                        }
                    }
                }
            }
        }
    }

    #fbz-features {
        margin-top: -1px;

        div.full-wrap-inner {
            background: #000000;

            h2 {
                color: #666666;
                margin: 0;
                padding: 15px 0 0 32px;
                font-style: italic;
                font-size: 23px;
                line-height: 15px;
            }

            ul {
                list-style: none inside none;
                padding: 0 0 0 10px;

                li {
                    color: white;
                    font-size: 20px;
                    font-style: italic;
                    line-height: 32px;

                    &.blue { color: #00adf2; }

                    &.signup {
                        margin-top: 32px;
                        font-style: normal;

                        i.fa-play { color: #f200bc; }

                        i.fa-circle {
                            color: rgba(255, 255, 255, 0.6);
                        }
                    }

                    i {
                        color: white;
                        font-style: normal;
                    }
                }
            }
        }
    }

    #how-to-fbz {
        background: #000000;
        max-height: 322px;
        overflow: hidden;
        position: relative;
        top: -6px;

        div.slider, div.pull-right {
            background: #000000;
        }

        div.slider {
           
            h2 {
                background: #01b3f6;
                color: white;
                margin: 0;
                font-size: 19px;
                font-style: italic;
                font-weight: 700;
                line-height: 44px;
                padding: 0 18px;
            }

            .bx-wrapper {
                margin: 0;

                .bx-viewport {
                    background: black;
                    border: none;
                    box-shadow: none;
                    left: 0;
            
                    ul {
                        padding: 0;
                        margin: 0;

                        li {
                            position: relative;

                            img.img-responsive {
                                width: 100%;
                            }

                            div.slide-inner {
                                position: absolute;
                                top: 0;
                                z-index: 5;

                                h4 {
                                    line-height: 36px;
                                    margin-top: 22px;
                                    margin-bottom: 7px;
                                    padding: 0;

                                    i.fa-icon {
                                        color: white;
                                        padding-left: 18px;
                                        padding-right: 9px;
                                        font-size: 20px;
                                        width: 45px;
                                    }

                                    span {
                                        background: white;
                                        color: black;
                                        display: inline-block;
                                        height: 100%;
                                        font-style: italic;
                                        padding: 0 13px;
                                        font-size: 17px;
                                    }
                                }

                                p {
                                    color: #cccccc;
                                    font-size: 16px;
                                    font-weight: 300;
                                    font-style: italic;
                                    line-height: 16px;

                                    strong {
                                        font-weight: 700;
                                    }
                                }

                                div.person {
                                    background-color: rgba(0, 0, 0, 0.75);
                                    margin: 0 0 10px 0;
                                    width: 101%;

                                    &.person-1 {
                                        border-left: 7px solid #f26c00;
                                    }

                                    &.person-2 {
                                        border-left: 7px solid #01b3f6;
                                        margin-bottom: 0;
                                    }

                                    p {
                                        margin: 16px 0 16px 47px;
                                    }

                                    div.avatar {
                                        padding-top: 4px;
                                        padding-bottom: 4px;
                                    }
                                }

                                div.discover {
                                    div.discover-inner {
                                        padding: 0;
                                        position: relative;

                                        p {
                                            background-color: rgba(0, 0, 0, 0.75);
                                            padding: 10px 17px;
                                            margin: 0 0 32px 0;
                                        }

                                        span.corner {
                                            position: absolute;
                                            display: block;
                                            width: 0;
                                            height: 44px;
                                            line-height: 0;
                                            display: block;
                                            right: 0;
                                            line-height: 0;
                                            position: absolute;
                                            top: -23px;
                                            width: 0;
                                            -webkit-transform: rotate(45deg); 
                                            -moz-transform: rotate(45deg);
                                            -o-transform: rotate(45deg);  
                                            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
                                        }
                                    }

                                    &.discover-1 {
                                        div.discover-inner {
                                            margin-left: 14.5%;

                                            span.corner {
                                                border: solid 22px #dd0986;
                                                border-color: transparent transparent #dd0986;
                                                right: -22px;
                                            }
                                        }
                                    }

                                    &.discover-2 {
                                        div.discover-inner {
                                            margin-left: 22%;

                                            p {
                                                margin-bottom: 0;
                                            }

                                            span.corner {
                                                border: solid 22px #01b3f6;
                                                border-color: transparent transparent #01b3f6;
                                                right: -3px;
                                            }
                                        }
                                    }
                                }

                                div.influence {
                                    background-color: rgba(0, 0, 0, 0.75);
                                    padding: 10px 17px;
                                    margin: 0 0 8px 0;

                                    &.influence-1 {

                                    }

                                    div.influence-inner {
                                        p { 
                                            margin: 0 15px 0 0;
                                            width: 106%;
                                        }

                                        div.icon { 
                                            padding: 0;

                                            i.fa-icon {
                                                margin: 18% 0;
                                            }

                                            i.fa-group {
                                                color: #01b3f6;
                                            }

                                            i.fa-thumbs-up, i.fa-bullhorn {
                                                color: #ffd800;
                                            }
                                        }
                                    }

                                    &.influence-2 {
                                        div.influence-inner {
                                            div.icon {
                                                i.fa-icon.fa-group {
                                                    margin: 5% 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .bx-controls.bx-has-pager {
                    position: absolute;
                    bottom: 44px;
                    z-index: 10;
                    width: 100%;

                    .bx-pager {
                        padding-top: 0;

                        a.bx-pager-link {
                            background: #535353;

                            &.active {
                                background: #ababab;
                            }
                        }
                    }
                }
            }
        }
    }

    #signup {
        padding-top: 29px;
        padding-bottom: 40px;
        font-size: 17px;

        a.login { 
            color: #0197cf;
            font-weight: 700;
        }

        a.btn-signup {
            display: inline-block;
            margin-left: 15px;
            margin-right: 9px;
        }

        strong {
            font-weight: 700;
            font-style: italic;
        }
    }

    #callout {
        padding-bottom: 65px;

        img {
            display: block;
            height: 294px;
            margin: 0 auto;
            width: 541px;
        }

        div.callout-text {
            margin-top: 20px;
            line-height: 15px;
            font-size: 13px;
            text-align: right;

            img.logo {
                height: 42px;
                left: 167px;
                position: relative;
                top: -1px;
                width: 193px;
            }

            span.line1 {
                display: inline-block;
                padding-top: 18px;
                text-align: left;
            }
        }
    }

    a.btn-signup {
        background-color: #f200bc;
        border-color: #f200bc;
        color: white;
        font-size: 18px;
        padding: 10px 39px 7px;
        line-height: 20px;

        span.fa-stack {
            bottom: 1px;
            color: #FFFFFF;
            height: 20px;
            left: 5px;
            line-height: 20px;
            position: relative;
            width: 20px;

            i.fa-play {
                color: #f200bc;
                font-size: 12px;
                padding-left: 2px;
            }

            i.fa-circle {
                color: rgba(255, 255, 255, 0.6) !important;
            }
        }

        &:hover, &:focus {
            span.fa-stack i.fa-circle { 
                color: rgba(255, 255, 255, 0.9) !important; 
            }
        }
    }

    iframe {
        height: 322px;
        width: 580px;
    }
}