@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

body {
    background: white;
    overflow-x: hidden !important;
}

h1 {
    color: white;
    font-family: 'lobster';
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.6);
}

h2 {
    padding-top: 70px;
    padding-bottom: 15px;
    color: #333333;
    font-size: 50px;
    font-family: 'lobster';
    text-align: center;
}

h3 {
    font-size: 2em;
    font-family: 'lobster';
    color: #ff2c00;
}

a.nav-anchor {
    position: absolute;
    top: 0;
}

#background {
    background-color: #080A0E;

    div.backstretch {
        img {
            bottom: 0 !important;
        }
    }

    #intro {
        img.logo {
            display: block;
            height: 61px;
            margin: 0 auto;
            width: 276px;
            margin-top: 16px;
        }

        #callout {
            background: rgba(0, 0, 0, .31);
            margin: 34px auto 42px;
            padding: 13px 13px 3px;
            float: none;

            p {
                color: #FFFFFF;
                font-size: 38px;
                line-height: 38px;
                text-align: center;
                text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
                width: 100%;
            }
        }

        div.row.button-row {
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }

    #login {
        padding-top: 10px;

        a {
            color: white;
        }
    }
}

.btn-demo {
  background: url('../../img/demo-gradient.png') repeat-x;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .30);
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  line-height: 59px;
  padding: 0 23px 0 23px;
  text-decoration: none;
  margin-right: 15px;

  i.fa-circle {
      color: #861501;
      text-shadow: none;
  }

  i.fa-play {
    color: #FFFFFF;
    font-size: 13px;
    position: relative;
    text-indent: 2px;
    text-shadow: none;
    top: -2px;
  }
}

.btn-demo:hover, .btn-demo:active, .btn-demo:visited {
    color: white;
    text-decoration: none;

    i.fa-circle {
        color: #651001;
    }
}

div.button-row {
    .btn-features {
      background: url('../../img/features-gradient.png') repeat-x;
      -webkit-border-radius: 2;
      -moz-border-radius: 2;
      border-radius: 2px;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, .30);
      font-family: Arial;
      font-weight: bold;
      color: #ffffff;
        font-size: 16px;
        line-height: 59px;
        padding: 0 23px 0 23px;
      text-decoration: none;
      margin-left: 15px;

      i.fa-circle {
          color: #929292;
          text-shadow: none;
      }
    }

    .btn-features:hover, .btn-features:active, .btn-features:visited {
        color: white;
        text-decoration: none;

        i.fa-circle { color: #666666; }
    }

    .btn-key-features {
      background: url('../../img/key-gradient.png') repeat-x;
      -webkit-border-radius: 2;
      -moz-border-radius: 2;
      border-radius: 2px;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, .30);
      font-family: Arial;
      font-weight: bold;
      color: #000000;
        font-size: 16px;
        line-height: 59px;
        padding: 0 23px 0 23px;
      text-decoration: none;
      margin-left: 15px;

      i.fa-circle {
          color: #b5b5b5;
          text-shadow: none;
      }
    }

    .btn-key-features:hover, .btn-key-features:active, .btn-key-features:visited {
        color: black;
        text-decoration: none;

        i.fa-circle { color: #8F8F8F; }
    }
}

#base {
    #engage h2 { margin-top: 0; }

    div.description {
        padding-left: 0;
        padding-right: 0;

        p {
            color: #666666;
            padding-left: 0;
            padding-right: 0;
            line-height: 38px;
            font-size: 21px;
        }
    }

    div.col-xs-1.separator {
        img {
            width: 35px !important;
        }
    }

    div.col-xs-1.wsep {
        img {
            margin-left: 8px;
        }
    }

    div.row {
        background: white;

        div.container {
            padding-top: 58px;
            padding-bottom: 58px;

            img.feature {
                border: 5px solid #DCDCDC;
                margin-top: 22px;
            }

            img.shadow {
                border: none;
                bottom: 30px;
                position: relative;
                z-index: 1;

                @media screen and (max-width: 530px ) { bottom: 24px; }
            }

            img.separator {
                border: none;
            }
        }


        &.dark {
            background: #0b2531;
            position: relative;

            div.dark-inner {
                div.description {
                    h3, p { text-align: right; }
                    p { color: white; }
                }
            }

            div.container {
                background: #0b2531;

                div.row {
                    background: #0b2531;
                    color: white;
                }
            }

            h2 {
                background: #05171f;
                color: white;
            }

            &:after {
            	top: 100%;
            	left: 50%;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: absolute;
            	pointer-events: none;
            	border-color: rgba(11, 37, 49, 0);
            	border-top-color: #0B2531;
            	border-width: 32px;
            	margin-left: -32px;
                z-index: 10;
            }
        }

        &.light {
            position: relative;

            &:after {
            	top: 100%;
            	left: 50%;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: absolute;
            	pointer-events: none;
            	border-color: rgba(255, 255, 255, 0);
            	border-top-color: #ffffff;
            	border-width: 32px;
            	margin-left: -32px;
                z-index: 10;
            }
        }
    }

    div.button-row {
        margin-top: 50px;

        div.center-button {
            a.btn-demo {
                float: none !important;
                margin-right: 0;
            }
        }
    }

    #quote.row {
        background: #05171f;

        div.container {
            background: #05171f;

            div.row {
                background: #05171f;

                p {
                    color: white;
                    font-family: 'lobster';

                    span.blue {
                        color: #029dd9;
                    }

                    span.line1 { font-size: 24px; }

                    span.line2 {
                        display: inline-block;
                        font-size: 40px;
                        text-align: center;
                        width: 100%;
                    }

                    span.line3 { font-size: 29px; }
                    span.line4 { font-size: 24px; }
                    span.line5 { font-size: 24px; }
                }

                p.author {
                    color: white;
                    font-family: 'futura-pt';

                    span.orange {
                        color: #ff2c00;
                    }
                }
            }
        }
    }

    #follow.row {

        .follow-social {
            display: inline-block;
            vertical-align: middle;
            margin: 0 7px;
            white-space: nowrap;
        }

        .follow-img {
            vertical-align: middle;
            display: inline-block;
            margin-right: 20px;
            @media screen and (max-width: 640px) { width: 100%; margin-bottom: 15px; }
        }

        div.container {
            padding-top: 75px;
            padding-bottom: 75px;
            width: 100%;

            p {
                color: #029dd9;
                font-size: 35px;
                font-family: 'lobster';
                margin-bottom: 0;

                span {

                }
            }

            img.logo {
                border: none;
                width: 249px;
                margin-left: 3px;
                @media screen and (max-width: 340px) { width: 215px; }
            }

            a {
                display: block;

                span.fa-stack.fa-lg {
                    @include border-radius(500px, 500px);
                    height: 3em;
                    line-height: 3em;
                    width: 3em;

                    .fa-stack-2x { font-size: 3em; }
                    i.fa-circle { color: white; }
                }

                &.google {
                    span.fa-stack.fa-lg { border: 1px solid #f23830; }
                    i.fa-stack-1x { color: #f23830; }
                }

                &.linkedin {
                    span.fa-stack.fa-lg { border: 1px solid #397EB6; }
                    i.fa-stack-1x { color: #397EB6; }
                }

                &.twitter {
                    span.fa-stack.fa-lg { border: 1px solid #00aae4; }
                    i.fa-stack-1x { color: #00aae4; }
                }
            }
        }
    }

    #metrics.row.dark {
        &:after {
            border-top-color: transparent;
            border-width: 0;
        }
    }

    footer.row {
        background: #00aff3;
        margin-top: -1px;
        padding-top: 46px;

        div.container {
            background: #00aff3;

            div.row {
                background: #00aff3;

                h4 {
                    color: white;
                    font-family: 'lobster';
                    font-size: 32px;
                }

                a {
                    color: white;
                    display: block;
                    font-family: 'futura-pt';
                    font-size: 16px;
                    text-decoration: none;

                    &:active, &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        p.copyright {
            background: #03a3e1;
            border-top: 9px solid #03abec;
            border-bottom: 6px solid #03abec;
            color: white;
            font-family: 'futura-pt';
            font-size: 16px;
            margin-top: 50px;
            text-align: center;
        }
    }
}

.centered-row {
    text-align: center;
}

.col-about, .col-contact {
    display: inline-block;
    vertical-align: top;
    margin: 0 4.655%;
    text-align: left;
}

#home-floating-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 10;
    padding: 10px 15px 8px;
    z-index: 99999;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    @include transition(all .6s linear);
    @include translateY(-110%);
    &.sticky { @include translateY(0px); }

    div.row-logo {
        @media screen and (max-width: 767px) {
            width: 18%;
            padding-left: 0;
            a { margin-left: 0; }
        }
        a {
            display: block;
            height: 25px;
            width: 100%;
            img { max-width: 123px; }
        }
    }


    #search-form {
        border-bottom: 1px solid #CCC;
        box-shadow: none;
        width: 100%;

        i { color: #999; }

        input {
            border: medium none;
            border-radius: 0;
            box-shadow: none;
            color: #666666;
            font-size: 14px;
            height: 22px;
            margin-bottom: 0;
            padding-left: 0;
            text-indent: 5px;
            width: 92.5%;
            text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
        }

        button { display: none; }
    }

    @media screen and (max-width: 767px) { .row-user { width: 32%; padding: 0; } }

    p.navbar-text {
        margin: 0;
        padding-top: 3px;

        a {
            font-size: 12px;
            line-height: 20px;
            margin: 0;
            padding: 0;
        }

        #btn-register {
            color: #666;
            font-weight: 700;
        }

        span {
            background: none repeat scroll 0 0 #CCCCCC;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin: 0 5px;
            width: 1px;
        }
    }
    @media screen and (max-width: 550px) {
        .row-search { float: right; width: 75%; }
        .row-user {
            display: none;
        }
    }
}


body.demo {
    #base {
        div.row { background: transparent; }

        #logo {
            background: #FBFAFC;
            padding: 20px 0px 16px 0px;

            img { width: 160px; }
        }

        h1 {
            color: #00AFF3;
            font-size: 40px;
            text-shadow: none;
        }

        h2 {
            font-size: 25px;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    ul {
        li {
            color: #58585A;
            line-height: 28px;
            font-weight: bold;

            .fa-check {
                color: #FF2C00;
                line-height: 20px;
            }
        }
    }

    p {
        color: #58585A;
        line-height: 28px;
    }

    img.player {
        margin-left: 5px;
        border: 5px solid #FBFAFC;
    }

    div.form {
        background: #FBFAFC;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        @include border-radius(3px, 3px);

        h3 {
            color: #FF2C00;
            margin-top: 0;
            margin-bottom: 25px;
            font-size: 2em;
            text-align: center;
        }

        #contact-form {
            ul.errorlist {
                padding: 0;
                list-style-type: none;
                position: absolute;
                right: 15px;

                li {
                    color: #861501;
                    font-size: 0.9em;
                    font-weight: bold;
                    line-height: 16px;
                    text-align: right;
                    text-shadow: 1px 0 1px #FFFFFF;
                }
            }

            p {
                line-height: 16px;
                margin-bottom: 15px;
                padding-top: 0;
                padding-bottom: 0;

                label {
                    color: #333333;
                    display: block;
                    font-size: 0.9em;
                    margin-bottom: 2px;
                    text-shadow: 1px 0 1px #FFFFFF;
                }

                input {
                    border: 1px solid #98989A;
                    color: #58585A;
                    padding: 5px;
                    width: 100%;
                    @include border-radius(3px, 3px);
                }
            }

            p.required {
                label:after {
                    color: #FF2C00;
                    content: ' *';
                }
            }

            p.submit {
                display: block;

                button {
                    @include border-radius(10px, 10px);
                    display: block;
                    width: 90%;
                    margin-left: 5%;
                    margin-right: 5%;
                }
            }
        }
    }
}

body.demo-thanks {
    #thanks {
        background: #05171f;

        h2 {

        }

        p {
            color: #333;
            text-align: center;
        }
    }
    #follow.row {
        margin-bottom: 100px;

        div.container {
            width: 890px;
        }
    }
}

@media screen and (max-width: 530px) {
    .row.button-row > [class*="col-xs-"] {
        width: 100%;
        margin-bottom: 15px;
        .btn {
            width: 100%;
            margin: 0;
        }
    }
}