#onboarding {
    background: transparent url('../../img/player-separator.png') no-repeat center bottom;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 56px;
    width: 610px;

    #video {
        position: relative;

        div.mejs-container {
            height: 306px !important;
            width: 610px !important;

            div.mejs-inner {
                div.mejs-mediaelement {
                    position: relative;

                    video {
                        position: absolute;
                        height: 306px !important;
                        width: 610px !important;
                        top: 0;
                        left: 0;
                        z-index: 0;
                    }
                }

                div.mejs-layers {
                    .mejs-controls, .mejs-overlay-button { display: none; }

                    .mejs-poster {
                        position: relative;

                        img {
                            position: absolute;
                            height: 306px;
                            width: 610px;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }
                    }
                }
            }
        }

        #steps {
            position: absolute;
            top: 0;
            width: 610px;
            z-index: 5;

            div.step {
                background-color: rgba(255, 255, 255, 0.81);
                display: none;
                padding: 55px 27px;
                height: 233px;
                width: 403px;

                .btn-info {
                    background-color: #5bc0de;
                    border-color: #46b8da;
                    color: #fff;
                }
                
                &.step1 {
                    display: block;
                    margin: 31px auto 0;

                    h1 { 
                        color: #424242;
                        font-weight: 300;
                        font-size: 23px; 
                        text-align: center;

                        strong { font-weight: 700; }
                    }

                    .btn-info {
                        display: block;
                        margin: 0 auto;
                        font-weight: 500;
                        width: 126px;
                    }
                }

                &.step2 {
                    margin: 31px 0;
                    position: relative;

                    h1 {
                        color: #848484;
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 0;
                    }
                    
                    form.form-inline {
                        margin: 0;
                        
                        label {
                            color: #595959;
                            font-size: 30px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}