#onboarding {
    background: transparent url('../../img/player-separator.png') no-repeat center bottom;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 56px;
    width: 610px;

    #video {
        position: relative;

        div.mejs-container {
            height: 306px !important;
            width: 610px !important;

            div.mejs-inner {
                div.mejs-mediaelement {
                    position: relative;

                    video {
                        position: absolute;
                        height: 306px !important;
                        width: 610px !important;
                        top: 0;
                        left: 0;
                        z-index: 0;
                    }
                }

                div.mejs-layers {
                    .mejs-controls { display: none; }

                    .mejs-poster {
                        position: relative;

                        img {
                            position: absolute;
                            height: 306px;
                            width: 610px;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }
                    }

                    .mejs-overlay-button {
                        background-image: none;
                        height: auto;
                        margin: 18px 0 0 -63px;
                        opacity: 1;
                        width: 126px;
                        z-index: 999;

                        .btn-info {
                            color: #fff;
                            background-color: #5bc0de;
                            border-color: #46b8da;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        #steps {
            position: absolute;
            top: 0;
            width: 610px;
            z-index: 5;

            div.step {
                &.step1 {
                    background-color: rgba(255, 255, 255, 0.81);
                    margin: 31px auto 0;
                    padding: 55px 27px;
                    height: 233px;
                    width: 403px;

                    h1 { 
                        color: #424242;
                        font-weight: 300;
                        font-size: 23px; 
                        text-align: center;

                        strong { font-weight: 700; }
                    }
                }
            }
        }
    }
}