@import "compass/css3/border-radius";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    /* Needed for fullscreen background. 
    background: url('../../img/background.jpg') no-repeat center center;
    min-height: 100%;
    background-size: cover;
    */
}

body {
    /* Needed for fullscreen background. */
    background-color: transparent;
    min-height: 100%;
}

.text-justify { text-align: justify; }
.img-circle {}

.wf-loading {
    #main { visibility: hidden; }
}

#btn-login {
    margin-top: 15px;
}

#login-container {
    margin: 10px 0px 0px -292px;
    padding: 13px;
    width: 360px;

    #login-form {
        padding: 0;

        input[type='text'],
        input[type='password'] {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            vertical-align: middle;
            width: 100%;
        }

        label {
            color: #666666;
            display: block;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 20px;
        }
    }

    div.form-row { margin-bottom: 19px; }

    div.or { 
        color: #666666;
        font-size: 12px;
        padding: 9px 14px 9px 8px;
    }

    div.social {
        margin-bottom: 13px;
        padding: 0;

        a.btn-info {
            background-color: #636365;
            border-color: #565658;
            color: #FFFFFF;
            padding: 6px 8px;
        }
    }
}

body.content {
    /* Styles used by the homepage, about page, and other marketing pages. */

    #base {
        @include border-radius(10px, 10px);
        background: white;
        margin-top: 24px;

        #logo {
            padding: 33px 0;

            a {
                display: block;
                height: 40px;
                margin: 0 auto;
                width: 184px;

                img {
                    height: 40px;
                    width: 184px;
                }
            }
        }

        #main {
            #links {
                padding-top: 10px;

                div {
                    
                    padding: 0;
                    text-align: center;

                    a { 
                        color: #878787;
                        font-size: 1.05em;
                    }

                    i.icon-muted { 
                        color: #F0F0F0;
                        display: inline-block;
                        font-size: 1.5em;
                        position: relative;
                        top: -3px;
                    }
                }
            }

            #callout {
                padding-top: 105px;
                padding-bottom: 65px;

                img {
                    display: block;
                    height: 294px;
                    margin: 0 auto;
                    width: 541px;
                }
            }
        }
    }
}

body.about {
    color: #595959;

    img.img-circle {
        height: 137px;
        width: 137px;
    }

    h1.wrapper {
        background: #8F8F8F;
        color: white;
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 14px;
        line-height: 14px;
        padding: 10px 25px;
    }

    div.person {
        overflow: hidden;

        h2 {
            color: #00aeef; 
            margin-bottom: 0;
            margin-top: 10px;
        }

        p.title {
            color: #666666;
        }
    }
}

#footer {
    @include border-top-left-radius(0px);
    @include border-top-right-radius(0px);
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
    background-color: #6b6b6b;
    margin-top: 33px;
    padding-top: 13px;
    padding-bottom: 10px;

    a { color: white; }

    div.col-xs-1 { 
        padding: 0; 
    }
}

#copyright {
    padding-top: 12px;
    padding-bottom: 130px;

    strong {
        font-size: 1.05em;
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
}