@import "compass/css3/border-radius";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -webkit-font-smoothing: subpixel-antialiased;
}

a { outline: 0 none !important; }

.text-justify { text-align: justify; }
.img-circle {}

.wf-loading {
    #main { visibility: hidden; }
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.lazy-loaded { opacity: 1; }

#btn-login {
    margin-top: 15px;
}

#login-container {
    margin: 10px 0px 0px -292px;
    padding: 13px;
    width: 360px;

    #login-form {
        padding: 0;

        input[type='text'],
        input[type='password'] {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            vertical-align: middle;
            width: 100%;
        }

        label {
            color: #666666;
            display: block;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 20px;
        }
    }

    div.form-row { margin-bottom: 19px; }

    div.or { 
        color: #666666;
        font-size: 12px;
        padding: 9px 14px 9px 8px;
    }

    div.social {
        margin-bottom: 13px;
        padding: 0;

        a.btn-info {
            background-color: #636365;
            border-color: #565658;
            color: #FFFFFF;
            padding: 6px 8px;
        }
    }
}

body.content {
    /* Styles used by the homepage, about page, and other marketing pages. */

    #base {
        @include border-radius(10px, 10px);
        background: white;
        margin-top: 24px;

        #homepage-logo {
            padding: 33px 0;

            a {
                display: block;
                height: 40px;
                margin: 0 auto;
                width: 184px;

                img {
                    height: 40px;
                    width: 184px;
                }
            }
        }

        #logo {
            @include border-top-left-radius(10px);
            @include border-top-right-radius(10px);
            background: white;
            padding: 16px 0 0 0;
            position: relative;
            z-index: 10;

            div.row-logo {
                margin: 0;

                a {
                    display: block;
                    height: 25px;
                    margin-left: 13px;
                    width: 100%;

                    img {
                        height: 25px;
                        width: 116px;
                    }
                }                
            }

            div.row-search {
                #search-form {
                    border-bottom: 1px solid #cccccc;
                    box-shadow: none;
                    width: 100%;

                    i { color: #999999; }

                    input {
                        @include border-radius(0px, 0px);
                        border: none;
                        box-shadow: none;
                        color: #666666;
                        font-size: 14px;
                        margin-bottom: 0;
                        height: 22px;
                        padding-left: 0;
                        text-indent: 5px;
                        width: 95%;

                        &::-webkit-input-placeholder { /* WebKit browsers */
                            color:    #666666;
                            font-weight: 500;
                        }
                        
                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color:    #666666;
                            font-weight: 500;
                        }
                        
                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color:    #666666;
                            font-weight: 500;
                        }
                        
                        &:-ms-input-placeholder { /* Internet Explorer 10+ */
                            color:    #666666;
                            font-weight: 500;
                        }

                        &:focus {
                            outline: 0;
                        }
                    }

                    button { display: none; }
                }
            }

            div.row-user {
                p.navbar-text {
                    margin: 0 0 10px;

                    a {
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                        line-height: 20px;
                    }

                    #btn-register {
                        color: #666666;
                        font-weight: 700;
                    }

                    span {
                        display: inline-block;
                        background: #ccc;
                        width: 1px;
                        height: 20px;
                        line-height: 20px;
                        margin: 0 5px;
                    }
                }

                li.open {
                    a, a:focus, a:hover, a:active {
                        background: none;
                    }
                }

                a.nav-link.avatar {
                    bottom: 8px;
                    display: block;
                    height: 41px;
                    padding: 0;
                    width: 41px;

                    &:focus, &:hover, &:active {
                        background: none;
                    }

                    img.img-circle {
                        display: block;
                        height: 41px;
                        width: 41px;
                    }
                }

                a.dropdown-toggle {
                    display: block;
                    height: 41px;
                    line-height: 41px;
                    margin: 0;
                    padding: 0;
                    top: -10px;
                    width: auto;
                    overflow: hidden;

                    &:focus, &:hover, &:active {
                        background: none;

                        i.fa-cog {
                            background: none;
                        }
                    }

                    i.fa { line-height: 41px; }

                    i.fa-cog {
                        color: #CACACA;
                        font-size: 24px;
                        margin-right: 5px;
                        padding-left: 5px;
                    }

                    i.fa-caret-down {
                        color: #9C9C9C;
                        margin-right: 0;
                        padding-right: 0;
                    }
                }

                ul.dropdown-menu {
                    li {
                        &:hover, &.active {
                            background: #F200BC;
                        }
                    }
                }
            }
        }

        #main {

        }
    }
}

body.about {
    color: #595959;

    div.header {
        margin-top: 10px;
        margin-bottom: 27px;

        img.img-responsive {

        }

        div.header-content {
            background-color: #F6F6F6;
            padding: 25px;
            width: 65.667%;

            h1 {
                margin-top: 0;
                margin-bottom: 25px;
                font-size: 24px;
                color: #666666;
                font-weight: 700;

                span.frame {
                    color: #58585A;
                }

                span.buzz {
                    color: #1DAFEC;
                }
            }

            p {
                color: #757575;
                font-size: 13px;
                line-height: 1.42em;

                strong {
                    color: #414141;
                    font-weight: 700;
                    font-style: italic;                    
                }
            }
        }
    }

    img.img-circle {
        height: 137px;
        width: 137px;
    }

    h1.wrapper {
        background: #8F8F8F;
        color: white;
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 14px;
        line-height: 14px;
        padding: 10px 25px;
    }

    div.person {
        overflow: hidden;

        h2 {
            color: #00aeef; 
            margin-bottom: 0;
            margin-top: 10px;
        }

        p.title {
            color: #666666;
        }
    }
}

body.search {
    #main {
        background: url('../../img/search_bkg.png') repeat-x;
        padding-bottom: 30px;
        min-height: 500px;

        #search-results {
            h1 {
                color: #7c7c7c;
                font-size: 17px;
                font-weight: 500;

                strong {
                    color: #cccccc;
                    font-style: italic;
                    font-weight: 700;
                }
            }

            h2 {
                color: white;
                font-size: 17px;
                font-weight: 700;
                margin-bottom: 0;
            }

            a.more {
                font-weight: 700;
                font-size: 12px;
            }

            div.row-users {
                height: 404px;

                div.user {
                    padding: 9px 14px;
                    width: 100%;

                    div.avatar { padding: 0; }

                    a { 
                        font-size: 12px;
                        color: white;
                    }

                    div.row-tagline { 
                        color: #8c8a8a;
                        font-size: 11px;
                    }
                }
            }

            div.row-videos {
                margin-top: 9px;

                h3 { padding-left: 15px; }

                div.video {
                    margin: 0px 5px 10px;
                    padding: 0;
                    position: relative;
                    
                    &.col-xs-6 {
                        width: 48%;
                    }

                    &.col-xs-4 {
                        width: 32%;
                    }

                    a.thumbnail-link {
                        display: block;
                        overflow: hidden;
                    }

                    a.title {
                        display: inline-block;
                        width: 93%;
                    }

                    h3 {
                        background-color: rgba(0, 0, 0, .35);
                        color: white;
                        font-weight: 700;
                        font-size: 11px;
                        padding: 7px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        margin: 0;
                        height: 59px;

                        a {
                            color: white;
                        }

                        span.comment-count {
                            font-size: 12px;
                            margin-top: 4px;
                            text-align: right;

                            i {
                                left: 4px;
                                position: relative;
                            }
                        }
                    }

                    img.img-responsive {
                        height: 177px;
                        max-width: 100%;
                    }
                }      
            }

            div.row-convos {
                margin-top: 9px;

                div.comment {
                    @include border-radius(12px, 12px);
                    background: #575757;
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                    min-height: 36px; 
                    padding: 10px 0;
                    position: relative;
                    width: 100%;

                    div.text {
                        padding: 0;
                    }

                    div.col-xs-2 {
                        padding: 0 12px;
                    }

                    img.img-circle {
                        border: 2px solid white;
                        float: left;
                        height: 32px;
                        width: 32px;
                    }

                    p {
                        color: #FFFFFF;
                        float: right;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                        vertical-align: middle;

                        span {
                            display: inline-block;
                            vertical-align: -8px;

                            span.highlight {
                                vertical-align: 0;
                                margin: 0 2px;
                            }
                        }
                    }
                }

                p.description {
                    color: #848484;
                    font-size: 11px;
                    line-height: 18px;
                    position: relative;

                    a {
                        color: white;
                    }   

                    span.corner {
                        top: -3px;
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 0;
                        line-height: 0;
                        border: solid 18px #575757;
                        border-color: #575757 transparent transparent transparent;
                        @include border-radius(0px, 0px);
                        left: 80%;
                    }
                }
            }

            div.empty {
                h3 {
                    color: white;
                    font-size: 14px;
                    font-weight: 500; 
                    font-style: italic;                   
                }
            }

            div.fbz-pagination {
                min-width: 20%;

                ul {
                    list-style: none outside none;

                    li {
                        float: left;
                        width: 25px;

                        a {
                            display: inline-block;
                            text-align: right;
                            width: 100%;
                        }

                        &.active {
                            a {
                                font-weight: 700;
                                color: white;
                            }
                        }
                    }
                }
            }

            div.alert {
                position: relative;
                top: 20px;
            }
        }
    }

    #footer {
        margin-top: 0;
    }
}

body.subpage {
    #main {
        min-height: 600px;
    }

    .btn-info {
        background-color: #5bc0de;
        border-color: #46b8da;
        color: #fff;
    }
                
    div.row-header {
        position: relative;

        h1 {
            color: #CCCCCC;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 7px;
        }
    }

    div.row-description {
        background-color: #1DAFEC;
        margin-bottom: 15px;

        div {
            p, h2 {
                color: white;
                font-size: 16px;
                padding: 10px 0;
                margin: 0;
            }

            h2 { font-weight: 700; }
        }
    }

    div.row-success.bs-callout {
        margin: -15px -15px 15px -15px;
        padding: 10px 0;

        p, h4 {
            color: #468847;
            font-size: 14px;
        }

        h4 { font-weight: 700; }
    }
}

body.contact {
    form {
        input, textarea {
            width: 100%;
        }

        div.form-group {
            border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: none;
            }
        }

        label {
            color: #bbb;
            font-weight: 700;
        }

        input[type='text'] {
            border: medium none;
            border-radius: 0;
            box-shadow: none;
            color: #5C5C5C;
            font-size: 14px;
            height: 22px;
            margin-bottom: 0;
            padding-left: 0;
            text-indent: 5px;
        }

        textarea {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none;
            color: #5C5C5C;
            font-size: 14px;
            padding: 2px 5px;
        }
    }
}

body.press {
    button.close { display: none; }

    a {
        color: #4B86C6;
        font-weight: 500;
    }

    article {
        title {
            display: block;
                font-weight: 700;
        }

        p { font-weight: 300; }
    }

    div.row-media {
        margin-bottom: 19px;

        div.file {
             line-height: 14px;

            span.type {
                color: #A4A4A4;
                font-size: 12px;
            }
        }
    }
}

body.wordpress {
    #onboarding {
        background: none; 
        width: auto;
        padding-top: 56px;
        padding-bottom: 0;

        #video {
            position: relative;

            div.mejs-container {
                height: 325px !important;
                width: 580px !important;

                div.mejs-inner {
                    div.mejs-mediaelement {
                        position: relative;

                        video {
                            position: absolute;
                            height: 325px !important;
                            width: 580px !important;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }
                    }

                    div.mejs-layers {
                        .mejs-controls { display: none; }

                        .mejs-poster {
                            position: relative;
                                height: 325px !important;
                                width: 580px !important;

                            img {
                                position: absolute;
                                height: 325px !important;
                                width: 580px !important;
                                top: 0;
                                left: 0;
                                z-index: 0;
                            }
                        }
                    }
                }
            }

            #steps div.step1 {
                background: none;
            }
        }
    }

    div.sidebar {
        div.details {
            color: #6B6B6B;

            h1 {
                font-size: 18px;
                font-weight: 700;
            }
        }

        div.or {
            color: #bbb;
            font-size: 13px;
            font-weight: 500;
        }

        div.register {
            em { 
                color: #bbb;
                font-size: 12px;
            }
        }
    }
}

body.account {
    #main {
        background-color: #06171F;
        padding: 36px 0;

        #homepage-logo {
            padding-bottom: 27px;
            padding-top: 0;
        }

        div.description {
            margin-bottom: 36px;
        }

        div.box {
            background: white;
            float: none;
            margin: 0 auto;
            padding: 40px;

            p {
                color: #333333;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
            }

            #signup-form {
                input[type='text'],
                input[type='password'] {
                    background-color: #FFFFFF;
                    border: 1px solid #CCCCCC;
                    border-radius: 4px 4px 4px 4px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                    color: #555555;
                    display: block;
                    font-size: 14px;
                    height: 34px;
                    line-height: 1.42857;
                    padding: 6px 12px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    vertical-align: middle;
                    width: 100%;
                }

                div.remember-row {
                    margin-top: -20px;
                    margin-bottom: 20px;
                }

                input[type='checkbox'] {
                    float: left;
                    position: relative;
                    top: -2px;
                    margin-right: 5px;
                }

                label {
                    color: #666666;
                    display: block;
                    font-size: 14px;
                    margin-bottom: 0;
                    line-height: 20px;
                }
            }

            div.form-row { margin-bottom: 19px; }

            div.or { 
                color: #666666;
                font-size: 12px;
                padding: 9px 10px 9px 8px;
                margin-left: -15px;
            }

            button.btn-info { 
                margin: 0;
                width: auto;
            }

            div.row-error.bs-callout {
                background-color: #FF33D3;
                border-color: #F200BC;
                margin: -15px -40px 15px;
                padding: 10px 0;

                div.error-wrap {
                    padding-left: 14px;
                }

                ol li, h4 {
                    color: white;
                }

                ol { 
                    list-style: none inside none;
                    margin: 0;
                    padding: 0 0 0 24px;

                    li {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }

                h1, h4 {
                    color: white;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: italic;
                    margin-bottom: 10px;
                }

                h1 {
                    font-size: 2em;
                    line-height: 1.5em;
                    margin: 0;
                }
            }

            div.social {
                padding: 0;

                a.btn-info {
                    background-color: #636365;
                    border-color: #565658;
                    color: #FFFFFF;
                    padding: 6px 8px;
                }
            }

            div.terms {
                margin-top: 9px;

                p {
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }

    #footer {
        margin-top: 0;
    }
}

body.login {
    #main { 
        div.box {
            #signup-form {
                input[type='text'],
                input[type='password'] {
                    width: 95%;
                }
            }
        }
    }
}

body.error-page {
    #main {
        div.box {
            div.row-error.bs-callout {
                margin-top: -40px;
            }

            i.fa-4x {
                display: block;
                z-index: 0;
                opacity: 0.05;
                font-size: 8em;
                height: 0.9em;
            }

            p {
                color: #666666;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                text-align: justify;
                margin: 0;
                padding: 0;
                margin-top: 20px;
            }
        }    
    } 
}

#footer {
    @include border-top-left-radius(0px);
    @include border-top-right-radius(0px);
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
    background-color: #6b6b6b;
    margin-top: 33px;
    padding-top: 13px;
    padding-bottom: 10px;

    a { color: white; }

    div { 
        padding: 0; 
    }
}

#copyright {
    padding-top: 12px;
    padding-bottom: 12px;

    strong {
        font-size: 1.05em;
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}

.bs-callout-danger h4 {
    color: #b94a48;
}

.bs-callout-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}

.bs-callout-warning h4 {
    color: #c09853;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}

.bs-callout-info h4 {
    color: #3a87ad;
}