{% extends "base.html" %}
{% load comments avatar_tags %}

{% block title %}{{ video.title }}{% endblock %}

{% block extra_head %}
  <style type="text/css">
    #content { margin-bottom: 45px; }
    #content #video-wrapper { margin: 0 0 0 27px; }
  </style>
{% endblock %}

{% block dashboard_left %}
  {% include "playlists/partials/video_sidebar.html" %}
{% endblock %}

{% block profile_header %}
  {% if video.added_by %}
    <div class="header-wrapper">
      <a href="{% url 'user-profile' video.added_by %}">
          <img src="{% avatar_url video.added_by 100 %}" height="100" width="100" />
      </a>
      <h2>{{ video.added_by.username }}</h2>
    </div>
  {% if video.added_by.get_profile and video.added_by.get_profile.bio %}
    <em class="bio">{{ video.added_by.get_profile.bio }}</em>
  {% endif %}
  {% else %}
    {{ parent }}
  {% endif %}
{% endblock %}

{% block dashboard_right %}
  <iframe src="{% url 'view-content' 'v' video.video_id %}?embed=true" class="restricted" frameBorder="0" scrolling="no" height="360" width="675"></iframe>
{% endblock %}