/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

/*
 *      Global
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background-color: #3c89af;
}


/*
 *      Mixins
 */

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }
}

/*
 *      Common Elements
 */

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

div.navbar {
    background-color: rgba(39, 39, 39, 1.0);
    box-shadow: none;

    div.navbar-inner {
        background: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
        background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(98%, rgba(0, 0, 0, 0)));
        background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
        background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
        background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
        background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
        background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
        border-left: 0 none;
        box-shadow: none;
        margin: 0 auto;
        overflow: hidden;
        width: 97%;

        a.brand {
            border: none;
            padding: 8px 0px 0px 35px;
            text-shadow: none;
        }

        ul.nav {
            padding: 16px 0;
            margin-right: -5px;

            li.link {
                a {
                    border-left: none;
                    font-family: 'futura-pt-condensed';
                    font-weight: 300;
                    font-size: 17px;
                    text-transform: uppercase;
                }

                a.active, a:hover { background: none !important; }
            }

            li.social {
                float: left;
                margin-left: 13px;
                margin-top: -9px;
            }
        }
    }
}

div.marketing-content {
    min-height: 620px;
    overflow: hidden;
    position: relative;
    width: 100%;

    #fb {
        height: 1443px;
        width: 100%;

        div.anystretch img {
            left: 0 !important;
            top: -143px !important;
        }
    }

    #home {
        min-height: 1400px;
        width: 100%;
        position: relative;

        h1 {
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 40px;
            font-weight: 300;
            padding: 37px 0;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .56);

            em {
                font-weight: 700;
            }
        }

        #watch {
            height: 770px;

            #watch-container {
                margin-left: 500px;
                padding-bottom: 37px;

                #video-container {
                    background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
                    border-radius: 2px 2px 2px 2px;
                    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.10);
                    float: left;
                    overflow: hidden;
                    padding: 17px 17px 20px 17px;
                    background-color: white;
                    height: 440px;
                    margin: 0 35px 0 auto;
                    width: 640px;

                    iframe {
                        background: #202020;
                        border-bottom: 3px solid #202020;
                    }
                }

                #callout {
                    @include border-radius(2px, 2px);
                    background: rgba(255, 255, 255, 0.5);
                    height: 450px;
                    margin-top: -3px;
                    float: left;
                    padding: 17px;
                    width: 237px;

                    p {
                        font-family: 'proxima-nova';
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 25px;
                    }

                    a.signup { float: right; }
                }
            }
        }

        h2.header {
            background: #3c89af;
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 34px;
            font-weight: 300;
            margin-bottom: 0;
            padding: 38px 0px;
            text-align: center;
            text-transform: uppercase;
        }

        a.signup {
            @include border-radius(2px, 2px);
            background: #9e0f84;
            display: block;
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 20px;
            font-weight: 700;
            padding: 8px 0;
            text-align: center;
            width: 130px;

            &:hover { text-decoration: none; }

            em {
                font-size: 10px;
                padding-left: 2px;
                position: relative;
                top: -1px;
                vertical-align: middle;
            }
        }

        span.arrow {
            background: url('../img/arrow.png') no-repeat center bottom;
            content: " ";
            height: 24px;
            position: absolute;
            top: -1px;
            width: 85px;
            z-index: 100;
        }

        #community {
            height: 580px;

            #community-container {
                padding-left: 93px;
                padding-top: 30px;
                padding-bottom: 86px;
                position: relative;

                span.arrow { 
                    top: 0;
                    left: 594px; 
                }

                h3 {
                    color: #202020;
                    font-family: 'proxima-nova';
                    font-size: 34px;
                    font-weight: 300;
                    padding-top: 73px;
                    padding-bottom: 23px;
                }

                p {
                    color: #202020;
                    font-family: Georgia, serif;
                    font-style: italic;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 29px;
                    width: 320px;
                }
            }
        }

        #framebuzz {
            background: #000000;
            height: 500px;
            width: 100%;

            #highlights {
                background: rgba(0, 0, 0, .74);

                #framebuzz-container {
                    position: relative;

                    span.arrow { left: 553px; }

                    ul {
                        padding-bottom: 35px;

                        li {
                            float: left;
                            padding: 0 19px;
                            width: 262px;
                            margin-top: -10px;

                            h4 {
                                color: white;
                                font-family: 'futura-pt-condensed';
                                font-size: 25px;
                                font-weight: 300;
                                margin-bottom: 20px;
                                text-align: center;
                            }

                            img {
                                height: 150px;
                                margin: 0 53px;
                                width: 150px;

                                &.discover {
                                    margin: 0 55px;
                                    position: relative;
                                    top: 5px;
                                }
                            }

                            p {
                                color: #d9d9d9;
                                font-family: Georgia, serif;
                                font-style: italic;
                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            h3 {
                color: white;
                font-family: 'proxima-nova';
                font-size: 28px;
                font-weight: 500;
                padding: 12px 0;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .56);
            }
        }

        #signup {
            background: white;

            span.arrow { left: 557px; }

            #signup-container {
                padding-top: 70px;
                padding-bottom: 75px;
                position: relative;

                h3 {
                    color: #454848;
                    font-family: 'proxima-nova';
                    font-size: 30px;
                    font-weight: 300;
                    margin-bottom: 13px;
                    text-align: center;
                }

                h4 {
                    color: #454848;
                    font-family: Georgia, serif;
                    font-style: italic;
                    font-size: 14px;
                    margin-bottom: 68px;
                    text-align: center;
                }

                ul {
                    margin: 0 auto;
                    width: 650px;

                    li {
                        color: #454848;
                        float: left;
                        width: 260px;

                        &.first { margin-right: 75px; }
                        
                        h5 {
                            font-family: 'proxima-nova';
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 19px;
                            text-align: right;
                        }

                        p {
                            font-family: Georgia, serif;
                            font-style: italic;
                            font-size: 14px;
                            height: 214px;
                            line-height: 20px;
                            text-align: right;
                        }

                        span {
                            margin-top: 34px;
                            display: block;
                            font-family: 'proxima-nova';
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 19px;
                            text-align: right;
                            float: right;
                        }

                        a.signup {
                            margin-top: 24px;
                            float: right;
                        }
                    }
                }
            }
        }
    }

    #press {
        background: white;
        min-height: 800px;

        div.header {
            background: #2289ba;

            span {
                color: white;
                display: block;
                padding: 30px 0;
                font-family: 'proxima-nova';
                font-weight: 300;
                font-size: 24px;
                line-height: 24px;
            }
        }

        div.alert {
            font-family: 'proxima-nova';
            font-weight: 300;
            margin: 0 auto;
            width: 600px;
        }

        #releases {
            height: 235px;
        }

        #media {
            padding-bottom: 45px;

            div.header {
                margin-bottom: 0;
            }

            div.wrapper {
                h2 {
                    color: #383835;
                    font-family: 'proxima-nova';
                    font-weight: 300;
                    font-size: 24px;
                    padding: 36px 0;
                }

                table {
                    width: 100%;
                    padding-bottom: 45px;

                    tr {
                        td {
                            padding-bottom: 45px;
                            width: 33%;

                            a {
                                &:hover { text-decoration: none; }

                                img {
                                    float: left;
                                    margin-right: 20px;
                                }

                                div.file {
                                    float: left;

                                    span.title {
                                        color: #2289ba;
                                        display: block;
                                        font-family: 'proxima-nova';
                                        font-weight: 300;
                                        font-size: 18px;
                                        margin-bottom: 10px;
                                    }

                                    span.type {
                                        color: #7a7a7a;
                                        display: block;
                                        font-family: 'proxima-nova';
                                        font-weight: 300;
                                        font-size: 18px;   
                                    }
                                }
                            }

                            a:hover {
                                div.file {
                                    span.title { text-decoration: underline; }
                                }
                            }
                        }
                    }
                }

                p {
                    color: #383835;
                    line-height: 25px;                                                            
                    font-family: 'proxima-nova';
                    font-weight: 300;
                    font-size: 18px;

                    a {
                        color: #2289ba;
                    }
                }
            }
        }
    }

    #about {
        font-family: 'proxima-nova';
        font-weight: 300;

        #manifesto {
            background: #fafafa;
            padding: 52px 0;

            h1 {
                color: #393a36;
                font-size: 24px;
                margin-bottom: 32px;
                text-align: center;
            }

            p {
                font-family: Georgia, serif;
                font-style: italic;
                font-size: 16px;
                text-align: center;
                line-height: 20px;
                margin: 0 auto;
                width: 825px;
            }
        }

        #who {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgb(134, 191, 218)), color-stop(100%, #3c89af));
            background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            padding: 52px 0;

            h1 {
                color: white;
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            h2 {
                color: white;
                font-family: Georgia, serif;
                font-style: italic;
                font-size: 16px;
                margin-bottom: 72px;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            ul {
                li {
                    display: block;
                    float: left;
                    padding: 36px 0;
                    width: 338px;
                    margin-right: 93px;

                    &:last-child { margin-right: 0; }

                    h3 {
                        color: white;
                        font-weight: bold;
                        font-size: 24px;
                        margin-bottom: 23px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }

                    p {
                        color: white;
                        font-family: Georgia, serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }

        #team {
            background: #fafafa;
            padding: 52px 0;

            h1 {
                color: #393a36;
                font-size: 24px;
                margin-bottom: 32px;
            }

            ul {
                li {
                    display: block;
                    float: left;
                    padding: 36px 0;
                    width: 338px;
                    margin-right: 62px;
                    min-height: 360px;

                    &.last { margin-right: 0; }

                    img {
                        margin-bottom: 48px;
                    }

                    h2 {
                        color: #229ac4;
                        font-weight: 500;
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 24px;
                    }

                    h3 {
                        margin-bottom: 32px;
                        text-align: center;
                    }

                    p {
                        color: #3f3f3f;
                        font-family: Georgia, serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                    }
                }
            }   
        }

        #contact {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgb(134, 191, 218)), color-stop(100%, #3c89af));
            background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
            padding: 52px 0;


            h1 {
                color: white;
                font-size: 30px;
                margin-bottom: 32px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            #contact-form {
                width: 1063px;

                label { 
                    color: white; 
                    padding-bottom: 8px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                }

                input[type='text'] {
                    margin-bottom: 35px;
                    width: 440px;
                }

                textarea { 
                    height: 215px;
                    width: 565px;
                }

                div.user {
                    float: left;
                    margin-right: 28px;
                }

                div.message {
                    float: left;
                }

                p.submit {
                    button {
                        @include border-radius(2px, 2px);
                        border: none;
                        background: #18678c;
                        color: white;
                        padding: 10px 0;
                        float: right;
                        font-size: 14px;
                        width: 199px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    #signup-page, #login-page, #reset-password, #reset-password-done {
        color: #383835;
        height: 807px;
        padding: 45px 0;
        font-family: 'proxima-nova';
        font-weight: 300;

        div.wrapper {
            background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
            border-radius: 2px 2px 2px 2px;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.10);
            margin: 0 auto;
            overflow: hidden;
            padding: 25px;
            width: 400px;

            h1 {
                font-family: 'proxima-nova';
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-bottom: 25px;
            }

            p.description {
                text-align: center;
                padding-bottom: 25px;
            }

            ul.socialaccount_providers {
                margin: 0 auto;
                padding: 25px 0;
                width: 245px;

                li {
                    float: left;
                    height: 64px;
                    margin-right: 25px;
                    width: 64px;

                    &:last-child { margin-right: 0; }

                    a {
                        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
                        display: block;
                        height: 64px;
                        width: 64px;

                        &.facebook { background-color: #3B5998; }
                        &.twitter { background-color: #4099FF; }
                        &.google { background-color: #D34836; }

                        img {
                            padding: 16px;
                        }

                    }
                }
            }

            button.signup {
                @include border-radius(2px, 2px);
                background: #9e0f84;
                border: 0;
                display: block;
                color: white;
                float: right;
                font-family: 'futura-pt-condensed';
                font-size: 20px;
                font-weight: 700;
                padding: 8px 0;
                text-align: center;
                min-width: 130px;

                &:hover { text-decoration: none; }

                em {
                    font-size: 10px;
                    padding-left: 2px;
                    position: relative;
                    top: -1px;
                    vertical-align: middle;
                }
            }

            form {
                p {
                    padding-bottom: 10px;

                    label { 
                        margin-bottom: 5px; 
                        font-weight: 500;
                    } 

                    input { 
                        font-family: 'proxima-nova' !important;
                        width: 385px; 
                    }
                }

                p.terms {
                    padding: 0px 0 15px 0;
                    line-height: 20px;
                }

                div.actions {
                    a.secondaryAction {
                        display: block;
                        float: left;
                        line-height: 38px;
                    }
                }
            }
        }
    }

    #login-page {
        div.wrapper {
            form {
                p {
                    label {
                        display: table-cell;
                        padding-bottom: 5px;
                        margin-bottom: 0;
                        width: 50%; 
                    }

                    input[type='checkbox'] {
                        display: block;
                        left: 112px;
                        position: relative;
                        top: -24px;
                        width: 15px;
                    }
                }
            }
        }
    }

    #reset-password {
        div.wrapper {
            p.description {
                text-align: left;
            }

            form {
                margin-bottom: 25px;

                div.actions {
                    button.signup {
                        min-width: 160px;
                    }
                }
            }

            p.help {
                padding-bottom: 0;
            }
        }
    }
}

div.footer {
    background-color: black;
    padding: 33px 0;

    span {
        color: white;
        display: block;
        font-family: 'futura-pt-condensed';
        font-weight: 300;
        font-size: 17px;
        text-align: center;
    }
}
