/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

/*
 *      Global
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background-color: #078ac1;
}


/*
 *      Mixins
 */

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }
}

/*
 *      Common Elements
 */

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

div.navbar {
    background-color: rgba(39, 39, 39, 1.0);
    box-shadow: none;

    div.navbar-inner {
        background: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
        background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(100%, rgba(0, 0, 0, 0)));
        background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
        background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
        background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
        background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
        background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 100%);
        border-left: 0 none;
        border-right: none;
        box-shadow: none;
        margin: 0 auto;
        width: 97%;

        a.brand {
            border: none;
            padding: 8px 0px 0px 35px;
            text-shadow: none;
            outline: none;
            height: auto;
            width: 250px;
            position: relative;
            top: 5px;
        }

        form {
             margin: 15px 0;

             input.search-query {
                font-family: 'proxima-nova';
                margin-left: 160px;
                padding: 5px 14px;
                position: relative;
                top: 1px;
                vertical-align: middle;
                line-height: 16px;
                width: 320px;
             }

             button { display: none; }
        }

        ul.nav {
            padding: 11px 0;
            margin-left: 12px;
            width: 413px;

            li.link {
                float: right;

                &.logged-in {
                    width: 90px;
                }

                a {
                    border-left: none;
                    float: left;
                    font-family: 'futura-pt-condensed';
                    font-weight: 300;
                    font-size: 18px;
                    padding-right: 0;
                    text-transform: uppercase;

                    &.dropdown-toggle { 
                        background-image: none; 
                        font-size: 19.33px;
                        font-family: 'futura-pt-condensed';

                        i {
                            border-color: rgba(255, 255, 255, 0.48);
                        }

                        b.caret {
                            border-bottom-color: rgba(255, 255, 255, 0.48);
                            border-top-color: rgba(255, 255, 255, 0.48);
                        }
                    }

                    &.avatar {
                        height: 28px;
                        padding: 7px 0 7px 12px;
                        width: 28px;

                        img.img-circle {
                            border: 2px solid white;
                            height: 28px;
                            width: 28px;
                        }
                    }
                }

                a.active, a:hover { background: none !important; }

                ul.dropdown-menu {
                    margin-top: 1px;
                    right: -10px;

                    li {
                        font: normal 14px/18px 'proxima-nova';

                        a {
                            border-left: none;
                            color: rgba(33, 33, 33, 0.9);
                            display: inline-block;
                            font: 300 14px/18px 'proxima-nova';
                            text-transform: none;
                            width: 150px;
                            @include single-transition(color .1s ease-in-out);

                            &:hover {
                                text-decoration: none;
                                font-weight: 500;
                            }
                        }

                        a.active, a:hover {
                            background: none;
                            color: rgba(33, 33, 33, 1.0);
                            @include single-transition(color .1s ease-in-out);
                        }

                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }

            li.divider-vertical { 
                float: right;
                position: relative;
                top: 2px;
            }

            li.social {
                float: right;
                padding-right: 15px;

                a {
                    display: block;
                    width: auto;

                    &.facebook { background-color: #3B5998; }
                    &.twitter { background-color: #4099FF; }
                    &.google { background-color: #D34836; }

                    img {
                        padding: 3px 0px;
                        height: 16px;
                        width: 16px;
                    }

                    .share {
                        float: left;
                    }

                    .count {
                        float: right;
                    }
                }
            }
        }
    }
}

div.search-results {
    background: #343434;
    color: white;
    font-family: 'proxima-nova';
    font-size: 14px;
    position: relative;
    top: 0;
    display: none;
    padding: 11px 0;
    min-height: 588px;
    width: 100%;

    div.wrapper {
        h1, h2, h3 {
            font: normal 26px/36px 'futura-pt-condensed';
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        }

        h1 {
            color: #636363;
            font-style: italic;
            margin-bottom: 11px;
            text-align: center;

            strong { font-weight: 500; }
        }

        #results-list {
            button.close {
                font-size: 32px;
                margin-right: 17px;
            }

            div.row {
                margin: 0 auto;
                width: 1120px;

                div.span4 {
                    margin-left: 0;

                    h2 {
                        color: white;
                        margin-bottom: 4px;
                        text-indent: 20px;
                    }

                    div.pagination-page {
                        position: relative;
                        margin-top: 16px;
                        min-height: 540px;

                        &.videos-results {
                            border-right: 1px solid #383838;
                        }

                        &.conversations-results {
                            border-left: 1px solid #474747;
                            border-right: 1px solid #474747;
                        }

                        &.users-results {
                            border-left: 1px solid #383838;
                        }

                        ul.videos {
                            li {
                                &:nth-child(odd) { margin: 0 20px; }
                                float: left;
                                margin-bottom: 20px;
                                width: 155px;

                                &.empty {
                                    margin: 0;
                                    padding: 12px 20px;
                                }

                                h3 {
                                    a {
                                        color: #d6d6d6;
                                        display: block;
                                        font: normal 12px/14px 'proxima-nova';
                                        font-weight: 300;
                                        height: 28px;
                                        overflow: hidden;
                                        word-wrap: break-word;
                                        width: 100%;
                                    }
                                }

                                img {
                                    border: 2px solid white;
                                    height: 100px;
                                    margin-bottom: 6px;
                                    width: 155px;
                                }
                            }
                        }

                        ul.conversations {
                            li {
                                padding: 12px 20px;

                                div.comment {
                                    @include border-radius(12px, 12px);
                                    background: #575757;
                                    min-height: 36px; 
                                    padding: 10px 7px;
                                    position: relative;

                                    img.img-circle {
                                        border: 2px solid white;
                                        float: left;
                                        height: 32px;
                                        width: 32px;
                                    }

                                    p {
                                        color: #FFFFFF;
                                        float: right;
                                        font: 300 19px/18px 'futura-pt-condensed';
                                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                                        vertical-align: middle;
                                        width: 272px;

                                        span {
                                            display: inline-block;
                                            vertical-align: -8px;

                                            span.highlight {
                                                vertical-align: 0;
                                                margin: 0 2px;
                                            }
                                        }
                                    }
                                }

                                p.description {
                                    color: #5f5f5f;
                                    font: italic 12px/14px 'proxima-nova';
                                    font-weight: 300;
                                    position: relative;
                                    text-indent: 8px;
                                    top: 3px;

                                    a {
                                        color: #d6d6d6;   
                                    }
                                }

                                span.corner {
                                    bottom: -32px;
                                    position: absolute;
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    line-height: 0;
                                    border: solid 18px #575757;
                                    border-color: #575757 transparent transparent transparent;
                                    @include border-radius(0px, 0px);
                                    left: 260px;
                                }
                            }
                        }

                        ul.users {
                            li {
                                padding: 12px 20px;

                                img.img-circle {
                                    border: 2px solid white;
                                    float: left;
                                    height: 42px;
                                    width: 42px;
                                }

                                div.user {
                                    display: inline-block;
                                    float: left;
                                    min-height: 46px; 
                                    position: relative;
                                    margin-left: 5px;
                                    width: 270px;

                                    strong, span {
                                        color: #FFFFFF;
                                        display: inline-block;
                                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

                                        a {
                                            color: #d6d6d6;   
                                        }
                                    }

                                    strong {
                                        font: normal 19px/26px 'futura-pt-condensed';
                                    }

                                    span.bio {
                                        font: 300 12px/13px 'proxima-nova';
                                    }

                                    &.bio {
                                        strong, span.bio {
                                            position: relative;
                                            top: -6px;
                                        }

                                        span.bio {
                                            span.highlight { margin: 0 1px; }
                                        }
                                    }
                                }
                            }
                        }
                        
                        ul {
                            margin-bottom: 20px;

                            li {
                                color: white;

                                h3 {
                                    color: white;
                                    font: normal 14px/18px 'proxima-nova';
                                }

                                span.highlight {
                                    @include border-radius(2px, 2px);
                                    background: rgba(23, 136, 188, 0.9);
                                    padding: 0 2px;
                                    color: white;
                                    vertical-align: 0;
                                }

                                &.empty {
                                    width: auto;

                                    h3.empty {
                                        color: white;
                                        font: normal 14px/18px 'proxima-nova'; 
                                        opacity: 0.75;
                                        height: auto;
                                    }
                                }
                            }
                        }

                        div.fbz-pagination {
                            position: absolute;
                            bottom: 0;

                            ul {
                                padding-left: 10px;

                                li {
                                    display: inline-block;
                                    padding-right: 5px;

                                    a {
                                        color: rgba(255, 255, 255, 0.9);
                                        display: block;
                                        font: normal 16px/20px 'futura-pt-condensed';
                                        text-decoration: none;
                                        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
                                        @include single-transition(color .1s ease-in-out);

                                        &.hover {
                                            color: rgba(255, 255, 255, 1);
                                            @include single-transition(color .1s ease-in-out);
                                        }
                                    }

                                    a.next, a.prev {
                                        color: rgba(123, 123, 123, 0.9);
                                        display: inline;
                                        vertical-align: baseline;
                                        height: auto;

                                        i { font-size: 14px; }
                                        
                                        &.hover {
                                            color: rgba(123, 123, 123, 1.0);
                                        }
                                    }

                                    &.active {
                                        a {
                                            @include border-radius(2px, 2px);
                                            background: #767676;
                                            color: rgba(255, 255, 255, 1);
                                            font-weight: 500;
                                            padding: 0 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

div.marketing-content {
    min-height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;

    div.anystretch img {
        left: 0 !important;
        top: -143px !important;
    }

    #home {
        min-height: 1300px;
        width: 100%;
        position: relative;

        h1 {
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 40px;
            font-weight: 300;
            padding: 37px 0;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .56);

            em {
                font-weight: 500;
            }
        }

        #watch {
            height: 670px;

            div.anystretch {
                img {
                    bottom: 0px !important;
                    height: 820px !important;
                    min-width: 1600px;
                }
            }

            #watch-container {
                padding-bottom: 37px;

                #video-container {
                    padding-left: 500px;
                    background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
                    border-radius: 2px 2px 2px 2px;
                    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.10);
                    float: left;
                    overflow: hidden;
                    padding: 17px 17px 20px 17px;
                    background-color: white;
                    height: 440px;
                    margin: 0 38px 0 262px;
                    width: 640px;

                    iframe {
                        background: #202020;
                        border-bottom: 3px solid #202020;
                        border-radius: 3px 3px 3px 3px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    }
                }

                #callout {
                    @include border-radius(2px, 2px);
                    background: rgba(255, 255, 255, 0.75);
                    height: 258px;
                    margin-top: 0;
                    float: left;
                    padding: 17px;
                    width: 192px;

                    p {
                        font-family: 'proxima-nova';
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 22px;
                        text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
                    }

                    a.signup { float: right; }
                }
            }
        }

        h2.header {
            background: #3c89af;
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 34px;
            font-weight: 300;
            margin-bottom: 0;
            padding: 38px 0px;
            text-align: center;
            text-transform: uppercase;
        }

        a.signup {
            @include border-radius(2px, 2px);
            background-color: #9e0f84;
            display: block;
            color: white;
            font-family: 'futura-pt-condensed';
            font-size: 20px;
            font-weight: 700;
            padding: 8px 0;
            text-align: center;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
            width: 130px;
            @include single-transition(background-color .1s ease-in-out);

            &:hover { 
                text-decoration: none;
                background-color: #7A0066;
                @include single-transition(background-color .1s ease-in-out);
            }

            em {
                font-size: 10px;
                padding-left: 2px;
                position: relative;
                top: -1px;
                vertical-align: middle;
            }
        }

        span.arrow {
            background: url('../img/arrow.png') no-repeat center bottom;
            content: " ";
            height: 24px;
            position: absolute;
            top: -2px;
            width: 85px;
            z-index: 100;
        }

        #community {
            height: 442px;

            div.anystretch {
                img {
                    bottom: 0px !important;
                    height: 585px !important;
                    min-width: 1600px;
                }
            }

            #community-container {
                padding-left: 93px;
                padding-top: 30px;
                padding-bottom: 86px;
                position: relative;

                    span.arrow { 
                        top: 0;
                        left: 594px; 
                    }

                    h3 {
                        color: #202020;
                        font-family: 'proxima-nova';
                        font-size: 34px;
                        font-weight: 300;
                        padding-top: 63px;
                        padding-bottom: 23px;
                    }

                p {
                    color: #202020;
                    font-family: Georgia, serif;
                    font-style: italic;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 29px;
                    width: 320px;
                }
            }
        }

        #framebuzz {
            background: #000000;
            height: 615px;
            width: 100%;

            div.anystretch {
                img {
                    top: 80px !important;
                }
            }

            #highlights {
                background: rgba(0, 0, 0, .74);

                #framebuzz-container {
                    position: relative;

                    span.arrow { left: 553px; }

                    ul {
                        padding-bottom: 35px;

                        li {
                            float: left;
                            padding: 0 19px;
                            width: 262px;
                            margin-top: -10px;

                            h4 {
                                color: white;
                                font-family: 'futura-pt-condensed';
                                font-size: 25px;
                                font-weight: 300;
                                margin-bottom: 20px;
                                text-align: center;
                            }

                            img {
                                height: 150px;
                                margin: 0 53px;
                                width: 150px;

                                &.discover {
                                    margin: 0 55px;
                                    position: relative;
                                    top: 5px;
                                }
                            }

                            p {
                                color: #d9d9d9;
                                font-family: Georgia, serif;
                                font-style: italic;
                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            h3 {
                color: white;
                font-family: 'proxima-nova';
                font-size: 28px;
                font-weight: 500;
                padding: 12px 0;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .56);
            }
        }

        #signup {
            background: white;

            span.arrow { left: 557px; }

            #signup-container {
                padding-top: 70px;
                padding-bottom: 75px;
                position: relative;

                h3 {
                    color: #454848;
                    font-family: 'proxima-nova';
                    font-size: 30px;
                    font-weight: 300;
                    margin-bottom: 13px;
                    text-align: center;
                }

                h4 {
                    color: #454848;
                    font-family: Georgia, serif;
                    font-style: italic;
                    font-size: 14px;
                    margin-bottom: 68px;
                    text-align: center;
                }

                ul {
                    margin: 0 auto;
                    width: 650px;

                    li {
                        color: #454848;
                        float: left;
                        width: 260px;

                        &.first { margin-right: 75px; }
                        
                        h5 {
                            font-family: 'proxima-nova';
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 19px;
                            text-align: right;
                        }

                        p {
                            font-family: Georgia, serif;
                            font-style: italic;
                            font-size: 14px;
                            height: 214px;
                            line-height: 20px;
                            text-align: right;
                        }

                        span {
                            margin-top: 34px;
                            display: block;
                            font-family: 'proxima-nova';
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 19px;
                            text-align: right;
                            float: right;
                        }

                        a.signup {
                            margin-top: 24px;
                            float: right;
                        }
                    }
                }
            }
        }
    }

    #press {
        background: white;
        min-height: 800px;

        div.header {
            background: #2289ba;

            span {
                color: white;
                display: block;
                padding: 30px 0;
                font-family: 'proxima-nova';
                font-weight: 300;
                font-size: 24px;
                line-height: 24px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
            }
        }

        div.alert {
            font-family: 'proxima-nova';
            font-weight: 300;
            margin: 0 auto;
            width: 600px;
        }

        #media, #releases {
            padding-bottom: 45px;

            div.header {
                margin-bottom: 0;
            }

            div.wrapper {
                h2 {
                    color: #383835;
                    font-family: 'proxima-nova';
                    font-weight: 300;
                    font-size: 24px;
                    padding: 36px 0;
                }

                table {
                    width: 100%;
                    padding-bottom: 45px;

                    tr {
                        td {
                            padding-bottom: 45px;
                            width: 33%;

                            a {
                                &:hover { text-decoration: none; }

                                img {
                                    float: left;
                                    margin-right: 20px;
                                }

                                div.file {
                                    float: left;

                                    span.title {
                                        color: #2289ba;
                                        display: block;
                                        font-family: 'proxima-nova';
                                        font-weight: 300;
                                        font-size: 17px;
                                        margin-bottom: 9px;
                                    }

                                    span.type {
                                        color: #7a7a7a;
                                        display: block;
                                        font-family: 'proxima-nova';
                                        font-weight: 300;
                                        font-size: 17px;
                                        line-height: 19px; 
                                    }
                                }
                            }

                            a:hover {
                                div.file {
                                    span.title { text-decoration: underline; }
                                }
                            }
                        }
                    }
                }

                p {
                    color: #383835;
                    line-height: 25px;                                                            
                    font-family: 'proxima-nova';
                    font-weight: 300;
                    font-size: 18px;

                    a {
                        color: #2289ba;
                    }
                }
            }
        }
    }

    #about {
        font-family: 'proxima-nova';
        font-weight: 300;

        #manifesto {
            background: #fafafa;
            padding: 52px 0;

            h1 {
                color: #393a36;
                font-size: 24px;
                margin-bottom: 32px;
                text-align: center;
            }

            p {
                font-family: Georgia, serif;
                font-style: italic;
                font-size: 16px;
                text-align: center;
                line-height: 20px;
                margin: 0 auto;
                width: 825px;
            }
        }

        #who {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgba(23, 136, 188, 0.6)), color-stop(100%, rgba(23, 136, 188, 1.0)));
            background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            padding: 52px 0;

            h1 {
                color: white;
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            h2 {
                color: white;
                font-family: Georgia, serif;
                font-style: italic;
                font-size: 16px;
                margin-bottom: 72px;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            ul {
                li {
                    display: block;
                    float: left;
                    padding: 36px 0;
                    width: 338px;
                    margin-right: 93px;

                    &:last-child { margin-right: 0; }

                    h3 {
                        color: white;
                        font-weight: bold;
                        font-size: 24px;
                        margin-bottom: 23px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }

                    p {
                        color: white;
                        font-family: Georgia, serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }

        #team {
            background: #fafafa;
            padding: 52px 0;

            h1 {
                color: #393a36;
                font-size: 24px;
                text-align: center;
                margin-bottom: 32px;
            }

            ul {
                li {
                    display: block;
                    float: left;
                    padding: 36px 0;
                    width: 338px;
                    margin-right: 93px;
                    min-height: 300px;

                    &.last { margin-right: 0; }

                    img {
                        margin-bottom: 48px;
                    }

                    h2 {
                        color: rgba(23, 136, 188, 1.0);
                        font-weight: 500;
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 24px;
                    }

                    h3 {
                        margin-bottom: 32px;
                        text-align: center;
                    }

                    p {
                        color: #3f3f3f;
                        font-family: Georgia, serif;
                        font-style: italic;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                    }
                }
            }   
        }

        #contact {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, rgba(23, 136, 188, 0.6)), color-stop(100%, rgba(23, 136, 188, 1.0)));
            background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, rgba(23, 136, 188, 1.0) 100%);
            padding: 52px 0;


            h1 {
                color: white;
                font-size: 30px;
                margin-bottom: 32px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }

            div.alert-success {
                margin: 30px auto 50px;
                width: 500px;
            }

            #contact-form {
                width: 1063px;

                label { 
                    color: white; 
                    padding-bottom: 8px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                }

                input[type='text'] {
                    margin-bottom: 35px;
                    width: 440px;
                }

                textarea { 
                    height: 215px;
                    width: 565px;
                }

                div.user {
                    float: left;
                    margin-right: 28px;
                }

                div.message {
                    float: left;
                }

                p.submit {
                    button {
                        @include border-radius(2px, 2px);
                        border: none;
                        background: #18678c;
                        color: white;
                        padding: 10px 0;
                        float: right;
                        font-size: 14px;
                        width: 199px;
                        text-align: center;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    #signup-page, #login-page, #reset-password, #reset-password-done, #change-password {
        color: #383835;
        height: 840px;
        padding: 45px 0;
        font-family: 'proxima-nova';
        font-weight: 300;

        div.wrapper {
            background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
            background-color: white;
            border-radius: 2px 2px 2px 2px;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.10);
            margin: 0 auto;
            overflow: hidden;
            padding: 25px;
            width: 400px;

            h1 {
                font-family: 'proxima-nova';
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-bottom: 25px;
            }

            p.description {
                text-align: center;
                padding-bottom: 25px;
            }

            ul.socialaccount_providers {
                margin: 0 auto;
                padding: 25px 0;
                width: 245px;

                li {
                    float: left;
                    height: 64px;
                    margin-right: 25px;
                    width: 64px;

                    &:last-child { margin-right: 0; }

                    a {
                        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
                        display: block;
                        height: 64px;
                        width: 64px;

                        &.facebook { background-color: #3B5998; }
                        &.twitter { background-color: #4099FF; }
                        &.google { background-color: #D34836; }

                        img {
                            padding: 16px;
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            }

            button.signup {
                @include border-radius(2px, 2px);
                background-color: #9e0f84;
                border: 0;
                display: block;
                color: white;
                float: right;
                font-family: 'futura-pt-condensed';
                font-size: 20px;
                font-weight: 700;
                padding: 8px 0;
                text-align: center;
                text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
                min-width: 130px;
                @include single-transition(background-color .1s ease-in-out);

                &:hover { 
                    text-decoration: none;
                    background-color: #7A0066;
                    @include single-transition(background-color .1s ease-in-out);
                }

                em {
                    font-size: 10px;
                    padding-left: 2px;
                    position: relative;
                    top: -1px;
                    vertical-align: middle;
                }
            }

            ul.errorlist {
                margin: 0 auto;
                margin-bottom: 5px;
                width: 300px;

                li {
                    color: #990000;
                    text-align: center;
                }
            }

            form {
                p {
                    padding-bottom: 10px;

                    label { 
                        margin-bottom: 5px; 
                        font-weight: 500;
                    } 

                    input { 
                        font-family: 'proxima-nova' !important;
                        width: 385px; 
                    }
                }

                p.terms {
                    padding: 0px 0 15px 0;
                    line-height: 20px;
                }

                div.actions {
                    a.secondaryAction {
                        display: block;
                        float: left;
                        line-height: 38px;
                    }
                }
            }
        }
    }

    #login-page {
        div.wrapper {
            form {
                p {
                    label {
                        display: table-cell;
                        padding-bottom: 5px;
                        margin-bottom: 0;
                        width: 50%; 
                    }

                    input[type='checkbox'] {
                        display: block;
                        left: 112px;
                        position: relative;
                        top: -24px;
                        width: 15px;
                    }
                }
            }
        }
    }

    #reset-password {
        div.wrapper {
            p.description {
                text-align: left;
            }

            form {
                margin-bottom: 25px;

                div.actions {
                    button.signup {
                        min-width: 160px;
                    }
                }
            }

            p.help {
                padding-bottom: 0;
            }
        }
    }

    #change-password {
        div.wrapper {
            form {
                div.actions {
                    button.signup {
                        min-width: 200px;
                    }
                }
            }
        }
    }
}

#privacy, #terms {
    div.content-wrapper {
        background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
        background-color: white;
        box-shadow: 0 -5px 0 5px rgba(0, 0, 0, 0.10);
        margin: 0 auto;
        width: 1200px;

        div.page-content {

            font-family: 'proxima-nova';
            font-weight: 300;
            padding: 25px;

            h1 {
                font-weight: 700;
                font-size: 24px;
            }

            ul { list-style-type: circle inside none; }

            p, ul li, ol li {
                font-size: 14px;
                margin-bottom: 15px;
                line-height: 20px;
            }
        }
    }
}


body.background-bottom {
    &.terms {
        div.marketing-content {
            min-height: 4693px;
            width: 100%;
        }
    }

    &.privacy {
        div.marketing-content {
            min-height: 3405px;
            width: 100%;
        }
    }

    &.accounts, &.zinnia {
        div.marketing-content {
            min-height: 840px;
            width: 100%;
        }
    }

    div.marketing-content {
        div.anystretch {
            background-color: #188bbe;

            img {
                left: 0px !important;
                top: auto !important;
                bottom: -5px !important;
                height: 1178px !important;
            }
        }
    }
}

/*
 *      FrameBuzz Blog
 */

body.zinnia {
    font: 14px/18px normal 'proxima-nova';

    div.marketing-content {
        div.wrapper {
            #zinnia-content {
                background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 transparent;
                background-color: white;
                box-shadow: 0 -5px 0 5px rgba(0, 0, 0, 0.10);
                padding-top: 20px;
                min-height: 840px;

                h1 {
                    color: #323232;
                    font: 30px/36px normal 'futura-pt-condensed';
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 25px;
                }

                h2 {
                    color: #323232;
                    font: 30px/36px normal 'futura-pt-condensed';
                    font-weight: 300;
                    text-transform: uppercase;
                }

                h3, legend {
                    color: #323232;
                    font: 24px/30px normal 'futura-pt-condensed';
                    font-weight: 300;
                    text-transform: uppercase;
                }
                
                form {
                    legend {
                        padding-bottom: 20px;
                        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
                    }

                    label { 
                        font-weight: 700;
                        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
                    }

                    textarea {
                        height: 70px;
                        margin: 5px 0 20px 0;
                        width: 720px;
                    }

                    p.auth, p.submit {
                        float: left;
                        width: 50%;
                    }

                    p.auth {
                        position: relative;
                        top: 10px;
                    }

                    p.submit {
                        float: right;

                        .btn {
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }

                article {
                    header {
                        h2 {
                            color: #323232;
                            font: 30px/24px normal 'futura-pt-condensed';
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }

                    div.entry-content {
                        line-height: 20px;
                        padding: 25px 0;

                        &.continue {
                            padding: 25px 0 10px 0;
                        }
                    }

                    footer {
                        border-bottom: 1px dotted #ccc;
                        margin-bottom: 25px;
                        padding: 25px 0 10px 0;

                        p {
                            float: left;
                            width: 50%;
                        }

                        p.entry-tags {
                            float: right;
                            text-align: right;
                        }
                    }
                }

                div.entry-similar {
                    border-bottom: 1px dotted #ccc;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                }
                
                div.entry-prev-next {
                    border-bottom: 1px dotted #ccc;
                    margin-bottom: 15px;
                    
                    ul.pager {
                        margin: 23px 0;
                    }
                }

                section {
                    border-bottom: 1px dotted #ccc;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                }

                #sidebar {
                    aside {
                        h3 {
                            color: #323232;
                            font: 26px/32px normal 'futura-pt-condensed';
                            font-weight: 300;
                            padding-bottom: 5px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

div.footer {
    background-color: black;
    padding: 33px 0;

    a, i {
        color: white;
        border-left: none;
        font-family: 'futura-pt-condensed';
        font-weight: 300;
        font-size: 17px;
        text-transform: uppercase;
        float: right;
        display: inline-block;
        margin-left: 13px;
        opacity: 0.8;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }
    }

    i {
        font-size: 16px;
        margin-left: 13px;
        margin-right: 0;
        padding-top: 1px;
    }

    a.active, a:hover { background: none !important; }

    span {
        color: white;
        display: block;
        font-family: 'futura-pt-condensed';
        font-weight: 300;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        display: inline-block;
    }
}


/*
 *      iPad Compatibility
 */

@media screen and (device-aspect-ratio: 3/4) {
    .wrapper {
        width: 768px;
    }

    div.navbar {
        width: 768px;

        div.navbar-inner {
            width: 100%;

            a.brand {
                padding: 20px 0px 0px 0px;
                height: 45px;
                width: 207px;
            }
        }
    }

    div.marketing-content {
        #home {
            #watch {
                div.anystretch {
                    min-width: 768px;
                }

                #watch-container {
                    #video-container {
                        margin-left: 25px;
                    }

                    #callout {
                        height: 108px;
                        margin: 25px 10px;
                        width: 648px;
                    }
                }
            }
        }

        #community {
            div.anystretch { display: none; }
        }
    }
}