@import "compass";
@import "compass/css3/border-radius";
@import "compass/reset";
@import "compass/css3/transition";
// =============================================================================
// Basics
// =============================================================================

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none !important;
}
// Accomodate for smaller-width design.
@media (min-width: 800px) {
    .container {
        overflow: hidden;
        width: 736px;
    }
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.embed-responsive-4by3 {
    padding-bottom: 0 !important;
}
// =============================================================================
// Elements
// =============================================================================

body {
    background: #2d3c51;
    font: 12px/16px 'proxima-nova';
}
// =============================================================================
// Classes
// =============================================================================

.blue-round {
    background-color: #28374c;
    border: 1px solid #26354a;
    padding: 44px 0 10px 3px;
    text-align: center;
    width: 100%;

    &.no-videos {
        padding: 44px 0;
    }
}

.multi-item-carousel {
    .carousel-inner {
        > .item {
            transition: 500ms ease-in-out left;
        }

        .active {
            &.left {
                left: -25%;
            }

            &.right {
                left: 25%;
            }
        }

        .next {
            left: 25%;
        }

        .prev {
            left: -25%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
            > .item {
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none !important;
            }
        }
    }

    .carouse-control {
        &.left,
        &.right {
            background-image: none;
        }
    }
}

#growls {
    div.growl {
        div.growl-title {
            display: none;
        }
    }
}
// =============================================================================
// IDs
// =============================================================================

#sidenav {
    left: -15px;
    margin-top: 30px;
    position: absolute;
    top: 188px;

    div.innernav {
        a {
            border: 0 none;
            color: #cccccc;
            display: block;
            height: 62px;
            font: 20px 'lobster';
            width: 100%;

            span.icon {
                background: url('../../img/v2/sidenav@2x.png') no-repeat;
                background-size: 126px 187px;
                display: inline-block;
                height: 62px;
                margin-right: 9px;
                width: 62px;
                vertical-align: middle;
            }

            &:hover {
                text-decoration: underline;
            }

            &.upload {
                span.icon {
                    background-position: 0 0;
                }

                &:hover {
                    span.icon {
                        background-position: -64px 0;
                    }
                }
            }

            &.framebuzzes {
                span.icon {
                    background-position: 0 -62px;
                }

                &:hover {
                    span.icon {
                        background-position: -64px -62px;
                    }
                }
            }

            &.share {
                span.icon {
                    background-position: 0 -124px;
                    height: 63px;
                }

                &:hover {
                    span.icon {
                        background-position: -64px -124px;
                    }
                }
            }
        }
    }
}

#base {
    #header {
        position: relative;

        #logo-content {
            #fbz-logo {
                background: url('../../img/v2/bkg-header@2x.png') repeat-x;
                background-size: 1px 76px;
                height: auto;

                img {
                    background-size: 736px 76px;
                }
            }

            #tumblr-video-chat {
                background: white;
                height: auto;

                img {
                    background-size: 736px 93px;
                }
            }

            #what-is-fbz {
                background: #2d3c51;
                height: auto;

                img {
                    background-size: 736px 88px;
                }
            }
        }

        #actions {
            background: #3a4a60;
            padding: 11px 0 10px 0;

            p.login-info {
                cursor: default;
                font-size: 0.66rem;
                line-height: 11px;

                span.as {
                    color: #8597b1;
                    font-size: 10px;
                    padding-top: 1px;
                    position: relative;
                    top: 1px;
                }

                a.username {
                    color: #9ba6b5;
                    font-size: 12px;
                    position: relative;
                    top: 1px;
                    font-weight: 600;
                    display: inline-block;
                    vertical-align: baseline;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                a,
                input {
                    color: #8597b1;
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: underline;
                }

                a {
                    padding-left: 8px;
                }

                input {
                    background: none;
                    border: none;
                    font-size: 10px;
                    margin-left: -7px;
                }

                img.avatar {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 5px;
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    #example {
        position: relative;
        max-height: 180px;

        #embed-row {
            height: 180px;

            .mejs-container {
                background: none;
                height: 180px !important;
            }
        }
    }

    #login-row {
        overflow: hidden;
        min-height: 69px;
        padding-top: 14px;

        a.btn-login {
            background: url('../../img/v2/btn-login@2x.png') no-repeat;
            background-size: 290px 80px;
            width: 290px;
            margin: 0 auto;
            height: 38px;

            &:hover {
                background-position: 0 -43px;
            }
        }

        a.btn-start-fbz {
            background: url('../../img/v2/btn-upload@2x.png') no-repeat;
            background-size: 271px 86px;
            display: block;
            height: 43px;
            overflow: hidden;
            margin: 0 auto;
            width: 271px;

            &:hover {
                background-position: 0 -46px;
            }
        }
    }

    #fbz-on-tumblr {
        background: white;
        min-height: 96px;

        div.carousel-header {
            min-width: 320px;
            height: 43px;
            margin: 0 auto;
            overflow: hidden;

            img {
                background-size: 736px 70px;
                height: 70px;
                position: absolute;
                left: -210px;
                top: -20px;
            }
        }

        #featured-videos-carousel {
            height: 74px;
            width: 300px;
            margin: 0 13px;

            a.carousel-control {
                background: rgba(238, 238, 238, 0.69);
                cursor: pointer;
                display: block;
                height: 42px;
                top: 43px;
                width: 11px;

                i {
                    font-size: 0.5rem;
                    position: absolute;
                    top: 18px;
                    left: 3px;
                    text-shadow: none;
                }

                &.left {
                    left: -6px;
                }

                &.right {
                    right: 0;
                }
            }

            div.carousel-inner {
                margin-left: 9px;
                margin-right: 9px;
                height: 77px;

                div.item {
                    display: inline-block;
                    margin-right: 9px;
                    width: 100%;

                    img.cover {
                        background-repeat: no-repeat;
                        background-size: 77px 42px;
                        height: 77px;
                    }

                    a {
                        display: block;
                        position: relative;
                        height: 100%;
                        width: 100%;

                        span.bubble {
                            background: url('../../img/v2/bubble@2x.png') no-repeat;
                            background-size: 50px 50px;
                            color: white;
                            display: block;
                            font-family: 'Lobster';
                            position: absolute;
                            text-align: center;
                            z-index: 10;
                            background-size: 23px 23px;
                            font-size: 10px;
                            height: 23px;
                            width: 23px;
                            padding: 1px 0 0px;
                            left: 33%;
                            top: 11px;
                        }

                        &:hover {
                            -webkit-box-shadow: inset 4px 4px 18px 18px rgba(255,255,255,0.1);
                            -moz-box-shadow: inset 4px 4px 18px 18px rgba(255,255,255,0.1);
                            box-shadow: inset 4px 4px 18px 18px rgba(255,255,255,0.1);
                        }
                    }
                }
            }
        }
    }

    #uploader {
        min-height: 230px;

        h1 {
            color: white;
            font-size: 32px;
            font-family: 'lobster';
            text-align: center;
            line-height: 43px;
            padding-bottom: 5px;
            padding-top: 24px;
            text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
        }

        div.container {
            padding-left: 0;
            padding-right: 0;
        }

        #upload-container {
            #upload-video-form {
                div.submit-row {
                    margin-top: 11px;

                    input.btn {
                        @include border-radius(5px, 5px);
                        background: #38485f;
                        color: white;
                        cursor: pointer;
                        width: 100%;

                        &:hover {
                            background: #15273c;
                        }
                    }
                }

                input,
                textarea {
                    font: 13px/16px 'proxima-nova';
                    color: #888888;
                    @include border-radius(3px, 3px);

                    &::-webkit-input-placeholder {
                        /* WebKit browsers */
                        color: #28374c;
                        font-weight: 300;
                        font-style: italic;
                    }

                    &:-moz-placeholder {
                        /* Mozilla Firefox 4 to 18 */
                        color: #28374c;
                        font-weight: 300;
                        font-style: italic;
                    }

                    &::-moz-placeholder {
                        /* Mozilla Firefox 19+ */
                        color: #28374c;
                        font-weight: 300;
                        font-style: italic;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10+ */
                        color: #28374c;
                        font-weight: 300;
                        font-style: italic;
                    }

                    &.placeholder {
                        color: #28374c;
                        font-weight: 300;
                        font-style: italic;
                    }

                    &:focus {
                        border: 1px solid #28374c;
                        outline: 0;
                    }

                    &.error {
                        border: 1px solid red;

                        &:-moz-placeholder {
                            /* Mozilla Firefox 4 to 18 */
                            color: red;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &::-moz-placeholder {
                            /* Mozilla Firefox 19+ */
                            color: red;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:-ms-input-placeholder {
                            /* Internet Explorer 10+ */
                            color: red;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &.placeholder {
                            color: red;
                            font-weight: 300;
                            font-style: italic;
                        }
                    }
                }

                div.textarea-row {
                    margin-top: 11px;

                    textarea {
                        height: 135px;
                    }
                }

                div.drop-pane-row {
                    input.filepicker {
                        display: none;
                    }

                    #upload-drop-pane div.filepicker {
                        -moz-border-radius: 4px / 4px !important;
                        -webkit-border-radius: 4px 4px !important;
                        border-radius: 4px / 4px !important;
                        border: 17px solid #55677f;
                        padding: 0 !important;
                        position: relative;
                        width: 100%;
                        background-color: #55677f;
                        left: 0px;
                        z-index: 100;
                        // Makes the drop zone easier to hit.
                    }

                    #upload-drop-pane > div > div {
                        -moz-border-radius: 4px / 4px !important;
                        -webkit-border-radius: 4px 4px !important;
                        border-radius: 4px / 4px !important;
                        background-color: #55677f !important;
                        border: 3px dashed #7687a3 !important;
                        color: white !important;
                        float: none !important;
                        margin: 0 !important;
                        padding: 30px 11px 63px !important;
                        text-align: center !important;
                        width: 100% !important;
                        line-height: 14px !important;
                        font-size: 14px !important;
                        font-weight: 700;
                        min-height: 146px;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

                        em {
                            display: block;
                            font-size: 11px !important;
                            padding-top: 5px !important;
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                            font-weight: normal;
                        }

                        span {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            float: none !important;
                            font-size: 18px !important;
                        }
                    }

                    #upload-drop-pane > div > div.error {
                        border: 2px dashed red !important;
                    }

                    #upload-drop-pane > div > div > div {
                        height: 22px !important;
                        margin: 0 3px !important;
                    }

                    #upload-drop-pane > div > button.btn-info {
                        @include border-radius(5px, 5px);
                        background: #37aef0;
                        border: none;
                        position: absolute;
                        bottom: 22px;
                        left: 20%;
                        padding: 4px 22px;
                        width: 60%;
                        z-index: 100;

                        &:hover {
                            background: #007ab8;
                        }
                    }
                }

                div.upload-pane {
                    margin-top: 11px;
                }
            }

            #upload-login {
                p.login {
                    padding-bottom: 21px;

                    a {
                        color: #36aeef;
                        text-decoration: underline;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                        font-size: 19px;
                        font-weight: bold;
                    }
                }

                p.info {
                    color: white;
                    font-size: 13px;
                    line-height: 18px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                }
            }

            &.logged-in {
                padding: 21px 17px 17px;
            }

            &.logged-out {
                padding: 35px 23px;

                #upload-login {
                    p.info {
                        font-size: 0.75rem;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    #post {
        background: #334359;
        min-height: 297px;
        position: relative;
        bottom: 9px;
        padding-top: 24px;

        h1 {
            color: #92a2b8;
            font-size: 1.3rem;
            line-height: 20px;
            font-family: 'lobster';
            text-align: left;
            padding-bottom: 16px;
        }

        em {
            color: #fffffd;
        }

        img {
            border: 2px solid white;
            display: inline-block;
            margin-left: 28px;
            margin-right: 11px;
        }

        p.info {
            color: rgba(255, 255, 255, 0.6);
            padding-top: 20px;
            font-weight: 500;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            word-break: break-word;
            letter-spacing: -0.03em;
            font-size: 0.8rem;
            line-height: 15px;
        }
    }

    #videos {
        margin-top: 41px;
        margin-bottom: 100px;

        h3 {
            a {
                color: white;
                display: block;
                font: 26px 'lobster';
                padding-bottom: 8px;
                text-align: center;
                text-decoration: none;
                text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
            }
        }

        #no-videos {
            min-height: 112px;
            text-align: center;
            margin-bottom: 56px;

            h4 {
                color: #495b75;
                font: 28px/48px 'proxima-nova';
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            }

            p {
                color: #677a94;
                font: 19px/40px 'proxima-nova';
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            }
        }

        div.page-wrapper {
            div.pagination {
                @include border-radius(3px, 3px);
                background: #314056;
                padding: 7px 0 3px;
                width: auto;
                position: absolute;
                right: 19px;
                bottom: 15px;
                margin: 0;

                ul {
                    padding: 0;
                    width: 100%;

                    li {
                        display: inline-block;
                        padding: 0 2px;

                        a,
                        span {
                            color: #92a2b8;
                            font: 14px/18px 'proxima-nova';
                            font-weight: 500;
                            float: left;
                        }

                        &.active {
                            @include border-radius(3px, 3px);
                            background: #4583d8;
                            padding: 0 6px;

                            a {
                                font-weight: 700;
                                color: white;
                            }
                        }

                        a.page-link {
                            i {
                                vertical-align: baseline;
                                position: relative;
                                top: 1px;
                            }

                            &.prev i {
                                margin-right: 2px;
                            }

                            &.next i {
                                margin-left: 2px;
                            }

                            &.next,
                            &.prev {
                                text-decoration: underline;
                            }
                        }

                        span.disabled {
                            &.prev {}

                            &.next {}
                        }
                    }
                }
            }
        }

        #video-list {
            padding: 0px 22px 22px 22px;

            .no-padding {
                padding-left: 0;
                padding-right: 0;
            }

            div.item {
                padding-top: 22px;

                div.edit-container {
                    display: none;
                    position: absolute;
                    z-index: 99999;

                    &.loaded {
                        display: block;
                    }

                    div.edit-video {
                        form {
                            div.form-row {
                                overflow: hidden;
                                height: 31px;

                                input {
                                    color: #333333;
                                    border: 0 none;
                                    font: 700 0.63rem 'proxima-nova';
                                    padding: 9px 30px 9px 9px;
                                    position: relative;
                                    z-index: 10;
                                    width: 100%;
                                    left: 0;
                                }

                                a.btn-delete-video {
                                    color: #333333;
                                    font-size: 17px;
                                    position: relative;
                                    z-index: 20;
                                    top: -30px;
                                    right: 4px;

                                    &:hover {
                                        color: #1f1f1f;
                                    }
                                }

                                textarea {
                                    color: #525252;
                                    border: 0 none;
                                    height: 151px;
                                    font: 500 11px 'proxima-nova';
                                    padding: 18px 12px;
                                    width: 100%;
                                }
                            }

                            div.submit-row {
                                height: 36px;
                                padding: 0;

                                a.btn-cancel-edit {
                                    background: #757575;
                                    color: white;
                                    cursor: pointer;
                                    display: block;
                                    font: 13px 'proxima-nova';
                                    text-decoration: underline;
                                    padding: 10px 0;
                                    width: 40%;

                                    &:hover {
                                        background: #666666;
                                    }
                                }

                                input.btn-submit {
                                    background: #36aeef;
                                    border: 0 none;
                                    color: white;
                                    cursor: pointer;
                                    display: block;
                                    height: 100%;
                                    font: 15px 'proxima-nova';
                                    text-decoration: underline;
                                    width: 60%;

                                    &:hover {
                                        background: #129ae2;
                                    }
                                }
                            }
                        }
                    }
                }

                div.video {
                    position: relative;
                    z-index: 1;

                    div.overlay {
                        background: rgba(0, 0, 0, 0.4);
                        display: none;
                        position: absolute;
                        top: 20px;
                        width: 100%;
                        z-index: 10;

                        a.edit-video {
                            color: white;
                            cursor: pointer;
                            font: 500 13px 'proxima-nova';
                            text-decoration: underline;
                            position: relative;
                            right: -10px;
                            top: 3px;
                            opacity: 0.8;
                            z-index: 22;
                            @include single-transition(opacity 20ms ease-in-out);

                            &:hover {
                                opacity: 1;
                                @include single-transition(opacity 20ms ease-in-out);
                            }
                        }

                        a.play-video {
                            display: block;
                            height: 47px;
                            margin: 20px auto 0;
                            opacity: 0.8;
                            position: relative;
                            top: 0;
                            width: 47px;
                            z-index: 11;
                            @include single-transition(opacity 20ms ease-in-out);

                            img {
                                height: 47px;
                                width: 47px;
                            }

                            &:hover {
                                opacity: 1;
                                @include single-transition(opacity 20ms ease-in-out);
                            }
                        }

                        a.post-on-tumblr {
                            color: white;
                            display: block;
                            font: 13.9px 'proxima-nova';
                            position: relative;
                            left: 20px;
                            margin: 6px 0 0;

                            img,
                            span {
                                display: block;
                                position: absolute;
                                top: 0;
                            }

                            span {
                                padding: 9px 0;
                                text-indent: 49px;
                                z-index: 6;
                            }

                            img {
                                position: relative;
                                z-index: 5;
                                width: 168px;
                                height: 35px;
                            }
                        }

                        a.copy-embed {
                            color: #9dc5fd;
                            cursor: pointer;
                            display: block;
                            font: 12.64px 'proxima-nova';
                            text-align: center;
                            text-decoration: underline;
                            width: 100%;
                            line-height: 15px;
                            padding: 7px 0;
                        }

                        textarea.embed-code {
                            display: none;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            font: 11px/13px 'courier new';
                            resize: none;
                            word-break: break-all;
                            word-wrap: break-word;
                            bottom: 0;
                            border: 0 none;
                            height: 16px;
                            padding: 2px;
                        }
                    }

                    div.header {
                        padding-bottom: 5px;

                        strong.title {
                            color: white;
                            font: 0.63rem 'proxima-nova';
                            text-align: left;
                            font-weight: 600;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 170px;
                        }

                        strong.duration {
                            color: #92a2b8;
                            font: 11px 'proxima-nova';
                            text-align: right;
                            font-weight: 500;
                        }
                    }

                    &:hover {
                        div.overlay {
                            display: block;
                        }
                    }

                    &.processing {
                        cursor: auto;

                        div.process-message {
                            padding: 0 12px;
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            top: 30px;

                            i {
                                color: white;
                                display: block;
                                margin: 10px auto;
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                            }

                            strong {
                                color: white;
                                display: block;
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                                font-style: normal;
                                font-size: 10px;
                                line-height: 10px;
                                bottom: -41px;
                                position: relative;

                                &.title {
                                    font-weight: 700;
                                    font-style: italic;
                                    font-size: 13px;
                                    line-height: 20px;
                                    margin-bottom: 45px;
                                    top: -6px;
                                }
                            }
                        }

                        div.header {
                            padding-bottom: 7px;

                            strong.title {
                                max-width: 211px;
                            }
                        }

                        img.cover-image {
                            
                        }
                    }
                }

                div.video-description {
                    cursor: pointer;
                    position: relative;
                    padding: 8px 0;
                    width: 100%;
                    opacity: 1;

                    &.hide {
                        opacity: 0;
                    }

                    p {
                        color: #afbfd4;
                        font: 0.6rem 'proxima-nova';
                        font-weight: 300;
                        line-height: 11px;
                        text-align: left;
                        max-height: 50px;
                        height: 100%;
                        opacity: 0;
                        @include single-transition(opacity 20ms ease-in-out);

                        &.complete,
                        &.is-truncated {
                            opacity: 1;
                        }
                    }
                }

                &.expanded {
                    position: relative;
                    z-index: 1000;

                    div.item {
                        margin-bottom: 0;
                    }

                    div.video-description {
                        background-color: rgba(41, 55, 76, 0.9);
                        position: absolute;
                        top: 165px;
                        width: 100%;

                        p {
                            opacity: 1;
                            max-height: none;
                        }
                    }
                }

                a.toggle-description {
                    margin-left: -3px;
                }
            }
        }
    }
}


footer {
    color: white;
    font: bold 16px/20px 'proxima-nova';
    padding-bottom: 13px;
}

// =============================================================================
// Overrides
// =============================================================================

body {
    &.logged-out {
        &.no-carousel {
            #uploader {
                margin-top: 38px;
            }
        }

        p.login-info {
            text-align: right;
            cursor: default;
            color: #8597b1;
            font-size: 10px;

            a {
                padding-left: 5px;
            }
        }
    }

    &.logged-in {
        #base #videos {
            margin-bottom: 95px;
        }

        &.no-carousel {
            #uploader {
                margin-top: 23px;
            }

            #base #videos {
                margin-bottom: 110px;
            }
        }

        &.no-videos {
            #base #videos {
                margin-bottom: inherit;

                #no-videos {
                    margin-bottom: 100px;
                }
            }

            #video-list {
                min-height: auto;
            }

            &.no-carousel {
                #base #videos #no-videos {
                    margin-bottom: 84px;
                }
            }
        }
    }
}

// =============================================================================
// Responsive
// =============================================================================


// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) {

}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .blue-round {
        @include border-radius(6px, 6px);
    }

    #base {
        #header {
            min-height: 257px;

            #actions {
                height: 38px;

                p.info {
                    font-size: 10px;
                }

                &.logged-out {
                    padding-top: 10px;
                }

                &.logged-in {
                    padding-top: 8px;
                }
            }
        }

        #example {
            min-height: 467px;

            #embed-row {
                height: 428px;

                .mejs-container {
                    background: #36465D;
                    height: 428px !important;
                }
            }
        }

        #login-row {
            min-height: 98px;
            padding-top: 0;

            a.btn-login {
                background-size: 446px 108px;
                height: 50px;
                width: 446px;

                &:hover {
                    background-position: 0 -58px;
                }
            }

            a.btn-start-fbz {
                background-size: 339px 106px;
                height: 50px;
                width: 339px;

                &:hover {
                    background-position: 0 -56px;
                }
            }
        }

        #fbz-on-tumblr {
            margin-left: -34px;
            margin-right: -34px;
            min-height: 228px;
            width: 806px;

            div.carousel-header {
                margin-bottom: 27px;

                img {
                    background-size: 736px 70px;
                    left: 35px;
                }
            }

            #carousel {
                margin: 0;
                height: 118px;
                width: 806px;

                a.carousel-control {
                    width: 21px;
                    height: 81px;
                    top: 88px;

                    i {
                        text-shadow: 0px 2px 0px rgba(0,0,0,0.25);
                        top: 37%;
                    }

                    &.left {
                        i {
                            left: 2px;
                        }
                    }

                    &.right {
                        i {
                            right: 2px;
                        }
                    }
                }

                div.carousel-inner {
                    height: 118px;
                    margin: 0 auto;
                    width: 748px;

                    div.item {
                        background-size: 166px 118px;
                        margin-right: 24px;
                        height: 118px;
                        width: 166px;

                        a {
                            span.bubble {
                                background-size: 50px 50px;
                                font-size: 25px;
                                height: 50px;
                                width: 50px;
                                padding: 13px 0 21px;
                                left: 36%;
                                top: 43px;
                            }
                        }
                    }
                }
            }
        }

        #uploader {
            min-height: 354px;

            h1 {
                padding: 16px 0;
            }

            #upload-container {
                #upload-video-form {
                    div.upload-pane {
                        margin-top: 0;
                    }

                    div.drop-pane-row {
                        #upload-drop-pane div.filepicker {
                            width: 105%;
                            left: -14px;
                        }

                        #upload-drop-pane > div > div {
                            font-size: 16px !important;
                        }

                        #upload-drop-pane > div > button.btn-info {
                            width: 47%;
                            left: 27%;
                        }
                    }
                }

                &.logged-in {

                }

                &.logged-out {
                    padding: 44px 17px;

                    #upload-login {
                        p.info {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }

        #post {
            bottom: 0;
            background: none;
            min-height: 235px;
            padding: 0;

            h1 {
                font-size: 38.04px;
                line-height: 43px;
                text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
            }

            p.info {
                font-size: 15px;
                line-height: 30px;
            }
        }

        #videos {
            #video-list {
                div.row {
                    div.video {
                        margin-left: 0;
                        min-height: 230px;

                        div.item {
                            width: 211px;

                            div.header {
                                padding-bottom: 8px;

                                strong.title {
                                    font: 13px 'proxima-nova';
                                    max-width: 170px;
                                }

                                strong.duration {
                                    font: 14px 'proxima-nova';
                                }
                            }
                        }

                        div.video-description {
                            p {
                                font: 12.64px 'proxima-nova';
                                line-height: 14px;
                                font-weight: 500;
                            }
                        }

                        &.processing {
                            div.process-message {
                                width: 211px;

                                strong {
                                    font-size: 10px;
                                    line-height: 12px;

                                    &.title {
                                        font-size: 16px;
                                        margin-bottom: 94px;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                div.item {
                    div.edit-controller {
                        div.edit-video {
                            form {
                                div.submit-row {
                                    height: 48px;

                                    input.btn-submit {
                                        width: 65%;
                                    }
                                    a.btn-cancel-edit {
                                        padding: 16px 0;
                                        width: 35%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
