{% extends "base.html" %}

{% block title %}Comments - {{ title }}{% endblock %}

{% block sub_navigation_items %}
  <li{% if title == 'My Threads' %} class="active"{% endif %}><a href="{% url 'dashboard-profile-comments' 'posted' %}">Posted by You</a></li>
  <li{% if title == 'My Replies' %} class="active"{% endif %}><a href="{% url 'dashboard-profile-comments' 'replied' %}">Replies to You</a></li>
  <li{% if title == 'Favorite Comments' %} class="active"{% endif %}><a href="{% url 'dashboard-profile-comments' 'favorite' %}">Favorite Comments</a></li>
{% endblock %}

{% block dashboard_right %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <p class="form-description"></p>
    <div class="pagination-page">

        {% include "dashboard/snippets/comment_table.html" %}

    </div>
{% endblock %}