{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block page_javascript %}
    <script type="text/javascript">
        function useGeolocation(position) {
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;
          var timeStamp = Math.round(new Date().getTime() / 1000);
          var timeZoneQueryUrl = 'https://maps.googleapis.com/maps/api/timezone/json?sensor=false&location='
                                 + latitude + ',' + longitude + '&timestamp=' + timeStamp;
          var defaultOption = $("#id_time_zone option").filter(function() {
              return $(this).text() == 'America/Chicago';
          });

          // Fetch timezone from Google TimeZone API.
          $.getJSON(timeZoneQueryUrl, function(timeZoneData) {
            var optionToSelect = $("#id_time_zone option").filter(function() {
                return $(this).text() == timeZoneData.timeZoneId;
            });

            if (optionToSelect === null) {
                optionToSelect = defaultOption;
            }

            //$('#id_time_zone option:selected').removeAttr('selected');
            optionToSelect.attr('selected', 'selected');
            optionToSelect.parent().focus();
          });
        }

        function onGeolocationError(error) {
            defaultOption.attr('selected', 'selected');
            defaultOption.parent().focus();
            $('#id_bio').focus();
        }

        $(document).ready(function() {
            if (Modernizr.geolocation) {
                navigator.geolocation.getCurrentPosition(useGeolocation, onGeolocationError);
            }
            else {
              onGeolocationError('no geolocation');
            }
        });
    </script>
{% endblock %}

{% block sub_navigation_items %}
  <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
  <li><a href="{% url 'avatar_change' %}">Change Avatar</a></li>
  <li><a href="{% url 'dashboard-website-edit' %}">Change Website Settings</a></li>
  <li class="active"><a href="{% url 'dashboard-profile-edit' %}">Change Profile Settings</a></li>
{% endblock %}

{% block dashboard_right %}
    <div class="page-header">
    <h1>Edit Profile</h1>
    </div>
    <p class="form-description">Make changes to your public profile below.</p>
    {% if submitted %}
        {% if success %}
            <div class="alert alert-success">
                <strong>Success</strong>: Profile updated successfully!
            </div>
        {% else %}
            <div class="alert alert-error">
                <strong>Error</strong>: {{ form.errors }}
            </div>
        {% endif %}
    {% endif %}
    <form id="edit-user-profile-form" class="form-vertical" method="POST" action="{% url 'dashboard-profile-edit' %}">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
            <li>
                <button class="btn btn-primary" type="submit">Edit Profile</button>
            </li>
        </ul>
    </form>
{% endblock %}