{% extends "dashboard/base.html" %}
{% load socialaccount staticfiles %}

{% block page_javascript %}
<script type="text/javascript">
$(function(){
    
    // FrameBuzz
    var profile = new FramebuzzProfile();
   
   $("#right").css({
        left: '300px',
        top: '60px',
    });
   
   $("#ucard-title").css('text-align', 'center');
});
</script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">
    <script type="text/javascript" src="{% static 'framebuzz/dashboard/js/fbuzz.profile.js' %}"></script>

    
    <h3>Basic Account Settings</h3>
    <hr/>
    <div id='profile-wrapper'>
        <div class='table-like'>
            <div class='row-like'>
                <div class='cell-like' id='left'>
                    <!-- LEFT PANEL -->
                    <div>
                        <input type="hidden" name="videoId" id='ucard-id' value="" />
                        <div id="ucard-thumbnail"> {{profile.user.avatar}} </div>
                        <div class="description">
                            {% if profile.user.first_name and profile.user.last_name %}
                                <label class='name' id='ucard-name'>{{profile.user.first_name}} {{profile.user.last_name}}</label>
                            {% else %}
                                <label class='name' id='ucard-name'>{{profile.user.username}}</label>
                            {% endif %}
                        </div>
                        <div class='title'><a href="{% url 'dashboard-settings-edit' %}">Edit Settings</a></div>
                        <hr/>
                        <div id='ucard-title'></div>
                        <p>
                            <strong>Primary Account User Name: </strong> <label id='lbl-username'>{{profile.user.username}}</label>
                        </p>
                         <p>
                            <strong>Account Email: </strong> <label id='lbl-email'>{{profile.user.email}}</label>
                            <a href="{% url 'account_change_password' %}">Change Password</a>
                        </p>
                    </div>
                </div>
                <div class='cell-like' id='right'>
                    <div class='table-like'>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <strong>Birthdate:</strong>
                            </div>
                            <div class='cell-like'>
                                {{ profile.birthday }}
                            </div>
                        </div>
                        <hr/>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <strong>Bio:</strong>
                            </div>
                            <div class='cell-like'>
                                {{ profile.bio }}
                            </div>
                        </div>
                        <hr/>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <strong>Profession:</strong>
                            </div>
                            <div class='cell-like'>
                                {{ profile.profession }}
                            </div>
                        </div>
                        <hr/>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <strong>Time Zone:</strong>
                            </div>
                            <div class='cell-like'>
                                {{ profile.time_zone }}
                            </div>
                        </div>
                        <hr/>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <strong>My FrameBuzz Websites:</strong>
                            </div>
                            <div class='cell-like'>
                                <select id='slct-websites'>
                                    <option value='0'>Select a Website</option>
                                    {% for web in websites.all %}
                                    <option value="{{web.website.id}}">{{web}}</option>
                                    {% endfor %}
                                </select>    
                            </div>
                        </div>
                        <div class='row-like'>
                            <div class='cell-like'>
                                <a href="{% url 'dashboard-add-websites' %}">Add Another Website</a>
                            </div>
                        </div>
                        
                    </div>  
                </div>
            </div>
        </div>
    </div>    
{% endblock %}