/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";


body {
    color: white;     
    font: 12px/16px normal "museo-sans", sans-serif;
}

object, embed, video, iframe { max-width: 100%; }

#player-container {
    height: 448px;
    overflow: hidden;
    width: 640px; 

    div.layer {
        position: absolute;
        top: 0;
    }

    .span12 { margin-left: 0; }

    #player-layer {
        background: #202020;
        z-index: 100;

        video, .me-plugin {
            height: 385px;
            position: relative;
            top: 0;
            width: 640px;
            z-index: 1;
        }

        table#heatmap {
            background: #323232;
            min-height: 25px;
            padding: 4px 8px 0px;

            tr {
                td {
                    cursor: pointer;
                    display: inline-block;
                    height: 10px;
                    margin-right: 1px;
                    width: 20.55px;

                    &.rank-8 { background-color: #F2F6F8; }
                    &.rank-7 { background-color: #D8E4E9; }
                    &.rank-6 { background-color: #BED1DA; }
                    &.rank-5 { background-color: #9EBBC8; }
                    &.rank-4 { background-color: #89ADBD; }
                    &.rank-3 { background-color: #6F9AAE; }
                    &.rank-2 { background-color: #58879D; }
                    &.rank-1 { background-color: #497083; }

                    &:last-child { margin-right: 0; }
                }
            }
        }

        form#post-comment-form {
            min-height: 38px;
            padding: 4px 8px 0px;

            div.input-prepend {
                margin-bottom: 0;
                width: 100%;

                span.add-on {
                    @include border-radius(0, 0);
                    background: #202020;
                    border: 0 none;
                    color: #BCBCBC;
                    font-family: 'museo-sans';
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: -0.02em;
                    line-height: 22px;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: left;
                    text-shadow: none;
                    width: 89px;

                    em {
                        font-size: 14px;
                        font-weight: 700;

                        &.current {
                            display: inline-block; 
                            width: 39px; 
                        }
                    }
                }

                #id_comment {
                    @include border-top-left-radius(3px);
                    @include border-top-right-radius(0px);
                    @include border-bottom-left-radius(3px);
                    @include border-bottom-right-radius(0px);
                    width: 77.3%;
                }

                #submit-comment {
                    @include border-top-left-radius(0px);
                    @include border-top-right-radius(3px);
                    @include border-bottom-left-radius(0px);
                    @include border-bottom-right-radius(3px);
                    background: #616161;
                }
            }
        }
    }

    #buzz-layer {
        margin-left: 399px;
        width: 237px;
        z-index: 200;

        div.panel {
            background: url('../../img/blended-view-background.png') no-repeat top right;
            height: 385px;

            ul.comment-stream {
                li {
                    border-bottom: 1px solid rgba(104, 104, 104, .90);
                    color: rgba(255, 255, 255, .65);
                    font-family: 'museo-sans';
                    font-size: 13px;

                    div.thread {
                        display: inline-block;
                        padding: 10px 4px 10px 10px;
                        width: 168px;

                        div.header {
                            strong {
                                display: inline-block;
                                font-weight: 700;
                                line-height: 16px;
                            }

                            strong.username { 
                                text-align: left; 
                                width: 135px;
                            }

                            strong.time { text-align: right; }
                        }

                        p { 
                            font-weight: 300;
                            line-height: 16px;
                        }
                    }

                    img {
                        @include box-shadow(0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset);
                        display: inline-block;
                        height: 44px;
                        opacity: .91;
                        position: relative;
                        top: 7px;
                        width: 44px;
                    }

                    &:last-child { border-bottom: 0; }
                }
            }
        }
    }
}