/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";


body {
    color: white;     
    font: 12px/16px normal "proxima-nova", sans-serif;
}

a, a:link, a:visited, a:active, a:hover { outline: 0; }

object, embed, video, iframe { 
    max-width: 100%; 
    outline: 0;
}

.ng-cloak { display: none; }

#player-container {
    height: 445px;
    overflow: hidden;
    width: 640px; 

    div.layer {
        position: absolute;
        top: 0;
    }

    .span12 { margin-left: 0; }

    #player-layer {
        background: #202020;
        height: 445px;
        width: 640px;
        z-index: 100;

        video, .me-plugin {
            background: black;
            height: 385px;
            position: relative;
            top: 0;
            width: 640px;
            z-index: 1;
        }

        div.mejs-video {
            background: black;
            height: 385px;
            position: relative;
            top: 0;
            width: 640px;
            z-index: 1;

            div.mejs-inner {
                div.mejs-controls {
                    background: none;
                    height: 100%;
                    width: 100%;

                    div.mejs-time-rail {
                        float: none;
                        height: 21px;
                        padding-top: 0;
                        position: absolute;
                        top: 392px;
                        width: 640px;
                        z-index: 10;

                        span.mejs-time-total {
                            @include background-image(linear-gradient(rgba(30, 30, 30, 0.3), rgba(60, 60, 60, 0.1))); 
                            @include border-radius(2px, 2px);
                            height: 11px;
                            margin: 0 8px;
                            width: 624px;

                            span.mejs-time-current {
                                @include background-image(linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(235, 235, 235, 0.2))); 
                            }                            
                        }
                    }

                    .mejs-fade-in { opacity: 0; }

                    div.mejs-share {
                        background: none;
                        bottom: 338px;
                        height: 38px;
                        left: 5px;
                        position: absolute;
                        width: 85px;
                        z-index: 10;
                        
                        button {
                            @include border-radius(3px, 3px);
                            @include single-box-shadow(rgba(0, 0, 0, 0.5), 0px, 0px, 19px, 0px, inset);
                            background: rgba(61, 61, 61, 0.7);
                            border: 0;
                            display: inline-block;
                            height: 38px;
                            width: 38px;

                            img {
                                position: relative;
                                top: 2px;
                            }

                            &.mejs-share-framebuzz-button {
                                margin-right: 5px;

                                img {
                                    height: 27px;
                                    right: 1px;
                                    width: 17px;
                                }
                            }

                            &.mejs-private-convo-button {
                                margin-right: 0;
                                padding: 6px;

                                img {
                                    height: 18px;
                                    width: 18px;
                                }
                            }
                        }
                    }

                    div.mejs-button {
                        bottom: 8px;
                        position: absolute;
                        width: 35px;
                        z-index: 10;

                        button {
                            background: none;
                            background-position: 0 0;
                            margin: 1px 8px;                    

                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        div.mejs-volume-slider {
                            left: 4px;
                            top: -118px;
                        }

                        &.mejs-volume-button {
                            left: 5px;

                            button {
                                height: 20px;
                                width: 25px;
                            }
                        }
                        
                        &.mejs-mute-conversation-button {
                            left: 48px;

                            button {
                                margin-top: 0;
                                height: 20px;
                                width: 23px;
                            }
                        }
                    }
                }
            }

            &.show-controls {
                div.mejs-inner {
                    div.mejs-controls {
                        .mejs-fade-in {
                            opacity: 1;
                            @include single-transition(opacity .25s ease-in-out);
                        }
                    }
                }

                &.fade-out-controls {
                    div.mejs-inner {
                        div.mejs-controls {
                            .mejs-fade-in {
                                opacity: 0;
                                @include single-transition(opacity .25s ease-in-out);
                            }
                        }
                    }
                }
            }
        }

        #heatmap-and-post {
            background: #323232;
            height: 60px;
            margin-top: 385px;
            width: 640px;

            table#heatmap {
                height: 18px;
                margin: 4px 8px;
                position: relative;
                width: 640px;
                z-index: 0;

                tr {
                    td {
                        cursor: pointer;
                        display: inline-block;
                        height: 10px;
                        margin-right: 1px;
                        width: 20.55px;

                        &.rank-8 { background-color: #F2F6F8; }
                        &.rank-7 { background-color: #D8E4E9; }
                        &.rank-6 { background-color: #BED1DA; }
                        &.rank-5 { background-color: #9EBBC8; }
                        &.rank-4 { background-color: #89ADBD; }
                        &.rank-3 { background-color: #6F9AAE; }
                        &.rank-2 { background-color: #58879D; }
                        &.rank-1 { background-color: #497083; }
                        
                        &:first-child {
                            @include border-top-left-radius(2px);
                            @include border-bottom-left-radius(2px);
                        }

                        &:last-child { 
                            @include border-top-right-radius(2px);
                            @include border-bottom-right-radius(2px);
                            margin-right: 0; 
                        }
                    }
                }
            }

            form#post-comment-form {
                background: #202020;
                height: 32px;
                padding: 4px;
                width: 632px;

                div.input-prepend {
                    margin-bottom: 0;
                    width: 100%;

                    span.add-on {
                        @include border-radius(0, 0);
                        background: #202020;
                        border: 0 none;
                        color: #BCBCBC;
                        float: left;
                        font-family: 'proxima-nova';
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: -0.02em;
                        line-height: 30px;
                        margin: 0 0 0 4px;
                        padding: 0;
                        text-align: left;
                        text-shadow: none;
                        width: 89px;

                        em {
                            font-size: 14px;
                            font-weight: 700;

                            &.current {
                                display: inline-block; 
                                width: 39px; 
                            }
                        }
                    }

                    #id_comment {
                        @include border-top-left-radius(3px);
                        @include border-top-right-radius(0px);
                        @include border-bottom-left-radius(3px);
                        @include border-bottom-right-radius(0px);
                        background: white;
                        float: left;
                        font-family: 'proxima-nova';
                        width: 482px;
                    }

                    #signup-or-login-prompt {
                        @include border-top-left-radius(3px);
                        @include border-top-right-radius(0px);
                        @include border-bottom-left-radius(3px);
                        @include border-bottom-right-radius(0px);
                        background: white;
                        float: left;
                        font-family: 'proxima-nova';
                        height: 30px;
                        width: 496px;

                        p {
                            color: #989898;
                            font-size: 14px;
                            font-weight: 500;
                            font-style: italic;
                            line-height: 30px;
                            text-indent: 10px;

                            a {
                                color: #1887b9;
                                text-decoration: underline;
                            }
                        }
                    }

                    #submit-comment {
                        @include border-top-left-radius(0px);
                        @include border-top-right-radius(3px);
                        @include border-bottom-left-radius(0px);
                        @include border-bottom-right-radius(3px);
                        @include single-box-shadow(rgba(0, 0, 0, .13), 0px, 0px, 14px, 6px, inset);
                        background: #686868;
                        border: 0;
                        float: left;
                        line-height: 12px;
                        padding: 5px 8px 3px 9px;

                        img.fb-icon-post-comment {
                            display: inline-block;
                            height: 21px;
                            width: 23px;
                        }
                    }
                }
            }
        }
    }

    #buzz-layer {
        margin-left: 396px;
        width: 245px;
        z-index: 100;

        div.panel {
            div.scrollable {
                @include single-box-shadow(rgba(0, 0, 0, 0.5), 0px, 0px, 118px, 0px, inset);
                overflow: hidden;
                position: absolute;
                top: 0;
                z-index: 110;

                ul.comment-stream {
                    li {
                        border-bottom: 1px solid rgba(104, 104, 104, .90);
                        color: rgba(255, 255, 255, .65);
                        display: none;
                        font-family: 'proxima-nova';
                        font-size: 13px;
                        min-height: 58px;

                        div.thread {
                            display: inline-block;
                            padding: 10px 2px 10px 14px;
                            vertical-align: top;
                            width: 168px;

                            div.header {
                                strong {
                                    display: inline-block;
                                    font-weight: 700;
                                    line-height: 20px;
                                }

                                strong.username { 
                                    text-align: left; 
                                    width: 78%;
                                }

                                strong.time { 
                                    text-align: right;
                                    width: 18%;
                                }
                            }

                            p { 
                                display: inline-block;
                                font-weight: 300;
                                line-height: 16px;
                                width: 135px;
                                word-wrap: break-word;
                            }

                            span {
                                background: none;
                                border: 0;
                                bottom: 6px;
                                display: inline-block;
                                height: 6px;
                                line-height: 6px;
                                margin-left: 7px;
                                position: relative;
                                vertical-align: text-bottom;
                                width: 19px;

                                img {
                                    height: 6px;
                                    width: 19px;
                                }
                            }
                        }

                        img.img-circle {
                            @include box-shadow(0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset);
                            display: inline-block;
                            height: 44px;
                            opacity: .91;
                            position: relative;
                            top: 7px;
                            width: 44px;
                        }
                        

                        &:last-child { border-bottom: 0; }

                        &.animate-comment-show { display: block; }
                    }
                }

                div.ps-scrollbar-y {
                    @include border-radius(3px, 3px);
                    right: 0px !important;
                    width: 6px;
                }

                .ps-scrollbar-x { display: none; }

                div.active-header {
                    background: #484848;
                    border-left: 1px solid rgba(104, 104, 104, 0.15);
                    border-bottom: #434343;
                    height: 43px;

                    a.active-close {
                        background-color: #686868;
                        display: block;
                        float: left;
                        height: 100%;
                        width: 33px;
                        @include single-transition(background-color 250ms linear);

                        &:hover {
                            background-color: #828282;
                            @include single-transition(background-color 250ms linear);
                        }

                        &:active {
                            background-color: #5e5e5e;
                            @include single-transition(background-color 250ms linear);
                        }

                        img {
                            height: 12px;
                            margin: 15px 10px;
                            width: 12px;
                        }
                    }
                }
            }
        }

        #blended-view {
            height: 270px;
            left: 4px;
            position: relative;
            width: 237px;

            a.panel-close {
                background: rgba(61, 61, 61, 1.0);
                display: none;
                height: 22px;
                left: -10px;
                position: absolute;
                top: 3px;
                width: 22px;
                z-index: 120;

                img {
                    height: 11px;
                    margin: 5px;
                    width: 12px;
                }
            }
            
            div.scrollable {
                @include border-bottom-left-radius(3px);
                @include border-bottom-right-radius(3px);
                background: rgba(61, 61, 61, 0.7);
                height: 270px;
                right: 3px;

                ul.comment-stream {
                    height: 268px;
                    padding-top: 2px;

                    li {
                        cursor: pointer;

                        a {
                            color: rgba(255, 255, 255, .65);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        #active-view {
            height: 385px;
            width: 246px;

            div.scrollable {
                background: rgba(53, 53, 53, 0.95);
                height: 385px;
                width: 100%;

                div.active-header {
                    ul.tabs {
                        float: left;
                        height: 44px;
                        margin-left: 15px;
                        width: 145px;

                        li {
                            float: left;
                            padding-right: 10px;

                            a {
                                color: white;
                                display: block;
                                font-family: 'proxima-nova';
                                font-size: 11px;
                                font-weight: 500;
                                line-height: 10px;
                                padding: 16px 0px;
                                text-decoration: none;
                                text-transform: uppercase;

                                &.active {
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                    a.dropdown-toggle {
                        display: inline-block;
                        height: 33px;
                        padding: 4px 0;
                        width: 33px;

                        img.img-circle {
                             @include box-shadow(0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset);
                            height: 33px;
                            width: 33px;
                        }
                    }

                    ul.dropdown-menu {
                        @include border-radius(0px, 0px);
                        box-shadow: none;
                        background: #2b2b2b;
                        height: 57px;
                        left: 135px;
                        min-width: 108px;
                        padding: 0;
                        top: 41px;

                        li {
                            width: 108px;

                            a {
                                color: white;
                                cursor: pointer;
                                display: block;
                                line-height: 28.5px;
                                font-family: 'proxima-nova';
                                font-size: 10.04px;
                                font-weight: 500;
                                padding: 0 10px;
                                text-align: right;
                                text-decoration: none;
                                text-transform: uppercase;

                                &:hover { font-weight: 700; }
                            }
                        }
                    }
                }

                div.tab-container {
                    div.comments-view {
                        div.thread-siblings {
                            height: 53px;
                            width: 245px;

                            img.siblings-bkg {
                                position: relative;
                                height: 53px;
                                top: 0;
                                width: 245px;
                                z-index: 1;
                            }

                            ul {
                                bottom: 58px;
                                margin: 0 auto;
                                position: relative;
                                width: 200px;
                                z-index: 10;

                                li {
                                    float: left;
                                    padding: 11px 5px;

                                    a {
                                        cursor: pointer;
                                        height: 22px;
                                        width: 22px;

                                        img {
                                            height: 22px;
                                            width: 22px;
                                        }
                                    }

                                    &.active {
                                        padding: 5px;

                                        a {
                                            height: 33px;
                                            width: 33px;

                                            img {
                                                height: 33px;
                                                width: 33px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        div.thread-scroll {
                            height: 287px;
                            overflow: hidden;
                            position: absolute;

                            ul.comment-stream {
                                height: 287px;

                                li {
                                    border-bottom: none;
                                    display: block;
                                    width: 244px;
                                    
                                    div.thread {
                                        padding: 5px 2px 10px 14px;

                                        p { width: 175px; }
                                    }

                                    img.img-circle {
                                        display: inline-block;
                                        height: 29px;
                                        left: 8px;
                                        top: 5px;
                                        width: 29px;
                                    }

                                    div.comment-actions {
                                        padding: 0px 21px 6px 16px;

                                        a {
                                            display: inline-block;
                                            vertical-align: baseline;

                                            &.reply {
                                                height: 21px;
                                                margin-right: 6px;
                                                width: 23px;
                                            }

                                            &.favorite {
                                                height: 20px;
                                                margin: 0 6px;
                                                width: 24px;
                                            }

                                            &.flag {
                                                height: 15px;
                                                margin-left: 25px;
                                                width: 15px;
                                            }

                                            &.dots {
                                                height: 6px;
                                                margin-left: 49px;
                                                width: 19px;
                                            }

                                            &.follow {
                                                height: 20px;
                                                margin-left: 6px;
                                                width: 14px;
                                            }

                                            img {
                                                height: 100%;
                                                width: 100%;
                                            }
                                        }
                                    }

                                    ul.replies {
                                        background: rgba(98, 98, 98, 0.34);

                                        li {
                                            border-bottom: 1px solid rgba(104, 104, 104, 0.90);
                                            margin: 0 10px;
                                            min-height: 32px;
                                            padding: 6px 12px;
                                            width: 199px;

                                            div.thread {
                                                padding: 0;

                                                p { width: 197px; }
                                            }

                                            &:last-child { border-bottom: 0; }
                                        }
                                    }

                                    div.post-reply {
                                        background: rgba(98, 98, 98, 0.34);
                                        height: 48px;
                                        width: 244px;

                                        form {
                                            border-top: 1px solid rgba(104, 104, 104, 0.90);
                                            margin: 0 10px;
                                            padding: 6px 0;
                                            width: 224px;

                                            #id_reply {
                                                @include border-radius(0px, 0px);
                                                background: rgba(182, 182, 182, 0.6);
                                                border: rgba(73, 73, 73, 0.6);
                                                color: rgba(0, 0, 0, 0.45);
                                                height: 26px;
                                                font-size: 12.28px;
                                                font-weight: 300;
                                                font-style: italic;
                                                margin-bottom: 0;
                                                width: 212px;
                                            }
                                        }
                                    }

                                    &.active-thread {
                                        
                                    }
                                }
                            }

                            .ps-scrollbar-x { display: none; }
                        }
                    }
                }
            }
        }

        #login-view, #signup-view {
            height: 385px;
            width: 245px;

            div.scrollable {
                background: rgba(53, 53, 53, 0.95);
                height: 385px;
                width: 100%;

                div.active-header {
                    a.active-close {
                        margin-right: 14px;
                    }

                    a.player-logo {
                        line-height: 48px;

                        img {
                            height: 16px;
                            width: 144px;
                        }
                    }
                }

                div.registration {
                    padding: 17px;

                    h1 {
                        color: white;
                        font-family: 'proxima-nova';
                        font-size: 15.62px;
                        font-weight: 700;
                        line-height: 20px;
                    }

                    p {
                        color: white;
                        font-family: 'proxima-nova';
                        font-size: 13.39px;
                        font-weight: 300;
                        line-height: 18px;
                        padding-bottom: 12px;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
                        width: 180px;

                        a {
                            color: white;
                            font-weight: 700;

                            &:hover { text-decoration: underline; }
                        }
                    }
                    
                    form {
                        p {
                            padding-bottom: 0px;
                            width: 100%;

                            #id_login, #id_password, #id_password_confirm, #id_email {
                                @include border-radius(3px, 3px);
                                background: rgba(0, 0, 0, .24);
                                border: 0 none;
                                color: rgba(176, 176, 176, 0.56);
                                font-family: 'proxima-nova';
                                font-size: 14.51px;
                                font-weight: 300;
                                height: 27px;
                                width: 200px;
                            }
                            
                            a {
                                color: rgba(255, 255, 255, 0.44);
                                display: block;
                                float: right;
                                font-weight: 300;
                            }

                            button.registration-submit {
                                background: none;
                                border: 0 none;
                                height: 36px;
                                float: right;
                                margin-top: 2px;
                                margin-bottom: 9px;
                                position: relative;
                                width: 116px;

                                span {
                                    color: white;
                                    display: block;
                                    height: 100%;
                                    font-family: 'proxima-nova';
                                    font-size: 13.39px;
                                    font-weight: 700;
                                    line-height: 34px;
                                    position: absolute;
                                    text-align: center;
                                    top: 0;
                                    width: 100%;
                                }

                                img {
                                    height: 36px;
                                    width: 116px;
                                }
                            }

                            &.tos { 
                                font-size: 0.63em;
                                line-height: 12px;

                                a { 
                                    display: inline;
                                    float: none; 
                                } 
                            }
                        }
                    }
                }
            }
        }   
    }
}