{% extends "dashboard/base.html" %}
{% load socialaccount staticfiles %}

{% block page_javascript %}
<script type="text/javascript">
$(function(){
   
   $("#right").css({
        left: '310px',
        top: '60px'
    });
});
</script>
{% endblock %}


{% block sidebar-moderator %}
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="{% url 'dashboard-moderators-queue' %}">
                <i class="icon-group"></i>
                <span>Moderator</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="{% url 'dashboard-moderators-queue' %}" class="active">Comment Queue</a></li>
<!--                <li><a href="{% url 'dashboard-moderators-basic' %}">Basic Controls</a></li>
-->                <!-- MODERATION ADVANCED -->
            </ul>
        </li>
{% endblock %}

{% block content %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">
    
    <h3>Comment Moderator Queue</h3>
    <hr/>
    <div id="moderation-container">
        <div class='table-like'>
            <div class='row-like'>
                <div class='cell-like' >
                    <div class='row-like' id='queue-wrapper'>
                        <table class='table table-hover' id='table-queue'>
                            <thead>
                                <tr>
                                    <th class='span3'><span class='line'></span>Video Name</th>
                                    <th class='span3'><span class='line'></span>Posted By</th>
                                    <th class='span4'><span class='line'></span>Comment</th>
                                    <th class='span2'><span class='line'></span>Flagged</th>
                                    <th class='span3'><span class='line'></span>Reason</th>
                                    <th class='span3'><span class='line'></span></th>
                                    <th class='span3'><span class='line'></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for flag in comment_queue %}
                                {% if forloop.first %}
                                <tr class="first">
                                    <td>{{ flag.comment.content_object.title }}</td>
                                    <td>{{ flag.comment.user.username }}</td>
                                    <td>{{ flag.comment.comment }}</td>
                                    <td>{{ flag.comment.submit_date|timesince }}</td>
                                    <td>{{ flag.flag }}</td>
                                    <td>
                                        <a class="btn-glow success" href="{% url 'comments-approve' flag.comment.id %}"><i class="icon-ok"></i>Approve</a>
                                    </td>
                                    <td>
                                        <a class="btn-glow danger" href="{% url 'comments-delete' flag.comment.id %}"><i class="icon-remove"></i>Reject</a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>{{ flag.comment.content_object.title }}</td>
                                    <td>{{ flag.comment.user.username }}</td>
                                    <td>{{ flag.comment.comment }}</td>
                                    <td>{{ flag.comment.submit_date|timesince }}</td>
                                    <td>{{ flag.flag }}</td>
                                    <td>
                                        <a class="btn-glow success" href="{% url 'comments-approve' flag.comment.id %}"><i class="icon-ok"></i>Approve</a>
                                    </td>
                                    <td>
                                        <a class="btn-glow danger" href="{% url 'comments-delete' flag.comment.id %}"><i class="icon-remove"></i>Reject</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% empty %}
                                <tr>
                                    <td colspan="6">No Comments Awaiting Moderation.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}