{% extends "dashboard/base.html" %}
{% load socialaccount staticfiles %}

{% block page_javascript %}
<script type="text/javascript">
$(function(){
   
   $("#right").css({
        left: '330px',
        top: '60px'
    });
   
   
   // Switch slide buttons
    $('.slider-button').click(function() {
        if ($(this).hasClass("on")) {
            $(this).removeClass('on').html($(this).data("off-text"));
        }
        else {
            $(this).addClass('on').html($(this).data("on-text"));
        }
    });
    
});
</script>
{% endblock %}


{% block sidebar-moderator %}
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="{% url 'dashboard-moderators-queue' %}" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span>Moderator</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="{% url 'dashboard-moderators-queue' %}">Comment Queue</a></li>
                <li><a href="{% url 'dashboard-moderators-basic' %}">Basic Controls</a></li>
            </ul>
        </li>
{% endblock %}

{% block content %}    
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">
        
    <h3>Advanced Moderator Controls</h3>
    <hr/>
    <div id="moderation-container">
        <div class='table-like'>
            <div class='row-like'>
                <div class='cell-like' id='moderator-left'>
                    <!-- LEFT PANEL -->
                    <div class="moderator-left-panel">
                        {% csrf_token %}
                            {% if control == 'rule_set' %}
                                {% include "dashboard/snippets/moderator_rule_sets.html" %}
                            {% elif  control == 'privileges' %}
                                {% include 'dashboard/snippets/moderator_privileges.html' %}
                            {% elif control == 'word_list' %}
                                {% include 'dashboard/snippets/moderator_word_lists.html' %}
                            {% elif control == 'profile' %}
                                {% include 'dashboard/snippets/moderator_profile.html' %}
                            {% endif %}
                    </div>
                </div>
                <div class='cell-like' id='right'>
                   <div class='table-like'>
                    <div class='row-like'>
                        <div class='cell-like'><strong>Moderator Rule Sets</strong></div>
                        <div class='cell-like'></div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>View/Edit Rule Sets:</div>
                        <div class='cell-like'></div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>
                            <select id='slct-rule_sets'>
                                <option value='0' selected>Select Rule Set</option>
                                <!-- FOR OPTION IN RULE SET -->
                            </select>
                        </div>
                        <div class='cell-like'>
                            <div class="btn-flat" id='btn-create-rs'>Create New Rule Set</div>
                        </div>
                    </div>
                    <hr/>
                    <div class='row-like'>
                        <div class='cell-like'><strong>Manage Moderators</strong></div>
                        <div class='cell-like'></div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>View/Edit Moderators:</div>
                        <div class='cell-like'>Designate New Moderator:</div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>
                            <select id='slct-moderators'>
                                <option value='0' selected> Select Moderator</option>
                                <!-- FOR MODERATOR IN MODERATOR LIST -->
                            </select>
                        </div>
                        <div class='cell-like'>
                            <input class="search" type="text" id='txb-search' placeholder="Find username.." />
                        </div>
                    </div>
                    <hr/>
                    <div class='row-like'>
                        <div class='cell-like'><strong>Manage Custom Blocked Words Lists</strong></div>
                        <div class='cell-like'></div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>View/Edit Blockd Words Lists</div>
                        <div class='cell-like'></div>
                    </div>
                    <div class='row-like'>
                        <div class='cell-like'>
                            <select id='slct-blocked-words-lists'>
                                <option value='0' selected> Select Blocked Words Lists</option>
                                <!-- FOR WORD LIST IN WORD LISTS-->
                            </select>
                        </div>
                        <div class='cell-like'>
                            <div class="btn-flat" id='btn-create-list'>Create New Custom List</div>
                        </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}