{% extends "dashboard/base.html" %}
{% load socialaccount staticfiles %}

{% block page_javascript %}
<script type="text/javascript">
$(function(){
   
   $("#right").css({
        left: '15px' 
    });
   
   // 270 on full version
   $('openclose-comments').css('width', '100px');
   
   // Switch slide buttons
    $('.slider-button').click(function() {
        if ($(this).hasClass("on")) {
            $(this).removeClass('on').html($(this).data("off-text"));
        }
        else {
            $(this).addClass('on').html($(this).data("on-text"));
        }
    });
    
});
</script>
{% endblock %}


{% block sidebar-moderator %}
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="{% url 'dashboard-moderators-queue' %}" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span>Moderator</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="{% url 'dashboard-moderators-queue' %}">Comment Queue</a></li>
<!--                <li><a href="{% url 'dashboard-moderators-basic' %}" class="active">Basic Controls</a></li>
-->            </ul>
        </li>
{% endblock %}

{% block content %}    
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">
        
    <h3>Basic Moderator Controls</h3>
    <hr/>
    <div id="moderation-container">
        <div class='table-like'>
            <div class='row-like'>
                <div class='cell-like' id='right'>
                    <div id='find-user'>
                        <p><strong>Find User:</strong></p>
                        <p><input class="search" type="text" placeholder="Search username" /></p>
                    </div>
                    <hr/>
                    <div id='notify-user'>
                        <p><strong>Notify Moderator When:</strong></p>
                        <p>
                            Comment is flagged:
                            <div class='ui-select'>
                            <select>
                                <option selected>1 Time</option>
                                <option>2 Times </option>
                                <option>3 Times</option>
                                <option>4 Times</option>
                                <option>5 Times</option>
                                <option>6 Times</option>
                                <option>7 Times</option>
                                <option>8 Times</option>
                                <option>9 Times</option>
                                <option>10 Times</option>
                            </select>
                            </div>
                        </p>    
                    </div>
                    <hr/>
                    <div id='hide-comments'>
                        Auto-hide comments awaiting moderation
                    <div class="slider-frame primary">
                        <span id="mod-comment-switch" class="slider-button" data-off-text="OFF" data-on-text="ON">OFF</span>
                    </div>
                    </div>
                    
                    <p><strong>Profanity filter</strong></p>
                    Block Profanity
                        <div class="slider-frame primary">
                            <span id="profanity-switch" class="slider-button" data-off-text="OFF" data-on-text="ON">OFF</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}