{% extends "base.html" %}

{% block title %}Edit Website{% endblock %}

{% block sub_navigation_items %}
  <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
  <li><a href="{% url 'avatar_change' %}">Change Avatar</a></li>
  <li class="active"><a href="{% url 'dashboard-website-edit' %}">Change Website Settings</a></li>
  <li><a href="{% url 'dashboard-profile-edit' %}">Change Profile Settings</a></li>
{% endblock %}

{% block dashboard_right %}
    <div class="page-header">
    <h1>Edit Website</h1>
    </div>
    <p class="form-description">Make changes to your website below.</p>
    {% if submitted %}
        {% if success %}
            <div class="alert alert-success">
                <strong>Success</strong>: Website updated successfully!
            </div>
        {% else %}
            <div class="alert alert-error">
                <strong>Error</strong>: {{ form.errors }}
            </div>
        {% endif %}
    {% endif %}
    <form id="edit-user-website-form" class="form-vertical" method="POST" action="{% url 'dashboard-website-edit' %}">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
            <li>
                <button class="btn btn-primary" type="submit">Edit Website</button>
            </li>
        </ul>
    </form>
{% endblock %}