{% extends 'base.html' %}
{% load activity_tags avatar_tags i18n %}

{% block page_javascript %}
<script>
$(function () {
    $("#follow_button, #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false;
    });
});
</script>
{% endblock %}

{% block title %}{% ifequal request.user user %}Your Activity{% else %}{{ user }}'s Activity{% endifequal %}{% endblock %}

{% block dashboard_left %}
  {% with user_sidebar as sidebar %}
    {% include "activity/snippets/left_navigation.html" %}
  {% endwith %}
{% endblock %}

{% block profile_header %}
    <div class="header-wrapper">
      <a href="{% url 'user-profile' user.username %}">
          <img src="{% avatar_url user 100 %}" height="100" width="100" />
      </a>
      <h2>{{ user.username }}</h2>
      {% if user.get_profile and user.get_profile.website %}
        <a class="website" href="{{ user.get_profile.website.url }}" target="_blank">{{ user.get_profile.website.name }}</a>
      {% endif %}
    </div>
  {% if user.get_profile and user.get_profile.bio %}
    <em class="bio">{{ user.get_profile.bio }}</em>
  {% endif %}
{% endblock %}

{% block dashboard_right %}
  <div class="page-header">
      <h1>Activity</h1>
  </div>
  <p class="form-description"></p>
  <div class="pagination-page">
    {% include "activity/ajax/actor_page.html" %}
  </div>
{% endblock %}
