{% extends "marketing/base.html" %}
{% load socialaccount staticfiles compress addendum_tags %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/iconic.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block page_classes %}content profiles share{% endblock %}

{% block content_center %}
    <div id="share" style="display: block; background: white; height: 600px; padding-top: 22px;">
        <div class="col-xs-12 standalone">
            <h4>{{ size|title }} Player ({{ width }}x{{ height }})</h4>
            <hr>
            <div style="height: {{ height }}px; width: {{ width }}px; margin: 0 auto;">
                {{ embed }}
            </div>
        </div>
    </div>
{% endblock %}
