{% extends "marketing/base.html" %}
{% load socialaccount staticfiles compress addendum_tags %}

{% block content_center %}
    <div class="col-xs-12">
        <div id="homepage-logo" class="row">
            <div class="col-xs-12">
                <a href="{% url 'home' %}">
                    <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                </a>
            </div>
        </div>
        <div id="onboarding" class="row">
            <div id="video" style="width: 580px; margin: 0 auto;">
                <iframe src="{% url 'video-embed' video.slug %}" scrolling="no" frameBorder="0" height="360" width="580" style="height: 360px; width: 580px;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}