{% load staticfiles socialaccount compress shorturl raven %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" ng-app="framebuzz" data-close-socket="">

<head itemscope itemtype="http://schema.org/Product">
    <link rel="manifest" href="{% static 'framebuzz/manifest.json' %}">
    <title>FrameBuzz | {{ video.title }}</title>
    {% include "player/snippets/meta.html" %}
    {% compress css %}
        <style type="text/css">
            body {
                background: url('{{ video.default_thumbnail }}') no-repeat 0 0;
                background-size: cover;
                position: relative;
                margin: 0;
            }
            #play-video {
                position: absolute;
                display: block;
                height: 47px;
                width: 47px;
            }
            #play-video img { opacity: 0.8; }
            #play-video:hover img { opacity: 1; }
        </style>
    {% endcompress %}
</head>
<body>
    <div id="container">
        <a id="play-video" href="{{ video.full_url }}" title="Launch pop-up player" target="popup">
            <img src="{% static 'framebuzz/tumblr/img/play@2x.png' %}" height="47" width="47">
        </a>
    </div>
    {% compress js %}
        <script src="{% static 'framebuzz/player/app/lib/jquery/jquery-1.9.1.min.js' %}"></script>
        <script type="text/javascript">
        var width = this.innerWidth,
            height = this.innerHeight,
            buttonSize = 47,
            btnLeft = (width - buttonSize) / 2,
            btnTop = (height - buttonSize) / 2;

            $(document).ready(function() {
                $('#container').css({ 'height': height, 'width': width });
                $('#play-video').css({ 'top': btnTop, 'left': btnLeft });

                $('#play-video').click(function(e) {
                    e.preventDefault();
                    var url = '{{ video.full_url }}',
                        popupHeight = '{{ player_sizes.large.height }}',
                        popupWidth = '{{ player_sizes.large.width }}';
                    var newWindow = window.open(url, 'framebuzzPlayerWindow', 'scrollbars=no,toolbar=no,resizable=no,status=no,width=' + popupWidth + ',height=' + popupHeight);
                    if (window.focus) {
                      newWindow.focus();
                    }
                    return false;
                });
            });
        </script>
    {% endcompress %}
</body>
