{% load staticfiles socialaccount compress shorturl raven %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" ng-app="framebuzz" data-close-socket="">

<head itemscope itemtype="http://schema.org/Product">
    <link rel="manifest" href="{% static 'framebuzz/manifest.json' %}">
    <title>FrameBuzz | {{ video.title }}</title>
    {% include "player/snippets/meta.html" %}
    {% compress css %}
        <link href="{% static 'framebuzz/player/app/lib/jquery/featherlight/featherlight.min.css' %}" type="text/css" rel="stylesheet">
        <style type="text/css">
            body {
                background: url('{{ video.default_thumbnail }}') no-repeat 0 0;
                background-size: cover;
                position: relative;
                margin: 0;
            }
            #play-video {
                position: absolute;
                display: block;
                height: 47px;
                width: 47px;
            }
            #play-video img { opacity: 0.8; }
            #play-video:hover img { opacity: 1; }
        </style>
    {% endcompress %}
</head>
<body>
    <div id="container">
        <a id="play-video" data-featherlight="iframe" href="{{ video.full_url }}" title="Launch pop-up player" data-target="">
            <img src="{% static 'framebuzz/tumblr/img/play@2x.png' %}" height="47" width="47">
        </a>
    </div>
    {% compress js %}
        <script src="{% static 'framebuzz/player/app/lib/jquery/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'framebuzz/player/app/lib/jquery/featherlight/featherlight.min.js' %}"></script>
        <script type="text/javascript">
            // When the user chooses to play a video, save the url and then
            // pop up the player in a lightbox.
            $(document).ready(function() {
                $.featherlight({
                    iframe: '{{ video.full_url }}',
                    iframeMinWidth: '100%',
                    iframeMaxWidth: '100%',
                    iframeWidth: 700,
                    iframeHeight: 350
                });
            });
        </script>
    {% endcompress %}
</body>
