{% load i18n staticfiles addendum_tags socialaccount zebra_tags %}

<form id="signup-form" class="form-inline" role="form" method="post">
    {% csrf_token %}
    <div class="signup-part active">
        <h2>Please enter YOUR account information:</h2>
        <div class="row form-row">
            <div class="form-group col-xs-6">
                <label for="id_username">Choose a username:</label>
                {{ form.username }}
            </div>
            <div class="form-group col-xs-6">
                <label for="id_username">Email address:</label>
                {{ form.email }}
            </div>
        </div>
        {% if form.password1 and form.password2 %}
            <div class="row form-row">
                <div class="form-group col-xs-6">
                    <label for="id_username">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group col-xs-6">
                    <label for="id_username">Password again:</label>
                    {{ form.password2 }}
                </div>
            </div>
        {% endif %}
    </div>
    {% if zebra_form %}
        <div class="signup-part">
            <h2>Please enter YOUR payment information:</h2>
            <div class="row form-row">
                <span class="payment-errors"></span>
                <div class="form-group col-xs-6">
                    <label for="id_card_number">Card number:</label>
                    {{ zebra_form.card_number }}
                </div>
                <div class="form-group col-xs-6">
                    <label for="id_card_cvv">CVC:</label>
                    {{ zebra_form.card_cvv }}
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-xs-6">
                    <label for="id_card_expiry_month">Expires:</label>
                    {{ zebra_form.card_expiry_month }} {{ zebra_form.card_expiry_year }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if signup_option == 'paid' %}
        <div class="row total">
            <div class="col-xs-6 pull-left">
                <strong>PREMIUM ACCOUNT</strong>
                <br>
                <span>For producers &amp; business users</span>
            </div>
            <div class="col-xs-6 pull-right amount">
                <strong>TOTAL: <em>$89.00</em></strong>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-6 pull-right submit-row">
            <em>Next step: Your Dashboard</em>
            <button class="btn btn-info submit-button pull-right" type="submit">{% if signup_option == 'free' %}Create Account{% else %}Submit Payment Info{% endif %}</button>
        </div>
    </div>
    <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'thanks' %}" />
</form>
