<ul class="comment-stream">
    <li>
        <div class="thread">
            <div class="header">
                <a class="username" data-ng-click="getUserProfile(selectedThread.user.username)">{{ selectedThread.user.username }}</a>
                <strong class="time" data-ng-click="setVideoTime(selectedThread.time)" >{{ selectedThread.time_hms }}</strong>
            </div>
            <p ng-bind-html-unsafe="selectedThread.comment"></p>
        </div>
        <img class="img-circle" data-ng-src="{{ selectedThread.user.avatar_url }}" alt="" data-ng-click="getUserProfile(selectedThread.user.username)" />
        <div class="comment-actions clearfix">
            <a class="reply" data-ng-show="videoInstance.is_authenticated">
                <span><i class="fa fa-comments"></i> Reply</span>
            </a>
            <a class="favorite" data-ng-click="postCommentAction(selectedThread, 'favorite')" data-ng-show="videoInstance.is_authenticated">
                <span data-ng-hide="selectedThread.is_favorite"><i class="fa fa-heart"></i> Favorite</span>
                <span data-ng-show="selectedThread.is_favorite"><i class="fa fa-heart icon-selected"></i> Remove</span>
            </a>
            <a class="follow" data-ng-click="postCommentAction(selectedThread, 'follow')" data-ng-hide="!videoInstance.is_authenticated || selectedThread.user.username == videoInstance.user.username">
                <span data-ng-hide="selectedThread.is_following"><i class="fa fa-user"></i> Follow</span>
                <span data-ng-show="selectedThread.is_following"><i class="fa fa-user icon-selected"></i> Unfollow</span>
            </a>
        </div>
        <ul class="replies">
            <li data-ng-repeat="reply in selectedThread.replies">
                <div class="thread">
                    <div class="header">
                        <strong class="username" data-ng-click="getUserProfile(reply.user.username)">{{ reply.user.username }}</strong>
                    </div>
                    <p ng-bind-html-unsafe="reply.comment"></p>
                </div>
                <div class="comment-actions clearfix" data-ng-show="videoInstance.is_authenticated">
                    <a class="favorite" data-ng-click="postCommentAction(reply, 'favorite')" data-ng-show="videoInstance.is_authenticated">
                        <i class="fa fa-heart" data-ng-hide="reply.is_favorite"></i>
                        <i class="fa fa-heart icon-selected" data-ng-show="reply.is_favorite"></i>
                    </a>
                    <a class="follow" data-ng-click="postCommentAction(reply, 'follow')" data-ng-hide="!videoInstance.is_authenticated || reply.user.username == videoInstance.user.username">
                        <i class="fa fa-user" data-ng-hide="reply.is_following"></i>
                        <i class="fa fa-user icon-selected" data-ng-show="reply.is_following"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
</ul>