<div id="panel-scroll" class="scrollable hide-before-play" data-scrollbar="true" data-ng-class="{ 'collapsed clearfix': isCollapsed }">
  <ul class="comment-stream">
    <li data-ng-repeat="thread in videoInstance.threads" data-ng-show="thread.is_visible && thread.time < currentTime" data-ng-animate="{show: 'animate-comment-show'}">
      <div class="thread" data-ng-click="setSelectedThread(thread)" data-ng-if="!isCollapsed">
        <div class="header">
          <a class="username">{{ thread.user.username }}</a>
          <strong class="time">{{ thread.time_hms }}</strong>
        </div>
        <p ng-bind-html-unsafe="thread.comment"></p>
        <i class="fa fa-ellipsis-h dots has-hidden-siblings" data-ng-show="thread.has_hidden_siblings"></i>
        <i class="fa fa-ellipsis-h dots has-replies" data-ng-show="thread.has_replies && !thread.has_hidden_siblings"></i>
      </div>
      <img data-ng-if="!isCollapsed" class="img-circle" data-ng-src="{{ thread.user.avatar_url }}" alt="{{ thread.user.username }}" data-ng-click="getUserProfile(thread.user.username)" />
      <span class="collapsed-time" data-ng-if="isCollapsed" data-ng-click="setSelectedThread(thread)">
          <em class="img-circle">{{ thread.time_hms }}</em>
          <img class="img-circle" data-ng-src="{{ thread.user.avatar_url }}" alt="{{ thread.user.username }}" />
      </span>
    </li>
  </ul>
</div>