<ul class="follow-stream" data-ng-if="userProfile.user_following > 0">
    <li class="clearfix" data-ng-repeat="following in userProfile.following_list">
        <div class="thread">
            <div class="header">
                <a class="username" data-ng-click="getUserProfile(following.username)>{{ following.username }}</a>
            </div>
        </div>
        <img class="img-circle" data-ng-src="{{ following.avatar_url }}" alt="" data-ng-click="getUserProfile(following.username)" />
    </li>
</ul>
<p class="none" data-ng-if="userProfile.user_following == 0">No one is following you yet!</p>