<div class="modal-background">
    <div class="content">
        <a data-ng-click="$state.transitionTo('player.panelView')" class="modal-close">
            <img data-ng-src="{{ rootPath }}img/icon-close.png" height="11" width="11" alt="Close">
        </a>
        <h1><a href="http://www.framebuzz.com" target="_blank"><img data-ng-src="{{ rootPath }}img/player-logo.png" alt="FrameBuzz" height="16" width="140"></a></h1>
        <h2>Share this video:</h2>
        <div id="share-buttons" data-share=""></div>
        <div id="email" class="clearfix">
            <label>Email:</label>
            <input data-ng-model="shareWithEmail" type="text">
            <button id="send-email" class="rounded">Send</button>
        </div>
        <div id="embed" class="clearfix">
            <div id="embed-code">
                <h3>Embed this FrameBuzz:</h3>
                <textarea ng-bind-html-unsafe="videoInstance.video.embed_code" rows="1"></textarea>
            </div>
            <div id="embed-width">
                <h3>Width (px):</h3>
                <input type="text" value="680" disabled>
            </div>
            <button id="copy-embed-code" class="rounded">Copy</button>
        </div>
        <div id="private" class="clearfix">
            <p><em>Start a private FrameBuzz</em><br>around this video for just you and your friends!</p>
            <button id="start-private-session" class="rounded">Start Private FrameBuzz</button>
        </div>
    </div>
</div>