<div id="user-profile">
    <div class="header clearfix">
        <img class="img-circle" data-ng-src="{{ userProfile.user.avatar_url }}" height="33" width="33" alt="{{ userProfile.user.username }}" />
        <div class="user">
            <strong>{{ userProfile.user.username }}</strong>
            <a data-ng-click="toBeImplemented()" title="View Dashboard">View Dashboard</a>
        </div>
    </div>
    <table class="profile-table">
        <tbody>
            <tr>
                <td class="border-right border-bottom" data-ng-class="{ 'active': $state.is('player.userProfileView.commentsView') }" data-ng-click="$state.transitionTo('player.userProfileView.commentsView', { username: userProfile.user.username })">{{ userProfile.total_comments }} Comments</td>
                <td class="border-left border-bottom" data-ng-class="{ 'active': $state.is('player.userProfileView.favoritesView') }" data-ng-click="$state.transitionTo('player.userProfileView.favoritesView', { username: userProfile.user.username })">{{ userProfile.favorite_comments }} Favorites</td>
            </tr>
            <tr>
                <td class="border-right" data-ng-class="{ 'active': $state.is('player.userProfileView.followersView') }" data-ng-click="$state.transitionTo('player.userProfileView.followersView', { username: userProfile.user.username })">{{ userProfile.user_followers }} Followers</td>
                <td class="border-left" data-ng-class="{ 'active': $state.is('player.userProfileView.followingView') }" data-ng-click="$state.transitionTo('player.userProfileView.followingView', { username: userProfile.user.username })">{{ userProfile.user_followers }} Following</td>
            </tr>
        </tbody>
    </table>
    <div id="profile-sections" class="scrollable" data-scrollbar="true" data-ui-view=""></div>
</div>