<li>
    <div class="thread">
        <div class="header">
            <strong class="username">{{ selectedThread.user.username }}</strong>
            <strong class="time">{{ selectedThread.time_hms }}</strong>
        </div>
        <p>{{ selectedThread.comment }}</p>
    </div>
    <img class="img-circle" data-ng-src="{{ selectedThread.user.avatar_url }}" alt="" />
    <div class="comment-actions">
        <a class="reply" data-ng-click="showReplyFormForThread(selectedThread)" title="Reply" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-post-comment.png" alt="Reply" />
        </a>
        <a class="favorite" data-ng-click="postCommentAction(selectedThread, 'favorite')" title="Favorite" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-favorite.png" alt="Favorite" />
        </a>
        <a class="follow" data-ng-click="postCommentAction(selectedThread, 'follow')" title="Follow" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-follow.png" alt="Follow" />
        </a>
        <span class="dots" data-ng-show="selectedThread.has_hidden_siblings" class="dots has-hidden-siblings">
          <img data-ng-src="/static/framebuzz/player/app/img/icon-dots.png" alt="View More"  />
        </span>
        <span class="dots" data-ng-show="selectedThread.has_replies && !selectedThread.has_hidden_siblings" class="dots has-replies">
          <img data-ng-src="/static/framebuzz/player/app/img/icon-dots.png" alt="View More"  />
        </span>
        <a class="flag" data-ng-click="postCommentAction(selectedThread, 'flag')" title="Flag" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-flag.png" alt="Flag" />
        </a>
    </div>
    <ul class="replies">
        <li data-ng-repeat="reply in selectedThread.replies">
            <div class="thread">
                <div class="header">
                    <strong class="username">{{ reply.user.username }}</strong>
                </div>
                <p>{{ reply.comment }}</p>
            </div>
        </li>
    </ul>
    <div class="post-reply" data-ng-show="videoInstance.is_authenticated" data-ui-view=""></div>
</li>