<li class="active-thread" data-ng-repeat="thread in videoInstance.threads" data-ng-show="thread.time < currentTime" data-ng-animate="{show: 'animate-comment-show'}">
    <div class="thread">
        <div class="header">
            <strong class="username">{{ thread.user.username }}</strong>
            <strong class="time">{{ thread.time_hms }}</strong>
        </div>
        <p>{{ thread.comment }}</p>
    </div>
    <img class="img-circle" data-ng-src="{{ thread.user.avatar_url }}" alt="" />
    <div class="comment-actions">
        <a class="reply" href="#" title="Reply" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-post-comment.png" alt="Reply" />
        </a>
        <a class="favorite" data-ng-click="postCommentAction(thread, 'favorite')" title="Favorite" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-favorite.png" alt="Favorite" />
        </a>
        <a class="follow" data-ng-click="postCommentAction(thread, 'follow')" title="Follow" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-follow.png" alt="Follow" />
        </a>
        <span class="dots" data-ng-show="thread.has_hidden_siblings" class="dots has-hidden-siblings">
          <img data-ng-src="/static/framebuzz/player/app/img/icon-dots.png" alt="View More"  />
        </span>
        <span class="dots" data-ng-show="thread.has_replies && !thread.has_hidden_siblings" class="dots has-replies">
          <img data-ng-src="/static/framebuzz/player/app/img/icon-dots.png" alt="View More"  />
        </span>
        <a class="flag" data-ng-click="postCommentAction(thread, 'flag')" title="Flag" data-ng-show="videoInstance.is_authenticated">
            <img src="{{ rootPath }}img/icon-flag.png" alt="Flag" />
        </a>
    </div>
    <div class="post-reply" data-ng-show="videoInstance.is_authenticated">
        <form method="post" action="" id="post-reply-form" class="span12" data-ng-submit="postNewReply()">
            <p style="display:none;"><input type="text" id="id_honeypot" name="honeypot" data-ng-model="newReply.honeypot"></p>
            <input data-ng-model="newReply.comment" type="text" id="id_reply" name="reply" maxlength="180" placeholder="Reply to this comment..."  />
            <input type="submit" data-ng-show="false" />
      </form>
    </div>
</li>