<div class="active-header clearfix">
    <a class="active-close" href="#/player/panel/blended">
        <img src="{{ rootPath }}img/icon-close.png" alt="Switch to Blended View" />
    </a>
    <ul class="tabs clearfix">
        <li><a ng-class="{ active: $state.is('player.activeView.comments') }" href="#/player/panel/active/comments/threads" title="Comments" ng-model="active" ng-init="active = 'comments'" data-ng-click="active = 'comments'">Comments</a></li>
        <li><a ng-class="{ active: $state.is('player.activeView.activity') }" href="#/player/panel/active/activity" title="Activity" data-ng-click="active = 'activity'">Activity</a></li>
        <li class="indicator" data-ng-class="active"><img data-ng-src="{{ rootPath }}img/icon-down.png" alt=""></li>
    </ul>
    <a class="dropdown-toggle" data-ng-show="videoInstance.is_authenticated">
        <img class="img-circle" data-ng-src="{{ videoInstance.user.avatar_url }}" alt="" />
    </a>
    <ul class="dropdown-menu">
        <li><a>View Profile</a></li>
        <li><a data-ng-click="logout()">Logout</a></li>
    </ul>
</div>
<div class="tab-container" data-ui-view></div>