<div id="activity">
    <ul>
        <li data-ng-repeat="activity in activities">
            <p data-ng-if="activity.verb == 'replied to your comment'">
                <strong data-ng-click="getUserProfile(activity.actor)">{{ activity.actor }}</strong> 
                    replied to your comment &ldquo;<a data-ng-click="openPlayerLink(activity.thread_url)">{{ activity.action_object }}</a>&rdquo; on <a data-ng-click="openPlayerLink(activity.video_url)">{{ activity.target_object }}</a>.
            </p>
            <p data-ng-if="activity.verb != 'replied to your comment'">
                <strong data-ng-click="getUserProfile(activity.actor)">{{ activity.actor }}</strong> {{ activity.verb }}
            </p>
            <p class="timesince">{{ activity.timesince }} ago</p>
        </li>
    </ul>
</div>