{% load comments %}
<div id="video-wrapper" class="clearfix">
  <div id="video-content" class="clearfix"></div>
  <script id="videoTemplate" type="text/html">
      <div id="video">
      <video width="505" height="284" id="ytVideo" preload="none" data-bind="attr: {'type': 'video/x-youtube', 'src': 'http://www.youtube.com/watch?v=' + video.video_id() }">
      </video>
        <div id="heatmap">
            <div class="map">
              <ul class="clearfix" data-bind="foreach: heatmap">
                  <li data-bind="attr: {'class': $data.className}"></li>
              </ul>
            </div>
        </div>
        <div id="post">
          <form method="post" action="{% comment_form_target %}" id="post-comment-form">
            {% csrf_token %}
            <p style="display:none;"><input type="text" id="id_honeypot" name="honeypot"></p>
            <div class="input-prepend input-append">
                <span class="add-on">00:00</span>
                <!-- ko if: viewModel.user_authenticated -->
                  <input type="text" id="id_comment" name="comment" maxlength="180" placeholder="Post a comment...">
                <!-- /ko -->
                <!-- ko ifnot: viewModel.user_authenticated -->
                  <input type="text" id="id_comment" name="comment" placeholder="Please login to post a comment!" disabled>
                <!-- /ko -->
                <button type="submit" id="submit-comment" class="btn"><i class="icon-comment"></i></button>
            </div>
            <input type="hidden" id="id_time" name="time" value="0.00">
            <input type="hidden" id="id_parent" name="parent">
            <input type="hidden" id="id_object_pk" name="object_pk" data-bind="attr: {value: video.id}">
            <input type="hidden" id="id_content_type" value="core.video" name="content_type">
          </form>
          <div id="share-notifications" class="clearfix">
            <div id="share-widget">
              <div id="share-buttons"></div>
            </div>
            <div id="recent-replies" class="clearfix">
                <ul class="bxslider" data-bind="foreach: $data.recent_replies">
                  <li class="clearfix">
                    <p>
                      <strong data-bind="text: $data.user.username"></strong>
                      <span data-bind="text: 'replied to your comment in ' + $data.video_title() + '!'"></span>
                    </p>
                    <img height="25" width="25" data-bind="attr: {'src': $data.user.avatar_url() ? $data.user.avatar_url : '{{ MEDIA_URL }}img/user-icon-small.jpg'}" />
                    <b class="icon-exclamation-sign"></b>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="video-comments">
        <div id="brand-header">
          <div id="branding" class="subnav">
            <ul class="nav nav-pills clearfix">
              <li class="logo">
                <a target="blank" href="{% url 'home' %}">
                  <img src="{{ MEDIA_URL }}img/player-logo.png" alt="FrameBuzz" />
                </a>
              </li>
              <!-- ko ifnot: viewModel.user_authenticated -->
                <li class="signup dropdown">
                  <div class="btn-group">
                      <button class="btn">
                        <img height="19" width="19" src="{{ MEDIA_URL }}img/user-icon-small.jpg" />
                      </button>
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{% url 'account_login' %}">Login</a>
                        </li>
                      </ul>
                    </div>
                </li>
              <!-- /ko -->
              <!-- ko if: viewModel.user_authenticated -->
              <li class="logout dropdown">
                <div class="btn-group">
                  <button class="btn">
                    <img height="19" width="19" data-bind="attr: {'src': $data.profile.avatar_url() ? $data.profile.avatar_url : '{{ MEDIA_URL }}img/user-icon-small.jpg'}" />
                  </button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="logout" data-token="" href="{% url 'account_logout' %}">Logout</a>
                      {% csrf_token %}
                    </li>
                  </ul>
                </div>
              </li>
              <!-- /ko -->
            </ul>
          </div>
        </div>
        <div id="comments-wrapper">
          <div id="sidebar" data-bind="attr: {'class': comments().length == 0 ? 'no-comments' : 'video-loaded' }">
            <!-- ko if: comments().length == 0 -->
              <p class="bubble">No comments yet...</p>
              <p class="instructions">Click <strong>Post</strong> to begin!</p>
            <!-- /ko -->
          </div>
          <div id="scrollbar-wrapper">
            <!-- ko if: viewModel.selected_thread() > 0 -->
            <div id="thread-view-notification">
              <a href="#" id="back-to-comments">View All</a>
              <strong>Viewing Thread</strong>
            </div>
            <!-- /ko -->
            <ul id="comments" data-bind="foreach: filtered_comments">
              <li class="parent" data-bind="attr: {'data-time': $data.thread.time, 'data-threadid': $data.thread.id}">
                <div class="header-wrapper clearfix">
                  <a class="header-image-link show-user-sidebar" data-bind="attr: {'href': $data.thread.user.sidebar_url, 'data-threadid': $data.thread.id}">
                    <img height="25" width="25" data-bind="attr: {'src': $data.thread.user.avatar_url() ? $data.thread.user.avatar_url : '{{ MEDIA_URL }}img/user-icon-small.jpg'}" />
                  </a>
                  <h3>
                    <a class="username show-user-sidebar" data-bind="text: $data.thread.user.username(), attr: {'data-threadid': $data.thread.id, href: $data.thread.user.sidebar_url}"></a>
                    <span data-bind="text: $data.thread.time_hms"></span>
                  </h3>
                  <!-- ko if: viewModel.user_authenticated -->
                  <a href="#" data-bind="attr: {'data-threadid': $data.thread.id, 'class': $data.thread.thread_actions.is_flagged() ? 'flag-post active' : 'flag-post inactive', 'title': $data.thread.thread_actions.is_flagged() ? 'Unflag Post' : 'Flag Post'}">
                    <b class="icon-flag"></b>
                  </a>
                  <!-- /ko -->
                </div>
                <div class="comment-wrapper">
                    <p class="comment" data-bind="html: $data.thread.comment"></p>
                    <!-- ko if: viewModel.user_authenticated -->
                      <div class="actions clearfix">
                          <a href="#" class="post-a-reply" data-bind="attr: {'data-threadid': $data.thread.id, 'data-username': $data.thread.user.username, 'title': 'Reply to ' + $data.thread.user.username()}">
                            <b class="icon-comment"></b>
                          </a>
                          <a href="#" class="favorite-post" data-bind="attr: {'data-threadid': $data.thread.id, 'class': $data.thread.thread_actions.is_favorite() ? 'favorite-post active' : 'favorite-post inactive', 'title': $data.thread.thread_actions.is_favorite() ? 'Remove Post from Favorites' : 'Add Post to Favorites'}">
                            <b class="icon-heart"></b>
                          </a>
                          <a href="#" class="follow-post" data-bind="attr: {'data-username': $data.thread.user.username, 'class': $data.thread.thread_actions.is_following() ? 'follow-post active' : 'follow-post inactive', 'title': $data.thread.thread_actions.is_following() ? 'Unfollow ' + $data.thread.user.username() : 'Follow ' + $data.thread.user.username()}">
                            <b class="icon-user"></b>
                          </a>
                          <span data-bind="text: $data.thread.submit_date"></span>
                      </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: thread.has_replies-->
                <ul class="replies" data-bind="foreach: $data.children">
                  <li class="reply">
                    <div class="header-wrapper clearfix">
                      <a class="header-image-link show-user-sidebar" data-bind="attr: {'data-threadid': $parent.thread.id, 'href': $data.user.sidebar_url}">
                        <img height="25" width="25" data-bind="attr: {'src': $data.user.avatar_url() ? $data.user.avatar_url : '{{ MEDIA_URL }}img/user-icon-small.jpg'}" />
                      </a>
                      <h3 class="reply-header clearfix">
                        <a class="username show-user-sidebar" data-bind="text: $data.user.username(), attr: {'data-threadid': $parent.thread.id, href: $data.user.sidebar_url}"></a>
                        <span class="reply-thread-time" data-bind="text: $parent.thread.time_hms"></span>
                        <a class="in-reply-to" href="#" data-bind="text: '@' + $parent.thread.user.username(), attr: {'data-threadid': $parent.thread.id}"></a>
                      </h3>
                      <!-- ko if: viewModel.user_authenticated -->
                      <a href="#" data-bind="attr: {'data-threadid': $data.id, 'class': $data.reply_actions.is_flagged() ? 'flag-post active' : 'flag-post inactive', 'title': $data.reply_actions.is_flagged() ? 'Unflag Post' : 'Flag Post'}">
                        <b class="icon-flag"></b>
                      </a>
                      <!-- /ko -->
                    </div>
                    <div class="reply-wrapper">
                        <p class="comment" data-bind="html: $data.comment"></p>
                          <!-- ko if: viewModel.user_authenticated -->
                          <div class="actions clearfix">
                            <a href="#" class="follow-post" data-bind="attr: {'data-username': $data.user.username, 'class': $data.reply_actions.is_following() ? 'follow-post active' : 'follow-post inactive', 'title': $data.reply_actions.is_following() ? 'Unfollow ' + $data.user.username() : 'Follow ' + $data.user.username()}">
                              <b class="icon-user"></b>
                            </a>
                            <a href="#" class="favorite-post" data-bind="attr: {'data-threadid': $data.id, 'class': $data.reply_actions.is_favorite() ? 'favorite-post active' : 'favorite-post inactive', 'title': $data.reply_actions.is_favorite() ? 'Remove Post from Favorites' : 'Add Posts to Favorites'}">
                              <b class="icon-heart"></b>
                            </a>
                            <span data-bind="text: $data.submit_date"></span>
                          </div>
                          <!-- /ko -->
                    </div>
                  </li>
                </ul>
                <!-- /ko -->
              </li>
            </ul>
          </div>
        </div>
      </div>
  </script>
    <div id="embed-modal-dialog" class="modal hide fade in" style="display: none; ">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Embed This FrameBuzz Video</h3>
      </div>
      <div class="modal-body">
        <h4></h4>
        <p>Embed this video by copy and pasting the code below into your site's markup.</p>
        {% spaceless %}
        <textarea>
          {% autoescape on %}
            <iframe src="http://{{ current_site }}{{ video.get_absolute_url }}?embed=true" class="restricted" scrolling="no" frameBorder="0" height="360" width="675"></iframe>
          {% endautoescape %}
        </textarea>
        {% endspaceless %}
        <p class="notice">FrameBuzz requires at least 675px width.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
  </div>
</div>