{% load compress %}

{% ifequal current_site "dev.framebuzz.com:3002" %}
  <script src="http://dev.framebuzz.com:4000/socket.io/socket.io.js"></script>
{% else %}
  <script src="http://{{ current_site }}/socket.io/socket.io.js"></script>
{% endifequal %}

{% compress js %}
  <script src="{{ MEDIA_URL }}js/vendor/knockout-2.2.1.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/knockout.mapping-latest.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/ko.observableDictionary.js" type='text/javascript'></script>
  <script src="{{ MEDIA_URL }}js/vendor/swfobject.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/json2.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/jquery.bxslider.min.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/jquery.mousewheel.min.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/jquery.mCustomScrollbar.min.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/jquery.share.js"></script>
  <script src="{{ MEDIA_URL }}js/vendor/mediaelement-and-player.js"></script>
  <script src="{{ MEDIA_URL }}js/popcorn.movies.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var videoUrl = '{{ video.get_absolute_url }}';
      var threadId = parseInt('{{ thread_id }}');

      PopcornMovie.setThreadId(threadId);
      PopcornMovie.selectMovie(videoUrl);
      PopcornMovie.setSiteName('{{ current_site }}');
    });

    window.onbeforeunload = function() {
      if (PopcornMovie !== null) {
        PopcornMovie.disconnectPlayer();
      }
    };
  </script>
{% endcompress %}