/* line 4, ../sass/screen.scss */
body {
  background-color: #ffffff;
}

/* line 8, ../sass/screen.scss */
ul.top-menu > li > .logout {
  margin: 0 0 0 20px;
}

/* line 13, ../sass/screen.scss */
.logo img {
  vertical-align: top !important;
}

/* line 18, ../sass/screen.scss */
.badge {
  opacity: 0;
}
/* line 21, ../sass/screen.scss */
.badge.on {
  opacity: 1;
}

/* line 30, ../sass/screen.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 36, ../sass/screen.scss */
.client-logo {
  display: block;
  height: 24px;
  width: 152px;
}

/* line 42, ../sass/screen.scss */
div.inline-modal {
  background: #F3F4F6;
  box-shadow: 0px 0px 10px #AAB2BD inset;
  display: none;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 360px;
}
/* line 53, ../sass/screen.scss */
div.inline-modal .panel-heading {
  padding-bottom: 0;
}
/* line 57, ../sass/screen.scss */
div.inline-modal div.poster-image {
  margin-bottom: 20px;
}
/* line 61, ../sass/screen.scss */
div.inline-modal div.row-modal-title {
  padding: 8px 0 13px 0;
}
/* line 64, ../sass/screen.scss */
div.inline-modal div.row-modal-title h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
}
/* line 69, ../sass/screen.scss */
div.inline-modal div.row-modal-title h3 strong.video-title {
  color: #5F615E;
  display: inline-block;
  font-weight: bold;
}
/* line 75, ../sass/screen.scss */
div.inline-modal div.row-modal-title h3 a.inline-close {
  color: #5F615E;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 82, ../sass/screen.scss */
div.inline-modal div.row-modal-title h3 a.inline-close:hover, div.inline-modal div.row-modal-title h3 a.inline-close:active, div.inline-modal div.row-modal-title h3 a.inline-close:visited {
  color: #333333;
}
/* line 90, ../sass/screen.scss */
div.inline-modal div.row-modal-tabs div.modal-tab-container {
  padding-left: 0;
  padding-right: 0;
}
/* line 94, ../sass/screen.scss */
div.inline-modal div.row-modal-tabs div.modal-tab-container ul.nav-tabs {
  background: transparent;
}
/* line 98, ../sass/screen.scss */
div.inline-modal div.row-modal-tabs div.modal-tab-container ul.nav-tabs li a {
  background-color: #EBEBEB;
  border-bottom: none;
  text-transform: uppercase;
}
/* line 105, ../sass/screen.scss */
div.inline-modal div.row-modal-tabs div.modal-tab-container ul.nav-tabs li.active a {
  background-color: white;
}
/* line 114, ../sass/screen.scss */
div.inline-modal div.inline-modal-content {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
/* line 119, ../sass/screen.scss */
div.inline-modal div.inline-modal-content i.ajax-indicator {
  display: inline-block;
  left: 45%;
  opacity: 0.4;
  position: absolute;
  top: 38%;
}
/* line 128, ../sass/screen.scss */
div.inline-modal div.inline-modal-content div.inner-content h5 {
  font-size: 16px;
  font-weight: bold;
}
/* line 133, ../sass/screen.scss */
div.inline-modal div.inline-modal-content div.inner-content .tab-content {
  margin-bottom: 20px;
}
/* line 135, ../sass/screen.scss */
div.inline-modal div.inline-modal-content div.inner-content .tab-pane {
  background: white;
  border-bottom: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  min-height: 230px;
}

/* line 150, ../sass/screen.scss */
iframe.video-iframe {
  background: #202020;
  border-top: 4px solid #202020;
  border-bottom: 4px solid #202020;
  height: 402px;
  width: 648px;
  margin-bottom: 20px;
}

/* line 159, ../sass/screen.scss */
section.wrapper {
  margin-top: 0;
}
/* line 162, ../sass/screen.scss */
section.wrapper h3 {
  color: #5F615E;
  margin-top: 0;
}

/* line 168, ../sass/screen.scss */
section.upload-wrapper {
  margin-top: 60px;
}

/* line 173, ../sass/screen.scss */
section.home-wrapper {
  margin-top: -20px;
}

/* line 177, ../sass/screen.scss */
div.stats {
  padding: 69px 0;
}

/* line 181, ../sass/screen.scss */
.table > tbody > tr > td.first {
  border-top: 1px solid transparent;
}

/* line 183, ../sass/screen.scss */
div.comments-row {
  margin: 0;
}
/* line 187, ../sass/screen.scss */
div.comments-row div.task-buttons .btn {
  opacity: 1;
}
/* line 192, ../sass/screen.scss */
div.comments-row .task-content {
  margin-bottom: 0;
  position: relative;
}
/* line 197, ../sass/screen.scss */
div.comments-row .panel-body {
  padding: 15px 0;
}
/* line 201, ../sass/screen.scss */
div.comments-row .ui-sortable {
  padding-left: 0;
}
/* line 204, ../sass/screen.scss */
div.comments-row .ui-sortable li {
  cursor: pointer;
  margin-bottom: 0;
  padding: 15px 0 15px 10px !important;
}
/* line 209, ../sass/screen.scss */
div.comments-row .ui-sortable li.active {
  background: #f9f9f9;
}
/* line 214, ../sass/screen.scss */
div.comments-row .ui-sortable li .task-title .badge {
  opacity: 1;
}
/* line 217, ../sass/screen.scss */
div.comments-row .ui-sortable li .task-title .task-title-sp i {
  font-size: 18px;
}
/* line 224, ../sass/screen.scss */
div.comments-row .ui-sortable li.list-primary .task-title .task-title-sp i {
  color: #41CAC0;
}
/* line 230, ../sass/screen.scss */
div.comments-row .ui-sortable li.list-danger .task-title .task-title-sp i {
  color: #FF6C60;
}
/* line 236, ../sass/screen.scss */
div.comments-row .ui-sortable li.list-warning .task-title .task-title-sp i {
  color: #F1C500;
}
/* line 242, ../sass/screen.scss */
div.comments-row .ui-sortable li.list-success .task-title .task-title-sp i {
  color: #78CD51;
}
/* line 248, ../sass/screen.scss */
div.comments-row .ui-sortable li.list-info .task-title .task-title-sp i {
  color: #58C9F3;
}
/* line 255, ../sass/screen.scss */
div.comments-row div.reply {
  background: #EEE;
  margin-left: 0;
  margin-right: 0;
}
/* line 260, ../sass/screen.scss */
div.comments-row div.reply div.reply-container {
  padding-left: 0;
  padding-right: 0;
}
/* line 265, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form div.form-group {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
/* line 270, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form div.form-group .input-group-addon {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: none;
  border-left: 3px solid #CCC;
  color: #797979;
  font-size: 13px;
}
/* line 277, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form div.form-group .input-group-addon i {
  font-size: 18px;
}
/* line 282, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form div.form-group input.form-control {
  margin-top: 6px;
  margin-bottom: 6px;
}
/* line 287, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form div.form-group .btn-clear-form {
  padding: 2px 5px;
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 10;
}
/* line 296, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form .btn-submit-reply {
  margin-top: 6px;
}
/* line 301, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-primary div.form-group .input-group-addon {
  border-left: 3px solid #41CAC0;
}
/* line 304, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-primary div.form-group .input-group-addon i {
  color: #41CAC0;
}
/* line 311, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-danger div.form-group .input-group-addon {
  border-left: 3px solid #FF6C60;
}
/* line 314, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-danger div.form-group .input-group-addon i {
  color: #FF6C60;
}
/* line 321, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-warning div.form-group .input-group-addon {
  border-left: 3px solid #F1C500;
}
/* line 324, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-warning div.form-group .input-group-addon i {
  color: #F1C500;
}
/* line 331, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-success div.form-group .input-group-addon {
  border-left: 3px solid #78CD51;
}
/* line 334, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-success div.form-group .input-group-addon i {
  color: #78CD51;
}
/* line 341, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-info div.form-group .input-group-addon {
  border-left: 3px solid #58C9F3;
}
/* line 344, ../sass/screen.scss */
div.comments-row div.reply div.reply-container form.list-info div.form-group .input-group-addon i {
  color: #58C9F3;
}

/* line 354, ../sass/screen.scss */
.video-panel {
  cursor: pointer;
}
/* line 358, ../sass/screen.scss */
.video-panel:hover .content-panel .pr2-social i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 367, ../sass/screen.scss */
.video-panel .content-panel {
  background: #22242A;
  color: rgba(255, 255, 255, 0.9);
  height: auto;
  padding-top: 0;
}
/* line 373, ../sass/screen.scss */
.video-panel .content-panel .panel-bkg {
  height: 180px;
  overflow: hidden;
  position: relative;
}
/* line 378, ../sass/screen.scss */
.video-panel .content-panel .panel-bkg img {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 385, ../sass/screen.scss */
.video-panel .content-panel .pr2-social {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 389, ../sass/screen.scss */
.video-panel .content-panel .pr2-social i {
  font-size: 14px;
  margin-right: 0;
  margin-top: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 401, ../sass/screen.scss */
.video-panel .content-panel .pr2-social h5 {
  margin-bottom: 0;
  margin-top: 5px;
}
/* line 405, ../sass/screen.scss */
.video-panel .content-panel .pr2-social h5 strong {
  display: block;
  line-height: 20px;
  margin-bottom: 6px;
  margin-top: 15px;
}

/* line 418, ../sass/screen.scss */
div.project .photo-wrapper.active {
  background-color: #4ECDC4 !important;
  background-image: url(../../theme/assets/img/zoom.png) !important;
  background-repeat: no-repeat  !important;
  background-position: center  !important;
  top: 0  !important;
  bottom: 0  !important;
  left: 0  !important;
  right: 0 !important;
  position: relative !important;
}
/* line 430, ../sass/screen.scss */
div.project strong {
  color: #797979;
  display: block;
  font-size: 15px;
  padding: 5px 0;
}
/* line 436, ../sass/screen.scss */
div.project strong i {
  padding-top: 3px;
}
/* line 439, ../sass/screen.scss */
div.project strong.selected i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 450, ../sass/screen.scss */
.ds {
  background: #F3F4F6;
}
/* line 452, ../sass/screen.scss */
.ds .desc {
  font-size: 12px;
  text-align: left;
}

/* line 458, ../sass/screen.scss */
.donut-chart h2 {
  font-size: 25px;
}

/* line 462, ../sass/screen.scss */
#upload-video {
  background: #AA1A30;
}
/* line 465, ../sass/screen.scss */
#upload-video .tabs-title {
  width: 12.667%;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}
/* line 470, ../sass/screen.scss */
#upload-video .tabs-title h4 {
  margin-bottom: 8px;
  margin-top: 10px;
}
/* line 476, ../sass/screen.scss */
#upload-video #add-video-tabs {
  background: transparent;
  border-bottom: none;
  width: auto;
}
/* line 489, ../sass/screen.scss */
#upload-video .nav-tabs > li.active > a,
#upload-video .nav-tabs > li.active > a:hover,
#upload-video .nav-tabs > li.active > a:focus,
#upload-video .nav-tabs > li.active > a:active,
#upload-video .nav-tabs > li > a:hover,
#upload-video .nav-tabs > li > a:focus,
#upload-video .nav-tabs > li > a:active,
#upload-video .nav-tabs > li > a {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  background: #AA1A30;
  border: none;
  border-top: 5px solid transparent;
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 15px 10px;
  margin-right: 0;
}
/* line 507, ../sass/screen.scss */
#upload-video .nav-tabs > li.active > a,
#upload-video .nav-tabs > li.active > a:hover,
#upload-video .nav-tabs > li.active > a:focus,
#upload-video .nav-tabs > li.active > a:active,
#upload-video .nav-tabs > li > a:hover,
#upload-video .nav-tabs > li > a:focus,
#upload-video .nav-tabs > li > a:active {
  background: #F3F4F6;
  border-top: 5px solid #E8E9ED;
  color: #888;
}
/* line 513, ../sass/screen.scss */
#upload-video .tab-content {
  position: absolute;
  left: -15px;
  z-index: 100;
}
/* line 518, ../sass/screen.scss */
#upload-video .tab-content .tab-pane {
  background: #F3F4F6;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* line 523, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row {
  margin: 0;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 527, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row #upload-drop-pane {
  margin: 0 0 0 -10px;
}
/* line 531, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row #upload-drop-pane > div {
  clear: both;
  height: 50px;
  width: 103%;
}
/* line 537, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row #upload-drop-pane > div > div {
  background-color: #E8E9ED !important;
  border: 2px dashed #DADAD5 !important;
  color: #888 !important;
  float: left !important;
  font-size: 0.9em !important;
  margin: 0 0 0 5px !important;
  padding: 4px 0 !important;
  text-align: center !important;
  width: 84.2% !important;
  height: 100%;
  line-height: 18px !important;
}
/* line 551, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row #upload-drop-pane > div > div > div {
  height: 22px !important;
  margin: 0 3px !important;
}
/* line 556, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row #upload-drop-pane > div > button.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  color: #FFFFFF;
  font-weight: bold;
  float: left !important;
  padding: 3px 12px;
  width: 15%;
}
/* line 566, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 5px;
}
/* line 571, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div {
  padding: 0;
}
/* line 574, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input, #upload-video .tab-content div.drop-pane-row div.input-row div textarea {
  font-size: 13px;
  color: #888888;
  width: 100%;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}
/* line 580, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input::-webkit-input-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888;
  font-weight: 300;
  font-style: italic;
}
/* line 586, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input:-moz-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
  font-weight: 300;
  font-style: italic;
}
/* line 592, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input::-moz-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
  font-weight: 300;
  font-style: italic;
}
/* line 598, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input:-ms-input-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888;
  font-weight: 300;
  font-style: italic;
}
/* line 604, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.placeholder {
  color: #888888;
  font-weight: 300;
  font-style: italic;
}
/* line 610, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input:focus, #upload-video .tab-content div.drop-pane-row div.input-row div textarea:focus {
  border: 1px solid #888888;
  outline: 0;
}
/* line 615, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.error, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.error {
  border: 1px solid red;
}
/* line 618, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.error:-moz-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 624, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.error::-moz-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 630, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.error:-ms-input-placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 636, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.input-row div input.error.placeholder, #upload-video .tab-content div.drop-pane-row div.input-row div textarea.error.placeholder {
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 646, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.textarea-row {
  margin-bottom: 5px;
}
/* line 649, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.textarea-row textarea {
  height: 43px;
}
/* line 654, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.submit-row {
  margin-top: 15px;
}
/* line 657, ../sass/screen.scss */
#upload-video .tab-content div.drop-pane-row div.submit-row .col-xs-6 {
  padding: 0 5px;
}
/* line 662, ../sass/screen.scss */
#upload-video form {
  padding: 15px;
}

/* line 667, ../sass/screen.scss */
.grey-panel {
  position: relative;
}
/* line 670, ../sass/screen.scss */
.grey-panel img.thumb {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 678, ../sass/screen.scss */
.grey-panel .grey-header {
  position: relative;
  z-index: 10;
}
