/* line 1, ../sass/screen.scss */
ul.top-menu > li > .logout {
  margin: 0 0 0 20px;
}

/* line 5, ../sass/screen.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 11, ../sass/screen.scss */
.client-logo {
  display: block;
  height: 24px;
  width: 152px;
}

/* line 17, ../sass/screen.scss */
div.desc {
  margin-bottom: 30px;
}

/* line 22, ../sass/screen.scss */
div.info-placeholder {
  background: #4ECDC4;
  display: none;
}

/* line 27, ../sass/screen.scss */
div.stats {
  color: white;
}
/* line 30, ../sass/screen.scss */
div.stats div.row {
  margin-bottom: 3%;
}

/* line 36, ../sass/screen.scss */
div.project strong {
  font-size: 15px;
}
