/* line 1, ../sass/screen.scss */
ul.top-menu > li > .logout {
  margin: 0 0 0 20px;
}

/* line 5, ../sass/screen.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 11, ../sass/screen.scss */
.client-logo {
  display: block;
  height: 24px;
  width: 152px;
}

/* line 17, ../sass/screen.scss */
div.inline-modal {
  display: none;
  margin-top: 0;
}
/* line 21, ../sass/screen.scss */
div.inline-modal h3.video-title {
  font-weight: bold;
}
/* line 25, ../sass/screen.scss */
div.inline-modal a.inline-close {
  color: #666666;
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
}
/* line 32, ../sass/screen.scss */
div.inline-modal a.inline-close:hover, div.inline-modal a.inline-close:active, div.inline-modal a.inline-close:visited {
  color: #333333;
}
/* line 37, ../sass/screen.scss */
div.inline-modal div.inline-modal-content {
  background: #D7D7D7;
  position: relative;
  min-height: 470px;
}
/* line 42, ../sass/screen.scss */
div.inline-modal div.inline-modal-content i.ajax-indicator {
  display: inline-block;
  left: 45%;
  opacity: 0.4;
  position: absolute;
  top: 38%;
}
/* line 51, ../sass/screen.scss */
div.inline-modal div.inline-modal-content div.inner-content h5 {
  font-size: 16px;
  font-weight: bold;
}

/* line 59, ../sass/screen.scss */
iframe.video-iframe {
  background: #202020;
  border-top: 4px solid #202020;
  border-bottom: 4px solid #202020;
  height: 398px;
  width: 648px;
}

/* line 67, ../sass/screen.scss */
div.stats {
  color: white;
}
/* line 70, ../sass/screen.scss */
div.stats div.row {
  margin-bottom: 3%;
}

/* line 76, ../sass/screen.scss */
div.project .photo-wrapper.active {
  background-color: #4ECDC4 !important;
  background-image: url(../../theme/assets/img/zoom.png) !important;
  background-repeat: no-repeat  !important;
  background-position: center  !important;
  top: 0  !important;
  bottom: 0  !important;
  left: 0  !important;
  right: 0 !important;
  position: relative !important;
}
/* line 88, ../sass/screen.scss */
div.project strong {
  color: #797979;
  display: block;
  font-size: 15px;
  padding: 5px 0;
}
/* line 94, ../sass/screen.scss */
div.project strong i {
  padding-top: 3px;
}
/* line 97, ../sass/screen.scss */
div.project strong.selected i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
