/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
body.profiles a.toggle-follow {
  display: block;
  line-height: 34px;
}
/* line 15, ../sass/screen.scss */
body.profiles a.toggle-follow .fa-user {
  font-size: 18px;
  line-height: 34px;
  text-align: left;
  text-indent: 5px;
}
/* line 22, ../sass/screen.scss */
body.profiles a.toggle-follow .fa-plus, body.profiles a.toggle-follow .fa-minus {
  font-size: 9px;
  line-height: 34px;
  text-align: left;
  text-indent: 17px;
}
/* line 30, ../sass/screen.scss */
body.profiles a.toggle-follow.follow-button i.fa-circle {
  color: #6CC561;
  font-size: 2.5em;
}
/* line 37, ../sass/screen.scss */
body.profiles a.toggle-follow.unfollow-button i.fa-circle {
  color: #999999;
  font-size: 2.5em;
}
/* line 44, ../sass/screen.scss */
body.profiles #main {
  background: #05171E;
}
/* line 48, ../sass/screen.scss */
body.profiles #base {
  background: #05171E;
  margin-top: 16px;
}
/* line 52, ../sass/screen.scss */
body.profiles #base #content-wrapper {
  position: relative;
}
/* line 55, ../sass/screen.scss */
body.profiles #base #content-wrapper:after {
  content: '';
  display: block;
  clear: left;
}
/* line 61, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper {
  height: 100%;
}
/* line 64, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar {
  background-color: white;
  position: static;
  float: left;
  height: 100%;
}
/* line 70, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper {
  height: 244px;
  left: 0;
  overflow: hidden;
  position: relative;
  top: -47px;
}
/* line 77, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper .details-col {
  padding: 0;
}
/* line 79, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-avatar {
  margin: 0;
}
/* line 82, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-avatar a {
  display: block;
  height: 247px;
  width: 100%;
}
/* line 87, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-avatar a img {
  height: 247px;
  width: 100%;
}
/* line 94, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name {
  background-color: #2B2727;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}
/* line 102, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div h1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 9px 10px 0px;
  position: relative;
  left: -1px;
}
/* line 110, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div h1 a {
  color: white;
}
/* line 113, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div h1 a:active, body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div h1 a:hover, body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div h1 a:focus {
  text-decoration: none;
}
/* line 120, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-display-name div a.toggle-follow span.fa-stack {
  top: -2px;
}
/* line 125, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos {
  background-color: #2B2727;
  bottom: 42px;
  margin: 0;
  position: absolute;
  width: 100%;
}
/* line 132, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid {
  padding: 0;
  margin: 0 -1px 0 0;
}
/* line 136, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid a.thumbnail-link {
  display: block;
  height: auto;
  cursor: pointer;
  position: relative;
}
/* line 142, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid a.thumbnail-link span.play {
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 22px;
  width: 22px;
}
/* line 148, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid a.thumbnail-link span.play i.fa-play {
  color: black;
  display: block;
  font-size: 12px;
  line-height: 23px;
  padding-left: 4px;
  width: 14px;
}
/* line 158, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid a.thumbnail-link img {
  max-width: 108%;
}
/* line 161, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #details-wrapper #user-videos div.vid a.thumbnail-link:hover span.play {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 170, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details {
  background: #FFFFFF;
  padding: 8px 17px 23px;
  margin-top: -47px;
}
/* line 175, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details h2 {
  color: #6e6e6e;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}
/* line 181, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details h2 i.fa-play {
  color: #05171E;
  left: 9%;
  position: relative;
  top: 8%;
}
/* line 189, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details h3 {
  color: #bfbfbf;
  font-size: 17px;
  font-weight: 300;
  margin-top: 0;
}
/* line 195, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details h3 i {
  font-size: 20px;
}
/* line 198, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-details em {
  color: #9d9c9c;
  font-size: 15px;
  font-style: italic;
}
/* line 205, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats {
  background: #E9E9E9;
  padding: 20px 0;
}
/* line 209, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats div.stats-wrapper {
  padding-right: 0;
}
/* line 213, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs {
  border-bottom: none;
}
/* line 216, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs li {
  float: left;
  width: 33%;
}
/* line 220, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs li a {
  color: #898686;
  font-size: 17px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
/* line 227, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs li a i {
  color: #AEAEAE;
}
/* line 231, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs li.active a {
  background-color: transparent;
  border-color: transparent;
}
/* line 235, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #user-stats .nav-tabs li.active a i {
  color: #4a8cc5;
}
/* line 242, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations {
  background: white;
  overflow: hidden;
}
/* line 246, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div {
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
}
/* line 252, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div h2 {
  color: #ACABAB;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: -5px;
  position: relative;
  text-indent: 9px;
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.8);
  z-index: 10;
}
/* line 264, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link {
  display: block;
  height: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
/* line 272, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link span {
  color: white;
  display: block;
  z-index: 5;
}
/* line 278, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link span.play {
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 45px;
  width: 45px;
}
/* line 284, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link span.play i.fa-play {
  color: black;
  display: block;
  font-size: 22px;
  height: 21px;
  padding-left: 4px;
  width: 21px;
}
/* line 294, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link img.video-thumbnail {
  height: 137px;
  margin-top: -1px;
}
/* line 298, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link img.video-thumbnail.loaded {
  height: auto;
  width: auto;
}
/* line 304, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link span.title {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  padding: 5px;
  width: 100%;
  visibility: hidden;
}
/* line 314, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link span.title strong {
  font-weight: 700;
}
/* line 320, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link:hover span.play {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 324, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div a.thumbnail-link:hover span.title {
  visibility: visible;
}
/* line 330, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.row-users {
  position: relative;
}
/* line 333, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.row-users span.title {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 0;
  line-height: 14px;
  padding: 5px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
/* line 345, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.row-users span.title strong {
  font-weight: 700;
}
/* line 351, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.row-users div.user-column a.avatar {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 356, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.row-users div.user-column a.avatar img {
  max-width: 105%;
}
/* line 363, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #sidebar #recommendations div div.ajax {
  background: #05171E;
  width: 100%;
}
/* line 371, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content {
  background: #05171E;
  min-height: 1129px;
  padding-right: 14px;
  height: 100%;
}
/* line 377, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video {
  background: #1DAFEC;
  height: 54px;
  overflow: hidden;
}
/* line 383, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input {
  background: #1DAFEC;
  border: none;
  border-bottom: 1px solid #A3D9ED;
  color: #A3D9ED;
  margin-left: 13px;
  margin-bottom: 15px;
  padding: 20px 11px 0px 0px;
  width: 98%;
}
/* line 393, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #A3D9ED;
}
/* line 397, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A3D9ED;
}
/* line 401, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A3D9ED;
}
/* line 405, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #A3D9ED;
}
/* line 409, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form input:focus {
  outline: 0;
}
/* line 414, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form div.submit {
  background: #1EABE4;
  padding: 0;
  height: 100%;
}
/* line 419, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form div.submit button {
  background: #1EABE4;
  border: none;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 54px;
  font-size: 0.88em;
  width: 100%;
}
/* line 429, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #add-video #add-video-form div.submit button i {
  color: white;
}
/* line 435, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline {
  background: #05171E;
  padding: 13px 0;
  overflow: hidden;
  min-height: 1055px;
}
/* line 441, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav {
  margin-bottom: 19px;
}
/* line 444, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav .nav-pills > li + li {
  margin-left: 0;
}
/* line 448, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills {
  padding: 0 17px;
}
/* line 452, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li a {
  color: #898989;
  font-size: 13px;
  font-weight: 500;
  padding: 12px;
  text-align: center;
  width: 100%;
}
/* line 461, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li:last-child {
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}
/* line 468, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li.active a, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li:hover a {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  border-color: #102e3b;
  background-color: #102e3b;
  color: #c5c5c5;
  text-align: center;
}
/* line 477, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li.active {
  font-weight: 700;
}
/* line 481, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline nav ul.nav-pills li.start {
  margin-left: 0;
  padding-left: 0;
}
/* line 489, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline {
  background: #05171E;
  margin: -5px 0 0;
  font-family: "ff-dagny-web-pro", sans-serif;
}
/* line 494, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.container {
  background: #05171E;
  min-height: 605px;
}
/* line 499, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item {
  margin-bottom: 18px;
}
/* line 502, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.init {
  visibility: hidden;
}
/* line 506, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content {
  padding-bottom: 0;
}
/* line 511, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.header-content {
  position: relative;
}
/* line 515, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header img.header-avatar {
  height: 41px;
  width: 41px;
}
/* line 520, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.avatar {
  padding-right: 0;
  max-width: 56px;
}
/* line 525, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header a {
  color: #247cc0;
}
/* line 529, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header p {
  color: #565555;
  margin-bottom: 0;
  position: relative;
  line-height: 16px;
  text-align: left;
  font-weight: 500;
}
/* line 537, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header p i {
  color: #b2bbbe;
  font-size: 7px;
  position: relative;
  top: -5px;
}
/* line 544, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header p span {
  color: #383838;
  font-weight: 700;
  padding: 0 2px;
}
/* line 551, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type {
  padding: 0;
  position: absolute;
  right: 7px;
  top: 5px;
}
/* line 557, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type {
  display: block;
  height: 18px;
  outline: 0 none;
}
/* line 562, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack {
  line-height: 18px;
  height: 18px;
  position: relative;
  left: 6px;
  vertical-align: top;
}
/* line 569, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack i.fa-video-camera, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack i.fa-heart {
  color: #39CA74;
  font-size: 20px;
}
/* line 574, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack i.fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack i.fa-minus {
  font-size: 11px;
  text-shadow: 0 0 1px 0 #30AD63;
}
/* line 579, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite {
  top: 0;
}
/* line 582, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite i.fa-heart {
  font-size: 21px;
}
/* line 586, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite i.fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite i.fa-minus {
  text-indent: -0.05em;
}
/* line 590, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite i.fa-plus {
  line-height: 21px;
}
/* line 594, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.favorite i.fa-minus {
  line-height: 20px;
}
/* line 599, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.video {
  top: -1px;
}
/* line 602, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.video i.fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.video i.fa-minus {
  line-height: 20px;
  text-indent: -5px;
}
/* line 607, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.video i.fa-minus {
  font-size: 10px;
}
/* line 613, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.active i.fa-video-camera, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.active i.fa-heart {
  color: #BDC3C7;
}
/* line 617, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.active i.fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type span.fa-stack.active i.fa-minus {
  text-shadow: 0 0 1px 0 #95A5A6;
}
/* line 625, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type:hover span.fa-stack i.fa-video-camera, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type:hover span.fa-stack i.fa-heart {
  color: #30AD63;
}
/* line 630, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type:hover span.fa-stack.active i.fa-video-camera, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.header div.action-type a.feed-item-type:hover span.fa-stack.active i.fa-heart {
  color: #95A5A6;
}
/* line 641, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item div.content div.posted div {
  color: #949292;
  line-height: 18px;
}
/* line 648, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer {
  position: relative;
}
/* line 651, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer span.corner {
  top: -47px;
}
/* line 653, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer a.thumbnail-link {
  display: block;
  overflow: hidden;
  max-height: 294px;
  width: 100%;
  height: 100%;
}
/* line 660, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer a.thumbnail-link img.cover {
  height: 180px;
  width: 100%;
}
/* line 665, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer a.thumbnail-link span.play {
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  height: 55px;
  width: 55px;
  z-index: 5;
}
/* line 673, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer a.thumbnail-link span.play i.fa-play {
  color: black;
  display: block;
  height: 24px;
  padding-left: 5px;
  width: 24px;
}
/* line 683, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer a.thumbnail-link:hover span.play {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 689, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.users {
  height: 33px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 696, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.users div.row {
  margin: 0;
  padding: 0;
}
/* line 700, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.users div.row a.user {
  display: block;
  height: 33px;
  margin-right: -1px;
  width: auto;
  position: relative;
}
/* line 707, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.users div.row a.user span {
  background-color: rgba(18, 101, 158, 0.74);
  display: block;
  line-height: 33px;
  height: 33px;
  position: absolute;
  width: 33px;
  top: 0;
  left: 0;
  font-weight: 500;
  text-align: center;
  color: white;
}
/* line 721, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.users div.row a.user img {
  height: 33px;
}
/* line 728, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.actions {
  position: absolute;
  top: 30%;
}
/* line 734, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.actions div.row div a {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}
/* line 738, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item footer div.actions div.row div a i {
  color: white;
}
/* line 746, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following div.content, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers div.content, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz div.content {
  padding-top: 0;
  padding-right: 0;
}
/* line 750, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz div.content div.avatar {
  padding-left: 0;
  padding-right: 0;
}
/* line 754, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following div.content div.avatar a, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers div.content div.avatar a, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz div.content div.avatar a {
  display: block;
  overflow: hidden;
  height: 90%;
  width: 90%;
  position: relative;
}
/* line 763, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz div.content div.user {
  padding: 20px 28px;
}
/* line 768, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following footer, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers footer, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz footer {
  padding: 0;
  margin: 0;
}
/* line 772, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following footer span.corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers footer span.corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz footer span.corner {
  background: none;
}
/* line 779, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.user {
  line-height: 16px;
}
/* line 783, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.avatar {
  right: 66.6667%;
}
/* line 786, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.avatar img, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.avatar img, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.avatar img, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.avatar img, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.avatar img, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.avatar img {
  margin-left: 0;
}
/* line 790, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.avatar span.img-corner {
  background: url("../vendor/timeline/images/light/left_bkg.png") no-repeat top left;
  display: block;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  width: 93%;
}
/* line 801, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.follow {
  bottom: 8px;
  margin-left: 10px;
  position: absolute;
}
/* line 806, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.follow a.toggle-follow {
  float: right;
}
/* line 809, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow a.toggle-follow .fa, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.follow a.toggle-follow .fa, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow a.toggle-follow .fa, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.follow a.toggle-follow .fa, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow a.toggle-follow .fa, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.follow a.toggle-follow .fa {
  line-height: 31px;
}
/* line 810, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow a.toggle-follow .fa-minus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.content div.follow a.toggle-follow .fa-minus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow a.toggle-follow .fa-minus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.content div.follow a.toggle-follow .fa-minus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow a.toggle-follow .fa-minus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.follow a.toggle-follow .fa-plus, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.content div.follow a.toggle-follow .fa-minus {
  text-indent: 16px;
}
/* line 817, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content {
  padding-left: 0;
}
/* line 820, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.avatar, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.avatar {
  right: 0;
}
/* line 823, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.avatar span.img-corner, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.avatar span.img-corner {
  background: url("../vendor/timeline/images/light/right_bkg.png") no-repeat top right;
  display: block;
  height: 150px;
  position: absolute;
  left: 94%;
  top: 0;
  width: 7px;
}
/* line 834, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow {
  margin-right: 18px;
}
/* line 837, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.left div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.left div.content div.follow a.toggle-follow, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.left div.content div.follow a.toggle-follow {
  float: left;
}
/* line 845, ../sass/screen.scss */
body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.following.right div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.followers.right div.user, body.profiles #base #content-wrapper #profile-wrapper #profile-content #timeline div.responsive-timeline div.item.joined_framebuzz.right div.user {
  left: 25%;
}
/* line 862, ../sass/screen.scss */
body.profiles #footer {
  margin-top: 0;
}

/* line 867, ../sass/screen.scss */
#share {
  display: none;
  margin-bottom: 23px;
  width: 730px;
  overflow: hidden;
}
/* line 874, ../sass/screen.scss */
#share div.row.ajax {
  height: 56px;
  width: 56px;
  margin: 274px auto;
}
/* line 879, ../sass/screen.scss */
#share div.row.ajax i {
  color: white;
}
/* line 885, ../sass/screen.scss */
#share div.row.video div {
  border-bottom: 1px solid #272525;
  background: #202020;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  width: 96%;
}
/* line 894, ../sass/screen.scss */
#share div.row.video h1 {
  background-color: #202020;
  color: #cac8c8;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0;
  margin-top: 15px;
}
/* line 904, ../sass/screen.scss */
#share div.row.video iframe {
  background-color: #202020;
  width: 700px;
  height: 445px;
}
/* line 911, ../sass/screen.scss */
#share div.row.details {
  background-color: #3D3939;
  border-bottom: 5px solid #2B2727;
  margin: -6px 0 0;
  padding: 0;
  position: relative;
  z-index: 10;
}
/* line 919, ../sass/screen.scss */
#share div.row.details .col-xs-4, #share div.row.details .col-xs-3, #share div.row.details .col-xs-5, #share div.row.details .col-xs-2 {
  padding: 0;
}
/* line 923, ../sass/screen.scss */
#share div.row.details h2 {
  color: #6c6969;
  font-size: 15px;
  font-weight: 700;
  text-indent: 9px;
  margin-bottom: 3px;
  margin-top: 10px;
}
/* line 932, ../sass/screen.scss */
#share div.row.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 938, ../sass/screen.scss */
#share div.row.details ul li a {
  display: block;
  margin-left: -1px;
}
/* line 942, ../sass/screen.scss */
#share div.row.details ul li a img {
  height: 48px;
  width: 48px;
}
/* line 950, ../sass/screen.scss */
#share div.row.details p {
  color: #cac8c8;
  font-size: 12px;
}
/* line 956, ../sass/screen.scss */
#share div.row.details div.description div.scroller {
  background-color: #393535;
  height: 106px;
  padding: 1px 9px;
  word-wrap: break-word;
  overflow-x: none;
  overflow-y: scroll;
}
/* line 966, ../sass/screen.scss */
#share div.row.details div.stats {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 970, ../sass/screen.scss */
#share div.row.details div.stats p {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
}
/* line 975, ../sass/screen.scss */
#share div.row.details div.stats p i {
  color: #aeaeae;
  font-size: 18px;
  vertical-align: top;
}
/* line 984, ../sass/screen.scss */
#share div.row.details div.commenters h2 {
  text-indent: 0;
}
/* line 988, ../sass/screen.scss */
#share div.row.details div.commenters ul {
  list-style: none;
}
/* line 991, ../sass/screen.scss */
#share div.row.details div.commenters ul li {
  height: 48px;
  width: 48px;
}
/* line 995, ../sass/screen.scss */
#share div.row.details div.commenters ul li a {
  position: relative;
  height: 48px;
  width: 48px;
}
/* line 1000, ../sass/screen.scss */
#share div.row.details div.commenters ul li a span {
  background-color: rgba(18, 101, 158, 0.74);
  display: block;
  line-height: 48px;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
  left: 0;
  font-weight: 500;
  text-align: center;
  color: white;
}

/* line 1022, ../sass/screen.scss */
#modal-help div.modal-dialog {
  padding-left: 0;
  padding-right: 0;
  padding-top: 27px;
  max-width: 975px;
  position: relative;
  left: -8px;
  width: auto;
}
/* line 1031, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-body {
  padding: 0;
}
/* line 1035, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* line 1040, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row {
  margin: 0;
}
/* line 1043, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div {
  position: relative;
}
/* line 1046, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div p {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  overflow: hidden;
}
/* line 1057, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div span.bracket {
  display: block;
  position: absolute;
}
/* line 1065, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.videos,
#modal-help div.modal-dialog div.modal-content div.row div.edit,
#modal-help div.modal-dialog div.modal-content div.row div.activity {
  border-bottom: 3px solid white;
}
/* line 1068, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.videos p,
#modal-help div.modal-dialog div.modal-content div.row div.edit p,
#modal-help div.modal-dialog div.modal-content div.row div.activity p {
  text-align: center;
}
/* line 1074, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.search,
#modal-help div.modal-dialog div.modal-content div.row div.add-video {
  border-left: 3px solid white;
}
/* line 1077, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.search span.bracket,
#modal-help div.modal-dialog div.modal-content div.row div.add-video span.bracket {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  line-height: 35px;
  height: 35px;
  width: 18px;
  left: -18px;
  top: 0;
}
/* line 1090, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.videos span.bracket,
#modal-help div.modal-dialog div.modal-content div.row div.activity span.bracket {
  border-left: 3px solid white;
  border-right: 3px solid white;
  line-height: 13px;
  height: 13px;
  top: 35px;
}
/* line 1099, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.search {
  background: #982378;
  margin-left: -18px;
  margin-bottom: 22px;
  position: relative;
}
/* line 1106, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.add-video {
  background: #c27005;
  margin-bottom: 37px;
}
/* line 1111, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.videos {
  background: #28a370;
  margin-bottom: 51px;
}
/* line 1115, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.videos span.bracket {
  width: 100%;
  left: 0;
}
/* line 1121, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.edit {
  background: #a02e4e;
  border-top: 3px solid white;
  border-bottom: none;
  margin-left: 67px;
  padding: 0;
  position: relative;
  margin-bottom: 12px;
  text-align: center;
}
/* line 1131, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.edit span.bracket {
  border-left: 3px solid white;
  border-right: 3px solid white;
  line-height: 13px;
  height: 13px;
  top: -13px;
  left: 0;
  width: 100%;
}
/* line 1142, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.activity {
  border-bottom: none;
  text-align: center;
  padding: 0 18px;
}
/* line 1147, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.activity p {
  background: #0187bc;
  border-bottom: 3px solid white;
}
/* line 1152, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.activity span.bracket {
  width: 95.1%;
  left: 18px;
}
/* line 1157, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.activity i.fa-chevron-circle-down {
  color: white;
  padding-top: 13px;
  padding-bottom: 27px;
}
/* line 1164, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.steps {
  background: #0187bc;
  border-bottom: none;
  padding: 0 18px;
}
/* line 1169, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.steps h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
/* line 1175, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.steps ol {
  margin-bottom: 12px;
}
/* line 1178, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.steps ol li {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
/* line 1183, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row div.steps ol li:last-child {
  padding-bottom: 0;
}
/* line 1188, ../sass/screen.scss */
#modal-help div.modal-dialog div.modal-content div.row button {
  background: #f20384;
  border: 3px solid white;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 47px;
  margin: 0 0 12px 15px;
}

/* line 1202, ../sass/screen.scss */
.modal-backdrop.in, .modal-backdrop.fade.in {
  opacity: 0.7;
}

/* line 1205, ../sass/screen.scss */
body.share .container {
  max-width: 700px;
}
/* line 1210, ../sass/screen.scss */
body.share #base #logo div.row-logo a {
  margin-left: 0;
}
/* line 1215, ../sass/screen.scss */
body.share #base #logo div.row-search #search-form input {
  width: 94%;
}
/* line 1217, ../sass/screen.scss */
body.share #base #logo div.row-user {
  padding-left: 0;
  padding-right: 14px;
}
/* line 1224, ../sass/screen.scss */
body.share #main {
  background: #05171E;
}
/* line 1228, ../sass/screen.scss */
body.share #share {
  margin-bottom: 0;
  overflow: hidden;
  padding: 0;
  width: auto;
}
/* line 1236, ../sass/screen.scss */
body.share #share div.row.video h1 {
  margin-top: 0px;
}
/* line 1237, ../sass/screen.scss */
body.share #share div.row.video div {
  margin: 0 15px;
}
/* line 1238, ../sass/screen.scss */
body.share #share div.row.video iframe {
  margin: 0;
}
/* line 1241, ../sass/screen.scss */
body.share #share div.row.details {
  margin: -6px 0 0;
  position: relative;
  z-index: 10;
}
/* line 1249, ../sass/screen.scss */
body.share #footer {
  margin-top: 0;
}

/* line 1253, ../sass/screen.scss */
body.profiles.edit #base #profile-content {
  min-height: 560px;
}
/* line 1257, ../sass/screen.scss */
body.profiles.edit #base #profile-content #add-video p {
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
  text-indent: 20px;
  line-height: 54px;
}
/* line 1267, ../sass/screen.scss */
body.profiles.edit #base #profile-content #timeline {
  min-height: 600px;
}
/* line 1271, ../sass/screen.scss */
body.profiles.edit #base #profile-content div.avatar-section {
  color: white;
  padding: 27px 18px;
}
/* line 1276, ../sass/screen.scss */
body.profiles.edit #base #profile-content form {
  padding-top: 32px;
  padding-bottom: 18px;
}
/* line 1280, ../sass/screen.scss */
body.profiles.edit #base #profile-content form input, body.profiles.edit #base #profile-content form textarea {
  display: block;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}
/* line 1288, ../sass/screen.scss */
body.profiles.edit #base #profile-content form label {
  color: white;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 1295, ../sass/screen.scss */
body.profiles.edit #base #profile-content form .btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
