/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *      Global
 */
/* line 20, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -webkit-font-smoothing: subpixel-antialiased;
}

/*
 *      Mixins
 */
/*
 *      Elements
 */
/* line 44, ../sass/screen.scss */
body {
  color: #333333;
  font: 12px/16px normal "proxima-nova", sans-serif;
  margin: 0;
}

/*
 *      Navigation
 */
/* line 54, ../sass/screen.scss */
.navbar .nav .dropdown-toggle .caret {
  border-bottom-color: rgba(255, 255, 255, 0.48);
  border-top-color: rgba(255, 255, 255, 0.48);
}

/* line 59, ../sass/screen.scss */
div.navbar {
  background-image: url("../img/noise.png");
  background-color: #272727;
  background-repeat: repeat-x;
  box-shadow: none;
  position: relative;
  z-index: 10;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 33, ../sass/screen.scss */
  div.navbar {
    background-image: url("../img/noise@2x.png");
    background-size: 57px 57px;
  }
}
/* line 67, ../sass/screen.scss */
div.navbar div.navbar-inner {
  background: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(98%, rgba(0, 0, 0, 0)));
  background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  border-left: 0 none;
  box-shadow: none;
  margin: 0 auto;
  width: 1200px;
  overflow: visible;
}
/* line 82, ../sass/screen.scss */
div.navbar div.navbar-inner a.brand {
  border: none;
  padding: 8px 0px 0px 35px;
  text-shadow: none;
}
/* line 88, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav {
  padding-top: 5px;
  margin-right: -5px;
}
/* line 93, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a {
  border-left: none;
  color: rgba(255, 255, 255, 0.48);
  -webkit-transition: opacity 0.1s ease-in-out, 1s;
  -moz-transition: opacity 0.1s ease-in-out, 1s;
  -o-transition: opacity 0.1s ease-in-out, 1s;
  transition: opacity 0.1s ease-in-out, 1s;
}
/* line 98, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a.dropdown-toggle {
  background-image: none;
  font-size: 19.33px;
  font-family: 'futura-pt-condensed';
}
/* line 103, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a.dropdown-toggle i, div.navbar div.navbar-inner ul.nav li a.dropdown-toggle b.carat {
  color: rgba(255, 255, 255, 0.48);
}
/* line 109, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user {
  background: transparent url("../img/divider.png") repeat-y top left;
  padding-left: 15px;
}
/* line 113, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user a {
  color: #212121;
  display: block;
  float: left;
}
/* line 122, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user a.avatar {
  height: 28px;
  padding: 7px 0;
  width: 28px;
}
/* line 127, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user a.avatar img.img-circle {
  border: 2px solid white;
  height: 28px;
  width: 28px;
}
/* line 137, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user ul.dropdown-menu li a {
  display: inline-block;
  font-family: 'proxima-nova';
  font-size: 14px;
  font-weight: 300;
  width: 120px;
}
/* line 144, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.user ul.dropdown-menu li a:hover {
  text-decoration: none;
  font-weight: 500;
}
/* line 153, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a.active, div.navbar div.navbar-inner ul.nav li a:hover {
  background: none;
  color: rgba(255, 255, 255, 0.88);
  -webkit-transition: opacity 0.1s ease-in-out, 1s;
  -moz-transition: opacity 0.1s ease-in-out, 1s;
  -o-transition: opacity 0.1s ease-in-out, 1s;
  transition: opacity 0.1s ease-in-out, 1s;
}

/* line 164, ../sass/screen.scss */
.wf-loading div.content {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}

/* line 171, ../sass/screen.scss */
.wf-active div.content {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}

/* line 177, ../sass/screen.scss */
div.alert {
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 14px;
  width: 233px;
}

/* line 184, ../sass/screen.scss */
div.form-actions {
  bottom: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

/* line 193, ../sass/screen.scss */
img.img-circle {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.52);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.52);
}

/* line 197, ../sass/screen.scss */
#fb {
  min-height: 964px;
  width: 100%;
}
/* line 201, ../sass/screen.scss */
#fb div.anystretch {
  background-color: #188bbe;
}
/* line 204, ../sass/screen.scss */
#fb div.anystretch img {
  left: 0px !important;
  top: auto !important;
  bottom: -5px !important;
}

/* line 212, ../sass/screen.scss */
div.content {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  min-height: 964px;
  min-width: 1000px;
  padding-bottom: 0;
  overflow: visible;
}
/* line 223, ../sass/screen.scss */
div.content div.wrapper {
  width: 1200px;
  margin: 0 auto;
}
/* line 227, ../sass/screen.scss */
div.content div.wrapper div.background {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  background-color: white;
  box-shadow: 0 -5px 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 49px;
  margin-left: 262px;
  width: 676px;
  float: left;
}
/* line 236, ../sass/screen.scss */
div.content div.wrapper div.background.show-callout {
  margin-left: 200px;
}
/* line 240, ../sass/screen.scss */
div.content div.wrapper div.background header {
  font-family: 'futura-pt-condensed';
  font-weight: 500;
}
/* line 244, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info {
  padding-top: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 249, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info img.img-circle {
  border: 6px solid white;
  -moz-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.52);
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.52);
  display: block;
  float: left;
  position: relative;
  top: 8px;
  z-index: 3;
}
/* line 261, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details {
  float: left;
  min-width: 315px;
  max-width: 445px;
}
/* line 266, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details h1 {
  margin-left: 21px;
  padding-top: 20px;
  padding-bottom: 8px;
}
/* line 271, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details h1 a {
  color: #333333;
  display: inline-block;
  font-size: 44.74px;
  line-height: 46px;
  margin-right: 14px;
  text-decoration: none;
}
/* line 280, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details h1 span {
  color: #9b9b9b;
  display: inline-block;
  font-size: 23px;
  font-weight: 500;
}
/* line 288, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details p.bio {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background-color: #e8e8e8;
  color: rgba(61, 61, 61, 0.45);
  font-size: 18px;
  padding: 10px 12px;
  position: relative;
  margin-left: 20px;
}
/* line 297, ../sass/screen.scss */
div.content div.wrapper div.background header div.user-info div.user-details p.bio span.corner {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 7px #e8e8e8;
  border-color: transparent #e8e8e8 transparent transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 25%;
  left: -14px;
}
/* line 315, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper {
  position: relative;
}
/* line 318, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front {
  background-color: rgba(31, 31, 31, 0.67);
  border-bottom: 1px solid rgba(197, 197, 197, 0.67);
  height: 60px;
  width: 698px;
  position: relative;
  left: 0px;
  z-index: 2;
}
/* line 328, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs {
  border-bottom: none;
}
/* line 331, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li {
  background: transparent url("../img/divider.png") repeat-y top right;
  border-radius: none;
  border: none;
  display: block;
  float: left;
  height: 46px;
  margin: 7px 0;
  padding: 0 11px;
}
/* line 341, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a {
  border: none;
  color: white;
  font-size: 18.87px;
  font-weight: 300;
  margin-right: 0;
  padding-top: 3px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-decoration: none;
}
/* line 353, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a em {
  color: rgba(255, 255, 255, 0.45);
}
/* line 357, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a:hover {
  background: none;
  border-radius: none;
  border: none;
}
/* line 364, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li:first-child {
  padding-left: 0;
}
/* line 368, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li:last-child {
  background: none;
  padding-right: 0;
}
/* line 373, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.location {
  padding-left: 0;
  text-align: center;
  width: 193px;
}
/* line 378, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.location span {
  color: rgba(255, 255, 255, 0.45);
  display: inline-block;
  height: 100%;
  font-size: 23px;
  text-align: left;
  text-indent: -6px;
  position: relative;
  top: -3px;
}
/* line 388, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.location span img {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: 5px;
}
/* line 398, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.followers {
  width: 49px;
}
/* line 399, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.following {
  width: 49px;
}
/* line 400, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.conversations {
  width: 69px;
}
/* line 401, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.favorites {
  width: 46px;
}
/* line 402, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.home, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.videos {
  display: none;
}
/* line 406, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.website {
  background: none;
  padding-right: 0;
  text-align: left;
  width: 158px;
}
/* line 412, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.website span {
  display: block;
  margin-top: 5px;
}
/* line 416, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.website span a {
  color: rgba(255, 255, 255, 0.45);
  font-size: 19px;
}
/* line 424, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.followers.active, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.followers:hover, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.following.active, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.following:hover, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.conversations.active, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.conversations:hover, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.favorites.active, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.favorites:hover {
  border-bottom: 7px solid rgba(255, 255, 255, 0.9);
  margin-bottom: -7px;
}
/* line 430, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.active > a, div.content div.wrapper div.background header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li:hover > a {
  background: none;
  border-radius: none;
  border: none;
  outline: none;
}
/* line 444, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topleft,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topright,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomleft,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}
/* line 453, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomleft,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomright {
  top: 60px;
}
/* line 458, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topleft,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomleft {
  left: 0px;
  border-color: transparent #a4a4a4 transparent transparent;
}
/* line 463, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 0px 0 0;
}
/* line 468, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomleft {
  border-width: 0 0px 0px 0;
}
/* line 473, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topright,
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomright {
  left: 676px;
  border-color: transparent transparent transparent #a4a4a4;
}
/* line 478, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 23px;
}
/* line 483, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-edge-bottomright {
  border-width: 0 0 23px 23px;
}
/* line 487, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-back-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 58px;
  z-index: 0;
}
/* line 496, ../sass/screen.scss */
div.content div.wrapper div.background header div.ribbon-wrapper .ribbon-back-right {
  position: absolute;
  top: 23px;
  right: 0px;
  width: 0px;
  height: 58px;
  z-index: 0;
}
/* line 507, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container {
  min-height: 882px;
  max-height: 1600px;
  overflow: visible;
  padding: 22px 25px 82px;
  position: relative;
  z-index: 1;
}
/* line 515, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container h1 {
  border-bottom: 1px solid #f7f7f7;
  color: #333333;
  display: block;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 26.15px;
  padding-bottom: 20px;
  width: 100%;
}
/* line 525, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container h1 a {
  font-size: 12px;
  margin-left: 9px;
  position: relative;
  top: 1px;
}
/* line 533, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container a.modal-button {
  cursor: pointer;
  display: block;
}
/* line 538, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul {
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
}
/* line 543, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations {
  border: none;
}
/* line 546, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li {
  margin-bottom: 27px;
  position: relative;
}
/* line 550, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li img.featured {
  left: -6px;
  position: absolute;
  top: -6px;
  z-index: 20;
}
/* line 557, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls {
  background: rgba(0, 0, 0, 0.9);
  height: 12px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 25px;
  opacity: 0;
  z-index: 999;
  -webkit-transition: opacity 0.55s ease-in-out, 1s;
  -moz-transition: opacity 0.55s ease-in-out, 1s;
  -o-transition: opacity 0.55s ease-in-out, 1s;
  transition: opacity 0.55s ease-in-out, 1s;
}
/* line 568, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul {
  border-top: none;
  padding-top: 0;
}
/* line 572, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li {
  float: left;
  margin-bottom: 0;
  padding-right: 5px;
  min-width: 13px;
  max-width: 15px;
}
/* line 579, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li a {
  cursor: pointer;
  opacity: 0.5;
}
/* line 583, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li a.active {
  opacity: 0.8;
}
/* line 584, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li a:hover {
  opacity: 1;
}
/* line 587, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li:last-child {
  padding-right: 0;
}
/* line 591, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.user-controls ul li:before {
  background: none;
  display: none;
  height: 0;
  width: 0;
}
/* line 601, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li img.video-thumbnail {
  background: rgba(102, 102, 102, 0.9);
  border: 5px solid rgba(0, 0, 0, 0.6);
  height: 182px;
  margin: -5px;
  position: relative;
  width: 287px;
  z-index: 10;
}
/* line 611, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.comment {
  background-color: #2C85CA;
  border: 1px solid rgba(44, 133, 202, 0.5);
  font-family: 'proxima-nova';
  font-size: 11px;
  font-weight: 500;
  left: -8px;
  line-height: 18px;
  padding: 6px 10px;
  position: absolute;
  top: 122px;
  width: 281px;
  z-index: 20;
}
/* line 625, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.comment p {
  color: white;
}
/* line 629, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.comment img.img-circle {
  border: 2px solid white;
  display: block;
  float: left;
  height: 32px;
  margin-right: 7px;
  width: 32px;
  z-index: 2;
}
/* line 640, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.video-details {
  font-family: 'proxima-nova';
  font-size: 13px;
  font-weight: 500;
}
/* line 645, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.video-details h3 {
  padding-top: 7px;
}
/* line 649, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.video-details a {
  color: #2a5c8a;
  font-weight: 700;
}
/* line 654, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li div.video-details span {
  color: rgba(73, 73, 73, 0.83);
  display: block;
  font-size: 11px;
}
/* line 661, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li:before {
  background-image: url("../img/timeline-indicator.png");
  content: " ";
  position: absolute;
  left: -34px;
  top: 139px;
  height: 19px;
  width: 292px;
  z-index: 1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 33, ../sass/screen.scss */
  div.content div.wrapper div.background #profile-container ul.profile-conversations li:before {
    background-image: url("../img/timeline-indicator@2x.png");
    background-size: 292px 19px;
  }
}
/* line 673, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li:hover div.user-controls {
  opacity: 1;
  -webkit-transition: opacity 0.55s ease-in-out, 1s;
  -moz-transition: opacity 0.55s ease-in-out, 1s;
  -o-transition: opacity 0.55s ease-in-out, 1s;
  transition: opacity 0.55s ease-in-out, 1s;
}
/* line 680, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container ul.profile-conversations li:hover div.user-controls ul li a img {
  opacity: 1;
}
/* line 689, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-centered {
  margin: 0;
  position: relative;
  top: 10px;
}
/* line 694, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-centered ul {
  border-top: none;
}
/* line 698, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-centered ul li span, div.content div.wrapper div.background #profile-container div.pagination-centered ul li a {
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 14px;
}
/* line 708, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-page ul.profile-conversations {
  width: 100%;
}
/* line 711, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-page ul.profile-conversations li {
  float: left;
  width: 313px;
}
/* line 716, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.pagination-page ul.profile-conversations li:nth-child(even):before {
  background: none;
}
/* line 722, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.tab-pane {
  opacity: 0;
  -webkit-transition: opacity 0.55s ease-in-out, 1s;
  -moz-transition: opacity 0.55s ease-in-out, 1s;
  -o-transition: opacity 0.55s ease-in-out, 1s;
  transition: opacity 0.55s ease-in-out, 1s;
}
/* line 727, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container div.tab-pane.active {
  opacity: 1;
  -webkit-transition: opacity 0.55s ease-in-out, 1s;
  -moz-transition: opacity 0.55s ease-in-out, 1s;
  -o-transition: opacity 0.55s ease-in-out, 1s;
  transition: opacity 0.55s ease-in-out, 1s;
}
/* line 734, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li, div.content div.wrapper div.background #profile-container #followers ul#feed li, div.content div.wrapper div.background #profile-container #activity ul#feed li {
  background-color: #f8f8f8;
  display: block;
  float: left;
  font-family: 'futura-pt-condensed';
  padding: 7px;
  height: 136px;
  width: 287px;
  margin-bottom: 5px;
  margin-right: 5px;
}
/* line 745, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li:nth-child(even), div.content div.wrapper div.background #profile-container #followers ul#feed li:nth-child(even), div.content div.wrapper div.background #profile-container #activity ul#feed li:nth-child(even) {
  margin-right: 0;
}
/* line 747, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li img.img-circle, div.content div.wrapper div.background #profile-container #followers ul#feed li img.img-circle, div.content div.wrapper div.background #profile-container #activity ul#feed li img.img-circle {
  border: 2px solid white;
  display: block;
  float: left;
  height: 32px;
  margin-right: 7px;
  width: 32px;
}
/* line 756, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.feed-header, div.content div.wrapper div.background #profile-container #followers ul#feed li div.feed-header, div.content div.wrapper div.background #profile-container #activity ul#feed li div.feed-header {
  margin-top: 3px;
  float: left;
}
/* line 761, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.feed-header h2 a, div.content div.wrapper div.background #profile-container #followers ul#feed li div.feed-header h2 a, div.content div.wrapper div.background #profile-container #activity ul#feed li div.feed-header h2 a {
  color: rgba(31, 31, 31, 0.83);
  font-size: 18px;
  font-weight: 500;
}
/* line 768, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.feed-header h3, div.content div.wrapper div.background #profile-container #followers ul#feed li div.feed-header h3, div.content div.wrapper div.background #profile-container #activity ul#feed li div.feed-header h3 {
  color: rgba(102, 102, 102, 0.83);
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 12px;
}
/* line 777, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.comments ul, div.content div.wrapper div.background #profile-container #followers ul#feed li div.comments ul, div.content div.wrapper div.background #profile-container #activity ul#feed li div.comments ul {
  border: none;
}
/* line 780, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.comments ul li, div.content div.wrapper div.background #profile-container #followers ul#feed li div.comments ul li, div.content div.wrapper div.background #profile-container #activity ul#feed li div.comments ul li {
  background-color: black;
  float: left;
  padding: 0;
  position: relative;
  height: 90px;
  padding: 0 5px 0 6px;
  width: 130px;
  z-index: 1;
}
/* line 790, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.comments ul li img, div.content div.wrapper div.background #profile-container #followers ul#feed li div.comments ul li img, div.content div.wrapper div.background #profile-container #activity ul#feed li div.comments ul li img {
  padding: 0 5px;
}
/* line 794, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.comments ul li p.bubble, div.content div.wrapper div.background #profile-container #followers ul#feed li div.comments ul li p.bubble, div.content div.wrapper div.background #profile-container #activity ul#feed li div.comments ul li p.bubble {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background-color: rgba(44, 133, 202, 0.8);
  bottom: 13%;
  color: white;
  font-family: 'proxima-nova';
  font-size: 10px;
  font-weight: 500;
  left: 15px;
  line-height: 10px;
  min-height: 23px;
  padding: 5px;
  position: absolute;
  width: 110px;
  z-index: 20;
}
/* line 810, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul#feed li div.comments ul li p.bubble span.corner, div.content div.wrapper div.background #profile-container #followers ul#feed li div.comments ul li p.bubble span.corner, div.content div.wrapper div.background #profile-container #activity ul#feed li div.comments ul li p.bubble span.corner {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 8px rgba(44, 133, 202, 0.8);
  border-color: rgba(44, 133, 202, 0.8) transparent transparent transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  bottom: -16px;
  left: 13px;
}
/* line 835, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul li.empty, div.content div.wrapper div.background #profile-container #followers ul li.empty, div.content div.wrapper div.background #profile-container #conversations ul li.empty, div.content div.wrapper div.background #profile-container #favorites ul li.empty, div.content div.wrapper div.background #profile-container #videos ul li.empty {
  background: none !important;
  float: none;
  width: 92%;
}
/* line 840, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul li.empty div.alert, div.content div.wrapper div.background #profile-container #followers ul li.empty div.alert, div.content div.wrapper div.background #profile-container #conversations ul li.empty div.alert, div.content div.wrapper div.background #profile-container #favorites ul li.empty div.alert, div.content div.wrapper div.background #profile-container #videos ul li.empty div.alert {
  margin-top: 10px;
  width: 560px;
}
/* line 845, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #following ul li.empty:before, div.content div.wrapper div.background #profile-container #followers ul li.empty:before, div.content div.wrapper div.background #profile-container #conversations ul li.empty:before, div.content div.wrapper div.background #profile-container #favorites ul li.empty:before, div.content div.wrapper div.background #profile-container #videos ul li.empty:before {
  background: none;
  height: 0;
  width: 0;
}
/* line 857, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container h2 {
  background: rgba(109, 109, 109, 0.11);
  border: none;
  color: #7f7f7f;
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 17.13px;
  line-height: 24px;
  margin-bottom: 12px;
  text-align: left;
  text-indent: 10px;
}
/* line 869, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container h2.featured {
  background: none;
  color: #333333;
  display: block;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: left;
  width: 295px;
}
/* line 878, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container h2.featured a {
  font-size: 12px;
  float: right;
  margin-left: 9px;
  vertical-align: baseline;
}
/* line 884, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container h2.featured a:after {
  color: #484848;
  content: '\25B6';
  font-size: 8px;
  text-indent: 5px;
}
/* line 894, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-videos {
  float: left;
  margin-right: 33px;
  width: 290px;
}
/* line 901, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-videos ul.profile-conversations li div.user-controls {
  right: 5px;
}
/* line 903, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-videos ul.profile-conversations li.empty {
  margin-top: -7px;
}
/* line 906, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-videos ul.profile-conversations li.empty:before {
  background: none;
}
/* line 914, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social {
  float: left;
}
/* line 917, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations {
  margin-bottom: 9px;
}
/* line 920, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul {
  border: none;
  padding-top: 19px;
  padding-left: 13px;
}
/* line 925, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li {
  color: #7f7f7f;
  font-family: 'proxima-nova';
  font-size: 13px;
  margin-bottom: 19px;
  position: relative;
}
/* line 932, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li a.modal-button {
  float: left;
}
/* line 935, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li a.modal-button img.thumbnail {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  border: 3px solid rgba(190, 190, 190, 0.68);
  margin-right: 9px;
  height: 60px;
  width: 90px;
  padding: 0;
  position: relative;
  z-index: 1;
}
/* line 946, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li a.modal-button img.img-circle {
  border: 2px solid white;
  display: block;
  height: 32px;
  margin-right: 7px;
  position: absolute;
  left: -16px;
  top: -16px;
  width: 32px;
  z-index: 2;
}
/* line 959, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li div.comment {
  float: left;
}
/* line 962, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li div.comment p, div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li div.comment span {
  line-height: 21px;
  width: 180px;
}
/* line 968, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li div.comment a.inline-link {
  display: inline;
  font-weight: 700;
  float: none;
}
/* line 974, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li div.comment span {
  color: rgba(127, 127, 127, 0.4);
  display: block;
}
/* line 980, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-conversations ul li.empty {
  background: none;
  margin-top: -13px;
}
/* line 988, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows {
  margin-bottom: 228px;
}
/* line 991, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows ul {
  border: none;
}
/* line 994, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows ul li {
  background: none;
  float: none;
  height: 45px;
  width: 100%;
}
/* line 1000, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows ul li h2 {
  background: none;
  color: rgba(31, 31, 31, 0.83);
  font-size: 13px;
  font-family: 'proxima-nova';
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0;
  text-align: left;
  text-indent: 0;
  width: auto;
}
/* line 1012, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows ul li h2 a {
  font-weight: 700;
  font-size: 13px;
}
/* line 1018, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #activity #activity-container #activity-social #activity-follows ul li.empty {
  background: none;
  margin-top: -13px;
}
/* line 1029, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit, div.content div.wrapper div.background #profile-container #avatar {
  font-family: 'proxima-nova';
}
/* line 1032, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit p, div.content div.wrapper div.background #profile-container #avatar p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
/* line 1039, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit ul.errorlist, div.content div.wrapper div.background #profile-container #avatar ul.errorlist {
  margin-bottom: 5px;
}
/* line 1042, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit ul.errorlist li, div.content div.wrapper div.background #profile-container #avatar ul.errorlist li {
  color: #990000;
  text-align: center;
}
/* line 1048, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form, div.content div.wrapper div.background #profile-container #avatar form {
  margin-top: 15px;
}
/* line 1051, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form p, div.content div.wrapper div.background #profile-container #avatar form p {
  text-align: left;
}
/* line 1054, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form p label, div.content div.wrapper div.background #profile-container #avatar form p label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  vertical-align: text-bottom;
}
/* line 1062, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form p input[type='checkbox'], div.content div.wrapper div.background #profile-container #avatar form p input[type='checkbox'] {
  position: relative;
  top: -7px;
}
/* line 1067, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form p input[type='text'], div.content div.wrapper div.background #profile-container #edit form p textarea, div.content div.wrapper div.background #profile-container #edit form p select, div.content div.wrapper div.background #profile-container #avatar form p input[type='text'], div.content div.wrapper div.background #profile-container #avatar form p textarea, div.content div.wrapper div.background #profile-container #avatar form p select {
  width: 283px;
}
/* line 1071, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form p select, div.content div.wrapper div.background #profile-container #avatar form p select {
  padding: 2px;
}
/* line 1076, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form button, div.content div.wrapper div.background #profile-container #avatar form button {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #9e0f84;
  display: block;
  color: white;
  border: none;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  float: right;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  width: 120px;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1092, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form button:hover, div.content div.wrapper div.background #profile-container #avatar form button:hover {
  text-decoration: none;
  background-color: #7A0066;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1098, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #edit form button em, div.content div.wrapper div.background #profile-container #avatar form button em {
  font-size: 10px;
  padding-left: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
/* line 1110, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section {
  margin-bottom: 50px;
}
/* line 1113, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section p {
  text-indent: 10px;
}
/* line 1115, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section div.alert {
  height: 30px;
  width: 92%;
}
/* line 1119, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section div.alert p {
  text-indent: 0;
}
/* line 1121, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section div.alert strong {
  font-weight: 700;
  padding-bottom: 15px;
}
/* line 1128, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #change-avatar-form h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* line 1134, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #change-avatar-form ul {
  border-top: none;
  padding-top: 0;
}
/* line 1138, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #change-avatar-form ul li {
  position: relative;
}
/* line 1141, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #change-avatar-form ul li label {
  margin-bottom: 15px;
}
/* line 1145, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #change-avatar-form ul li input[type='radio'] {
  left: -18px;
  position: absolute;
  top: 40%;
}
/* line 1154, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section #id_avatar {
  margin-left: 10px;
}
/* line 1156, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section h1 {
  margin-bottom: 15px;
}
/* line 1158, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section button {
  margin-top: 15px;
  width: 200px;
}
/* line 1163, ../sass/screen.scss */
div.content div.wrapper div.background #profile-container #avatar div.avatar-section div.form-actions {
  border-top: 1px solid #F7F7F7;
}
/* line 1171, ../sass/screen.scss */
div.content div.wrapper #callout {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  margin-top: 50px;
  float: left;
  padding: 17px;
  width: 237px;
}
/* line 1183, ../sass/screen.scss */
div.content div.wrapper #callout p, div.content div.wrapper #callout ol li, div.content div.wrapper #callout h2 {
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 1188, ../sass/screen.scss */
div.content div.wrapper #callout h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
/* line 1195, ../sass/screen.scss */
div.content div.wrapper #callout h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
/* line 1201, ../sass/screen.scss */
div.content div.wrapper #callout p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
/* line 1207, ../sass/screen.scss */
div.content div.wrapper #callout ol {
  counter-reset: li;
  /* Initiate a counter */
  list-style: none;
  /* Remove default numbering */
  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */
}
/* line 1213, ../sass/screen.scss */
div.content div.wrapper #callout ol li span:before {
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  background: rgba(255, 166, 77, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  color: white;
  content: counter(li,decimal);
  counter-increment: li;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  padding: 0 3px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  width: 20px;
}
/* line 1231, ../sass/screen.scss */
div.content div.wrapper #callout p.clearfix {
  margin-bottom: 0;
}
/* line 1235, ../sass/screen.scss */
div.content div.wrapper #callout a.add-video {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #9e0f84;
  display: block;
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  float: right;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1250, ../sass/screen.scss */
div.content div.wrapper #callout a.add-video:hover {
  text-decoration: none;
  background-color: #7A0066;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1256, ../sass/screen.scss */
div.content div.wrapper #callout a.add-video em {
  font-size: 10px;
  padding-left: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* line 1268, ../sass/screen.scss */
#video-embed-modal {
  background: #202020;
  height: 440px;
  margin-left: -320px;
  width: 640px;
}
/* line 1274, ../sass/screen.scss */
#video-embed-modal div.modal-body {
  max-height: 480px;
  overflow: visible;
  padding: 0;
  position: relative;
}
/* line 1280, ../sass/screen.scss */
#video-embed-modal div.modal-body button.close {
  background-color: black;
  color: white;
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  right: -25px;
  top: 25%;
  z-index: 99999;
}

/* line 1294, ../sass/screen.scss */
#add-framebuzz-modal {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 19%, #ffffff 77%, #f5f5f5 100%) repeat scroll 0 0 transparent;
  background-color: white;
  min-height: 232px;
  max-height: 340px;
  margin-left: -210px;
  width: 420px;
}
/* line 1302, ../sass/screen.scss */
#add-framebuzz-modal div.modal-header {
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e9e9e9));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, white, #e9e9e9);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, white, #e9e9e9);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, white, #e9e9e9);
  /* IE10 */
  background-image: -o-linear-gradient(top, white, #e9e9e9);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ffffff, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9');
  /* IE6-IE9 */
  border-bottom: 1px solid #FFFFFF;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #434343;
  cursor: default;
  font-family: 'proxima-nova';
  font-size: 17px;
  font-weight: 700;
  height: 20px;
  padding-top: 12px;
  text-align: center;
  text-shadow: 1px 1px 1px #FFFFFF;
  width: 390px;
}
/* line 1325, ../sass/screen.scss */
#add-framebuzz-modal div.modal-header button.close {
  color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: relative;
  top: -3px;
}
/* line 1333, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body {
  font-family: 'proxima-nova';
  font-weight: 300;
  line-height: 25px;
  min-height: 232px;
  max-height: 340px;
  overflow: visible;
  padding: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  color: #555555;
  font-size: 13px;
  text-align: center;
  line-height: 24px;
  border-top: 1px solid #B9B9B9;
  cursor: default;
  top: -1px;
}
/* line 1355, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
/* line 1362, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body ul.errorlist {
  margin-bottom: 5px;
}
/* line 1365, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body ul.errorlist li {
  color: #990000;
  text-align: center;
}
/* line 1372, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form p {
  text-align: left;
}
/* line 1375, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form p label {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}
/* line 1383, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form p input[type='checkbox'] {
  position: relative;
  top: -7px;
}
/* line 1388, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form p input[type='text'] {
  width: 283px;
}
/* line 1393, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form button.add-video {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #9e0f84;
  display: block;
  color: white;
  border: none;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  float: right;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  width: 380px;
  position: absolute;
  bottom: 20px;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1411, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form button.add-video:hover {
  text-decoration: none;
  background-color: #7A0066;
  -webkit-transition: background-color 0.1s ease-in-out, 1s;
  -moz-transition: background-color 0.1s ease-in-out, 1s;
  -o-transition: background-color 0.1s ease-in-out, 1s;
  transition: background-color 0.1s ease-in-out, 1s;
}
/* line 1417, ../sass/screen.scss */
#add-framebuzz-modal div.modal-body form button.add-video em {
  font-size: 10px;
  padding-left: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* line 1429, ../sass/screen.scss */
footer {
  background-color: rgba(31, 31, 31, 0.65);
  height: 27px;
  width: 100%;
}
