/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *      Mixins
 */
/*
 *      Elements
 */
/* line 27, ../sass/screen.scss */
body {
  color: #333333;
  font: 12px/16px normal "proxima-nova", sans-serif;
  margin: 0;
}

/* line 33, ../sass/screen.scss */
div.wrapper {
  margin: 0 auto;
  width: 676px;
}

/*
 *      Navigation
 */
/* line 42, ../sass/screen.scss */
div.navbar {
  background-image: url("../img/noise.png");
  background-color: #272727;
  background-repeat: repeat-x;
  box-shadow: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 16, ../sass/screen.scss */
  div.navbar {
    background-image: url("../img/noise@2x.png");
    background-size: 57px 57px;
  }
}
/* line 48, ../sass/screen.scss */
div.navbar div.navbar-inner {
  background: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(98%, rgba(0, 0, 0, 0)));
  background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  border-left: 0 none;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
}
/* line 62, ../sass/screen.scss */
div.navbar div.navbar-inner a.brand {
  border: none;
  padding: 8px 0px 0px 20px;
  text-shadow: none;
}
/* line 68, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav {
  padding-top: 5px;
}
/* line 72, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a {
  background: transparent url("../img/divider.png") repeat-y top left;
  border-left: none;
  color: rgba(255, 255, 255, 0.48);
}
/* line 77, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li a.dropdown-toggle {
  background-image: none;
  font-size: 19.33px;
  font-family: 'futura-pt-condensed';
}
/* line 84, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li i {
  color: rgba(255, 255, 255, 0.48);
}

/* line 92, ../sass/screen.scss */
#sidebar-nav {
  padding: 20px 0;
  width: 214px;
}
/* line 96, ../sass/screen.scss */
#sidebar-nav h2 {
  background: rgba(109, 109, 109, 0.11);
  color: #7f7f7f;
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 17.13px;
  line-height: 24px;
  text-align: center;
}
/* line 106, ../sass/screen.scss */
#sidebar-nav ul {
  margin: 25px 0;
}

/* line 115, ../sass/screen.scss */
div.content {
  border-right: 1px solid #DAE3E9;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  overflow: visible;
  width: 676px;
}
/* line 123, ../sass/screen.scss */
div.content header {
  font-family: 'futura-pt-condensed';
  font-weight: 500;
}
/* line 127, ../sass/screen.scss */
div.content header div.user-info {
  padding-top: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 132, ../sass/screen.scss */
div.content header div.user-info img.img-circle {
  border: 6px solid white;
  display: block;
  float: left;
  position: relative;
  margin-right: 10px;
  top: 8px;
  z-index: 3;
}
/* line 142, ../sass/screen.scss */
div.content header div.user-info div.user-details {
  float: left;
}
/* line 145, ../sass/screen.scss */
div.content header div.user-info div.user-details h1 {
  color: #333333;
  font-size: 44.74px;
  line-height: 46px;
  padding-top: 20px;
  padding-bottom: 8px;
}
/* line 155, ../sass/screen.scss */
div.content header div.ribbon-wrapper {
  position: relative;
}
/* line 158, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front {
  background-color: rgba(31, 31, 31, 0.67);
  height: 58px;
  width: 698px;
  position: relative;
  left: 0px;
  z-index: 2;
}
/* line 167, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs {
  border-bottom: none;
}
/* line 170, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li {
  background: transparent url("../img/divider.png") repeat-y top right;
  border-radius: none;
  border: none;
  display: block;
  float: left;
  height: 54px;
  padding: 0 11px;
  margin: 2px 0;
}
/* line 180, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a {
  color: white;
  font-size: 18.87px;
  font-weight: 300;
  margin-right: 0;
  padding-top: 6px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-decoration: none;
}
/* line 191, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a em {
  color: rgba(255, 255, 255, 0.45);
}
/* line 195, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li a:hover {
  background: none;
  border-radius: none;
  border: none;
}
/* line 202, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li:first-child {
  padding-left: 0;
}
/* line 206, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li:last-child {
  background: none;
  padding-right: 0;
}
/* line 211, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.location {
  padding-left: 0;
  text-align: center;
  width: 193px;
}
/* line 216, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.location a {
  color: rgba(255, 255, 255, 0.45);
}
/* line 221, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.followers {
  width: 49px;
}
/* line 222, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.following {
  width: 49px;
}
/* line 223, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.conversations {
  width: 77px;
}
/* line 224, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.favorites {
  width: 44px;
}
/* line 226, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.website {
  background: none;
  padding-right: 0;
  text-align: right;
  width: 158px;
}
/* line 232, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.website a {
  color: rgba(255, 255, 255, 0.45);
}
/* line 237, ../sass/screen.scss */
div.content header div.ribbon-wrapper div.ribbon-front nav ul.nav-tabs li.active > a {
  background: none;
  border-radius: none;
  border: none;
  outline: none;
}
/* line 251, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-topleft,
div.content header div.ribbon-wrapper .ribbon-edge-topright,
div.content header div.ribbon-wrapper .ribbon-edge-bottomleft,
div.content header div.ribbon-wrapper .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}
/* line 260, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-bottomleft,
div.content header div.ribbon-wrapper .ribbon-edge-bottomright {
  top: 58px;
}
/* line 265, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-topleft,
div.content header div.ribbon-wrapper .ribbon-edge-bottomleft {
  left: 0px;
  border-color: transparent rgba(164, 164, 164, 0.51) transparent transparent;
}
/* line 270, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 0px 0 0;
}
/* line 275, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-bottomleft {
  border-width: 0 0px 0px 0;
}
/* line 280, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-topright,
div.content header div.ribbon-wrapper .ribbon-edge-bottomright {
  left: 676px;
  border-color: transparent transparent transparent rgba(164, 164, 164, 0.51);
}
/* line 285, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 23px;
}
/* line 290, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-edge-bottomright {
  border-width: 0 0 23px 23px;
}
/* line 294, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-back-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 58px;
  z-index: 0;
}
/* line 303, ../sass/screen.scss */
div.content header div.ribbon-wrapper .ribbon-back-right {
  position: absolute;
  top: 23px;
  right: 0px;
  width: 0px;
  height: 58px;
  z-index: 0;
}
/* line 314, ../sass/screen.scss */
div.content #profile-container {
  padding: 0 25px;
}
