/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/uploads.scss */
#add-video {
  position: relative;
}
/* line 12, ../sass/uploads.scss */
#add-video div.tabs-wrapper {
  background: #00AFF0;
}
/* line 16, ../sass/uploads.scss */
#add-video .nav-tabs {
  background-color: white;
  border-bottom: none;
  margin: 9px;
  padding: 5px 0px;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 23, ../sass/uploads.scss */
#add-video .nav-tabs li {
  background-color: white;
  border-right: 1px solid #CCC;
  position: relative;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 30, ../sass/uploads.scss */
#add-video .nav-tabs li.active {
  background-color: white;
}
/* line 34, ../sass/uploads.scss */
#add-video .nav-tabs li:last-child {
  border-right: none;
}
/* line 38, ../sass/uploads.scss */
#add-video .nav-tabs li a {
  border: none;
  border-color: transparent;
  background-color: white;
  padding: 2px 15px;
}
/* line 44, ../sass/uploads.scss */
#add-video .nav-tabs li a:hover {
  border: none;
  border-color: transparent;
  background-color: white;
}
/* line 50, ../sass/uploads.scss */
#add-video .nav-tabs li a i, #add-video .nav-tabs li a strong {
  display: block;
  text-align: center;
  width: 100%;
}
/* line 56, ../sass/uploads.scss */
#add-video .nav-tabs li a i {
  font-size: 20px;
}
/* line 60, ../sass/uploads.scss */
#add-video .nav-tabs li a strong {
  color: #999999;
  font-size: 12px;
}
/* line 66, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator {
  display: none;
  background: transparent;
  top: 49px;
  position: absolute;
  z-index: 99;
}
/* line 73, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator i {
  color: #0591C5;
  font-size: 1.6em;
}
/* line 78, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.file {
  left: 4.1%;
}
/* line 82, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.youtube {
  left: 14%;
}
/* line 86, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.uploads {
  left: 92.1%;
}
/* line 90, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.active {
  display: block;
}
/* line 95, ../sass/uploads.scss */
#add-video .nav-tabs li.uploads {
  border-right: none;
}
/* line 98, ../sass/uploads.scss */
#add-video .nav-tabs li.uploads a i {
  color: #1EABE4;
}
/* line 103, ../sass/uploads.scss */
#add-video .nav-tabs li.uploads:hover a strong, #add-video .nav-tabs li.uploads:active a strong, #add-video .nav-tabs li.uploads:focus a strong, #add-video .nav-tabs li.uploads.active a strong {
  color: #1EABE4;
}
/* line 110, ../sass/uploads.scss */
#add-video .nav-tabs li.file a i {
  color: #6CC561;
}
/* line 115, ../sass/uploads.scss */
#add-video .nav-tabs li.file:hover a strong, #add-video .nav-tabs li.file:active a strong, #add-video .nav-tabs li.file:focus a strong, #add-video .nav-tabs li.file.active a strong {
  color: #6CC561;
}
/* line 121, ../sass/uploads.scss */
#add-video .nav-tabs li.youtube {
  border-right: none;
}
/* line 124, ../sass/uploads.scss */
#add-video .nav-tabs li.youtube a i {
  color: #CF000F;
}
/* line 129, ../sass/uploads.scss */
#add-video .nav-tabs li.youtube:hover a strong, #add-video .nav-tabs li.youtube:active a strong, #add-video .nav-tabs li.youtube:focus a strong, #add-video .nav-tabs li.youtube.active a strong {
  color: #CF000F;
}
/* line 137, ../sass/uploads.scss */
#add-video div.tab-pane {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #0591c5;
  padding: 9px;
}
/* line 144, ../sass/uploads.scss */
#add-video .nav-tabs > li.active > a, #add-video .nav-tabs > li.active > a:hover, #add-video .nav-tabs > li.active > a:focus {
  border-color: transparent;
  background-color: white;
}
/* line 149, ../sass/uploads.scss */
#add-video div.tab-content {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 17px 0 18px;
  position: absolute;
  z-index: 999;
}
/* line 158, ../sass/uploads.scss */
#add-video form div.submit-row, #add-video div.pending div.submit-row {
  margin: 5px -15px;
}
/* line 161, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6, #add-video div.pending div.submit-row div.col-xs-6 {
  padding: 0 5px;
}
/* line 164, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button, #add-video form div.submit-row div.col-xs-6 a, #add-video div.pending div.submit-row div.col-xs-6 button, #add-video div.pending div.submit-row div.col-xs-6 a {
  border: none;
  color: white;
  font-size: 0.9em;
  padding: 3px 9px;
}
/* line 170, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload, #add-video form div.submit-row div.col-xs-6 a.confirm-upload, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload {
  background: #E45DBE;
  font-weight: bold;
}
/* line 174, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload:hover, #add-video form div.submit-row div.col-xs-6 button.confirm-upload:active, #add-video form div.submit-row div.col-xs-6 button.confirm-upload:focus, #add-video form div.submit-row div.col-xs-6 a.confirm-upload:hover, #add-video form div.submit-row div.col-xs-6 a.confirm-upload:active, #add-video form div.submit-row div.col-xs-6 a.confirm-upload:focus, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload:hover, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload:active, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload:focus, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload:hover, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload:active, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload:focus {
  background: #DE3FB1;
}
/* line 178, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack, #add-video form div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack {
  line-height: 1.42857em;
  height: 14px;
  position: relative;
  left: 0;
  top: -4px;
}
/* line 185, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-video-camera, #add-video form div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-video-camera, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-video-camera, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-video-camera {
  color: white;
  font-size: 20px;
}
/* line 190, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-plus, #add-video form div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-plus, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-plus, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-plus {
  color: #E45DBE;
  font-size: 0.9em;
  padding-top: 1px;
  text-indent: -6px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 198, ../sass/uploads.scss */
  #add-video form div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-plus, #add-video form div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-plus, #add-video div.pending div.submit-row div.col-xs-6 button.confirm-upload span.fa-stack i.fa-plus, #add-video div.pending div.submit-row div.col-xs-6 a.confirm-upload span.fa-stack i.fa-plus {
    padding-top: 2px;
    text-indent: -5px;
  }
}
/* line 206, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.cancel-upload, #add-video form div.submit-row div.col-xs-6 a.cancel-upload, #add-video div.pending div.submit-row div.col-xs-6 button.cancel-upload, #add-video div.pending div.submit-row div.col-xs-6 a.cancel-upload {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
  color: #6E4949;
}
/* line 212, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.cancel-upload i, #add-video form div.submit-row div.col-xs-6 a.cancel-upload i, #add-video div.pending div.submit-row div.col-xs-6 button.cancel-upload i, #add-video div.pending div.submit-row div.col-xs-6 a.cancel-upload i {
  line-height: 1.42857em;
}
/* line 216, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.cancel-upload:hover, #add-video form div.submit-row div.col-xs-6 button.cancel-upload:active, #add-video form div.submit-row div.col-xs-6 button.cancel-upload:focus, #add-video form div.submit-row div.col-xs-6 a.cancel-upload:hover, #add-video form div.submit-row div.col-xs-6 a.cancel-upload:active, #add-video form div.submit-row div.col-xs-6 a.cancel-upload:focus, #add-video div.pending div.submit-row div.col-xs-6 button.cancel-upload:hover, #add-video div.pending div.submit-row div.col-xs-6 button.cancel-upload:active, #add-video div.pending div.submit-row div.col-xs-6 button.cancel-upload:focus, #add-video div.pending div.submit-row div.col-xs-6 a.cancel-upload:hover, #add-video div.pending div.submit-row div.col-xs-6 a.cancel-upload:active, #add-video div.pending div.submit-row div.col-xs-6 a.cancel-upload:focus {
  background: transparent;
  color: #774040;
}
/* line 225, ../sass/uploads.scss */
#add-video form div.drop-pane-row, #add-video div.pending div.drop-pane-row {
  background-color: #f6f6f6;
  margin: 0;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 230, ../sass/uploads.scss */
#add-video form div.drop-pane-row #upload-drop-pane, #add-video div.pending div.drop-pane-row #upload-drop-pane {
  color: #ababab;
  text-align: center;
  padding: 15px 0;
  background-color: #f0f0f0;
  border: 2px dashed #d8d8d8;
  font-size: 0.9em;
  margin: 0 5px;
  width: 98.5%;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 242, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row, #add-video div.pending div.drop-pane-row div.input-row {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 5px;
}
/* line 247, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div, #add-video div.pending div.drop-pane-row div.input-row div {
  padding: 0;
}
/* line 250, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input, #add-video form div.drop-pane-row div.input-row div textarea, #add-video div.pending div.drop-pane-row div.input-row div input, #add-video div.pending div.drop-pane-row div.input-row div textarea {
  border: 1px solid #CCCCCC;
  color: #AAA;
  padding: 3px 5px;
  width: 100%;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}
/* line 257, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input::-webkit-input-placeholder, #add-video form div.drop-pane-row div.input-row div textarea::-webkit-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input::-webkit-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 263, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea:-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input:-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 269, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input::-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea::-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input::-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 275, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:-ms-input-placeholder, #add-video form div.drop-pane-row div.input-row div textarea:-ms-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input:-ms-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 281, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.placeholder, #add-video form div.drop-pane-row div.input-row div textarea.placeholder, #add-video div.pending div.drop-pane-row div.input-row div input.placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea.placeholder {
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 287, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:focus, #add-video form div.drop-pane-row div.input-row div textarea:focus, #add-video div.pending div.drop-pane-row div.input-row div input:focus, #add-video div.pending div.drop-pane-row div.input-row div textarea:focus {
  border: 1px solid #AAA;
  outline: 0;
}
/* line 292, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.error, #add-video form div.drop-pane-row div.input-row div textarea.error, #add-video div.pending div.drop-pane-row div.input-row div input.error, #add-video div.pending div.drop-pane-row div.input-row div textarea.error {
  border: 1px solid red;
}
/* line 295, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.error:-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea.error:-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input.error:-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea.error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 301, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.error::-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea.error::-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input.error::-moz-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea.error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 307, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.error:-ms-input-placeholder, #add-video form div.drop-pane-row div.input-row div textarea.error:-ms-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div input.error:-ms-input-placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea.error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 313, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.error.placeholder, #add-video form div.drop-pane-row div.input-row div textarea.error.placeholder, #add-video div.pending div.drop-pane-row div.input-row div input.error.placeholder, #add-video div.pending div.drop-pane-row div.input-row div textarea.error.placeholder {
  color: red;
  font-weight: 300;
  font-style: italic;
}
/* line 323, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.textarea-row, #add-video div.pending div.drop-pane-row div.textarea-row {
  margin-bottom: 5px;
}
/* line 326, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.textarea-row textarea, #add-video div.pending div.drop-pane-row div.textarea-row textarea {
  height: 43px;
}
/* line 335, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row {
  background-color: #f0f0f0;
  border: 2px dashed #d8d8d8;
  margin: 5px -10px;
  padding: 15px 0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 342, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table {
  width: 100%;
}
/* line 346, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td {
  border-top: 1px dashed #d8d8d8;
  color: #ABABAB;
  font-size: 0.9em;
  padding: 5px 0;
  width: 50%;
}
/* line 353, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td a.video-link {
  color: #ABABAB;
  text-decoration: none;
  cursor: default;
}
/* line 358, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td a.video-link.finished {
  color: #00aeef;
  cursor: pointer;
}
/* line 362, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td a.video-link.finished:hover {
  text-decoration: underline;
}
/* line 368, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td div.progress-bar {
  height: 22px;
  border: 1px solid #111;
  background-color: #292929;
  width: 100%;
}
/* line 374, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td div.progress-bar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
}
/* line 384, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td.icon {
  width: 8%;
}
/* line 389, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td.icon a.video-link.finished:hover {
  text-decoration: none;
}
/* line 396, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td.percentage {
  width: 42%;
}
/* line 400, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr td.no-uploads {
  border-top: none;
  text-align: center;
  font-style: italic;
}
/* line 408, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr.first td {
  padding-top: 0;
  border-top: none;
}
/* line 415, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table tr.last td {
  padding-bottom: 0;
}
/* line 421, ../sass/uploads.scss */
#add-video #pending-uploads div.pending div.uploads-row table.complete {
  display: none;
}
