/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/uploads.scss */
#add-video .nav-tabs {
  background-color: white;
  border-bottom: none;
  margin: 5px;
  padding: 5px 0px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 17, ../sass/uploads.scss */
#add-video .nav-tabs li {
  background-color: white;
  border-right: 1px solid #CCC;
  position: relative;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 24, ../sass/uploads.scss */
#add-video .nav-tabs li.active {
  background-color: white;
}
/* line 28, ../sass/uploads.scss */
#add-video .nav-tabs li:last-child {
  border-right: none;
}
/* line 32, ../sass/uploads.scss */
#add-video .nav-tabs li a {
  border: none;
  border-color: transparent;
  background-color: white;
  padding: 2px 15px;
}
/* line 38, ../sass/uploads.scss */
#add-video .nav-tabs li a:hover {
  border: none;
  border-color: transparent;
  background-color: white;
}
/* line 44, ../sass/uploads.scss */
#add-video .nav-tabs li a i, #add-video .nav-tabs li a strong {
  display: block;
  text-align: center;
  width: 100%;
}
/* line 50, ../sass/uploads.scss */
#add-video .nav-tabs li a i {
  font-size: 20px;
}
/* line 54, ../sass/uploads.scss */
#add-video .nav-tabs li a strong {
  color: #999999;
  font-size: 12px;
  font-weight: 500;
}
/* line 61, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator {
  background: transparent;
  top: 45px;
  position: absolute;
  z-index: 99;
}
/* line 67, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator i {
  color: #0591C5;
  font-size: 1.6em;
}
/* line 72, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.file {
  left: 25px;
}
/* line 76, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.webcam {
  left: 96px;
}
/* line 80, ../sass/uploads.scss */
#add-video .nav-tabs li.indicator.youtube {
  left: 173px;
}
/* line 86, ../sass/uploads.scss */
#add-video .nav-tabs li.webcam a i {
  color: #1EABE4;
}
/* line 91, ../sass/uploads.scss */
#add-video .nav-tabs li.webcam:hover a strong, #add-video .nav-tabs li.webcam:active a strong, #add-video .nav-tabs li.webcam:focus a strong, #add-video .nav-tabs li.webcam.active a strong {
  color: #1EABE4;
}
/* line 98, ../sass/uploads.scss */
#add-video .nav-tabs li.file a i {
  color: #6CC561;
}
/* line 103, ../sass/uploads.scss */
#add-video .nav-tabs li.file:hover a strong, #add-video .nav-tabs li.file:active a strong, #add-video .nav-tabs li.file:focus a strong, #add-video .nav-tabs li.file.active a strong {
  color: #6CC561;
}
/* line 110, ../sass/uploads.scss */
#add-video .nav-tabs li.youtube a i {
  color: #CF000F;
}
/* line 115, ../sass/uploads.scss */
#add-video .nav-tabs li.youtube:hover a strong, #add-video .nav-tabs li.youtube:active a strong, #add-video .nav-tabs li.youtube:focus a strong, #add-video .nav-tabs li.youtube.active a strong {
  color: #CF000F;
}
/* line 123, ../sass/uploads.scss */
#add-video div.tab-pane {
  background-color: #0591c5;
  padding: 5px;
}
/* line 128, ../sass/uploads.scss */
#add-video .nav-tabs > li.active > a, #add-video .nav-tabs > li.active > a:hover, #add-video .nav-tabs > li.active > a:focus {
  border-color: transparent;
  background-color: white;
}
/* line 134, ../sass/uploads.scss */
#add-video form div.submit-row {
  margin: 5px -15px;
}
/* line 137, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 {
  padding: 0 5px;
}
/* line 140, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button {
  border: none;
  color: white;
  font-size: 0.9em;
  padding: 3px 9px;
}
/* line 146, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button i {
  line-height: 1.42857em;
}
/* line 150, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload {
  background: #E45DBE;
  font-weight: bold;
}
/* line 154, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.confirm-upload:hover, #add-video form div.submit-row div.col-xs-6 button.confirm-upload:active, #add-video form div.submit-row div.col-xs-6 button.confirm-upload:focus {
  background: #DE3FB1;
}
/* line 159, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.cancel-upload {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
  color: #6E4949;
}
/* line 165, ../sass/uploads.scss */
#add-video form div.submit-row div.col-xs-6 button.cancel-upload:hover, #add-video form div.submit-row div.col-xs-6 button.cancel-upload:active, #add-video form div.submit-row div.col-xs-6 button.cancel-upload:focus {
  background: transparent;
  color: #774040;
}
/* line 174, ../sass/uploads.scss */
#add-video form div.drop-pane-row {
  background-color: #f6f6f6;
  margin: 0;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 179, ../sass/uploads.scss */
#add-video form div.drop-pane-row #upload-drop-pane {
  color: #ababab;
  text-align: center;
  padding: 15px 0;
  background-color: #f0f0f0;
  border: 2px dashed #d8d8d8;
  font-size: 0.9em;
  margin: 0 5px;
  width: 98.5%;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 191, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 5px;
}
/* line 196, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div {
  padding: 0;
}
/* line 199, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input, #add-video form div.drop-pane-row div.input-row div textarea {
  border: 1px solid #CCCCCC;
  color: #AAA;
  padding: 0 5px;
  width: 100%;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 206, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input::-webkit-input-placeholder, #add-video form div.drop-pane-row div.input-row div textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 212, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 218, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input::-moz-placeholder, #add-video form div.drop-pane-row div.input-row div textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 224, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:-ms-input-placeholder, #add-video form div.drop-pane-row div.input-row div textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 230, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input.placeholder, #add-video form div.drop-pane-row div.input-row div textarea.placeholder {
  color: #AAA;
  font-weight: 300;
  font-style: italic;
}
/* line 236, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.input-row div input:focus, #add-video form div.drop-pane-row div.input-row div textarea:focus {
  border: 1px solid #AAA;
  outline: 0;
}
/* line 244, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.textarea-row {
  margin-bottom: 5px;
}
/* line 247, ../sass/uploads.scss */
#add-video form div.drop-pane-row div.textarea-row textarea {
  height: 43px;
}
