{% extends "marketing/base.html" %}
{% load staticfiles compress avatar_tags activity_tags %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block marketing_content %}
    <div id="fb">
        <div class="content">
            <div class="wrapper clearfix">
                <div class="background">
                    <header>
                        <div class="user-info clearfix">
                            <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link">
                                <img src="{% avatar_url profile_user 314 %}" alt="" height="157" width="157" class="img-circle" />
                            </a>
                            {% ifequal request.user profile_user %}{% else %}
                                <a class="btn btn-danger" href="{% url 'actstream_unfollow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" id="unfollow_button" {% if not request.user|is_following:profile_user %} style="display:none"{% endif %}>Unfollow</a>
                                <a class="btn btn-success" href="{% url 'actstream_follow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" id="follow_button" {% if request.user|is_following:profile_user %} style="display:none"{% endif %}>Follow</a>
                            {% endifequal %}
                            <div class="user-details">
                                <h1>
                                    <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link">{{ profile_user.username }}</a>
                                    {% if profile_user.get_profile %}
                                        <span>{{ profile_user.get_profile.profile_details }}</span>
                                    {% endif %}
                                </h1>
                                {% if profile_user.get_profile and profile_user.get_profile.bio %}
                                    <p class="bio"><span class="corner"></span>&ldquo;{{ profile_user.get_profile.bio }}&rdquo;</p>
                                {% endif %}
                            </div>
                        </div>
                        <nav>
                            <ul class="nav nav-tabs">
                                <li class="location">
                                    {% if profile_user.get_profile and profile_user.get_profile.location %}
                                        <span>
                                            <img src="{% static 'framebuzz/profiles/img/pin.png' %}" height="29" width="17" />
                                            {{ profile_user.get_profile.location }}
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="home active">
                                    <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link"></a>
                                    <a data-url="{% url 'profiles-videos' profile_user.username %}" href="#videos" class="tab-link"></a>
                                </li>
                                <li class="followers">
                                    <a data-url="{% url 'profiles-followers' profile_user.username %}" href="#followers" class="tab-link">
                                        Followers
                                        <em>({{ profile_followers|length }})</em>
                                    </a>
                                </li>
                                <li class="following">
                                    <a data-url="{% url 'profiles-following' profile_user.username %}" href="#following" class="tab-link">
                                        Following
                                        <em>({{ profile_following|length }})</em>
                                    </a>
                                </li>
                                <li class="conversations">
                                    <a data-url="{% url 'profiles-conversations' profile_user.username %}" href="#conversations" class="tab-link">
                                        Conversations
                                        <em>({{ profile_conversations|length }})</em>
                                    </a>
                                </li>
                                <li class="favorites">
                                    <a data-url="{% url 'profiles-favorites' profile_user.username %}" href="#favorites" class="tab-link">
                                        Favorites
                                        <em>({{ profile_favorites|length }})</em>
                                    </a>
                                </li>
                                <li class="website">
                                    {% if profile_user.get_profile and profile_user.get_profile.get_default_website %}
                                      <span class="website">
                                            <a href="{{ profile_user.get_profile.get_default_website.url }}" target="_blank" rel="nofollow">
                                                {{ profile_user.get_profile.get_default_website.url }}
                                            </a>
                                      </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div id="profile-container" class="tab-content">
                        <div class="tab-pane active" id="activity"></div>
                        <div class="tab-pane" id="followers"></div>
                        <div class="tab-pane" id="following"></div>
                        <div class="tab-pane" id="conversations"></div>
                        <div class="tab-pane" id="favorites"></div>
                        <div class="tab-pane" id="videos"></div>
                        <div class="tab-pane" id="edit"></div>
                        <div class="tab-pane" id="avatar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="video-embed-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <iframe src="" scrolling="no" frameBorder="0" height="398" width="640"></iframe>
        </div>
    </div>
    <div id="add-framebuzz-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            Create Your Own FrameBuzz
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body"></div>
    </div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script src="{% static 'framebuzz/profiles/js/jquery.fileupload.js' %}"></script>
        <script type="text/javascript">
            function youtube_parser(url){
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match&&match[7].length==11){
                    return match[7];
                } else{
                    alert("This doesn't seem to be a YouTube URL! Please try again.");
                }
            }

            $(document).ready(function() {                       
                var currentPageUrl = null;
                var currentVideoUrl = null;
                var currentTab = '#activity';

                // Load the activity tab content on page load.
                var activeTabUrl = $('ul.nav-tabs li.active a').attr('data-url');
                $('#activity').load(activeTabUrl, function(result) {
                    $('ul.nav-tabs').tab('show');
                });

                // Pagination.
                $('#profile-container div.tab-pane').on('click', 'a.page-link', function() {
                    var pageContainer = $('div.pagination-page');
                    var pageUrl = $(this).attr('href');

                    $.get(currentPageUrl + pageUrl, function(pageHtml) {
                      pageContainer.fadeOut('slow', function() {
                        pageContainer.html(pageHtml);
                        pageContainer.fadeIn('slow');
                      });
                    });

                    return false;
                });

                $('body').on('click', 'a.modal-button', function() {
                    currentVideoUrl = $(this).attr('data-url');
                });

                // Load video in modal dialog.
                $('body').on('shown', '#video-embed-modal', function(e) {
                    $('iframe', '#video-embed-modal').attr('src', currentVideoUrl);
                });

                $('body').on('hide', '#video-embed-modal', function () {
                    $('iframe', '#video-embed-modal').attr('src', '');
                });

                $('body').on('hide', '#add-framebuzz-modal', function () {
                    $(this).removeData('modal');
                });

                // Load 'add video' in modal.
                $('body').on('shown', '#add-framebuzz-modal', function(e) {
                    var video_id = null;

                    $('#add-framebuzz-modal').on('blur', '#id_video_id', function() {
                        var url = $(this).val();

                        if (url.length > 0) {
                            video_id = youtube_parser(url);
                        }
                    });

                    $('#add-framebuzz-modal').on('submit', 'form', function(e) {
                        e.preventDefault();

                        var postUrl = $(this).attr('action');
                        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();


                        $.post(postUrl, {
                            'video_id': video_id, 
                            'is_featured': $('#id_is_featured').val(),
                            'csrfmiddlewaretoken': csrfToken
                        }, function(data, textStatus, jqXHR) {
                            if (data.length == 0) {
                                $('#videos').load("{% url 'profiles-videos' profile_user %}", function(result) {
                                    $('ul.nav-tabs').tab('show');
                                    $('div.tab-pane').removeClass('active');
                                    $('#videos').addClass('active');

                                    $('#add-framebuzz-modal').modal('hide');
                                });
                            }
                            else {
                                var container = $('#add-framebuzz-modal div.modal-body');
                                container.fadeOut('fast', function() {
                                    $('#add-framebuzz-modal div.modal-body').html(data);
                                    container.fadeIn('fast');
                                });
                            }
                        });
                    });
                });

                // Toggle 'featured' / 'library' status.
                $('body').on('click', 'a.video-toggle-button', function(e) {
                    e.preventDefault();

                    var url = $(this).attr('href');
                    $.get(url, function(data) {
                        $('ul.nav-tabs a[href="' + currentTab + '"]').trigger('click');
                    });

                    return false;
                });

                $('body').on('click', '#follow_button, #unfollow_button', function () {
                    $.post($(this).attr("href"), {});
                    $(this).parent().find("#follow_button, #unfollow_button").toggle();
                    return false;
                });

                $('#avatar').on('submit', 'form', function(e) {
                    e.preventDefault();

                    var postUrl = $(this).attr('action');
                    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                    if ($(this).attr('id') == '#upload-avatar-form') {

                    }
                    else {
                        var formData = $(this).serialize();

                        $.ajax({
                            url: postUrl,
                            type: 'POST',
                            data: formData,
                            success: function(data) {
                                if (data.length == 0) {
                                    window.location.reload();
                                }
                                else {
                                    var container = $('#avatar');
                                    container.fadeOut('fast', function() {
                                        container.html(data);
                                        container.fadeIn('fast');
                                    });
                                }
                            }
                        });
                    }

                    return false;
                });

                $('#edit').on('submit', 'form', function(e) {
                    e.preventDefault();

                    var postUrl = $(this).attr('action');
                    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                    var formData = $(this).serialize();

                    $.post(postUrl, formData, function(data, textStatus, jqXHR) {
                        if (data.length == 0) {
                            window.location.reload();
                        }
                        else {
                            var container = $('#edit');
                            container.fadeOut('fast', function() {
                                container.html(data);
                                container.fadeIn('fast');
                            });
                        }
                    });

                    return false;
                });

                // Tabs.
                $('body').on('click', 'a.tab-link', function(e) {
                    e.preventDefault();
                  
                    currentPageUrl = $(this).attr('data-url');
                    currentTab = this.hash;
                    var pane = $(this);

                    if (currentTab == '#avatar') {
                        $('div.tab-pane').removeClass('active');
                        $('ul.dropdown-menu li').removeClass('active'); 
                    }
                    
                    $(currentTab).load(currentPageUrl, function(result) {  
                        $('div.tab-pane').removeClass('active');
                        $('ul.dropdown-menu li').removeClass('active'); 
                        pane.tab('show');

                        $(currentTab).addClass('active');

                        if (currentTab == '#avatar') {
                            $('#id_avatar').fileupload({
                                done: function (e, data) {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    {% endcompress %}
    {% block extra_javascript %}{% endblock %}
{% endblock %}