{% extends "base.html" %}
{% load staticfiles compress avatar_tags activity_tags profile_tags %}

{% block page_classes %}content profiles{% endblock %}

{% block title %}{{ profile_user|display_name }}'s Profile{% endblock %}

{% block marketing_meta %}
    {% if is_share %}
        <meta property="og:title" content="FrameBuzz: {{ video.title }}" />
        <meta property="og:type" content="Video" />
        <meta property="og:url" content="http://framebuzz.com{% url 'video-share' video.video_id %}" />
        <meta property="og:image" content="{{ video.poster_image }}" />
        <meta property="og:description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
        <meta property="og:site_name" content="FrameBuzz" />
        <meta itemprop="name" content="FrameBuzz: {{ video.title }}" />
        <meta itemprop="description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
        <meta itemprop="image" content="{{ video.poster_image }}" />
    {% else %}
        <meta property="og:title" content="FrameBuzz: {{ profile_user|display_name }}'s Profile" />
        <meta property="og:url" content="http://framebuzz.com{{ profile_user.get_absolute_url }}" />
        <meta property="og:image" content="http://framebuzz.com{% avatar_url profile_user 265 %}" />
        <meta property="og:description" content="{{ profile_user.get_profile.tagline }}" />
        <meta property="og:site_name" content="FrameBuzz" />
        <meta itemprop="name" content="FrameBuzz: {{ profile_user|display_name }}'s Profile" />
        <meta itemprop="description" content="{{ profile_user.get_profile.tagline }}" />
        <meta itemprop="image" content="http://framebuzz.com{% avatar_url profile_user 265 %}" />
    {% endif %}
{% endblock %}

{% block page_css %}
    {% compress css %}
        <link href="{% static 'framebuzz/profiles/vendor/timeline/css/stylesheet.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div id="sidebar" class="col-xs-3">
                <div id="user-avatar" class="row">
                    <a href="{% url 'profiles-home' profile_user.username %}" class="avatar filter" data-filter="*">
                        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{% avatar_url profile_user 109 %}" alt="" class="img-responsive lazy">
                    </a>
                </div>
                {% if profile_user.uservideo_set.all|length > 0 %}
                    <div id="user-videos" class="row clearfix">
                        {% for uv in profile_user.uservideo_set.all|slice:":4" %}
                            <div class="vid col-xs-3 pull-right">
                                <a class="thumbnail-link play-video" href="{% url 'profiles-share' profile_user.username uv.video.video_id %}">
                                    <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{{ uv.video.large_thumbnail }}" alt="{{ uv.video.title|title }}" class="img-responsive lazy">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div id="user-display-name" class="row">
                    <div class="col-xs-10">
                        <h1>{{ profile_user|display_name }}</h1>
                    </div>
                    <div class="col-xs-2">
                        {% if not is_my_profile %}
                            {% if request.user.is_authenticated %}
                                <a class="toggle-follow unfollow-button pull-right img-circle" title="Following" data-placement="bottom" href="{% url 'actstream_unfollow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" {% if not request.user|is_following:profile_user %} style="display:none"{% endif %}>
                                  <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    <i class="fa fa-minus fa-stack-1x fa-inverse pull-right"></i>
                                  </span>            
                                </a>
                                <a class="toggle-follow follow-button pull-right img-circle" title="Follow" data-placement="bottom" href="{% url 'actstream_follow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" {% if request.user|is_following:profile_user %} style="display:none"{% endif %}>
                                  <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse pull-right"></i>
                                  </span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if profile_user.get_profile.tagline|length > 0 or  profile_user.get_profile.location|length > 0 or profile_user.get_profile.bio|length > 0 %}
                <div id="user-details" class="row">
                    {% if profile_user.get_profile.tagline %}<h2>{{ profile_user.get_profile.tagline }} <i class="fa fa-play fa-flip-horizontal pull-right"></i></h2>{% endif %}
                    {% if profile_user.get_profile.location %}<h3>{{ profile_user.get_profile.location }} <i class="fa fa-map-marker"></i></h3>{% endif %}
                    {% if profile_user.get_profile.bio %}<em>&ldquo;{{ profile_user.get_profile.bio }}&rdquo;</em>{% endif %}
                </div>
                {% endif %}
                <div id="user-stats" class="row container">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li class="videos">
                                <a class="filter" data-filter=".added_video_to_library" href="#" data-pages="{{ page_counts.videos }}">
                                    <i class="fa fa-video-camera fa-fw"></i>
                                    <strong>{{ profile_library|length }}</strong>
                                </a>
                            </li>
                            <li class="conversations">
                                <a class="filter" data-filter=".conversations" href="#" data-pages="{{ page_counts.conversations }}">
                                    <i class="fa fa-comment fa-fw"></i>
                                    <strong>{{ profile_conversations|length }}</strong>
                                </a>
                            </li>
                            <li class="favorites">
                                <a class="filter" data-filter=".added_to_favorites" href="#" data-pages="{{ page_counts.favorites }}">
                                    <i class="fa fa-heart fa-fw"></i>
                                    <strong>{{ profile_favorites|length }}</strong>
                                </a>
                            </li>
                            <li class="followers">
                                <a class="filter" data-filter=".followers" href="#" data-pages="{{ page_counts.followers }}">
                                    <i class="fa fa-group fa-fw"></i>
                                    <strong>{{ profile_followers|length }}</strong>
                                </a>
                            </li>
                            <li class="following">
                                <a class="filter" data-filter=".following" href="#" data-pages="{{ page_counts.following }}">
                                    <i class="fa fa-user fa-fw"></i>
                                    <strong>{{ profile_following|length }}</strong>
                                </a>
                            </li>
                        </ul>  
                    </div>
                </div>
                {% if is_my_profile %}
                    <div id="recommendations" class="row">
                        <div class="col-xs-12">
                            <h2>Recommendations</h2>
                            <div class="row ajax">
                                <div class="spin col-xs-12 text-center">
                                    <i class="icon-spinner icon-spin icon-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="profile-content" class="col-xs-9">
                <div id="add-video" class="row">
                    {% include "profiles/snippets/add_video.html" %}
                </div>
                <div id="timeline" class="row">
                    <div class="col-xs-12">
                        <nav class="row">
                            <ul class="nav nav-pills clearfix">
                                <li class="start{% if not is_share %} active{% endif %}">
                                    <a class="filter latest" data-filter="*" href="#">Latest</a>
                                </li>
                                <li{% if is_share %} class="active"{% endif %}>
                                    <a class="filter" data-filter=".added_video_to_library" href="#" data-pages="{{ page_counts.videos }}">Posts</a>
                                </li>
                                <li>
                                    <a class="filter" data-filter=".conversations" href="#" data-pages="{{ page_counts.conversations }}">Comments</a>
                                </li>
                                <li>
                                    <a class="filter" data-filter=".added_to_favorites" href="#" data-pages="{{ page_counts.favorites }}">Favorites</a>
                                </li>
                                <li>
                                    <a class="filter" data-filter=".followers" href="#" data-pages="{{ page_counts.followers }}">Followers</a>
                                </li>
                                <li>
                                    <a class="filter" data-filter=".following" href="#" data-pages="{{ page_counts.following }}">Following</a>
                                </li>
                            </ul>
                        </nav>
                        <div id="feed" class="row">
                            <div class="spin">
                                <i class="icon-spinner icon-spin icon-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="md-modal md-effect-1" id="customize-modal">
        <div class="md-content">
            <h3>Customize Profile <button class="md-close"><i class="icon-remove"></i></button></h3>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#add" data-url="{% url 'avatar_add' %}">Upload Avatar</a>
                    </li>
                    {% comment %}
                    <li>
                        <a href="#change" data-url="{% url 'avatar_change' %}">Change Avatar</a>
                    </li>
                    <li>
                        <a href="#background">Change Background</a>
                    </li>
                    {% endcomment %}
                </ul>
            </nav>
            <div class="tab-content">
                <div id="add" class="tab-pane active"></div>
                <div id="change" class="tab-pane"></div>
                <div id="background" class="tab-pane"></div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        {% if is_my_profile %}
            <script src="{% static 'framebuzz/profiles/vendor/jquery/ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/canvas-to-blob.min.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/load-image.min.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/jquery.iframe-transport.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/jquery.fileupload.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/jquery.fileupload-process.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/jquery.fileupload-image.js' %}"></script>
            <script src="{% static 'framebuzz/profiles/vendor/jquery/fileupload/jquery.fileupload-validate.js' %}"></script>
        {% endif %}
        <script src="{% static 'framebuzz/profiles/vendor/jquery/jquery.lazyload.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/vendor/timeline/timeline.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/framebuzz.profiles.js' %}"></script>
        <script type="text/javascript">
            $(function(){
                var isMyProfile = '{{ is_my_profile|lower }}' == 'true';
                var isShare = '{{ is_share|lower }}' == 'true';
                var urls = {
                    'feed': '{% url "profiles-feed" profile_user.username %}',
                    'recommendations': '{% url "recommendations" %}'
                };

                FrameBuzzProfile.init(isMyProfile, isShare, urls);
            });
        </script>
    {% endcompress %}
    {% block extra_javascript %}{% endblock %}
{% endblock %}