{% extends "marketing/base.html" %}
{% load staticfiles compress avatar_tags activity_tags profile_tags %}

{% block title %}{{ profile_user|display_name }}'s Profile{% endblock %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/iconic.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/bootstrap-editable.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block marketing_content %}
    <div id="fb">
        <div class="content">
            <div class="wrapper clearfix">
                <div class="background">
                    <div id="profile-container" class="clearfix">                        
                        <nav id="profile-sections" class="span4{% if request.user.is_authenticated and profile_user.id == request.user.id %} edit{% endif %}">
                            <div class="user-info clearfix">
                                <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link avatar">
                                    <img src="{% avatar_url profile_user 354 %}" alt="" height="177" width="177" class="img-circle" />
                                </a>
                                <div class="user-details">
                                    {% spaceless %}
                                    <h1 class="clearfix">
                                        <span class="username-field">
                                            {% if request.user.is_authenticated and profile_user.id == request.user.id %}
                                                <a href="#" class="display-name clearfix">
                                                    <span class="editable" data-placement="right" data-name="display_name" data-type="text" data-pk="{{ request.user.get_profile.id }}" data-url="{% url 'profiles-edit' request.user.username %}" data-title="Edit Display Name">
                                                        {{ profile_user|display_name }}
                                                    </span>
                                                </a>
                                            {% else %}
                                                {{ profile_user|display_name }}
                                            {% endif %}
                                        </span>
                                        <span class="location-field clearfix">
                                            {% if request.user.is_authenticated and profile_user.id == request.user.id %}
                                                <i class="icon-map-marker"></i>
                                                <a href="#" class="location clearfix">
                                                    <span class="editable" data-placement="right" data-name="location" data-type="text" data-pk="{{ request.user.get_profile.id }}" data-url="{% url 'profiles-edit' request.user.username %}" data-title="Edit Location">
                                                        {% if profile_user.get_profile.location %}
                                                            {{ profile_user.get_profile.location }}
                                                        {% else %}
                                                            Add Location
                                                        {% endif %}
                                                    </span>
                                                </a>
                                            {% else %}
                                                {% if profile_user.get_profile.location %}
                                                    <i class="icon-map-marker"></i>
                                                    {{ profile_user.get_profile.location }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </h1>
                                    {% endspaceless %}
                                    {% if profile_user.get_profile %}
                                        {% spaceless %}
                                        <h2>
                                            {% if request.user.is_authenticated and profile_user.id == request.user.id %}
                                                &ldquo;<a href="#" data-name="tagline" class="editable" data-type="textarea" data-pk="{{ request.user.get_profile.id }}" data-url="{% url 'profiles-edit' request.user.username %}" data-placement="right" data-title="Edit Tagline">{% if profile_user.get_profile.tagline %}{{ profile_user.get_profile.tagline }}{% else %}Add FrameBuzz Tagline{% endif %}</a>&rdquo;
                                            {% else %}
                                                {% if profile_user.get_profile.tagline %}&ldquo;{{ profile_user.get_profile.tagline }}&rdquo;{% endif %}
                                            {% endif %}
                                        </h2>
                                        {% endspaceless %}
                                        <ul class="nav nav-tabs clearfix">
                                            <li class="home{% if not is_share %} active{% endif %}">
                                                <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link"></a>
                                            </li>
                                            <li class="followers">
                                                <a data-url="{% url 'profiles-followers' profile_user.username %}" href="#followers" class="tab-link">
                                                    <em>{{ profile_followers|length }}</em>
                                                    <br>
                                                    Fan{{ profile_followers|length|pluralize }}
                                                </a>
                                            </li>
                                            <li class="following">
                                                <a data-url="{% url 'profiles-following' profile_user.username %}" href="#following" class="tab-link">
                                                    <em>{{ profile_following|length }}</em>
                                                    <br>
                                                    Aficionado{{ profile_following|length|pluralize }}
                                                </a>
                                            </li>
                                            <li class="videos">
                                                <a data-url="{% url 'profiles-videos' profile_user.username %}" href="#videos" class="tab-link">
                                                    <em>{{ profile_library|length }}</em>
                                                    <br>
                                                    Video{{ profile_library|length|pluralize }}
                                                </a>
                                            </li>
                                            <li class="conversations">
                                                <a data-url="{% url 'profiles-conversations' profile_user.username %}" href="#conversations" class="tab-link">
                                                    <em>{{ profile_conversations|length }}</em>
                                                    <br>
                                                    Comment{{ profile_conversations|length|pluralize }}
                                                </a>
                                            </li>
                                            <li class="favorites">
                                                <a data-url="{% url 'profiles-favorites' profile_user.username %}" href="#favorites" class="tab-link">
                                                    <em>{{ profile_favorites|length }}</em>
                                                    <br>
                                                    Favorite{{ profile_favorites|length|pluralize }}
                                                </a>
                                            </li>
                                        </ul>   
                                        {% if request.user.is_authenticated and profile_user.id == request.user.id %}                                            
                                            <p class="bio">&ldquo;<a href="#" data-name="bio" class="editable" data-type="textarea" data-pk="{{ request.user.get_profile.id }}" data-url="{% url 'profiles-edit' request.user.username %}" data-title="Edit Bio" data-placement="bottom">{% if profile_user.get_profile.bio %}{{ profile_user.get_profile.bio }}{% else %}Add FrameBuzz Bio{% endif %}</a>&rdquo;</p>
                                        {% else %}
                                            <p class="bio">
                                                {% if profile_user.get_profile.bio %}
                                                    &ldquo;{{ profile_user.get_profile.bio }}&rdquo;
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                        <div class="tab-content span7">
                            <nav class="clearfix">
                                <ul class="nav nav-tabs nav-pills clearfix">
                                    <li class="start {% if not is_share %} active{% endif %}">
                                        <a class="tab-link" href="#activity" data-url="{% url 'profiles-activity' profile_user.username %}">Activity</a>
                                    </li>
                                    {% if request.user.is_authenticated and request.user.id == profile_user.id %}
                                        <li class="feed">
                                            <a class="tab-link" href="#myfeed" data-url="{% url 'profiles-feed' profile_user.username %}">News Feed</a>
                                        </li>
                                    {% endif %}
                                    <li class="followers">
                                        <a data-url="{% url 'profiles-followers' profile_user.username %}" href="#followers" class="tab-link">
                                            Fans
                                        </a>
                                    </li>
                                    <li class="following">
                                        <a data-url="{% url 'profiles-following' profile_user.username %}" href="#following" class="tab-link">
                                            Aficionados
                                        </a>
                                    </li>
                                    <li class="videos{% if is_share %} active{% endif %}">
                                        <a data-url="{% url 'profiles-videos' profile_user.username %}" href="#videos" class="tab-link">
                                            Videos
                                        </a>
                                    </li>
                                    <li class="conversations">
                                        <a data-url="{% url 'profiles-conversations' profile_user.username %}" href="#conversations" class="tab-link">
                                            Comments
                                        </a>
                                    </li>
                                    <li class="favorites">
                                        <a data-url="{% url 'profiles-favorites' profile_user.username %}" href="#favorites" class="tab-link">
                                            Favorites
                                        </a>
                                    </li>
                                </ul>
                                {% ifequal request.user profile_user %}
                                    <a data-target="#add-framebuzz-modal" role="button" class="modal-button add-video tooltip" data-toggle="modal" class="add-video" title="Add FrameBuzz Video" data-placement="right" href="{% url 'profiles-add-video' profile_user %}"><i class="icon-plus-sign-alt"></i></a>
                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        <a class="toggle-follow unfollow-button tooltip" title="Become an Aficionado" data-placement="right" href="{% url 'actstream_unfollow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" {% if not request.user|is_following:profile_user %} style="display:none"{% endif %}>
                                          <span class="icon-stack">
                                            <i class="icon-sign-blank icon-stack-base"></i>
                                            <i class="icon-user icon-light"></i>
                                            <i class="icon-minus icon-light"></i>
                                          </span>            
                                        </a>
                                        <a class="toggle-follow follow-button tooltip" title="Remove from Aficionados" data-placement="right" href="{% url 'actstream_follow' content_type_id=user_content_type.pk object_id=profile_user.pk %}" {% if request.user|is_following:profile_user %} style="display:none"{% endif %}>
                                          <span class="icon-stack">
                                            <i class="icon-sign-blank icon-stack-base"></i>
                                            <i class="icon-user icon-light"></i>
                                            <i class="icon-plus icon-light"></i>
                                          </span>
                                        </a>
                                    {% endif %}
                                {% endifequal %}
                            </nav>
                            {% if is_share %}
                                {% include "player/snippets/share.html" %}
                            {% endif %}
                            <div class="tab-pane{% if not is_share %} active{% endif %}" id="activity"></div>
                            <div class="tab-pane" id="myfeed"></div>
                            <div class="tab-pane" id="followers"></div>
                            <div class="tab-pane" id="following"></div>
                            <div class="tab-pane" id="conversations"></div>
                            <div class="tab-pane" id="favorites"></div>
                            <div class="tab-pane{% if is_share %} active share{% endif %}" id="videos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="video-embed-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <iframe src="" scrolling="no" frameBorder="0" height="398" width="640"></iframe>
        </div>
    </div>
    <div id="add-framebuzz-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            Create Your Own FrameBuzz
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body"></div>
    </div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script src="{% static 'framebuzz/profiles/js/jquery.fileupload.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/classie.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/AnimOnScroll.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/jquery.lazyload.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/bootstrap-editable.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/jquery-paged-scroll.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/js/framebuzz.profiles.js' %}"></script>
        <script type="text/javascript">
            $(function(){
                //$('div.marketing-content').anystretch("{% static 'framebuzz/profiles/img/elixir.jpg' %}", {speed: 150, positionY: 0});
                FrameBuzzProfile.init();
            });
            </script>
    {% endcompress %}
    {% block extra_javascript %}{% endblock %}
{% endblock %}