{% extends "profiles/base.html" %}
{% load staticfiles avatar_tags %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block page_css %}{% endblock %}

{% block page_content %}
    <header>
        <div class="user-info clearfix">
            <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link">
                <img src="{% avatar_url profile_user 314 %}" alt="" height="157" width="157" class="img-circle" />
            </a>
            <div class="user-details">
                <h1>
                    <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link">{{ profile_user.username }}</a>
                    {% if profile_user.get_profile %}
                        <span>{{ profile_user.get_profile.profile_details }}</span>
                    {% endif %}
                </h1>
                {% if profile_user.get_profile and profile_user.get_profile.bio %}
                    <p class="bio"><span class="corner"></span>&ldquo;{{ profile_user.get_profile.bio }}&rdquo;</p>
                {% endif %}
            </div>
        </div>
        <div class="ribbon-wrapper">
            <div class="ribbon-front">
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="location">
                            {% if profile_user.get_profile and profile_user.get_profile.location %}
                                <span>
                                    <img src="{% static 'framebuzz/profiles/img/pin.png' %}" height="29" width="17" />
                                    {{ profile_user.get_profile.location }}
                                </span>
                            {% endif %}
                        </li>
                        <li class="home active">
                            <a data-url="{% url 'profiles-activity' profile_user.username %}" href="#activity" class="tab-link"></a>
                        </li>
                        <li class="followers">
                            <a data-url="{% url 'profiles-followers' profile_user.username %}" href="#followers" class="tab-link">
                                Followers
                                <em>{{ profile_followers|length }}</em>
                            </a>
                        </li>
                        <li class="following">
                            <a data-url="{% url 'profiles-following' profile_user.username %}" href="#following" class="tab-link">
                                Following
                                <em>{{ profile_following|length }}</em>
                            </a>
                        </li>
                        <li class="conversations">
                            <a data-url="{% url 'profiles-conversations' profile_user.username %}" href="#conversations" class="tab-link">
                                Conversations
                                <em>{{ profile_conversations|length }}</em>
                            </a>
                        </li>
                        <li class="favorites">
                            <a data-url="{% url 'profiles-favorites' profile_user.username %}" href="#favorites" class="tab-link">
                                Favorites
                                <em>{{ profile_favorites|length }}</em>
                            </a>
                        </li>
                        <li class="website">
                            {% if profile_user.get_profile and profile_user.get_profile.get_default_website %}
                              <span class="website">
                                    <a href="{{ profile_user.get_profile.get_default_website.url }}" target="_blank" rel="nofollow">
                                        {{ profile_user.get_profile.get_default_website.url }}
                                    </a>
                              </span>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="ribbon-edge-topleft"></div>
            <div class="ribbon-edge-topright"></div>
            <div class="ribbon-edge-bottomleft"></div>
            <div class="ribbon-edge-bottomright"></div>
            <div class="ribbon-back-left"></div>
            <div class="ribbon-back-right"></div>
        </div>
    </header>
    <div id="profile-container" class="tab-content">
        <div class="tab-pane active" id="activity"></div>
        <div class="tab-pane" id="followers"></div>
        <div class="tab-pane" id="following"></div>
        <div class="tab-pane" id="conversations"></div>
        <div class="tab-pane" id="favorites"></div>
        <div class="tab-pane" id="videos"></div>
    </div>
{% endblock %}

{% block page_javascript %}
    <script type="text/javascript">
       $(document).ready(function() {
            var currentPageUrl = null;
            var currentVideoUrl = null;

            // Load the activity tab content on page load.
            var activeTabUrl = $('ul.nav-tabs li.active a').attr('data-url');
            $('#activity').load(activeTabUrl, function(result) {
                $('ul.nav-tabs').tab('show');
            });

            // Pagination.
            $('#profile-container div.tab-pane').on('click', 'a.page-link', function() {
                var pageContainer = $('div.pagination-page');
                var pageUrl = $(this).attr('href');

                $.get(currentPageUrl + pageUrl, function(pageHtml) {
                  pageContainer.fadeOut('slow', function() {
                    pageContainer.html(pageHtml);
                    pageContainer.fadeIn('slow');
                  });
                });

                return false;
            });

            $('body').on('click', 'a.modal-button', function() {
                currentVideoUrl = $(this).attr('data-url');
            });

            // Load video in modal dialog.
            $('body').on('shown', '.modal', function(e) {
                $('iframe', '#video-embed-modal').attr('src', currentVideoUrl);
            });

            $('body').on('hide', function () {
                $('iframe', '#video-embed-modal').attr('src', '');
            });

            // Tabs.
            $('body').on('click', 'a.tab-link', function(e) {
                e.preventDefault();
              
                currentPageUrl = $(this).attr('data-url');
                var href = this.hash;
                var pane = $(this);
                
                $(href).load(currentPageUrl, function(result) {   
                    pane.tab('show');
                });
            });
        });
    </script>
{% endblock %}