{% extends "marketing/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "FrameBuzz - Error!" %}{% endblock %}

{% block page_classes %}content subpage account error-page{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="row row-error bs-callout bs-callout-danger">
                    <div class="col-xs-12 error-wrap">
                        <h1><i class="fa fa-icon fa-rocket fa-fw"></i> Houston, we have a problem!</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-fw fa-4x fa-exclamation-triangle absolute-center"></i>
                        <p>Sorry, you don't have permission to access this {% if private_session.is_synchronized %}viewing session{% else %}conversation{% endif %}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
