{% load i18n avatar_tags %}

<div class="avatar-section">
    <p>Drag and drop an image in the space below, or click the button below to add an image from your computer. Picture files ending in .png, .jpg, and .jpeg are supported.</p>
    <div class="clearfix upload-here">
        <i class="icon-upload icon-4x pull-left"></i>
        <form id="upload-avatar-form" enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" class="clearfix">
            <span class="btn btn-success fileinput-button">
                <i class="icon-plus"></i> Choose Picture&hellip;
                <input id="id_avatar" type="file" name="avatar">
            </span>
        </form>
    </div>
</div>
<div id="files" class="files"></div>
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>