{% load i18n avatar_tags %}

{% if avatars %}
    <div class="avatar-section">
        <p>Select an image from the list of avatars below, then click submit.</p>
        <form id="change-avatar-form" method="POST" action="{% url 'avatar_change' %}" class="clearfix">
            <div class="clearfix">
                <div id="current-avatar" class="span2">
                    <h2>{% trans "Current Avatar: " %}</h2>
                    {% avatar user %}
                </div>
                <ul class="span4">
                    {{ primary_avatar_form.as_ul }}
                </ul>
            </div>
            <div class="actions">
                {% csrf_token %}
                <button type="submit" class="add-video btn btn-success"><i class="icon-ok"></i> Submit</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="alert alert-info">
        Looks like you don't have any avatars yet. Upload one below!
    </div>
    {% include "avatar/add.html" %}
{% endif %}