{% load i18n avatar_tags %}

<div class="avatar-section">
    <h1>Change Avatar</h1>
    <p>Add or change your current avatar using the form below.</p>

    {% if not avatars %}
        <div class="alert">
            <strong>Notice</strong>:
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}<p>
        </div>
    {% else %}
        <form id="change-avatar-form" method="POST" action="{% url 'avatar_change' %}" class="clearfix">
            <div class="clearfix">
                <div id="current-avatar" class="span2">
                    <h2>{% trans "Current Avatar: " %}</h2>
                    {% avatar user %}
                </div>
                <ul class="span4">
                    {{ primary_avatar_form.as_ul }}
                </ul>
            </div>
            <div class="actions">
                {% csrf_token %}
                <button type="submit" class="add-video">CHOOSE NEW DEFAULT <em>&#9654;</em></button>
            </div>
        </form>
    {% endif %}
</div>
<div class="avatar-section">
    <h1>Upload Avatar</h1>
    <p>Upload a new avatar using the form below.</p>
    <form id="upload-avatar-form" enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" class="clearfix">
        {{ upload_avatar_form.as_p }}
        <div class="actions">
            {% csrf_token %}
            <button type="submit" class="add-video">UPLOAD NEW IMAGE <em>&#9654;</em></button>
        </div>
    </form>
</div>