{% extends "base.html" %}
{% load socialaccount compress %}

{% block title %}FrameBuzz a New Video{% endblock %}

{% block extra_head %}
  <link href="{{ MEDIA_URL }}css/acc-wizard.min.css" rel="stylesheet">
{% endblock %}

{% block sub_navigation_items %}
  <li class="active"><a href="{% url 'dashboard-videos-list-add' %}">FrameBuzz a New Video</a></li>
  <li><a href="{% url 'dashboard-videos-list' %}">My FrameBuzz Videos</a></li>
{% endblock %}

{% block page_javascript %}
  {% compress js %}
  <script src="{{ MEDIA_URL }}js/vendor/acc-wizard.min.js"></script>
  <script type="text/javascript">
    function onNext(parent, panel) {
      hash = "#" + panel.id;
      $(".acc-wizard-sidebar", $(parent))
          .children("li")
          .children("a[href='" + hash + "']")
          .parent("li")
          .removeClass("acc-wizard-todo")
          .addClass("acc-wizard-completed");

      if (hash == '#1-search-youtube') {
        var url = $('#youtube-search').val();
        var videoId = youtube_parser(url);

        $('#url-search-embed').val('<iframe src="http://framebuzz.com/v/' + videoId + '?embed=true" class="restricted" scrolling="no" frameBorder="0" height="360" width="675"></iframe>');
      }
    }

    function youtube_parser(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        var match = url.match(regExp);
        if (match&&match[7].length==11){
            return match[7];
        }else{
            alert("This doesn't seem to be a YouTube URL! Please try again.");
        }
    }

    $(window).load(function() {
      $("div.acc-wizard").accwizard({onNext: onNext});
    });

    $(document).ready(function() {
      $('form#2-select-videos-form ul.video-list-ajax li').click(function() {
        $(this).toggleClass('selected', 250);
      });

      $('a.embed-button').on('click', function() {
        var element = $(this).parent().parent().parent().next();
        element.slideToggle();
        return false;
      });

      $('#add-video').on('click', function() {
        var selectedVideos = $('#2-select-videos-form ul.video-list-ajax li.selected');
        var postUrl = $(this).attr('href');
        var redirectUrl = $('#cancel-add-video').attr('href');
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        var videosList = [];

        $('#3-embed-icon-form ul.video-list-ajax li').hide();

        $.each(selectedVideos, function(key, value) {
          var videoId = $(value).attr('data-videoid');
          videosList.push(videoId);

          var step3Element = $('#3-embed-icon-form ul.video-list-ajax li[data-videoid="'+ videoId + '"]');
          step3Element.show();
        });

        $.ajax({
          url: postUrl,
          type: 'POST',
          data: { 'selected_videos': videosList, 'csrfmiddlewaretoken': csrfToken },
          success: function() {
            window.location.hash = '#3-embed-icon';
            $('#2-select-videos-form').hide();
            $('#3-embed-icon-form').show();
          }
        });

        return false;
      });
    });
  </script>
  {% endcompress %}
{% endblock %}

{% block dashboard_right %}
  <div id="dashboard-video-list">
    <div class="page-header">
      <h1>FrameBuzz a New Video</h1>
    </div>
    <div class="alert alert-info">
      <p><strong>There are two ways to FrameBuzz a video for your site. Use the wizard below to get started!</strong></p>
    </div>
    <div class="connect-options">
      <h2>Connect with Your YouTube Account to FrameBuzz Your Own Videos</h2>
      <p>To create a new, full-featured FrameBuzz for your site, including moderator controls and user analytics, follow these steps:</p>
      <div class="acc-wizard clearfix">
        <ol class="acc-wizard-sidebar">
          <li class="acc-wizard-todo"><a href="#1-connect-youtube">Connect with YouTube</a></li>
          <li class="acc-wizard-todo"><a href="#2-select-videos">Select Videos</a></li>
          <li class="acc-wizard-todo"><a href="#3-embed-icon">Click Embed</a></li>
          <li class="acc-wizard-todo"><a href="#4-paste">Paste on Your Site!</a></li>
        </ol>
        <div class="accordion" id="connect-accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#connect-accordion" href="#1-connect-youtube">
                <strong>Step 1.</strong> Connect with your site’s YouTube account.
              </a>
            </div>
            <div id="1-connect-youtube" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form id="1-connect-youtube-form">
                  <a title="Connect with YouTube" class="socialaccount_provider btn google btn-danger" href="{% provider_login_url "google" next="/dashboard/videos/list/add/#2-select-videos" %}">Connect Now!</a>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#connect-accordion" href="#2-select-videos">
                <strong>Step 2.</strong> Select the videos you want to FrameBuzz, and click “Add Selected Videos.”
              </a>
            </div>
            <div id="2-select-videos" class="accordion-body collapse in">
              <div class="accordion-inner">
                {% if is_connected %}
                  <form id="2-select-videos-form">
                    {% if is_adding_video and page_obj.object_list|length > 0 %}
                        <div class="alert alert-success">
                          <strong>Great!</strong> We retreived the following <strong>{{ page_obj.object_list|length }}</strong> videos from your YouTube account. Add videos to your FrameBuzz account by clicking on the video thumbnails below.
                        </div>
                    {% endif %}
                    <div class="pagination-page">
                      {% include "dashboard/ajax/video_list_page.html" %}
                    </div>
                    {% if page_obj.pages|length > 0 %}
                      <div class="form-actions">
                        {% csrf_token %}
                        <a id="add-video" href="{% url 'dashboard-videos-list-add' %}" class="btn btn-primary">Add Selected Videos</a>
                      </div>
                    {% endif %}
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#connect-accordion" href="#3-embed-icon">
                <strong>Step 3.</strong> Click the video you'd like to FrameBuzz and click +Embed.  Then, copy the code.
              </a>
            </div>
            <div id="3-embed-icon" class="accordion-body collapse in">
              <div class="accordion-inner">
                {% if is_connected %}
                <form id="3-embed-icon-form" style="display: none;">
                  <div class="pagination-page">
                    {% include "dashboard/ajax/video_list_page.html" with show_embed_button=True %}
                  </div>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#connect-accordion" href="#4-paste">
                <strong>Step 4.</strong> Paste the code to your site, and watch your visitors start buzzing.
              </a>
            </div>
            <div id="4-paste" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form id="4-paste-form">
                  <div class="alert alert-success">
                    <strong>Success!</strong> You've successfully FrameBuzzed a video!
                    <p>Would you like to <a href="{% url 'dashboard-videos-list' %}">view your videos</a>?</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="public" class="connect-options">
      <h2>FrameBuzz Any Public Video on YouTube</h2>
      <p>You can also add FrameBuzz commenting to any public YouTube video you’re embedding on your site. (Note: moderator controls and analytics are available only for your own videos.) Here’s how:</p>
      <div class="acc-wizard clearfix">
        <ol class="acc-wizard-sidebar">
          <li class="acc-wizard-todo"><a href="#1-search-youtube">Search YouTube</a></li>
          <li class="acc-wizard-todo"><a href="#2-copy-url">Copy Embed Code</a></li>
          <li class="acc-wizard-todo"><a href="#3-paste-url">Paste on Your Site!</a></li>
        </ol>
        <div class="accordion" id="embed-accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#embed-accordion" href="#1-search-youtube">
                <strong>Step 1.</strong> Find any YouTube video you want to FrameBuzz, and paste the URL.
              </a>
            </div>
            <div id="1-search-youtube" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form id="1-search-youtube-form">
                  <label for="youtube-search">Paste YouTube Video URL Below:</label>
                  <input type="text" value="" id="youtube-search" />
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#embed-accordion" href="#2-copy-url">
                <strong>Step 2.</strong> Copy the generated embed code.
              </a>
            </div>
            <div id="2-copy-url" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form id="2-copy-url-form">
                  <div class="embed-code">
                      <textarea id="url-search-embed">
                      </textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#embed-accordion" href="#3-paste-url">
                <strong>Step 3.</strong> Paste the code to your site.
              </a>
            </div>
            <div id="3-paste-url" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form id="3-paste-url">
                  <div class="alert alert-success">
                    <strong>Success!</strong> You've successfully FrameBuzzed a video!
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}