{% extends "dashboard/base.html" %}
{% load account %}
{% load socialaccount staticfiles %}
{% load url from future %}

{% block page_javascript %}
<script type="text/javascript">
        // Custom Libraries
        var csrf_token = '{{csrf_token }}';
        var url_add_videos = '{% url 'dashboard-add-videos' %}';
        var url_fbuzz_videos = '{% url 'dashboard-framebuzz-videos' %}'
        
        var videos = new FramebuzzVideos();
                
        // Generate embedded Code
        $("#btn-framebuzz").click(function(){
            videos.youtube_parser(url_fbuzz_videos, csrf_token);
        });
    
        // Add Selected Videos
        $("#btn-add-video").click(function(){                                    
            videos.save_selected_videos(url_add_videos, csrf_token);
        });
</script>    
{% endblock%}


{% block sidebar-videos %}
    <li class="active">
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
        <a href="{% url 'dashboard-videos' 'view_type' %}" class="dropdown-toggle">
            <i class="icon-film"></i>
            <span>Video</span>
            <i class="icon-chevron-down"></i>
        </a>
        <ul class="active submenu">
            <li><a href="{% url 'dashboard-videos' 'list' %}">Library</a></li>
            <li><a href="{% url 'dashboard-add-videos' %}" class="active">FrameBuzz a Video</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    
    <!-- Custom Layout for this page -->
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">

    <!-- Custom JS for this page -->
    <script type="text/javascript" src="{% static 'framebuzz/dashboard/js/fbuzz.videos.js' %}"></script>

    <p><h1>FrameBuzz a new Video</h1></p>
    <hr/>
    <p><h3>Add FrameBuzz commenting to any public video.</h3></p>
    <p>
        <div id='div-success-fbuzz-video'>
            <div class="alert alert-success">
                <i class="icon-film"></i>
                    You've successfully FrameBuzzed this video!
                    <br/>You can see it in <strong><a href="{% url 'dashboard-videos' 'list' %}">FrameBuzz Library</a></strong>.
            </div>
        </div>
    </p>
    <p>
        <div id="first-option" class="table-like">
        <div id="option-steps" class="row-like">
            <div class="cell-like">Step 1. Enter video URL</div>
            <div class="cell-like">Step 2. Generate embeded code.</div>
            <div class="cell-like">Step 3. Copy embeded code to your site</div>
        </div>
        <div id="option-inputs" class="row-like">
            <div class="cell-like"><input type="text" placeholder="Video URL..." id="txbUrl"/></div>
            <div class="cell-like"><button id="btn-framebuzz">FrameBuzz It!</button></div>
            <div class="cell-like"><textarea id="txaCode"></textarea><p>(That's It!)</p></div>
        </div>
    </div>
    </p>
    <p><div class="mid-text">Once you've FrameBuzzed a video, view it in your Video Library to add a Description and Metadata.</div></p>
    <p><hr/></p>
    <p>
        <div>Or, link with your YouTube to FrameBuzz your videos.</div>
    </p>
    <p>
        {% if connected and video_count > 0 %}
            {% user_display user as user_display %}
            <div class="alert alert-success">
                <i class="icon-film"></i>
                You're currently connected to YouTube as <strong><u>{% user_display user %}</u></strong>
            </div>
            <!-- SHOW VIDEOS -->
            <p>
                <div id='div-success-yt-video'>
                    <div class="alert alert-success">
                        <i class="icon-film"></i>
                        You've successfully added the selected videos to your <strong><a href="{% url 'dashboard-videos' 'list' %}">FrameBuzz Library</a></strong>.
                    </div>
                </div>
            </p>
            <p>
                <div id='video-list-wrapper' class="row-fluid">
                    {% csrf_token %}
                    {% if video_list %}
                    <hr/>
                    <h3>Your List</h3>
                    <p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1">
                                    <input type="checkbox" id='chk-all'>
                                </th>
                                <th class="span2">
                                    <span class="line"></span>Video
                                </th>
                                 <th class="span3">
                                    <span class="line"></span>Title
                                </th>
                                <th class="span3">
                                    <span class="line"></span>Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for video in video_list %}
                                {% if forloop.first %}
                                    <tr class="first">
                                        <td>
                                            <input type="checkbox" data-videoid="{{video.video_id}}">
                                        </td>
                                        <td>
                                            <div class="img">
                                                <img height="60" width="80" src="{{video.default_thumbnail}}">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" class="name"> {{video.title}} </a>
                                        </td>
                                        <td class="description">
                                            <div>{{ video.description }}</div>
                                        </td>
                                    </tr>
                                {% else %}
                                     <tr>
                                        <td>
                                            <input type="checkbox" data-videoid="{{video.video_id}}">
                                        </td>
                                        <td>
                                            <div class="img">
                                                <img height="60" width="80" src="{{video.default_thumbnail}}">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" class="name"> {{video.title}} </a>
                                        </td>
                                        <td class="description">
                                            <div>{{ video.description }}</div>
                                        </td>
                                    </tr>
                                {% endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        <button id="btn-add-video" class="btn-flat primary">
                            FrameBuzz!
                        </button>
                    </p>
                {% endif %}
                    </p>
                </div>
            </p>
        {% elif connected %}
            <div class="alert alert-info">
                <i class="icon-film"></i>
                You're currently connected to YouTube as <strong><u>{% user_display user %}</u></strong>
                <br>But you have FrameBuzzed all your videos or have no videos in your YouTube library to FrameBuzz.
                <br>Try Again?
                <br>
            </div>
            <div id="second-option" class="table-like">
                <div class="row-like">
                    <div class="cell-like">
                        <a title="Connect with YouTube" id='btn-ytube' class="socialaccount_provider btn google btn-danger" href="{% provider_login_url "google" next="/dashboard/videos/add#video-list-wrapper" %}">Connect With YouTube</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div id="second-option" class="table-like">
                <div class="row-like">
                    <div class="cell-like">
                        <a title="Connect with YouTube" id='btn-ytube' class="socialaccount_provider btn google btn-danger" href="{% provider_login_url "google" next="/dashboard/videos/add#video-list-wrapper" %}">Connect With YouTube</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </p>
{% endblock %}
