{% extends "base.html" %}

{% block sub_navigation_items %}
  {% if has_videos %}
      <li class="spacer"></li>
      {% include "dashboard/snippets/select_report_form.html" %}
  {% endif %}
{% endblock %}

{% block dashboard_right %}
    <div id="analytics">
      <div class="page-header">
        <h1>Analytics</h1>
      </div>
    {% if not has_videos %}
        <div class="alert alert-error clearfix">
            <p><strong>Oops!</strong> You haven't added any videos yet! <a class="btn btn-danger" href="{% url 'dashboard-videos-list' %}">Add Videos</a></p>
        </div>
    {% else %}
        <div class="alert alert-info">
            <p><strong>Tip</strong>: To view available reports, select a video from the drop-down list at the top and select 'Go.'</p>
        </div>
    {% endif %}
</div>
{% endblock %}