{% extends "dashboard/base.html" %}

            {% block sidebar-videos %}
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{% url 'videos' %}">
                    <i class="icon-film"></i>
                    <span>Video</span>
                    <i class="icon-chevron-down"></i>
                </a>    
                <ul class="active submenu">
                    <li><a href="{% url 'videos' %}">Library</a></li>
                    <li><a href="{% url 'videos-fbuzz-one' %}" class="active">Framebuzz a Video</a></li>
                </ul>
            </li>
            {% endblock %}

{% block content %}
    <h1><br/>FrameBuzz a New Video</h1>
{% endblock %}