{% extends "base.html" %}

{% block dashboard_right %}
  <div id="moderate">
      <div class="page-header">
        <h1>Comment Moderation Queue</h1>
      </div>
      {% if moderated_comment %}
        <div class="alert alert-success">
            <strong>Success!</strong> You successfully {{ moderated_comment.flag }} the following comment: {{ moderated_comment.comment }}
        </div>
      {% endif %}
      <p class="form-description"></p>
        <div id="posted">
        <div class="pagination-page">
          {% include "dashboard/ajax/moderation_page.html" %}
        </div>
    </div>
</div>
{% endblock %}