/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  color: white;
  font: 12px/16px normal "proxima-nova", sans-serif;
}

/* line 17, ../sass/screen.scss */
object, embed, video, iframe {
  max-width: 100%;
  outline: 0;
}

/* line 22, ../sass/screen.scss */
.ng-cloak {
  display: none;
}

/* line 24, ../sass/screen.scss */
#player-container {
  height: 448px;
  overflow: hidden;
  width: 640px;
}
/* line 29, ../sass/screen.scss */
#player-container div.layer {
  position: absolute;
  top: 0;
}
/* line 34, ../sass/screen.scss */
#player-container .span12 {
  margin-left: 0;
}
/* line 36, ../sass/screen.scss */
#player-container #player-layer {
  background: #202020;
  z-index: 100;
}
/* line 40, ../sass/screen.scss */
#player-container #player-layer video, #player-container #player-layer .me-plugin {
  height: 385px;
  position: relative;
  top: 0;
  width: 640px;
  z-index: 1;
}
/* line 50, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls {
  background: none;
  bottom: -25px;
  height: 50px;
  z-index: 10;
}
/* line 56, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail {
  height: 21px;
  padding-top: 0;
  position: relative;
  top: 29px;
}
/* line 62, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail span.mejs-time-total {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  height: 11px;
  margin: 5px 8px 0;
}
/* line 67, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail span.mejs-time-total .mejs-time-float {
  display: none !important;
}
/* line 71, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button {
  position: absolute;
  width: 35px;
}
/* line 75, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button button {
  background: none;
  background-position: 0 0;
  margin: 1px 8px;
}
/* line 80, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button button img {
  height: 100%;
  width: 100%;
}
/* line 86, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button div.mejs-volume-slider {
  left: 8px;
  top: -118px;
}
/* line 91, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-volume-button {
  left: 0;
}
/* line 94, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-volume-button button {
  height: 20px;
  width: 25px;
}
/* line 100, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-mute-conversation-button {
  left: 43px;
}
/* line 103, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-mute-conversation-button button {
  margin-top: 0;
  height: 20px;
  width: 23px;
}
/* line 114, ../sass/screen.scss */
#player-container #player-layer table#heatmap {
  background: #323232;
  min-height: 25px;
  padding: 6px 8px 0px;
}
/* line 120, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin-right: 1px;
  width: 20.55px;
}
/* line 127, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-8 {
  background-color: #F2F6F8;
}
/* line 128, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-7 {
  background-color: #D8E4E9;
}
/* line 129, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-6 {
  background-color: #BED1DA;
}
/* line 130, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-5 {
  background-color: #9EBBC8;
}
/* line 131, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-4 {
  background-color: #89ADBD;
}
/* line 132, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-3 {
  background-color: #6F9AAE;
}
/* line 133, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-2 {
  background-color: #58879D;
}
/* line 134, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-1 {
  background-color: #497083;
}
/* line 136, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td:first-child {
  -moz-border-radius-topleft: 1px;
  -webkit-border-top-left-radius: 1px;
  border-top-left-radius: 1px;
  -moz-border-radius-bottomleft: 1px;
  -webkit-border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
/* line 141, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td:last-child {
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-top-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: 0;
}
/* line 150, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form {
  min-height: 38px;
  padding: 4px 8px 0px;
}
/* line 154, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend {
  margin-bottom: 0;
  width: 100%;
}
/* line 158, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
  background: #202020;
  border: 0 none;
  color: #BCBCBC;
  font-family: 'proxima-nova';
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 22px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  text-shadow: none;
  width: 89px;
}
/* line 176, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on em {
  font-size: 14px;
  font-weight: 700;
}
/* line 180, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on em.current {
  display: inline-block;
  width: 39px;
}
/* line 187, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #id_comment {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 77.3%;
}
/* line 195, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #submit-comment {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  background: #686868;
  border: 0;
  line-height: 12px;
  padding: 5px 8px 3px 9px;
}
/* line 206, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #submit-comment img.fb-icon-post-comment {
  display: inline-block;
  height: 21px;
  width: 23px;
}
/* line 216, ../sass/screen.scss */
#player-container #buzz-layer {
  margin-left: 399px;
  width: 237px;
  z-index: 200;
}
/* line 221, ../sass/screen.scss */
#player-container #buzz-layer div.panel {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(10, 10, 10, 0.8);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(10, 10, 10, 0.8);
  box-shadow: inset 0px 0px 30px 0px rgba(10, 10, 10, 0.8);
  background: rgba(41, 41, 41, 0.6);
  height: 270px;
}
/* line 229, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li {
  border-bottom: 1px solid rgba(104, 104, 104, 0.9);
  color: rgba(255, 255, 255, 0.65);
  font-family: 'proxima-nova';
  font-size: 13px;
}
/* line 235, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li div.thread {
  display: inline-block;
  padding: 10px 4px 10px 10px;
  width: 168px;
}
/* line 241, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li div.thread div.header strong {
  display: inline-block;
  font-weight: 700;
  line-height: 16px;
}
/* line 247, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li div.thread div.header strong.username {
  text-align: left;
  width: 135px;
}
/* line 252, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li div.thread div.header strong.time {
  text-align: right;
}
/* line 255, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li div.thread p {
  font-weight: 300;
  line-height: 16px;
}
/* line 261, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li img {
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  display: inline-block;
  height: 44px;
  opacity: .91;
  position: relative;
  top: 7px;
  width: 44px;
}
/* line 271, ../sass/screen.scss */
#player-container #buzz-layer div.panel ul.comment-stream li:last-child {
  border-bottom: 0;
}
