/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  color: white;
  font: 12px/16px normal "proxima-nova", sans-serif;
}

/* line 18, ../sass/screen.scss */
a, a:link, a:visited, a:active, a:hover {
  outline: 0;
}

/* line 20, ../sass/screen.scss */
object, embed, video, iframe {
  max-width: 100%;
  outline: 0;
}

/* line 25, ../sass/screen.scss */
.ng-cloak {
  display: none;
}

/* line 27, ../sass/screen.scss */
#player-container {
  height: 448px;
  overflow: hidden;
  width: 640px;
}
/* line 32, ../sass/screen.scss */
#player-container div.layer {
  position: absolute;
  top: 0;
}
/* line 37, ../sass/screen.scss */
#player-container .span12 {
  margin-left: 0;
}
/* line 39, ../sass/screen.scss */
#player-container #player-layer {
  background: #202020;
  z-index: 100;
}
/* line 43, ../sass/screen.scss */
#player-container #player-layer video, #player-container #player-layer .me-plugin {
  background: black;
  height: 385px;
  position: relative;
  top: 0;
  width: 640px;
  z-index: 1;
}
/* line 54, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls {
  background: none;
}
/* line 57, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail {
  bottom: -25px;
  height: 21px;
  padding-top: 0;
  position: absolute;
  width: 640px;
  z-index: 10;
}
/* line 65, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail span.mejs-time-total {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(30, 30, 30, 0.3)), color-stop(100%, rgba(60, 60, 60, 0.1)));
  background-image: -webkit-linear-gradient(rgba(30, 30, 30, 0.3), rgba(60, 60, 60, 0.1));
  background-image: -moz-linear-gradient(rgba(30, 30, 30, 0.3), rgba(60, 60, 60, 0.1));
  background-image: -o-linear-gradient(rgba(30, 30, 30, 0.3), rgba(60, 60, 60, 0.1));
  background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(60, 60, 60, 0.1));
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  height: 11px;
  margin: 6px 8px 0;
  width: 624px;
}
/* line 72, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-time-rail span.mejs-time-total span.mejs-time-current {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(235, 235, 235, 0.2)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(235, 235, 235, 0.2));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(235, 235, 235, 0.2));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(235, 235, 235, 0.2));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(235, 235, 235, 0.2));
}
/* line 78, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls .mejs-fade-in {
  opacity: 0;
}
/* line 80, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share {
  background: none;
  bottom: 338px;
  height: 38px;
  left: 5px;
  position: absolute;
  width: 85px;
  z-index: 10;
}
/* line 89, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  background: rgba(61, 61, 61, 0.7);
  border: 0;
  display: inline-block;
  height: 38px;
  width: 38px;
}
/* line 98, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button img {
  position: relative;
  top: 2px;
}
/* line 103, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button.mejs-share-framebuzz-button {
  margin-right: 5px;
}
/* line 106, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button.mejs-share-framebuzz-button img {
  height: 27px;
  right: 1px;
  width: 17px;
}
/* line 113, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button.mejs-private-convo-button {
  margin-right: 0;
  padding: 6px;
}
/* line 117, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-share button.mejs-private-convo-button img {
  height: 18px;
  width: 18px;
}
/* line 125, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button {
  bottom: 8px;
  position: absolute;
  width: 35px;
  z-index: 10;
}
/* line 131, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button button {
  background: none;
  background-position: 0 0;
  margin: 1px 8px;
}
/* line 136, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button button img {
  height: 100%;
  width: 100%;
}
/* line 142, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button div.mejs-volume-slider {
  left: 4px;
  top: -118px;
}
/* line 147, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-volume-button {
  left: 5px;
}
/* line 150, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-volume-button button {
  height: 20px;
  width: 25px;
}
/* line 156, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-mute-conversation-button {
  left: 48px;
}
/* line 159, ../sass/screen.scss */
#player-container #player-layer div.mejs-video div.mejs-inner div.mejs-controls div.mejs-button.mejs-mute-conversation-button button {
  margin-top: 0;
  height: 20px;
  width: 23px;
}
/* line 172, ../sass/screen.scss */
#player-container #player-layer div.mejs-video.show-controls div.mejs-inner div.mejs-controls .mejs-fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 182, ../sass/screen.scss */
#player-container #player-layer div.mejs-video.show-controls.fade-out-controls div.mejs-inner div.mejs-controls .mejs-fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out, 1s;
  -moz-transition: opacity 0.25s ease-in-out, 1s;
  -o-transition: opacity 0.25s ease-in-out, 1s;
  transition: opacity 0.25s ease-in-out, 1s;
}
/* line 192, ../sass/screen.scss */
#player-container #player-layer table#heatmap {
  background: #323232;
  min-height: 25px;
  padding: 6px 8px 0px;
  position: relative;
  z-index: 0;
}
/* line 200, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin-right: 1px;
  width: 20.55px;
}
/* line 207, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-8 {
  background-color: #F2F6F8;
}
/* line 208, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-7 {
  background-color: #D8E4E9;
}
/* line 209, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-6 {
  background-color: #BED1DA;
}
/* line 210, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-5 {
  background-color: #9EBBC8;
}
/* line 211, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-4 {
  background-color: #89ADBD;
}
/* line 212, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-3 {
  background-color: #6F9AAE;
}
/* line 213, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-2 {
  background-color: #58879D;
}
/* line 214, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td.rank-1 {
  background-color: #497083;
}
/* line 216, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 221, ../sass/screen.scss */
#player-container #player-layer table#heatmap tr td:last-child {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
}
/* line 230, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form {
  min-height: 38px;
  padding: 4px 8px 0px;
}
/* line 234, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend {
  margin-bottom: 0;
  width: 100%;
}
/* line 238, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
  background: #202020;
  border: 0 none;
  color: #BCBCBC;
  float: left;
  font-family: 'proxima-nova';
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-shadow: none;
  width: 89px;
}
/* line 255, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on em {
  font-size: 14px;
  font-weight: 700;
}
/* line 259, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend span.add-on em.current {
  display: inline-block;
  width: 39px;
}
/* line 266, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #id_comment {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: white;
  float: left;
  font-family: 'proxima-nova';
  width: 77%;
}
/* line 277, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #signup-or-login-prompt {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: white;
  float: left;
  font-family: 'proxima-nova';
  height: 30px;
  width: 79.3%;
}
/* line 288, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #signup-or-login-prompt p {
  color: #989898;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  line-height: 30px;
  text-indent: 10px;
}
/* line 296, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #signup-or-login-prompt p a {
  color: #1887b9;
  text-decoration: underline;
}
/* line 303, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #submit-comment {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px 0px 14px 6px rgba(0, 0, 0, 0.13);
  background: #686868;
  border: 0;
  float: left;
  line-height: 12px;
  padding: 5px 8px 3px 9px;
}
/* line 315, ../sass/screen.scss */
#player-container #player-layer form#post-comment-form div.input-prepend #submit-comment img.fb-icon-post-comment {
  display: inline-block;
  height: 21px;
  width: 23px;
}
/* line 325, ../sass/screen.scss */
#player-container #buzz-layer {
  margin-left: 396px;
  width: 245px;
  z-index: 100;
}
/* line 331, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable {
  -webkit-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 110;
}
/* line 339, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li {
  border-bottom: 1px solid rgba(104, 104, 104, 0.9);
  color: rgba(255, 255, 255, 0.65);
  display: none;
  font-family: 'proxima-nova';
  font-size: 13px;
  min-height: 58px;
}
/* line 347, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread {
  display: inline-block;
  padding: 10px 2px 10px 14px;
  vertical-align: top;
  width: 168px;
}
/* line 354, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread div.header strong {
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
}
/* line 360, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread div.header strong.username {
  text-align: left;
  width: 78%;
}
/* line 365, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread div.header strong.time {
  text-align: right;
  width: 18%;
}
/* line 371, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread p {
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
  width: 135px;
  word-wrap: break-word;
}
/* line 379, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread a.show-thread-siblings {
  background: none;
  border: 0;
  bottom: 6px;
  display: inline-block;
  height: 6px;
  line-height: 6px;
  margin-left: 7px;
  position: relative;
  vertical-align: text-bottom;
  width: 19px;
}
/* line 391, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li div.thread a.show-thread-siblings img {
  height: 6px;
  width: 19px;
}
/* line 398, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li img.img-circle {
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.56), 0px 0px 35px 0px rgba(0, 0, 0, 0.53) inset;
  display: inline-block;
  height: 44px;
  opacity: .91;
  position: relative;
  top: 7px;
  width: 44px;
}
/* line 408, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable ul.comment-stream li:last-child {
  border-bottom: 0;
}
/* line 412, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable div.ps-scrollbar-y {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  right: 0px !important;
  width: 6px;
}
/* line 418, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable .ps-scrollbar-x {
  display: none;
}
/* line 420, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable div.active-header {
  background: #484848;
  border-left: 1px solid rgba(104, 104, 104, 0.15);
  border-bottom: #434343;
  height: 43px;
}
/* line 426, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable div.active-header a.active-close {
  background: #686868;
  display: block;
  float: left;
  height: 100%;
  width: 33px;
}
/* line 433, ../sass/screen.scss */
#player-container #buzz-layer div.panel div.scrollable div.active-header a.active-close img {
  height: 12px;
  margin: 15px 10px;
  width: 12px;
}
/* line 443, ../sass/screen.scss */
#player-container #buzz-layer #blended-view {
  height: 270px;
  left: 4px;
  position: relative;
  width: 237px;
}
/* line 449, ../sass/screen.scss */
#player-container #buzz-layer #blended-view a.panel-close {
  background: #3d3d3d;
  display: block;
  height: 22px;
  left: -10px;
  position: absolute;
  top: 3px;
  width: 22px;
  z-index: 120;
}
/* line 459, ../sass/screen.scss */
#player-container #buzz-layer #blended-view a.panel-close img {
  height: 11px;
  margin: 5px;
  width: 12px;
}
/* line 466, ../sass/screen.scss */
#player-container #buzz-layer #blended-view div.scrollable {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(61, 61, 61, 0.7);
  height: 270px;
  right: 3px;
}
/* line 473, ../sass/screen.scss */
#player-container #buzz-layer #blended-view div.scrollable ul.comment-stream {
  height: 268px;
  padding-top: 2px;
}
/* line 480, ../sass/screen.scss */
#player-container #buzz-layer #active-view {
  height: 385px;
  width: 246px;
}
/* line 484, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable {
  background: rgba(53, 53, 53, 0.95);
  height: 385px;
  width: 100%;
}
/* line 490, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header ul.tabs {
  float: left;
  height: 44px;
  margin-left: 15px;
  width: 155px;
}
/* line 496, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header ul.tabs li {
  float: left;
  padding-right: 10px;
}
/* line 500, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header ul.tabs li a {
  color: white;
  display: block;
  font-family: 'proxima-nova';
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  padding: 16px 0px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 511, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header ul.tabs li a.active {
  font-weight: 700;
}
/* line 518, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container {
  margin-top: 44px;
}
/* line 522, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-siblings {
  height: 53px;
  width: 245px;
}
/* line 526, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-siblings img {
  height: 53px;
  width: 245px;
}
/* line 532, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll {
  height: 287px;
  overflow: hidden;
  position: absolute;
}
/* line 537, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream {
  height: 287px;
}
/* line 540, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li {
  border-bottom: none;
  display: block;
  width: 244px;
}
/* line 545, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.thread {
  padding: 5px 2px 10px 14px;
}
/* line 548, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.thread p {
  width: 175px;
}
/* line 551, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li img.img-circle {
  display: inline-block;
  height: 29px;
  left: 8px;
  top: 5px;
  width: 29px;
}
/* line 559, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions {
  padding: 0px 21px 6px 16px;
}
/* line 562, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a {
  display: inline-block;
  vertical-align: baseline;
}
/* line 566, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a.reply {
  height: 21px;
  margin-right: 6px;
  width: 23px;
}
/* line 572, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a.favorite {
  height: 20px;
  margin: 0 6px;
  width: 24px;
}
/* line 578, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a.flag {
  height: 15px;
  margin-left: 25px;
  width: 15px;
}
/* line 584, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a.dots {
  height: 6px;
  margin-left: 49px;
  width: 19px;
}
/* line 590, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a.follow {
  height: 20px;
  margin-left: 6px;
  width: 14px;
}
/* line 596, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.comment-actions a img {
  height: 100%;
  width: 100%;
}
/* line 603, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li ul.replies {
  background: rgba(98, 98, 98, 0.34);
}
/* line 606, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li ul.replies li {
  border-bottom: 1px solid rgba(104, 104, 104, 0.9);
  margin: 0 10px;
  min-height: 32px;
  padding: 6px 12px;
  width: 199px;
}
/* line 613, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li ul.replies li div.thread {
  padding: 0;
}
/* line 616, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li ul.replies li div.thread p {
  width: 197px;
}
/* line 619, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li ul.replies li:last-child {
  border-bottom: 0;
}
/* line 623, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.post-reply {
  background: rgba(98, 98, 98, 0.34);
  height: 48px;
  width: 244px;
}
/* line 628, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.post-reply form {
  border-top: 1px solid rgba(104, 104, 104, 0.9);
  margin: 0 10px;
  padding: 6px 0;
  width: 224px;
}
/* line 634, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll ul.comment-stream li div.post-reply form #id_reply {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  background: rgba(182, 182, 182, 0.6);
  border: rgba(73, 73, 73, 0.6);
  color: rgba(0, 0, 0, 0.45);
  height: 26px;
  font-size: 12.28px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
  width: 212px;
}
/* line 651, ../sass/screen.scss */
#player-container #buzz-layer #active-view div.scrollable div.active-header div.tab-container div.comments-view div.thread-scroll .ps-scrollbar-x {
  display: none;
}
/* line 659, ../sass/screen.scss */
#player-container #buzz-layer #login-view, #player-container #buzz-layer #signup-view {
  height: 385px;
  width: 245px;
}
/* line 663, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable, #player-container #buzz-layer #signup-view div.scrollable {
  background: rgba(53, 53, 53, 0.95);
  height: 385px;
  width: 100%;
}
/* line 669, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.active-header a.active-close, #player-container #buzz-layer #signup-view div.scrollable div.active-header a.active-close {
  margin-right: 14px;
}
/* line 673, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.active-header a.player-logo, #player-container #buzz-layer #signup-view div.scrollable div.active-header a.player-logo {
  line-height: 48px;
}
/* line 676, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.active-header a.player-logo img, #player-container #buzz-layer #signup-view div.scrollable div.active-header a.player-logo img {
  height: 16px;
  width: 144px;
}
/* line 683, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration, #player-container #buzz-layer #signup-view div.scrollable div.registration {
  padding: 17px;
}
/* line 686, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration h1, #player-container #buzz-layer #signup-view div.scrollable div.registration h1 {
  color: white;
  font-family: 'proxima-nova';
  font-size: 15.62px;
  font-weight: 700;
  line-height: 20px;
}
/* line 694, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration p, #player-container #buzz-layer #signup-view div.scrollable div.registration p {
  color: white;
  font-family: 'proxima-nova';
  font-size: 13.39px;
  font-weight: 300;
  line-height: 18px;
  padding-bottom: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  width: 180px;
}
/* line 704, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration p a, #player-container #buzz-layer #signup-view div.scrollable div.registration p a {
  color: white;
  font-weight: 700;
}
/* line 708, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration p a:hover, #player-container #buzz-layer #signup-view div.scrollable div.registration p a:hover {
  text-decoration: underline;
}
/* line 713, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p, #player-container #buzz-layer #signup-view div.scrollable div.registration form p {
  padding-bottom: 0px;
  width: 100%;
}
/* line 717, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p #id_login, #player-container #buzz-layer #login-view div.scrollable div.registration form p #id_password, #player-container #buzz-layer #login-view div.scrollable div.registration form p #id_password_confirm, #player-container #buzz-layer #login-view div.scrollable div.registration form p #id_email, #player-container #buzz-layer #signup-view div.scrollable div.registration form p #id_login, #player-container #buzz-layer #signup-view div.scrollable div.registration form p #id_password, #player-container #buzz-layer #signup-view div.scrollable div.registration form p #id_password_confirm, #player-container #buzz-layer #signup-view div.scrollable div.registration form p #id_email {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background: rgba(0, 0, 0, 0.24);
  border: 0 none;
  color: rgba(176, 176, 176, 0.56);
  font-family: 'proxima-nova';
  font-size: 14.51px;
  font-weight: 300;
  height: 27px;
  width: 200px;
}
/* line 729, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p a, #player-container #buzz-layer #signup-view div.scrollable div.registration form p a {
  color: rgba(255, 255, 255, 0.44);
  display: block;
  float: right;
  font-weight: 300;
}
/* line 736, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p button.registration-submit, #player-container #buzz-layer #signup-view div.scrollable div.registration form p button.registration-submit {
  background: none;
  border: 0 none;
  height: 36px;
  float: right;
  margin-top: 2px;
  margin-bottom: 9px;
  position: relative;
  width: 116px;
}
/* line 746, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p button.registration-submit span, #player-container #buzz-layer #signup-view div.scrollable div.registration form p button.registration-submit span {
  color: white;
  display: block;
  height: 100%;
  font-family: 'proxima-nova';
  font-size: 13.39px;
  font-weight: 700;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
/* line 760, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p button.registration-submit img, #player-container #buzz-layer #signup-view div.scrollable div.registration form p button.registration-submit img {
  height: 36px;
  width: 116px;
}
/* line 766, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p.tos, #player-container #buzz-layer #signup-view div.scrollable div.registration form p.tos {
  font-size: 0.63em;
  line-height: 12px;
}
/* line 770, ../sass/screen.scss */
#player-container #buzz-layer #login-view div.scrollable div.registration form p.tos a, #player-container #buzz-layer #signup-view div.scrollable div.registration form p.tos a {
  display: inline;
  float: none;
}
