/* line 13, ../sass/splash.scss */
body {
  background-image: url("../../img/splash/bkg.jpg");
  background-color: #070707;
  background-repeat: no-repeat;
  background-position: center top;
  font: 16px/20px 'PT Sans Narrow', sans-serif;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 5, ../sass/splash.scss */
  body {
    background-image: url("../../img/splash/bkg@2x.jpg");
    background-size: 1024px 1024px;
  }
}

/* line 21, ../sass/splash.scss */
#wrapper {
  margin: 0 auto;
  width: 480px;
}
/* line 25, ../sass/splash.scss */
#wrapper header {
  padding-bottom: 35px;
  padding-top: 180px;
}
/* line 29, ../sass/splash.scss */
#wrapper header img {
  display: block;
  margin: 0 auto;
}
/* line 35, ../sass/splash.scss */
#wrapper #video-content-wrapper {
  margin-left: -57.5px;
  width: 640px;
}
/* line 41, ../sass/splash.scss */
#wrapper footer p {
  color: #494949;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 1px 1px black;
}

/* line 53, ../sass/splash.scss */
body.video #wrapper header {
  padding-top: 120px;
}
/* line 55, ../sass/splash.scss */
body.video #wrapper #content {
  display: none;
}
/* line 57, ../sass/splash.scss */
body.video #wrapper footer {
  padding-top: 30px;
}
