/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *      Global
 */
/* line 20, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 24, ../sass/screen.scss */
body {
  background-color: #3c89af;
}

/*
 *      Mixins
 */
/*
 *      Common Elements
 */
/* line 48, ../sass/screen.scss */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* line 53, ../sass/screen.scss */
div.navbar {
  background-color: #272727;
  box-shadow: none;
}
/* line 57, ../sass/screen.scss */
div.navbar div.navbar-inner {
  background: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMzA4KSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDAsIDAsIDAsIDApIiAvPjxyZWN0IHg9Ii0yMC45MDkxJSIgeT0iLTEwMC40MiUiIHdpZHRoPSIxNTYwcHgiIGhlaWdodD0iMjAwLjg0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 780, color-stop(0%, rgba(255, 255, 255, 0.308)), color-stop(98%, rgba(0, 0, 0, 0)));
  background-image: -webkit-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -moz-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -ms-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: -o-radial-gradient(center 0%, 780px 100.42%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  background-image: radial-gradient(780px 100.42% at center 0%, rgba(255, 255, 255, 0.308) 0%, rgba(0, 0, 0, 0) 98%);
  border-left: 0 none;
  box-shadow: none;
  margin: 0 auto;
  overflow: hidden;
  width: 97%;
}
/* line 72, ../sass/screen.scss */
div.navbar div.navbar-inner a.brand {
  border: none;
  padding: 8px 0px 0px 35px;
  text-shadow: none;
}
/* line 78, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav {
  padding: 16px 0;
  margin-right: -5px;
}
/* line 83, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.link a {
  border-left: none;
  font-family: 'futura-pt-condensed';
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
}
/* line 91, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.link a.active, div.navbar div.navbar-inner ul.nav li.link a:hover {
  background: none !important;
}
/* line 94, ../sass/screen.scss */
div.navbar div.navbar-inner ul.nav li.social {
  float: left;
  margin-left: 13px;
  margin-top: -9px;
}

/* line 103, ../sass/screen.scss */
div.marketing-content {
  min-height: 620px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 109, ../sass/screen.scss */
div.marketing-content #fb {
  height: 100%;
  width: 100%;
}
/* line 113, ../sass/screen.scss */
div.marketing-content #fb div.anystretch img {
  left: 0 !important;
}
/* line 118, ../sass/screen.scss */
div.marketing-content #home {
  min-height: 1400px;
  width: 100%;
  position: relative;
}
/* line 123, ../sass/screen.scss */
div.marketing-content #home h1 {
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 40px;
  font-weight: 300;
  padding: 37px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
}
/* line 132, ../sass/screen.scss */
div.marketing-content #home h1 em {
  font-weight: 700;
}
/* line 137, ../sass/screen.scss */
div.marketing-content #home #watch {
  height: 772px;
}
/* line 140, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container {
  padding-bottom: 37px;
}
/* line 143, ../sass/screen.scss */
div.marketing-content #home #watch #watch-container #video-container {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  -webkit-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.35);
  background-color: white;
  height: 440px;
  margin: 0 auto;
  padding: 17px;
  width: 640px;
}
/* line 155, ../sass/screen.scss */
div.marketing-content #home h2.header {
  background: #3c89af;
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 0;
  padding: 38px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* line 167, ../sass/screen.scss */
div.marketing-content #home a.signup {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background: #9e0f84;
  display: block;
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 20px;
  font-weight: 700;
  padding: 8px 0;
  text-align: center;
  width: 130px;
}
/* line 179, ../sass/screen.scss */
div.marketing-content #home a.signup:hover {
  text-decoration: none;
}
/* line 181, ../sass/screen.scss */
div.marketing-content #home a.signup em {
  font-size: 10px;
  vertical-align: middle;
}
/* line 187, ../sass/screen.scss */
div.marketing-content #home span.arrow {
  background: url("../img/arrow.png") no-repeat center bottom;
  content: " ";
  height: 24px;
  position: absolute;
  top: -1px;
  width: 85px;
  z-index: 100;
}
/* line 199, ../sass/screen.scss */
div.marketing-content #home #community #community-container {
  padding-left: 93px;
  position: relative;
  z-index: 1;
  top: -55px;
  padding-top: 55px;
  padding-bottom: 86px;
}
/* line 207, ../sass/screen.scss */
div.marketing-content #home #community #community-container span.arrow {
  top: 55px;
  left: 594px;
}
/* line 212, ../sass/screen.scss */
div.marketing-content #home #community #community-container h3 {
  color: #202020;
  font-family: 'proxima-nova';
  font-size: 34px;
  font-weight: 300;
  padding-top: 73px;
  padding-bottom: 23px;
}
/* line 221, ../sass/screen.scss */
div.marketing-content #home #community #community-container p {
  color: #202020;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 29px;
  width: 320px;
}
/* line 233, ../sass/screen.scss */
div.marketing-content #home #framebuzz {
  background: #000000;
  height: 500px;
  width: 100%;
}
/* line 238, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights {
  background: rgba(0, 0, 0, 0.74);
}
/* line 241, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container {
  position: relative;
}
/* line 244, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container span.arrow {
  left: 553px;
}
/* line 246, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul {
  padding-bottom: 35px;
}
/* line 249, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li {
  float: left;
  padding: 0 19px;
  width: 262px;
  margin-top: -10px;
}
/* line 255, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li h4 {
  color: white;
  font-family: 'futura-pt-condensed';
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}
/* line 264, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li img {
  height: 150px;
  margin: 0 53px;
  width: 150px;
}
/* line 269, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li img.discover {
  margin: 0 55px;
  position: relative;
  top: 5px;
}
/* line 276, ../sass/screen.scss */
div.marketing-content #home #framebuzz #highlights #framebuzz-container ul li p {
  color: #d9d9d9;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
/* line 289, ../sass/screen.scss */
div.marketing-content #home #framebuzz h3 {
  color: white;
  font-family: 'proxima-nova';
  font-size: 28px;
  font-weight: 500;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
}
/* line 300, ../sass/screen.scss */
div.marketing-content #home #signup {
  background: white;
}
/* line 303, ../sass/screen.scss */
div.marketing-content #home #signup span.arrow {
  left: 557px;
}
/* line 305, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container {
  padding-top: 70px;
  padding-bottom: 75px;
  position: relative;
}
/* line 310, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container h3 {
  color: #454848;
  font-family: 'proxima-nova';
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 13px;
  text-align: center;
}
/* line 319, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container h4 {
  color: #454848;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 68px;
  text-align: center;
}
/* line 328, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul {
  margin: 0 auto;
  width: 650px;
}
/* line 332, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li {
  color: #454848;
  float: left;
  width: 260px;
}
/* line 337, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li.first {
  margin-right: 75px;
}
/* line 339, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li h5 {
  font-family: 'proxima-nova';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 19px;
  text-align: right;
}
/* line 347, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  height: 214px;
  line-height: 20px;
  text-align: right;
}
/* line 356, ../sass/screen.scss */
div.marketing-content #home #signup #signup-container ul li a.signup {
  margin-top: 24px;
  float: right;
}
/* line 366, ../sass/screen.scss */
div.marketing-content #press {
  background: white;
  min-height: 800px;
}
/* line 370, ../sass/screen.scss */
div.marketing-content #press div.header {
  background: #2289ba;
}
/* line 373, ../sass/screen.scss */
div.marketing-content #press div.header span {
  color: white;
  display: block;
  padding: 30px 0;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}
/* line 384, ../sass/screen.scss */
div.marketing-content #press div.alert {
  font-family: 'proxima-nova';
  font-weight: 300;
  margin: 0 auto;
  width: 600px;
}
/* line 391, ../sass/screen.scss */
div.marketing-content #press #releases {
  height: 235px;
}
/* line 395, ../sass/screen.scss */
div.marketing-content #press #media {
  padding-bottom: 45px;
}
/* line 398, ../sass/screen.scss */
div.marketing-content #press #media div.header {
  margin-bottom: 0;
}
/* line 403, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper h2 {
  color: #383835;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 24px;
  padding: 36px 0;
}
/* line 411, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table {
  width: 100%;
  padding-bottom: 45px;
}
/* line 416, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td {
  padding-bottom: 45px;
  width: 33%;
}
/* line 421, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a:hover {
  text-decoration: none;
}
/* line 423, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a img {
  float: left;
  margin-right: 20px;
}
/* line 428, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file {
  float: left;
}
/* line 431, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file span.title {
  color: #2289ba;
  display: block;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 440, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a div.file span.type {
  color: #7a7a7a;
  display: block;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 18px;
}
/* line 452, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper table tr td a:hover div.file span.title {
  text-decoration: underline;
}
/* line 459, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper p {
  color: #383835;
  line-height: 25px;
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 18px;
}
/* line 466, ../sass/screen.scss */
div.marketing-content #press #media div.wrapper p a {
  color: #2289ba;
}
/* line 474, ../sass/screen.scss */
div.marketing-content #about {
  font-family: 'proxima-nova';
  font-weight: 300;
}
/* line 478, ../sass/screen.scss */
div.marketing-content #about #manifesto {
  background: #fafafa;
  padding: 52px 0;
}
/* line 482, ../sass/screen.scss */
div.marketing-content #about #manifesto h1 {
  color: #393a36;
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
}
/* line 489, ../sass/screen.scss */
div.marketing-content #about #manifesto p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  width: 825px;
}
/* line 500, ../sass/screen.scss */
div.marketing-content #about #who {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTM0LCAxOTEsIDIxOCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyMjhhYmIiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzIyOGFiYiIgLz48cmVjdCB4PSItMC4wNjcxJSIgeT0iLTkxNi4yMDY5JSIgd2lkdGg9IjEwMC4xMzQyJSIgaGVpZ2h0PSIxOTMyLjQxMzclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 551, color-stop(0%, #86bfda), color-stop(100%, #3c89af));
  background-image: -webkit-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
  background-image: -moz-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
  background-image: -ms-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
  background-image: -o-radial-gradient(center center, closest-corner circle, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
  background-image: radial-gradient(closest-corner circle at center center, rgba(255, 255, 255, 0.5) -120%, #3c89af 100%);
  padding: 52px 0;
}
/* line 510, ../sass/screen.scss */
div.marketing-content #about #who h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 517, ../sass/screen.scss */
div.marketing-content #about #who h2 {
  color: white;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 72px;
  text-align: center;
}
/* line 527, ../sass/screen.scss */
div.marketing-content #about #who ul li {
  display: block;
  float: left;
  padding: 36px 0;
  width: 338px;
  margin-right: 93px;
}
/* line 534, ../sass/screen.scss */
div.marketing-content #about #who ul li:last-child {
  margin-right: 0;
}
/* line 536, ../sass/screen.scss */
div.marketing-content #about #who ul li h3 {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 23px;
  text-align: center;
}
/* line 544, ../sass/screen.scss */
div.marketing-content #about #who ul li p {
  color: #3f3f3f;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
/* line 557, ../sass/screen.scss */
div.marketing-content #about #team {
  background: #fafafa;
  padding: 52px 0;
}
/* line 561, ../sass/screen.scss */
div.marketing-content #about #team h1 {
  color: #393a36;
  font-size: 24px;
  margin-bottom: 32px;
}
/* line 568, ../sass/screen.scss */
div.marketing-content #about #team ul li {
  display: block;
  float: left;
  padding: 36px 0;
  width: 338px;
  margin-right: 62px;
  min-height: 305px;
}
/* line 576, ../sass/screen.scss */
div.marketing-content #about #team ul li.last {
  margin-right: 0;
}
/* line 578, ../sass/screen.scss */
div.marketing-content #about #team ul li img {
  margin-bottom: 48px;
}
/* line 582, ../sass/screen.scss */
div.marketing-content #about #team ul li h2 {
  color: #229ac4;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}
/* line 590, ../sass/screen.scss */
div.marketing-content #about #team ul li h3 {
  margin-bottom: 32px;
  text-align: center;
}
/* line 595, ../sass/screen.scss */
div.marketing-content #about #team ul li p {
  color: #3f3f3f;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

/* line 609, ../sass/screen.scss */
div.footer {
  background-color: black;
  padding: 33px 0;
}
/* line 613, ../sass/screen.scss */
div.footer span {
  color: white;
  display: block;
  font-family: 'futura-pt-condensed';
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}
