  .sharrre{
    margin:11px 0;
    float:left;
  }
  .sharrre .box a:hover{
    text-decoration:none;
  }
  .sharrre .count {
    border: 1px solid #B2C6CC;
    border-radius: 4px 4px 4px 4px;
    color: #525B67;
    display: block;
    font-size: 16px;
    font-weight: 300;
    font-family: 'futura-pt-condensed';
    height: 18px;
    line-height: 18px;
    position: relative;
    text-align: center;
    width: 40px;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  }
  .sharrre .count:before, .sharrre .count:after {
    content:'';
    display:block;
    position:absolute;
    left:0%;
    top: 4px;
    width:0;
    height:0;
  }
  .sharrre .count:before {
    border:solid 5px transparent;
    border-right-color:#b2c6cc;
    margin-left:-10px;
    bottom: -10px;
  }
  .sharrre .count:after {
    border:solid 4px transparent;
    margin-left:-8px;
    bottom:-8px;
    border-right-color:#fbfbfb;
  }
  .sharrre .share {
    display:block;
    height:18px;
    line-height:18px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:16px;
    margin-right: 8px;
    margin-left: 16px;
  }