<p>FrameBuzzing a video is easy. Enter a YouTube URL below to add that video to your library. Then, add comments and share.</p>
<form action="{% url 'profiles-add-video' request.user %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit clearfix">
        <a href="#" class="close pomegranate-flat-button flat-button" data-dismiss="modal"><i class="icon-remove"></i> Cancel</a>
        <button type="submit" class="add-video nephritis-flat-button flat-button"><i class="icon-ok"></i> Post Video</button>
    </div>
</form>