<form id="add-video-form" action="{% url 'profiles-add-video' profile_user.username %}" method="POST" class="col-xs-12">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-9 input">
            <input type="text" name="video_id" id="id_video_id" placeholder="Paste a YouTube URL to post a video...">
        </div>
        <div class="col-xs-3 submit">
            <button type="submit" class="add-video"><i class="fa fa-video-camera"></i> Post Video to Profile</button>
        </div>
    </div>
</form>