{% load avatar_tags %}

<div class="pagination-page">
  <h1>
    Favorites 
    <a href="{% url 'profiles-home' profile_user.username %}">
      Return to {{ profile_user.username }}'s Profile
    </a>
  </h1>
  <ul class="profile-conversations clearfix">
    {% for comment in page_obj.object_list %}
      <li>
          <img class="video-thumbnail" height="182" width="287" src="{{ comment.content_object.large_thumbnail }}" />
          {% if comment.comment %}
              <div class="comment">
                   <img src="{% avatar_url profile_user 64 %}" alt="" height="32" width="32" class="img-circle" />
                   <p>{{ comment.comment }}</p>
              </div>
          {% endif %}
          <div class="video-details">
              <h3><a href="">{{ comment.content_object.title }}</a></h3>
          </div>
      </li>
      {% empty %}
          <li>
            <div class="alert alert-info">
              <strong>{{ profile_user.username }}</strong> hasn't featured any videos yet!
            </div>
          </li>
      {% endfor %}
  </ul>
  {% include "dashboard/snippets/pagination.html" %}
</div>