{% load i18n avatar_tags profile_tags %}


<div class="responsive-timeline" data-current-filter="*" data-next-url="{% url 'profiles-feed' profile_user.username %}" data-total-pages="{{ page_obj.pages|length }}">
    <div class="container">
        <div class="timeline_container">
            <div class="timeline">
                <div class="plus"></div>
            </div>
        </div>
        {% if page_obj.object_list|length > 0 %}
            {% include "profiles/snippets/item.html" %}
        {% endif %}
    </div>
    <div class="row load-wrap">
        <div class="col-md-12 loadMore">
           <p>Load more posts...</p>
        </div>
    </div>
</div>