  {% load i18n avatar_tags %}

  {% if followers %}
  <div class="page-header">
      <h1>{% blocktrans %}Users Following {{ user }}{% endblocktrans %}</h1>
  </div>
  <p class="form-description"></p>
  <ul id="feed">
    {% for follower in followers %}
      <li class="clearfix">
        <img src="{% avatar_url follower 50 %}" alt="" height="50" width="50" class="img-circle" />
        <div class="feed-header clearfix">
          <div class="details clearfix">
            <h1>
              <a href="{% url 'user-profile' follower.username %}">{{ follower }}</a>
            </h1>
            {% if follower.get_profile and follower.get_profile.website %}
              <span class="website">
                Website: <a class="reply" href="{{ follower.get_profile.website.url }}" target="blank">{{ follower.get_profile.website.name }}</a>
              </span>
            {% endif %}
          </div>
          {% if follower.get_profile %}
            {% if follower.get_profile.bio %}
              <p><strong>Bio</strong>: {{ follower.get_profile.bio }}</p>
            {% endif %}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
    <div class="alert alert-info">
      <strong>{{ user }}</strong> has no followers yet!
    </div>
{% endif %}