{% load i18n avatar_tags %}

<h1>
  Followers 
  <a href="{% url 'profiles-home' profile_user.username %}">
    Return to {{ profile_user.username }}'s Profile
  </a>
</h1>

{% if followers %}
  <ul id="feed" class="clearfix">
    {% for follower in followers %}
      <li class="clearfix">
        <img src="{% avatar_url follower 64 %}" alt="" height="32" width="32" class="img-circle" />
        <div class="feed-header">
          <h2><a href="{% url 'profiles-home' follower.username %}">{{ follower }}</a></h2>
          <h3>Austin, TX</h3>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert alert-info">
    <strong>
      {% if profile_user.get_profile %}
        {{ profile_user.get_profile.normalized_first_name }}
      {% else %}
        {{ profile_user.username }}
      {% endif %}
      </strong> has no followers yet!
  </div>
{% endif %}