{% load i18n avatar_tags activity_tags profile_tags %}

{% if page_obj.object_list %}
  {% for action in page_obj.object_list %}
      <li class="brick {% spaceless %}
                        {% if action.verb == 'started following' %}
                          {% if profile_user.id == action.actor.id %}
                            following
                          {% else %}
                            followers
                        {% endif %}
                      {% else %}
                        {% if action.verb == 'commented on' or action.verb == 'replied to comment' %}
                          conversations
                        {% else %}
                          {{ action.class_name }}
                        {% endif %}
                      {% endif %}
                    {% endspaceless %}">
          <div class="action-wrapper">
            <h1>{% display_action action %}</h1>
            <div class="entity">
              {% if action.verb == 'started following' %}
                {% include "profiles/snippets/following.html" %}
              {% else %}
                {% with action.action_object as comment %}
                  {% include "profiles/snippets/video.html" %}
                {% endwith %}
              {% endif %}
            </div>
        </div>
      </li>
    {% endfor %}
{% endif %}