{% load i18n avatar_tags activity_tags profile_tags %}

{% if page_obj.object_list %}
  {% for action in page_obj.object_list %}
      <li class="brick {% spaceless %}
                        {% if action.verb %}
                          {% if is_my_profile and action.actor.id == profile_user.id %} mine {% endif %}
                          {% if action.verb == 'commented on' or action.verb == 'replied to comment' %}
                            conversations
                          {% else %}
                            {{ action.class_name }}
                          {% endif %}
                        {% else %}
                          {% if is_my_profile and action.id == profile_user.id %} mine {% endif %}
                          {{ verb_filter }}
                      {% endif %}
                    {% endspaceless %}">
          <div class="action-wrapper">
            {% if action.verb %}
              <h1>{% display_action action %}</h1>
            {% else %}
              <h1>
                {{ action.user }}
                {% comment %}
                {% ifequal profile_user action.user %}
                    <a href="{% url 'profiles-home' profile_user.username %}">{{ profile_user|display_name }}</a> started following <a href="{% url 'profiles-home' action.user.username %}">{{ action.user|display_name }}</a>:
                {% else %}
                    <a href="{% url 'profiles-home' action.user.username %}">{{ action.user|display_name }}</a> started following <a href="{% url 'profiles-home' profile_user.username %}">{{ profile_user|display_name }}</a>:
                {% endifequal %}
                {% endcomment %}
              </h1>
            {% endif %}
            <div class="entity">
              {% if action.verb %}
                {% if action.verb == 'joined framebuzz' %}
                  {% include "profiles/snippets/joined.html" %}
                {% else %}
                  {% if action.verb == 'added video to library' %}
                    {% with action.action_object as video %}
                      {% include "profiles/snippets/video.html" %}
                    {% endwith %}
                  {% else %}
                    {% with action.target as video %}
                        {% include "profiles/snippets/video.html" %}
                    {% endwith %}
                  {% endif %}
                {% endif %}
              {% else %}
                {% include "profiles/snippets/following.html" %}
              {% endif %}
            </div>
        </div>
      </li>
    {% endfor %}
{% endif %}