{% load i18n avatar_tags activity_tags profile_tags %}

{% if page_obj.object_list %}
  {% for action in page_obj.object_list %}
      <div class="item init {% spaceless %}
                        {% if action.verb %}
                          {% if is_my_profile and action.actor.id == profile_user.id %} mine {% endif %}
                          {% if action.verb == 'commented on' or action.verb == 'replied to comment' %}
                            conversations
                          {% else %}
                            {{ action.class_name }}
                          {% endif %}
                        {% else %}
                          {% if is_my_profile %} mine {% endif %}
                          {{ verb_filter }}
                      {% endif %}
                    {% endspaceless %}">
        {% if action.verb %}
            {% if action.verb == 'joined framebuzz' %}
                {# include "profiles/snippets/joined.html" #}
            {% else %}
              {% if action.verb == 'added video to library' %}
                    {% with action.action_object as video %}
                        {% include "profiles/snippets/video.html" %}
                    {% endwith %}
              {% else %}
                    {% with action.target as video %}
                        {% include "profiles/snippets/video.html" %}
                    {% endwith %}
              {% endif %}
            {% endif %}
        {% else %}
            {% include "profiles/snippets/following.html" %}
        {% endif %}
      </div>
    {% endfor %}
{% endif %}