{% load staticfiles i18n avatar_tags activity_tags profile_tags %}

<div class="content">
  <div class="row">
    <div class="col-xs-8 user">
        <strong><a href="{% url 'profiles-home' user.username %}">{{ user|display_name }}</a></strong>
        <br>
        <strong>joined FrameBuzz!</strong>
        {% if user.get_profile.bio or user.get_profile.tagline %}
            <br><br>
            <em>
                {% if user.get_profile.tagline %}
                    &ldquo;{{ user.get_profile.tagline|truncatechars:"65"|urlize }}&rdquo;
                {% else %}
                    &ldquo;{{ user.get_profile.bio|truncatechars:"65"|urlize }}&rdquo;
                {% endif %}
            </em>
        {% endif %} 
    </div>
    <div class="col-xs-4 avatar">
        <a class="following" href="{% url 'profiles-home' user.username %}">
          <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{% avatar_url user 110 %}" alt="" class="img-responsive lazy" />
          <span class="img-corner"></span>
        </a>
    </div>
  </div>
</div>
<footer>
    <span class="corner"></span>
</footer>