<tr data-job-id="{{ video.job_id }}"{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}>
    <td class="icon" valign="middle">
        <a class="video-link" href="{% url 'profiles-share' request.user.username video.slug %}">
            <i class="fa fa-film fa-3x"></i>
        </a>
    </td>
    <td>
        <a class="video-link" href="{% url 'profiles-share' request.user.username video.slug %}"><strong>{{ video.title|title }}</strong></a>
        <br>
        <span class="uploaded"><i>Uploaded on {{ video.uploaded }}</i></span>
    </td>
    <td class="percentage">
        <div class="progress-bar" data-percentage="0"><div></div></div>
    </td>
</tr>