{% load staticfiles avatar_tags profile_tags %}


{% for video in top_videos %}
    <div class="col-md-6 pull-left">
        <a class="thumbnail-link" href="{% spaceless %}{% if request.user.is_authenticated %}
                {% if video.found_by %}
                    {% url 'profiles-share' video.found_by.username video.video_id %}
                {% else %}
                    {% url 'profiles-share' request.user.username video.video_id %}
                {% endif %}
            {% else %}
                {% if video.found_by %}
                    {% url 'profiles-share' video.found_by.username video.video_id %}
                {% else %}
                {{ video.get_share_url }}
                {% endif %}
            {% endif %}{% endspaceless %}">
            <img class="img-responsive video-thumbnail lazy" src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{{ video.large_thumbnail }}" alt="{{ video.title|title }}" />
        </a>
    </div>
{% endfor %}