{% load staticfiles avatar_tags profile_tags %}


<div class="col-xs-12">
{% for row in rows %}    
    {% for video in row.videos %}
        <div class="row row-videos">        
            <div class="col-xs-12 video-column">
                <a class="thumbnail-link play-video" href="{% spaceless %}{% if request.user.is_authenticated %}
                        {% if video.found_by %}
                            {% url 'profiles-share' video.found_by.username video.video_id %}
                        {% else %}
                            {% url 'profiles-share' request.user.username video.video_id %}
                        {% endif %}
                    {% else %}
                        {% if video.found_by %}
                            {% url 'profiles-share' video.found_by.username video.video_id %}
                        {% else %}
                            {{ video.get_share_url }}
                        {% endif %}
                    {% endif %}{% endspaceless %}">
                    <img class="img-responsive video-thumbnail lazy-load" src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="https://i1.ytimg.com/vi/{{ video.video_id }}/mqdefault.jpg" alt="{{ video.title|title }}" />
                    <noscript><img src="https://i1.ytimg.com/vi/{{ video.video_id }}/mqdefault.jpg"></noscript>
                    <span class="play absolute-center"><i class="fa fa-icon fa-play fa-2x absolute-center"></i></span>
                    <span class="title"><strong>{{ video.title|title }}</strong></span>
                </a>     
            </div>
        </div>
    {% endfor %}
    {% if row.users|length > 0 %}
        <div class="row row-users clearfix">
            <span class="title"><strong>Popular Personalities</strong></span>
            {% for user in row.users %}
                <div class="col-xs-3 user-column">
                    <a class="avatar" href="{% url 'profiles-home' user.username %}" data-name="{{ user|display_name }}">
                        <img class="img-responsive lazy-load" src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="{% avatar_url user.username 80 %}"  />
                        <noscript><img src="{% avatar_url user.username 80 %}"></noscript>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
</div>