{% load i18n avatar_tags activity_tags profile_tags comments %}
      
<li class="clearfix">
  <div class="user-wrapper clearfix">
    <a href="{% url 'profiles-home' profile_user.username %}"> 
      <img src="{% avatar_url follower_comments.user 110 %}" alt="" height="55" width="55" class="img-circle" />
    </a>
    <div class="feed-header clearfix">
      <h2><a href="{% url 'profiles-home' follower_comments.user %}">{{ follower_comments.user|display_name }}</a></h2>
      <h3>Member Since: {{ follower_comments.user.date_joined|date:"N Y" }}</h3>
      <p class="bio">{% if follower_comments.user.get_profile.tagline %}&ldquo;{{ follower_comments.user.get_profile.tagline }}&rdquo;{% else %}&ldquo;{{ follower_comments.user.get_profile.bio|truncatechars:"180" }}&rdquo;{% endif %}</p>
      {% if request.user.is_authenticated %}
        <a class="toggle-follow unfollow-button" href="{% url 'actstream_unfollow' content_type_id=user_content_type.pk object_id=follower_comments.user.pk %}" {% if not request.user|is_following:follower_comments.user %} style="display:none"{% endif %}>
          <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-user icon-light"></i>
            <i class="icon-minus icon-light"></i>
          </span>
        </a>
        <a class="toggle-follow follow-button" href="{% url 'actstream_follow' content_type_id=user_content_type.pk object_id=follower_comments.user.pk %}" {% if request.user|is_following:follower_comments.user %} style="display:none"{% endif %}>
          <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-user icon-light"></i>
            <i class="icon-plus icon-light"></i>
          </span>
        </a>
    {% endif %}
    </div>
    {% if follower_comments.comments %}
    <div class="comments">
      <ul>
        {% for comment in follower_comments.comments %}
        <li class="clearfix">
          <a data-target="#video-embed-modal" role="button" class="modal-button" data-toggle="modal" data-url="{{ comment.get_absolute_url }}">
            {% get_comment_count for comment.content_object as comment_count %}
            <p class="counter">
              {{ comment_count }}
              <span class="corner"></span>
            </p>
            <img class="video-thumbnail" height="90" width="120" src="{{ comment.content_object.default_thumbnail }}" />
          </a>
          <p class="bubble">
            &ldquo;{{ comment.formatted_comment }}&rdquo;
            <span class="corner"></span>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</li>


