{% load i18n staticfiles avatar_tags activity_tags profile_tags comments %}

<a class="following" href="{% url 'profiles-home' user.username %}">
  <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{% avatar_url user 110 %}" alt="" height="30" width="30" class="img-circle lazy" />
</a>
<span class="quote{% if not user.get_profile.bio or not user.get_profile.tagline %} username{% endif %}">
  <a href="{% url 'profiles-home' user.username %}">{{ user|display_name }}</a>
  {% if user.get_profile.bio or user.get_profile.tagline %}
      <br>
      <em>
          {% if user.get_profile.tagline %}
              &ldquo;{{ user.get_profile.tagline|truncatechars:"90"|urlize }}&rdquo;
          {% else %}
              &ldquo;{{ user.get_profile.bio|truncatechars:"90"|urlize }}&rdquo;
          {% endif %}
      </em>
  {% endif %} 
</span>