<div class="pagination-page">
  <ul class="video-list-ajax clearfix">
    {% for video in page_obj.object_list %}
        {% include "dashboard/snippets/video_list_item.html" %}
    {% empty %}
      <li class="center">
        <div class="alert alert-error">
          <h4 class="alert-heading">No Videos Found!</h4>
          {% if request.user.is_authenticated and profile_user.id == request.user.id %}
          <p>
            {% if is_adding_video %}
              We were unable to find any uploaded videos in your YouTube account! Please <a href="http://www.youtube.com/upload" target="_blank" title="Upload Video on YouTube" rel="nofollow">upload your video(s) on YouTube</a>. Once your uploads have completed, please come back and refresh this page. Don't worry, we'll be here waiting!
            {% else %}
              {% if not step_3 %}
                No videos found! Would you like to <a href="{% url 'dashboard-videos-list-add' %}" title="Add a FrameBuzz Video">add a FrameBuzz video</a> now?
              {% else %}
                <strong>Oops!</p> Looks like you didn't select any videos yet!</strong>
              {% endif %}
            {% endif %}
          </p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  {% if not is_adding_video %}
    {% include "dashboard/snippets/pagination.html" %}
  {% endif %}
</div>