{% load i18n staticfiles avatar_tags activity_tags profile_tags %}


<div class="content">
    <div class="row header">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 avatar">
        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{% avatar_url action.actor 110 %}" alt="" height="82" width="82" class="header-avatar img-circle lazy" />
      </div>
      <div class="col-xs-8 header-content">
        {% if action.verb != 'added video to library' %}
          <p>{% display_action action %}</p>
          <p><i class="fa fa-quote-left"></i><span>{{ action.action_object.comment }}</span><i class="fa fa-quote-right fa-flip-vertical"></i></p>
        {% else %}
            <p><strong><a href="{% url 'profiles-home' action.actor.username %}">{{ action.actor|display_name }}</a></strong> posted <strong>{{ action.action_object.title|title }}</strong></p>
        {% endif %}
      </div>
      <div class="col-xs-1 action-type pull-right">
        {% if action.verb == 'commented on' or action.verb == 'replied to comment' %}
          <i class="fa fa-comment"></i>
        {% elif action.verb == 'added video to library' %}
          <i class="fa fa-video-camera"></i>
        {% else %}
          <i class="fa fa-heart"></i>
        {% endif %}
      </div>
    </div>
    <div class="row posted">
      <div class="col-sm-9 col-xs-10 col-md-offset-2 col-sm-offset-3">
        <i class="fa fa-clock-o"></i> {{ action.timestamp|timesince }} {% trans "ago" %}
      </div>
    </div>
</div>
<footer>
    <span class="corner"></span>
    <a class="thumbnail-link play-video" href="{% url 'profiles-share' profile_user.username video.video_id %}">
        <img class="cover lazy" src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{{ video.poster_image }}" />
    </a>
    <div class="actions">
      <div class="row">
          {% if request.user.is_authenticated %}
              <div class="col-xs-4">
                  <a class="img-circle video-toggle-button tooltip library{% if video.id in video_library_ids %} active{% endif %}" href="{% url 'profiles-toggle-library' request.user.username video.video_id %}" title="{% if video.id in video_library_ids %}Added to Posts{% else %}Post this Video{% endif %}" data-placement="left">
                      {% if video.id in video_library_ids %}
                        <i class="fa fa-minus fa-fw"></i>
                      {% else %}
                        <i class="fa fa-plus fa-fw"></i>
                      {% endif %}
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="img-circle video-toggle-button play play-video" href="{% url 'profiles-share' profile_user.username video.video_id %}">
                      <i class="fa fa-play fa-fw"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    {% if action.verb != 'added video to library' and action.action_object %}
                      <a class="img-circle video-toggle-button tooltip favorite{% if action.action_object.id in favorite_comment_ids or action.action_object.parent.id in favorite_comment_ids %} active{% endif %}" href="{% url 'profiles-toggle-favorite' request.user.username action.action_object_object_id %}" title="{% if action.action_object.id in favorite_comment_ids or action.action_object.parent.id in favorite_comment_ids %}Added to Favorites{% else %}Favorite this Comment{% endif %}" data-placement="left">
                        {% if action.action_object.id in favorite_comment_ids or action.action_object.parent.id in favorite_comment_ids %}
                          <i class="fa fa-heart fa-fw"></i>
                        {% else %}
                          <i class="fa fa-heart-empty fa-fw"></i>
                        {% endif %}
                      </a>
                    {% else %}
                      <a class="img-circle video-toggle-button tooltip featured{% if video.id in featured_video_ids %} active{% endif %}" href="{% url 'profiles-toggle-featured' request.user.username video.video_id %}" title="{% if video.id in featured_video_ids %}Featured Video{% else %}Feature this Video{% endif %}" data-placement="left">
                        {% if video.id in featured_video_ids %}
                          <i class="fa fa-star fa-fw"></i>
                        {% else %}
                          <i class="fa fa-star-empty fa-fw"></i>
                        {% endif %}
                        </a>
                     {% endif %}   
                </div>   
            {% endif %}
        </div>
    </div>  
    {% if video.uservideo_set.all|length > 0 %}
      <div class="users">
        <div class="row clearfix">
          {% for uv in video.uservideo_set.all|slice:":12" %}
            <a class="user pull-right" data-placement="bottom" title="{{ uv.user|display_name }}" href="{% url 'profiles-home' uv.user.username %}">
              <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{% avatar_url uv.user 64 %}" alt="" class="img-responsive lazy" />
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
</footer>