{% load i18n staticfiles avatar_tags activity_tags profile_tags comments %}


<div class="content">
    <div class="row header">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 avatar">
        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="{% avatar_url action.actor 110 %}" alt="" height="82" width="82" class="header-avatar img-circle lazy-load">
        <noscript><img src="{% avatar_url action.actor 110 %}"></noscript>
      </div>
      <div class="col-xs-9 header-content">
        {% if action.verb != 'added video to library' %}
          <p>{% display_action action %}</p>
          <p><i class="fa fa-quote-left"></i><span>{{ action.action_object.comment }}</span><i class="fa fa-quote-right fa-flip-vertical"></i></p>
        {% else %}
            <p><strong><a href="{% url 'profiles-home' action.actor.username %}">{{ action.actor|display_name }}</a></strong> posted <strong>{{ action.action_object.title|title }}</strong></p>
        {% endif %}
      </div>
      <div class="col-xs-1 action-type pull-right">
          {% if action.verb == 'added video to library' %}
              <a class="feed-item-type{% if request.user.is_authenticated %} toggle{% endif %}" href="{% if request.user.is_authenticated %}{% url 'profiles-toggle-library' request.user.username video.video_id %}{% else %}{% url 'account_signup' %}{% endif %}">
                <span class="fa-stack video{% if video.id in video_library_ids %} active{% endif %}">
                    <i class="fa fa-video-camera fa-stack-2x"></i>
                    <i class="fa {% if video.id in video_library_ids %}fa-minus{% else %}fa-plus{% endif %} fa-inverse fa-stack-1x"></i>
                </span>
              </a>
          {% else %}
              <a class="feed-item-type{% if request.user.is_authenticated %} toggle{% endif %}" href="{% if request.user.is_authenticated %}{% url 'profiles-toggle-favorite' request.user.username action.action_object_object_id %}{% else %}{% url 'account_signup' %}{% endif %}">
                <span class="fa-stack favorite{% if action.action_object.id in favorite_comment_ids or action.action_object.parent.id in favorite_comment_ids %} active{% endif %}">
                    <i class="fa fa-heart fa-stack-2x"></i>
                    <i class="fa {% if action.action_object.id in favorite_comment_ids or action.action_object.parent.id in favorite_comment_ids %}fa-minus{% else %}fa-plus{% endif %} fa-inverse fa-stack-1x"></i>
                </span>
              </a>
        {% endif %}
      </div>
    </div>
    <div class="row posted clearfix">
      <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
        <i class="fa fa-clock-o"></i><span class="action-timestamp"> {{ action.timestamp|timesince }} {% trans "ago" %}</span>
      </div>
    </div>
</div>
<footer>
    <span class="corner"></span>
    <a class="thumbnail-link play-video" href="{% url 'profiles-share' profile_user.username video.video_id %}">
        <img class="cover lazy-load" src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="https://i1.ytimg.com/vi/{{ video.video_id }}/mqdefault.jpg">
        <noscript><img src="https://i1.ytimg.com/vi/{{ video.video_id }}/mqdefault.jpg"></noscript>
        <span class="play absolute-center"><i class="fa fa-icon fa-play fa-2x absolute-center"></i></span>
    </a>
    {% if video.uservideo_set.all|length > 0 and action.verb == 'added video to library' %}
      <div class="users">
        <div class="row clearfix">
          {% for uv in video.uservideo_set.all|slice:":12" %}
            <a class="user pull-right" data-placement="bottom" title="{{ uv.user|display_name }}" href="{% url 'profiles-home' uv.user.username %}">
              {% if forloop.last and video.uservideo_set.all|length > 12 %}
                <span class="counter">+{{ video.uservideo_set.all|length|add:-12 }}</span>
              {% endif %}
              <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="{% avatar_url uv.user 64 %}" alt="" class="img-responsive lazy-load">
              <noscript><img src="{% avatar_url uv.user 64 %}"></noscript>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
</footer>