{% extends "marketing/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "FrameBuzz - Error!" %}{% endblock %}

{% block page_classes %}background-bottom accounts{% endblock %}

{% block marketing_content %}
<div id="signup-page">
  <div class="wrapper">
    <h1>Oops...</h1>
    <div class="alert alert-error">
      We couldn't find the page you were looking for!
      <br>
      <a href="{% url 'home' %}">Back to Homepage</a>
    </div>
  </div>
</div>
{% endblock %}

{% block page_javascript %}
    <script src="{% static 'framebuzz/marketing/js/jquery.anystretch.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('div.marketing-content').anystretch("{% static 'framebuzz/profiles/img/background.jpg' %}", {speed: 150, positionY: 0});
        });
    </script>
{% endblock %}