{% extends "marketing/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "FrameBuzz - Error!" %}{% endblock %}

{% block content_center %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="logo" class="row">
            <div class="col-xs-12">
                <a href="{% url 'home' %}">
                    <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h1>Oops...</h1>
              <div class="alert alert-error">
                An error has occured while retreiving your request. This error has automatically been forwarded to our developers.
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
{% endblock %}