{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    {% block optimizely %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    {% block marketing_title %}<title>FrameBuzz</title>{% endblock %}
    {% block marketing_meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta itemprop="description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
        <meta itemprop="image" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}" />
        <meta property="og:image:url" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}">
        <meta property="og:url" content="http://framebuzz.com">
        <meta property="og:description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
        <meta property="og:title" content="FrameBuzz: Watch Whenever, Talk Together.">
        <meta property="og:site_name" content="FrameBuzz">
    {% endblock %}
    {% compress js %}
        <script type="text/javascript">
            (function() {
                var config = {
                  kitId: 'rdh5ygj',
                  scriptTimeout: 3000
                };
                var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
            })();
        </script>
        <script src="{% static 'framebuzz/marketing/vendor/compat/modernizr.min.js' %}"></script>
    {% endcompress %}
    {% block head_javascript %}{% endblock %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/bootstrap/css/bootstrap.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/jquery/vegas/jquery.vegas.min.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/fontawesome/font-awesome.min.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/jquery/perfect-scrollbar-0.4.6.min.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/css/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block page_css %}{% endblock %}
    {% if not request.user.is_authenticated %}
      {% providers_media_js %}
    {% endif %}
  </head>
  <body class="{% if request.user.is_authenticated %}logged-in {% endif %}{% block page_classes %}{% endblock %}"{% block body_attributes %}{% endblock %}>
    <!--[if lte IE 8]>
      <div class="chromeframe">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
    <div id="base" class="container">
        <div id="logo" class="row">
          {% block header_row %}
            <div class="col-xs-3 row-logo">
              <a href="{% url 'home' %}">
                <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="25" width="116">
              </a>
            </div>
            <div class="col-xs-6 row-search">
                <form id="search-form" data-users-url="{% url 'search-users' %}" data-conversations-url="{% url 'search-conversations' %}" data-videos-url="{% url 'search-videos' %}" method="GET" action="{% url 'fbz-search' %}" class="navbar-search">
                    <i class="fa fa-search"></i>
                    <input type="text" name="query" value="{{ request.GET.query }}" placeholder="Search people, conversations, and videos..." class="search-query span2">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="col-xs-3 row-user">
              {% if request.user.is_authenticated %}
                <ul class="nav pull-right">
                    <li class="dropdown clearfix">
                      <a class="nav-link avatar pull-left" href="{% url 'profiles-home' request.user.username %}">
                        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="{% avatar_url request.user 82 %}" height="41" width="41" class="img-circle lazy-load">
                        <noscript><img src="{% avatar_url request.user 82 %}"></noscript>
                      </a>
                      <a id="user-dropdown" class="dropdown-toggle pull-right clearfix" href="#" data-toggle="dropdown">
                          <i class="fa fa-cog pull-left"></i>
                          <i class="fa fa-caret-down pull-left"></i>
                      </a>
                        {% get_social_accounts request.user as accounts %}
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'profiles-home' request.user.username %}">View profile</a></li>
                          <li><a href="{% url 'profiles-edit' request.user.username %}">Edit profile</a></li>
                          <li><a href="{% url 'avatar_add' %}">Change avatar</a></li>
                          {% if accounts|length == 0 %}<li><a href="{% url 'account_change_password' %}">Change password</a></li>{% endif %}
                          {% if is_my_profile %}<li class="help"><a href="" id="menu-show-help">Help</a></li>{% endif %}
                          <li><a href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
              <p class="navbar-text navbar-right">
                <a id="btn-register" class="nav-link pull-left" href="{% url 'account_signup' %}">Create an Account</a><span></span><a id="btn-login" class="nav-link pull-right" href="{% url 'account_login' %}">Sign in</a>
              </p>
            {% endif %}
            </div>
          {% endblock %}
        </div>
        <div id="main" class="row">
            {% block content_center %}{% endblock %}
        </div>
        <div id="footer" class="row clearfix">
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-4">
              <div class="row">
                <div class="col-xs-3"><a href="{% url 'about' %}" title="About FrameBuzz"><strong>About</strong></a></div>
                <div class="col-xs-3"><a href="{% url 'press' %}" title="Press"><strong>Press</strong></a></div>
                <div class="col-xs-6"><a href="{% url 'wordpress' %}"><strong>FBZ for WordPress</strong></a></div>
              </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div class="col-xs-6"><a href="{% url 'terms' %}" title="Terms of Service" class="pull-right text-right">Terms of Service</a></div>
              <div class="col-xs-6"><a href="{% url 'privacy' %}" title="Privacy Policy" class="pull-right text-right">Privacy Policy</a></div>
            </div>
            <div class="col-xs-1">&nbsp;</div>
        </div>
    </div>
    <div id="copyright" class="container">
      <div class="row">
        <div class="col-xs-12 text-center"><strong>&copy; 2014, FrameBuzz. All Rights Reserved, Patent Pending.</strong></div>
      </div>
    </div>
    {% compress js %}
        <script src="{% static 'framebuzz/marketing/vendor/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/vendor/jquery/ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/vendor/jquery/lazyload.min.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/vendor/jquery/vegas/jquery.vegas.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/vendor/jquery/perfect-scrollbar-0.4.6.with-mousewheel.min.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/js/framebuzz.base.js' %}"></script>
    {% endcompress %}
    {% block modal_dialogs %}{% endblock %}
    {% block page_javascript %}{% endblock %}
    <script>
      var _prum = [['id', '526acad9abe53d0e0d000000'],
                   ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
          var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
          p.async = 'async';
          p.src = '//rum-static.pingdom.net/prum.min.js';
          s.parentNode.insertBefore(p, s);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43394419-1', 'framebuzz.com');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        setTimeout(function(){
            var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/6248.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
