{% load avatar_tags staticfiles %}

<div class="user row">
  <div class="col-xs-2 avatar">
    <a href="{% url 'profiles-home' result.object.user.username %}" title="View {{ result.object.user.username }}'s Profile">
        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-src="{% avatar_url result.object.user 92 %}" alt="" class="lazy-load img-responsive">
        <noscript><img src="{% avatar_url result.object.user 92 %}"></noscript>
    </a>
  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'profiles-home' result.object.user.username %}" title="View {{ result.object.user.username }}'s Profile"><strong>{{ result.object.user.username }}</strong></a>
      </div>
    </div>
    {% if result.object.tagline %}
      <div class="row row-tagline">
        <div class="col-xs-12">{{ result.object.tagline }}</div>
      </div>
    {% endif %}
  </div>
</div>