{% load avatar_tags staticfiles comments %}

{% get_comment_count for result.object as comment_count %}
<div class="video {% if filter != None %}col-xs-4{% else %}col-xs-6{% endif %} pull-left">
    <a class="thumbnail-link" href="{% spaceless %}{% if request.user.is_authenticated %}
                {% if result.object.found_by %}
                    {% url 'profiles-share' result.object.found_by.username result.object.video_id %}
                {% else %}
                    {% url 'profiles-share' request.user.username result.object.video_id %}
                {% endif %}
            {% else %}
                {% if video.found_by %}
                    {% url 'profiles-share' result.object.found_by.username result.object.video_id %}
                {% else %}
                {{ result.object.get_share_url }}
                {% endif %}
            {% endif %}{% endspaceless %}" title="{{ result.title|title }}">
        <img src="{% static 'framebuzz/profiles/img/blank.png' %}" data-original="{{ result.object.poster_image }}" alt="{{ result.title }}" class="lazy img-responsive" />
    </a>
    <h3>
        <a class="title" href="{{ result.object.get_share_url }}">{{ result.title|title }}</a>
        <span class="pull-right comment-count">
            <i class="fa fa-comment fa-fw pull-right"></i>
            <br>
            {{ comment_count }}
        </span>
    </h3>
</div>
{% if forloop.last and videos|length > 6 and filter == None %}
    <div class="row">
        <div class="col-xs-12 clearfix">
            <a href="{% url 'fbz-search' %}?query={{ query }}&filter=videos" class="pull-right more">view more videos...</a>
        </div>
    </div>
{% endif %}