@import "compass/reset";
@import "compass/css3/border-radius";

body {
    margin: 0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #666;
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
}

div.pagination-centered { margin: 0; }
strong { font-weight: bold; }
ul.nav strong { font-weight: normal; }
a, a:active, a:hover, a:visited, a:link { outline: 0 none; }

#login,
#signup {
   margin: 0 25.6411% 0 42.7179%;

   h1 {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-shadow: 0px 1px 1px #FFFFFF;
    font-weight: bold;
   }

    table {
        tbody {
            td {
                padding: 4px 0;
            }
        }
    }

    ul.socialaccount_providers {
        margin: 20px auto;
        width: 190px;

        li {
            float: left;
            height: 42px;
            margin: 0 10px;
            width: 42px;

            a.socialaccount_provider {
                background-repeat: no-repeat;
                background-image:url('../../img/social-icons.png');
                height:40px;
                width:40px;
                display: inline-block;
                text-indent: -99999px;
                opacity: .9;
                filter:Alpha(Opacity=9);

                &:hover {
                    opacity: 1;
                    filter:Alpha(Opacity=10);
                }
            }

            a.twitter {
                background-position: -174px 0;
            }

            a.facebook {
                background-position: -131px 0;
            }

            a.google {
                background-position: -218px 0;
            }
        }
    }

    p.form-description { padding: 0 0 20px 0; }

    div.login-or {
        margin: 0 auto;
        width: 22px;
    }

    div.form-actions {
        margin: 20px 0 0;
        padding: 20px 0 0;

        button { float: right; }

        a.secondaryAction {
            display: inline-block;
            margin: 5px 0;
        }
    }
}

form {
    p.checkbox-group {
        width: 57.5%;

        label {
            float: left;
            display: block;
            width: 93%;
        }

        input {
            float: left;
            display: block;
        }
    }
}

/***********************************************************************
 *  Navigation Bar                                                     *
 **********************************************************************/

#main-menu {

    ul {
        li.dropdown {
            a.dropdown-toggle {
                padding: 8px 10px;

                strong, img, b {
                    display: block;
                    float: left;
                }

                strong { margin: 9px 8px 7px 12px; }
                img { border: 2px solid #EEEEEE; }
                b { margin-top: 18px; }
            }
        }
    }

    #select-playlist-form {
        ul {
            li {
                float: left;

                button {
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
        }
    }

    #main-menu-right {
        li.dropdown {
            a.dropdown-toggle {
                strong { margin: 7px 8px 7px 12px; }
                b { margin-top: 16px; }
            }
        }
    }
}

div.navbar {
    height: 52px;

    a.brand {
        padding: 17px 20px 10px;
    }
}

div.subhead {
    margin-top: 0;
    margin-bottom: 0;

    ul {
        li.separator,
        li.spacer {
            height: 36px;
        }

        li.spacer { width: 154px; }
        li.separator { width: 140px; }

        li.select-video {
            #analytics-select-video-form {
                padding: 2px 0;

                ul {
                    li {
                        float: left;
                        width: 333px;

                        select { width: 100%; }
                    }

                    li.submit {
                        float: right;
                        margin-left: 5px;
                        width: 49px;
                    }
                }
            }
        }
    }
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}

#change-avatar-form {
    margin-bottom: 30px;

    #current-avatar {
        h2 {
            font-weight: bold;
            text-align: center;
        }

        img { margin: 10px 23px; }
    }

    ul {
        li {
            label {
                color: #317EAC;
                font-weight: bold;
                margin-left: 16px;
            }

            ul {
                margin-top: 10px;

                li {
                    display: inline-block;
                    height: 100px;
                    width: 120px;

                    label { margin-left: 0px; }

                    input[type='radio'] {
                        position: relative;
                        bottom: 35px;
                    }
                }
            }
        }
    }
}

/***********************************************************************
 *  Video Content                                                      *
 **********************************************************************/

 ul.video-list-ajax {
    li {
        border: none;
        float: left;
        height: 200px;
        margin: 0 5px 20px 5px;
        position: relative;

        a.close {
            color: white;
            display: block;
            opacity: 0.4;
            position: absolute;
            right: 25px;
            top: -3px;
            z-index: 1000;

            &:hover, &:focus { opacity: 0.9; }
        }

        div.result-wrapper {
            position: relative;
            margin: 0 auto;
            width: 100%;
            z-index: 5;

            a.video-thumb {
                background: #000000;
                display: block;
                margin: 0 auto;
                height: 120px;
                width: 160px;

                img {
                    height: 120px;
                    width: 160px;
                }
            }

            h3 {
                margin-top: 10px;

                a {
                    background: none;
                    display: block;
                    text-align: center;
                    height: auto;
                    width: 205px;
                }
            }
        }

        &.selected {
            background-color: #7bb33d;
            background-image: -moz-linear-gradient(top,rgba(127, 186, 62, 0.3), rgba(116, 169, 57, 0.4));
            background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(127, 186, 62, 0.3)),to(rgba(116, 169, 57, 0.4)));
            background-image: -webkit-linear-gradient(top,rgba(127, 186, 62, 0.3),rgba(116, 169, 57, 0.4));
            background-image: -o-linear-gradient(top,rgba(127, 186, 62, 0.3),rgba(116, 169, 57, 0.4));
            background-image: linear-gradient(to bottom,rgba(127, 186, 62, 0.3),rgba(116, 169, 57, 0.4));
            background-repeat: repeat-x;
            border-color: #73a839 #73a839 #4c6f26;

            div.result-wrapper h3 {
                color: #fff;
                font-weight: bold;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
            }
        }

        &.center {
            width: 100%;

            h4.alert-heading { font-weight: 700; }
        }
    }
 }

 #embed-modal-dialog {
    z-index: 99999;

    p { margin-bottom: 10px; }

    p.notice {
        margin-top: 10px;
        margin-bottom: 0;
    }

    textarea {
        font-family: Courier, 'Courier New', monospace;
        height: 65px;
        width: 97.5%;
    }
 }


 #page-container {
    padding-bottom: 162px;
    padding-top: 50px;
 }

 #dashboard-video-list {
    div.page-header {
        margin-bottom: 20px;
    }

    p.page-description {
        padding: 9px 0;
        padding-bottom: 20px;
    }

    div.alert-info p { text-shadow: 0 1px 1px #FFF; }

    div.form-actions {
        background: none;

        a {
            display: block;
            float: right;
        }

        a.btn-primary { margin-left: 10px; }

        div.pagination a { float: left; }
    }


    div.connect-options {
        padding-top: 20px;

        h2 {
            border-bottom: 1px solid #F5F5F5;
            font-size: 1.2em;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        p {
            padding-bottom: 20px;
        }

        div.acc-wizard {
            padding: 10px;

            ol.acc-wizard-sidebar {
                float: left;
                width: 28%;

                li {
                    padding: 0.25em 0.25em 0.75em 0.25em;
                }
            }

            div.accordion {
                float: left;
                width: 72%;

                div.alert-error {

                h4, p { text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }

                    p {
                        padding-bottom: 0;

                        a {
                            color: #BD4247;
                            text-decoration: underline;
                        }
                    }
                }

                #1-connect-youtube-form,
                #2-select-videos-form {
                    .acc-wizard-step { display: none; }
                }

                div#3-embed-icon.accordion-body div.accordion-inner form#3-embed-icon-form {
                    display: none;

                    div.alert-success { display: none; }
                }

                div.alert-success {
                    margin-bottom: 0;

                    p { padding-bottom: 0; }
                }

                #url-search-embed {
                    font-family: Courier, 'Courier New', monospace;
                    height: 65px;
                    margin-bottom: 0;
                    width: 97.5%;
                }

                #youtube-search {
                    margin-top: 5px;
                    margin-bottom: 0px;
                    width: 97.5%;
                }

                ul.video-list-ajax {
                    height: 300px;
                    overflow: auto;
                    padding-top: 3px;

                    li {
                        @include border-radius(3px, 3px);
                        cursor: pointer;
                        float: none;
                        padding: 5px;
                        margin-bottom: 10px;
                        height: auto;

                        div.result-wrapper {
                            a, div.result { float: left; }

                            a.video-thumb {
                                height: 60px;
                                margin-right: 10px;
                                width: 80px;

                                img {
                                    height: 60px;
                                    width: 80px;
                                }
                            }

                            div.result {
                                width: 82%;

                                h3 {
                                    margin-top: 0;
                                    padding: 17px 0;

                                    span {
                                        display: block;
                                        float: left;
                                        width: 79%;
                                    }

                                    a.embed-button {
                                        background-color: #FFFFFF;
                                        background-image: linear-gradient(#FFFFFF, #FFFFFF 5%, #FFFFFF);
                                        background-repeat: no-repeat;
                                        float: right;
                                        width: 65px;
                                    }

                                    &.embed {
                                        padding: 0;
                                        padding-top: 1%;
                                    }
                                }

                                div.embed-code {
                                    display: none;
                                }
                            }
                        }

                        div.embed-code {
                            display: none;
                            padding-top: 5px;

                            textarea {
                                font-family: Courier, 'Courier New', monospace;
                                height: 65px;
                                margin-bottom: 0;
                                width: 97.5%;
                            }
                        }
                    }

                    li.center {
                        float: none;
                        margin: 0;
                        padding: 0;
                        height: 81px;
                    }
                }
            }
        }
    }
 }

div.container {

    div.page-header {
        margin: 0;

        h1 { font-size: 1.5em; }
    }

    p.form-description {
        padding: 17px 0;

        strong { font-weight: bold; }
    }

    #avatar-upload {
        img {
            float: left;
            height: 80px;
            width: 80px;
            margin-right: 17px;
        }

        #avatar-form {
            float: left;
            margin-top: 5px;

            input.btn {
                display: block;
                margin-top: 5px;
            }
        }
    }

    div.sidebar-nav {
        ul.nav-list {
            padding-left: 0;
            padding-right: 0;

            li.profile-header {
                padding-bottom: 9px;

                em.bio {
                    display: block;
                    font-style: italic;
                    text-shadow: 0px 1px 1px white;
                    text-align: center;
                }

                #follow_button,
                #unfollow_button {
                    margin: 10px 7px;
                }

                div.header-wrapper {
                    margin: 0 30%;
                    width: 100px;

                    a.profile-link {
                        display: block;
                        height: 100px;
                        width: 100px;

                        img {
                            height: 100px;
                            width: 100px;
                        }
                    }

                    span.change-avatar {
                        background: none repeat scroll 0 0 black;
                        margin-top: -21px;
                        color: white;
                        display: none;
                        font-size: 10px;
                        margin-left: 10px;
                        opacity: 0.8;
                        padding: 0 3px;
                        text-decoration: none;
                        width: 83px;
                    }

                    h2 {
                        font-weight: bold;
                        text-align: center;
                        text-shadow: 0px 1px 1px white;
                        margin-top: 7px;
                    }

                    a.website {
                        display: block;
                        margin-bottom: 7px;
                        text-align: center;
                    }

                    a.btn {
                        margin: 0 7px;
                        width: 60px;
                    }
                }
            }

            li.user-avatar-link {
                height: 30px;

                a span {
                    bottom: 9px;
                    position: relative;
                    left: 5px;
                }
            }

            li.video-description {
                line-height: 16px;
                word-wrap: break-word;

                a { padding: 10px 15px; }
            }

            li.user-statistics {
                table {
                    tr {
                        td {
                            line-height: 17px;
                            text-align: center;
                            text-shadow: 0 1px 1px #FFFFFF;

                            strong {
                                display: block;
                                font-weight: bold;
                                text-shadow: 0 1px 1px #FFFFFF;
                            }
                        }
                    }
                }
            }

            li.wide {
                left: -25px;
                position: relative;
                width: 251px;
            }
        }
    }
}

#feed {
    li {
        border-bottom: 1px dotted #CCCCCC;
        padding: 10px 0;
        width: 100%;

        img {
            float: left;
            height: 50px;
            margin-right: 10px;
            width: 50px;
        }

        div.feed-header {
            float: left;
            width: 805px;

            div.details {
                float: left;
                margin-bottom: 2px;
                width: 100%;

                h1, a, span { display: inline-block; }
                h1, a { float: left; }
                h1 { margin-right: 10px; }

                span {
                    float: right;
                    font-size: 12px;

                    a {
                        float: right;
                        margin-left: 5px;
                        font-weight: normal;
                    }
                }

                span.website { font-weight: bold; }
            }

            p { line-height: 18px; }
        }

        &:last-child { border-bottom: 0; }
    }
}

#reset-password-done {
    float: none;
    margin-left: 17%;
    width: 800px;

    div.alert { margin: 20px 0; }
}

#analytics {
    div.alert {
        margin-top: 20px;
        padding: 20px;

        p {
           a { margin-left: 415px; }
        }
    }
}

#moderate div.alert { margin-top: 20px; }

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #04344a;
    padding: 45px 0px;
    width: 100%;

    span.copyright {
        color: #cae4ed;
        font-weight: bold;
        display: inline-block;
        float: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        width: 33%;
    }

    ul {
      li {
        float: right;
        padding-left: 25px;
        font-weight: 400;

        a {
          color: #cae4ed;
          display: inline-block;
          text-align: right;
          text-decoration: none;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          width: 100%;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
}