{% extends "marketing/base.html" %}
{% load staticfiles addendum_tags %}

{% block content %}
    <div id="about">
        <div id="manifesto">
            <h1>{% snippet 'about:manifesto_header' %}MANIFESTO{% endsnippet %}</h1>
            <p>{% snippet 'about:manifesto' %}FrameBuzz is a free, online video conversation platform that enables moment-by-moment discussions within a video. As the facilitator of interesting conversations between content creators, experts, and consumers, FrameBuzz brings more to a conversation than just words – it brings meaningful connections and unique perspectives that help shape the way a video is perceived, shared, and discovered.{% endsnippet %}</p>
        </div>
        <div id="who">
            <h1>{% snippet 'about:who_section_header' %}FrameBuzz brings comments into the moment.{% endsnippet %}</h1>
            <h2>{% snippet 'about:who_section_sub_header' %}We facilitate meaningful, relevant conversations around video.{% endsnippet %}</h2>
            <ul class="wrapper clearfix">
                <li>
                    <h3>{% snippet 'about:who_we_are_title' %}Who We Are{% endsnippet %}</h3>
                    <p>{% snippet 'about:who_we_are' %}We’re social. We’re engaged. We’re right there with you. We’re FrameBuzz. Born out of co-founders Aaron Lindsey and Jason Kohn’s never-ending excitement for great content and passionate debate, we’re helping you curate that online conversation, frame by frame.{% endsnippet %}</p>
                </li>
                <li>
                    <h3>{% snippet 'about:what_we_believe_title' %}What We Believe{% endsnippet %}</h3>
                    <p>{% snippet 'about:what_we_believe' %}At FrameBuzz we believe that video viewers are more than just people – they’re influencers. They have valuable opinions that deserve to be shared, and through their individual comments, praise, questions, and curated conversations, those viewers have the ability to transform a video from content to something so much more.{% endsnippet %}</p>
                </li>
                <li>
                    <h3>{% snippet 'about:why_different_title' %}Why We’re Different{% endsnippet %}</h3>
                    <p>{% snippet 'about:why_different' %}For us, it’s more than just leaving a comment that’s never to be seen again. It’s about crafting meaningful dialogue in the most intuitive way that has a chance to change a video’s perspective and shape its direction.  We’re helping to create a community of passionate words, dynamic videos and conversations that matter.{% endsnippet %}</p>
                </li>
            </ul>
        </div>
        <div id="team">
            <h1 class="wrapper">{% snippet 'about:team_header' %}MEET THE TEAM{% endsnippet %}</h1>
            <ul class="wrapper clearfix">
                <li>
                    <img src="" alt="" height="" width="" />
                    <h2>Aaron Lindsey</h2>
                    <h3>Co-Founder and CEO</h3>
                    <p>{% snippet 'about:aaron_bio' %}Before founding FrameBuzz, Aaron was a senior executive at a highly ranked, Austin-based custom software development company. His technology experience spans more that 13 years in multiple industries with a successful track record of conceptualizing, managing, and delivering exceptional and innovative software products.{% endsnippet %}</p>
                </li>
                <li>
                    <img src="" alt="" height="208" width="208" class="img-circle" />
                    <h2>Jason Kohn</h2>
                    <h3>Co-Founder and CPO</h3>
                    <p>{% snippet 'about:jason_bio' %}Jason is a technology communications consultant with 15 years experience working with some of the largest and most successful companies in the industry. He specializes in digital video and TV, working with companies developing new ways for service providers and TV networks to deliver video content, and new ways for viewers to engage with it.{% endsnippet %}</p>
                </li>
                <li class="last">
                    <img src="" alt="" height="208" width="208" class="img-circle" />
                    <h2>Lisa Blair</h2>
                    <h3>CFO</h3>
                    <p>{% snippet 'about:lisa_bio' %}Lisa has a diverse background in financial operations and controls. Her 15-year career has spanned multiple industries and business areas giving Lisa a rich background to see all perspectives of an organization’s strategy and operations, and their financial implications.{% endsnippet %}</p>
                </li>
                <li>
                    <img src="" alt="" height="208" width="208" class="img-circle" />
                    <h2>Dani Roxberry</h2>
                    <h3>Lead Developer</h3>
                    <p>{% snippet 'about:dani_bio' %}Dani is a highly experienced software architect that expertly pairs real-time, data-driven architectures with stunning user experiences. With a deep drive to create and innovate, Dani’s mission is to produce digital products that make the web a more beautiful and interactive place.{% endsnippet %}</p>
                </li>
                <li>
                    <img src="" alt="" height="208" width="208" class="img-circle" />
                    <h2>Oliver Meek</h2>
                    <h3>Sales and Operations</h3>
                    <p>{% snippet 'about:oliver_bio' %}Oliver has more than ten years experience in B2B sales across North America, Europe and Asia. He has previously run sales and business development for two startups as well as founded and managed the European division for SNL Financial, LLC.{% endsnippet %}</p>
                </li>
                <li class="last">
                    <img src="" alt="" height="208" width="208" class="img-circle" />
                    <h2>Ross Abel</h2>
                    <h3>Creative Director</h3>
                    <p>{% snippet 'about:ross_bio' %}Ross is a UX expert with a deep understanding of mobile and web deployments. He has developed experiences that helped companies like Visa and PayPal form strategic partnerships with high-profile businesses in a variety of industries.{% endsnippet %}</p>
                </li>
            </ul>
        </div>
        <div id="contact">
            <div class="wrapper">
                <h1>{% snippet 'about:contact_header' %}GET IN TOUCH{% endsnippet %}</h1>
                {% if success %}
                    <div class="alert alert-success">
                        {% snippet 'about:contact_success' %}Thanks! We'll be in touch soon.{% endsnippet %}
                    </div>
                {% endif %}
                <form id="contact-form" name="contact" action="" method="post" class="clearfix">
                    {% csrf_token %}
                    <div class="user">
                        <label for="name">{{ form.name.label }}:</label>
                        <p>{{ form.name }}</p>
                        <label for="email">{{ form.email.label }}:</label>
                        <p>{{ form.email }}</p>
                    </div>
                    <div class="message">
                        <label for="description">{{ form.description.label }}:</label>
                        <p>{{ form.description }}</p>
                    </div>
                    <p class="submit clearfix">
                        <button type="submit">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}