{% extends "home.html" %}

{% block page_classes %}marketing{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div id="contact" class="span11 box">
            <div class="page-header">
                <h1>Contact FrameBuzz</h1>
            </div>
            <p>To learn more about FrameBuzz, contact us at: <a href="mailto: info@framebuzz.com">info@framebuzz.com</a>.</p>
            <p>For media inquiries, please email <a href="mailto:media@framebuzz.com">media@framebuzz.com</a>.</p>
        </div>
    </div>
{% endblock %}