{% extends "marketing/base_new.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags %}


{% block body_classes %}homepage{% endblock %}

{% block page_body %}
    <div id="logo">
        <div class="container">
            <div class="row">
                <img class="absolute-center" src="{% static 'framebuzz/marketing/img/logo.png' %}" height="33" width="159" alt="FrameBuzz: Make a Better Video">
            </div>
        </div>
    </div>
    <div id="introduction" class="row">
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6 col-xs-push-3">
                        <img class="macbook img-responsive" src="{% static 'framebuzz/marketing/img/2015/macbook.jpg' %}" width="499">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-xs-push-2">
                        <h1>Make Pop-Up Videos<super>*VH1</super><br>with your team</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-push-3 center-row subscribe-row">
                        <a href="{% url 'subscribe' %}" class="subscribe absolute-center">Subscribe</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-push-3 center-row read-more-row">
                        {% spaceless %}
                            <a href="#features" class="read-more absolute-center">Read more
                                <span class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        {% endspaceless %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="features" class="row">
        <div class="container">
            <div class="col-xs-12 list-container">
                <div class="row">
                    <h2>Watch, talk, manage, share.</h2>
                    <div class="col-xs-11 col-xs-push-1">
                        <ul class="row fa-ul">
                          <li class="col-xs-6 left">
                              Groupwatch and converse with team
                          </li>
                          <li class="col-xs-6 right">
                              Manage production tasks
                          </li>
                          <li class="col-xs-6 left">
                              Unlimited video uploads
                          </li>
                          <li class="col-xs-6 right">
                              A community of creators and viewers
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row read-more-separator">
        <div class="container">
            <div class="col-xs-12">
                <div class="row center-row read-more-row">
                    {% spaceless %}
                        <a href="#work-together" class="read-more absolute-center">Read more
                            <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
    <div id="work-together" class="row">
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="hidden-xs" src="{% static 'framebuzz/marketing/img/2015/ipad-player.jpg' %}" alt="" width="1024">
                    </div>
                    <div class="col-xs-10">
                        <span class="how-it-works pull-right">(see how it works)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-push-2 work-together">
                        <h3>Work together even when you’re apart</h3>
                        <p>
                            From your home or office, <strong>schedule private viewings</strong> to watch<br>a video with your team and have a conversation about it.
                        </p>
                    </div>
                    <div class="col-xs-3 col-xs-push-2 work-subscribe">
                        <div class="row users-row">

                        </div>
                        <div class="row subscribe-row">
                            <a href="{% url 'subscribe' %}" class="subscribe pull-right">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row read-more-separator gray">
        <div class="container">
            <div class="col-xs-12">
                <div class="row center-row read-more-row">
                    {% spaceless %}
                        <a href="#converse" class="read-more absolute-center">Read more
                            <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
    <div id="converse" class="row blue">
        <div class="row header-row">
            <div class="container">
                <div class="col-xs-12">
                    <div class="row">
                        <h3>Have a conversation, comment,<br>or get feedback.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comment-row">
            <div class="container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="row">
                                <p class="first"><em>Comments on FrameBuzz videos are tied to the timeline,</em>
                                so they'll pop up at the same time users originally made their comments,<br>
                                similar to VH1’s Pop-Up Video.</p>
                                <p><em>Archive, delegate, and communicate all from your FrameBuzz dashboard.</em>
                                FrameBuzz is specifically crafted and designed so that it can be a production management<br>
                                software. Unify the many parts and people involved in post production.</p>
                            </div>
                            <div class="row subscribe-row">
                                <a href="{% url 'subscribe' %}" class="subscribe pull-right">Subscribe</a>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-push-1">
                            <div class="row dashboard-row">
                                <img class="img-responsive" width="235" alt="" src="{% static 'framebuzz/marketing/img/2015/dashboard.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="update" class="row">
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-9 col-xs-push-2 update-callout">
                        <img class="img-responsive" src="{% static 'framebuzz/marketing/img/2015/social.jpg' %}" alt="Stay updated with FrameBuzz.">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-xs-push-2 col-md-9 col-md-push-2 update-info">
                        <h3>Update, and be updated</h3>
                        <div class="row">
                            <div class="col-xs-9 no-padding">
                                <p>Share your world with the world! <strong>Post videos, start conversations,<br>
                                    and see what everyone else is saying</strong>. FrameBuzz is your platform to<br>
                                    make a statement and create an identity.</p>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="row subscribe-row">
                                    <a href="{% url 'subscribe' %}" class="subscribe pull-right">Subscribe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="featured-on" class="row">
        <div class="container">
            <div class="col-xs-10 col-xs-push-2 featured-container">
                <div class="row">
                    <span class="pull-left">As seen on:</span>
                    <img class="pull-left img-responsive" width="498" src="{% static 'framebuzz/marketing/img/2015/featured-on.jpg' %}" alt="FrameBuzz has been featured on NBC, Austin 360, and SiliconHills">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
