{% extends "marketing/base.html" %}
{% load socialaccount staticfiles compress addendum_tags %}

{% block optimizely %}
    <script src="//cdn.optimizely.com/js/393060191.js"></script>
{% endblock %}

{% block page_css %}
    {% compress css %}
        <link href="{% static 'framebuzz/marketing/vendor/jquery/jquery.bxslider.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{% static 'framebuzz/marketing/css/stylesheets/home.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block page_classes %}content home{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        {% include "marketing/snippets/header.html" %}
        <div id="video-carousel" class="row clearfix full-wrap">
            <div id="staff-picks" class="col-xs-3 pull-left full-wrap-inner">
                <div id="thumbs">
                    <ul class="bxslider">
                      <li><img src="https://i1.ytimg.com/vi/Fl_wdODKGtM/mqdefault.jpg" data-video-url="{% url 'video-embed' 'Fl_wdODKGtM' %}" title="Episode #1 // Hitrecord On Tv" class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/bpOSxM0rNPM/mqdefault.jpg" data-video-url="{% url 'video-embed' 'bpOSxM0rNPM' %}" title="Arctic Monkeys - Do I Wanna Know? (Official Video)"  class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/xTvAwhaGY88/mqdefault.jpg" data-video-url="{% url 'video-embed' 'xTvAwhaGY88' %}" title="Baby Alpaca - Wild Child (Official Video)" class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/r4VQoP2_eL4/mqdefault.jpg" data-video-url="{% url 'video-embed' 'r4VQoP2_eL4' %}" title="M.I.A. X The Partysquad X Kenzo - Y.A.L.A. (Official Video)"  class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/UGz8jcbJjRw/mqdefault.jpg" data-video-url="{% url 'video-embed' 'UGz8jcbJjRw' %}" title="&ldquo;Teddy Bear,&rdquo; The Porcupine, Doesn't Like To Share&hellip;" class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/xk_SOgcLBTI/mqdefault.jpg" data-video-url="{% url 'video-embed' 'xk_SOgcLBTI' %}" title="Metric - Speed The Collapse (Live At The Edge)"  class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/kFtMl-uipA8/mqdefault.jpg" data-video-url="{% url 'video-embed' 'kFtMl-uipA8' %}" title="Fka Twigs - Water Me" class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/YAzbNuFNySs/mqdefault.jpg" data-video-url="{% url 'video-embed' 'YAzbNuFNySs' %}" title="Loiter Squad: Zombie Cooking Hour Pt 1" class="img-responsive"></li>
                      <li><img src="https://i1.ytimg.com/vi/FPO3aenqT4o/mqdefault.jpg" data-video-url="{% url 'video-embed' 'FPO3aenqT4o' %}" title="Brave New World - Summary &amp; Analysis By Thug Notes" class="img-responsive"></li>
                    </ul>
                </div>
            </div>
            <div id="fbz-player-container" class="col-xs-9 clearfix full-wrap-inner">
                <iframe src="{% url 'video-embed' 'Fl_wdODKGtM' %}" scrolling="no" frameBorder="0" height="445" width="700" class="absolute-center pull-right"></iframe>
            </div>
        </div>
        <div id="fbz-signup" class="row full-wrap">
            <div class="col-xs-12 full-wrap-inner">
                <h4>Start Influencing Today - It's FREE!</h4>
                <div id="signup-container" class="row container">
                    <div class="col-xs-4 col-xs-push-2">
                        {% if socialaccount.providers %}
                            {% for provider in socialaccount.providers %}
                                <div class="col-xs-12 social">
                                    <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} clearfix" href="{% provider_login_url provider.id %}">
                                        <span class="btn-icon pull-left"><i class="fa fa-fw fa-{{ provider.id|lower }}{% if provider.id == 'google' %}-plus{% endif %} absolute-center"></i></span>
                                        <span class="btn-title pull-right">SIGN IN WITH {{ provider.id|upper }}</span>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-5 col-xs-pull-1 pull-right">
                        <form id="signup-form" class="form-inline" role="form" method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <div class="row form-row">
                                <label class="col-xs-4" for="id_username">Username:</label>
                                {{ form.username }}
                            </div>
                            <div class="row form-row">
                                <label class="col-xs-4" for="id_email">Email:</label>
                                {{ form.email }}
                            </div>
                            {% if form.password1 and form.password2 %}
                                <div class="row form-row">
                                    <label class="col-xs-4" for="id_password1">Password:</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="row form-row">
                                    <label class="col-xs-4" for="id_password2">Password again:</label>
                                    {{ form.password2 }}
                                </div>
                            {% endif %}
                            <div class="row form-row row-submit">
                                <div class="col-xs-12 col-xs-pull-7">
                                    <button class="absolute-center" type="submit">Start Influencing Now!</button>
                                </div>
                            </div>
                            <div class="row form-row row-learn-more">
                                <div class="col-xs-12 col-xs-pull-6">
                                    <a href="{% url 'learn-more' %}" title="Learn More About The FrameBuzz Platform" class="learn-more-link absolute-center">or learn more about our video blogging platform</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="fbz-media-logos" class="row">
            <div class="col-xs-3">
                <a href="http://www.austin360.com/weblogs/digital-savant/2013/aug/29/austins-framebuzz-wants-give-vloggers-another-tool/" title="Austin's FrameBuzz wants to give vloggers another tool for commentary" target="_blank">
                    <img src="{% static 'framebuzz/marketing/img/austin360logo.png' %}" alt="FrameBuzz on Austin360" class="img-responsive absolute-center">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.crunchbase.com/company/framebuzz" title="FrameBuzz: Our Profile on CrunchBase" target="_blank">
                    <img src="{% static 'framebuzz/marketing/img/crunchbaselogo.png' %}" alt="FrameBuzz on CrunchBase" class="img-responsive absolute-center">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://illuminatehollywood.com/framebuzz-the-future-of-social-commenting-for-online-video/" title="FrameBuzz: the Future of Social Commenting for Online Video?" target="_blank">
                    <img src="{% static 'framebuzz/marketing/img/illuminatelogo.png' %}" alt="FrameBuzz on Illuminate" class="img-responsive absolute-center">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.kxan.com/news/local/austin/framebuzz-launches-social-video-platform" title="FrameBuzz launches social video platform" target="_blank">
                    <img src="{% static 'framebuzz/marketing/img/kxanlogo.png' %}" alt="FrameBuzz on KXAN" class="img-responsive absolute-center">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script src="{% static 'framebuzz/marketing/vendor/jquery/jquery.easing.1.3.js' %}"></script> 
        <script src="{% static 'framebuzz/marketing/vendor/jquery/jquery.bxslider.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/js/framebuzz.home.js' %}"></script> 
    {% endcompress %}
{% endblock %}