{% extends "marketing/home.html" %}
{% load staticfiles %}

{% block page_classes %}content home home-v3{% endblock %}

{% block home_header %}
    <img src="{% static 'framebuzz/marketing/img/fbz-header-home-large.jpg' %}" alt="" class="img-responsive">
    <div class="info">
        <div class="row">
            <div class="col-xs-12"> 
                <h1 id="tagline" class="absolute-center"><span>Your Video Blogging Platform</span></h1>
                <h2 id="tagline2" class="absolute-center"><span>Influence Your Community and the World with Video</span></h2>
            </div>
        </div>

            {% include "marketing/snippets/signup.html" %}
    </div>
{% endblock %}