{% extends "marketing/home.html" %}
{% load staticfiles %}

{% block page_classes %}content home home-v2{% endblock %}

{% block home_header %}
    <img src="{% static 'framebuzz/marketing/img/fbz-header-home-large.jpg' %}" alt="" class="img-responsive">
    <div class="info">
        <div class="row">
            <div class="col-xs-12"> 
                <h1 id="tagline" class="absolute-center"><span>Your Video Blogging Platform</span></h1>
            </div>
        </div>
        <div class="bubble container">
            <div class="row bubble-inner staff-picks clearfix">
                <div class="col-xs-12">
                    <p class="clearfix">
                        <strong class="pull-right">Influence Your Community and the World with Video</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}