{% extends "marketing/home.html" %}
{% load staticfiles %}

{% block page_classes %}content home home-v2{% endblock %}

{% block home_header %}
    <img src="{% static 'framebuzz/marketing/img/fbz-header-home-large.jpg' %}" alt="" class="img-responsive">
    <div class="info">
        <div class="row">
            <div class="col-xs-12"> 
                <h1 id="tagline" class="absolute-center"><span>Your Video Blogging Platform</span></h1>
                <h2 id="tagline2" class="absolute-center"><span>Influence Your Community and the World with Video</span></h2>
            </div>
        </div>
        <div class="row bubble reasons">
            <div class="col-xs-8 col-xs-push-2 clearfix">
                <div class="row bubble-inner clearfix">
                    <div class="col-xs-6 pull-left">
                        <p>Express Yourself</p>
                    </div>
                    <div class="col-xs-6 clearfix">
                        <p class="pull-right">Generate Awareness</p>
                    </div>
                </div>
                <div class="row bubble-inner clearfix">
                    <div class="col-xs-6 pull-left">
                        <p class="bottom">Have Meaningful Conversations</p>
                    </div>
                    <div class="col-xs-6 clearfix">
                        <p class="bottom pull-right">No Limitations</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bubble signup-button">
            <div class="col-xs-12 button-wrap">
                <a href="{% url 'account_signup' %}" class="absolute-center">Start Influencing - It's Free! <i class="fa fa-arrow-right fa-fw"></i></a>
            </div>
        </div>
        <div class="row bubble learn-more-button">
            <div class="col-xs-12 button-wrap">
                <a href="{% url 'learn-more' %}" class="absolute-center">Or learn more about our video blogging platform</a>
            </div>
        </div>
    </div>
{% endblock %}