{% extends "marketing/base.html" %}
{% load socialaccount staticfiles compress addendum_tags %}

{% block page_css %}
    {% compress css %}
        <link href="{% static 'framebuzz/player/app/css/mediaelementplayer.min.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{% static 'framebuzz/player/app/css/animations.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{% static 'framebuzz/marketing/css/stylesheets/onboarding.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content_center %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="onboarding" class="row">
            <div id="video">
                <video style="height: 100%; width: 100%;" preload="true" poster="{% static 'framebuzz/marketing/img/onboarding-poster.jpg' %}">
                    <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
                    <source type="video/mp4" src="{% static 'framebuzz/marketing/test/test.mp4' %}" />
                    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
                    <source type="video/webm" src="{% static 'framebuzz/marketing/test/test.webm' %}" />
                    <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
                    <object style="height: 100%; width: 100%;" type="application/x-shockwave-flash" data="{% static 'framebuzz/player/app/swf/flashmediaelement.swf' %}">
                        <param name="movie" value="{% static 'framebuzz/player/app/swf/flashmediaelement.swf' %}" />
                        <param name="flashvars" value="controls=true&amp;file={% static 'framebuzz/marketing/test/test.flv' %}" />
                        <!-- Image as a last resort -->
                        <img src="{% static 'framebuzz/marketing/img/onboarding-poster.jpg' %}" height="306" width="610" title="No video playback capabilities" />
                    </object>
                </video>
                <div id="steps">
                    <div class="step step1">
                        <h1>FrameBuzz is a community of<br><strong>video-integrated</strong> commentary.</h1>
                        <button type="button" id="btn-start" class="btn btn-lg btn-info">Get Started</button>
                    </div>
                    <div class="step step2">
                        <h1>Welcome to FrameBuzz.</h1>
                        <form id="prompt-form" class="row form-inline" role="form">
                            <label for="prompt">Answer this question?</label>
                            <div class="form-group col-xs-10">
                                <input type="text" class="form-control" name="prompt" value="" maxlength="180" placeholder="Type your answer...">
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-info">OK</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step3">
                        <div class="row">
                            <div class="comment col-xs-5 pull-right">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="{% static 'framebuzz/marketing/img/user-avatar.jpg' %}" alt="You" height="52" width="52" class="img-circle">
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>You</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p id="comment-text"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="bubble bubble-confirm col-xs-6 pull-right">
                                <span class="corner"></span>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        See how it works? <strong>You’re a pro.</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="button" id="btn-signup" class="btn btn-lg btn-info">Now join the conversation!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="step4 bubble bubble-signup col-xs-11 pull-right">
                                <span class="corner"></span>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>
                                            That was way better than a YouTube comment. Well done.
                                            <br>
                                            <strong><i>Now join the conversation!</i></strong>
                                        </p>
                                        <div id="signup"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="links" class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-3"><a href="{% url 'about' %}" title="About FrameBuzz"><strong>About FrameBuzz</strong></a></div>
                    <div class="col-xs-2"><i class="icon-muted">&bull;</i></div>
                    <div class="col-xs-3"><a href="#"><strong>WordPress Plugin</strong></a></div>
                    <div class="col-xs-2"><i class="icon-muted">&bull;</i></div>
                    <div class="col-xs-2"><a href="{% url 'contact' %}" title="Contact"><strong>Contact</strong></a></div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div id="callout" class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <img src="{% static 'framebuzz/marketing/img/callout.jpg' %}" alt="FrameBuzz" height="294" width="541">
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script src="{% static 'framebuzz/player/app/lib/mediaelement-and-player.js' %}"></script>
        <script src="{% static 'framebuzz/marketing/js/framebuzz.onboarding.js' %}"></script> 
    {% endcompress %}
{% endblock %}