{% extends "marketing/base.html" %}
{% load staticfiles compress avatar_tags %}

{% block marketing_meta %}
    <meta property="og:title" content="FrameBuzz: {{ video.title }}" />
    <meta property="og:type" content="Video" />
    <meta property="og:url" content="http://framebuzz.com{% url 'video-share' video.video_id %}" />
    <meta property="og:image" content="{{ video.poster_image }}" />
    <meta property="og:description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta property="og:site_name" content="FrameBuzz" />
    <meta itemprop="name" content="FrameBuzz: {{ video.title }}" />
    <meta itemprop="description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta itemprop="image" content="{{ video.poster_image }}" />
{% endblock %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/iconic.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block page_classes %}content profiles share{% endblock %}

{% block content_center %}
    <div id="share" class="row" style="display: block;">
        {% include "player/snippets/share.html" %}
    </div>
{% endblock %}

{% block page_javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tooltip').tooltip();

            $('body').on('click', 'a.video-toggle-button', function(e) {
                e.preventDefault();

                var link = $(this);
                var url = link.attr('href');

                $.get(url, function(data) {
                    window.location.reload();
                });

                return false;
            });
        });
    </script>
{% endblock %}