{% extends "marketing/base.html" %}
{% load staticfiles compress avatar_tags %}

{% block marketing_meta %}
    <meta property="og:title" content="FrameBuzz: {{ video.title }}" />
    <meta property="og:type" content="Video" />
    <meta property="og:url" content="http://framebuzz.com{% url 'video-share' video.video_id %}" />
    <meta property="og:image" content="{{ video.poster_image }}" />
    <meta property="og:description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta property="og:site_name" content="FrameBuzz" />
    <meta itemprop="name" content="FrameBuzz: {{ video.title }}" />
    <meta itemprop="description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta itemprop="image" content="{{ video.poster_image }}" />
{% endblock %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block marketing_content %}
    <div id="fb">
        <div class="content">
            <div class="wrapper clearfix">
                <div class="background">
                    {% include "player/snippets/share.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}