{% extends "marketing/base_new.html" %}
{% load i18n staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags zebra_tags %}

{% block body_classes %}subpage show-header{% endblock %}

{% block page_title %}: Create Your Account.{% endblock %}

{% block extra_head %}
    {% zebra_head_and_stripe_key %}
{% endblock %}

{% block page_body %}
<div id="signup" class="row">
    <div class="container">
        <div class="col-xs-12">
            <div id="signup-options" class="row" data-selected="">
                <div class="col-xs-12 signup-header">
                    <h1 class="absolute-center">Welcome to <img class="logo" src="{% static 'framebuzz/marketing/img/logo.png' %}" width="184">. Let's get started.</h1>
                </div>
                <div class="col-xs-5 col-xs-push-1 signup-option option-free">
                    <div class="row signup-top">
                        <img src="{% static 'framebuzz/marketing/img/2015/icon-chat.png' %}" width="104" height="79" alt="">
                        <h2>free</h2>
                        <h3>BASIC ACCOUNT</h3>
                        <hr>
                        <div class="row subscribe-row">
                            <a href="{% url 'account_signup' %}?option=free" class="subscribe gray" data-signup-option="free">Sign Up</a>
                        </div>
                    </div>
                    <div class="row signup-bottom">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check-circle-o"></i> Start commenting in-frame on videos</li>
                            <li><i class="fa-li fa fa-check-circle-o"></i> Share video with friends</li>
                            <li><i class="fa-li fa fa-check-circle-o"></i> Connect directly with video producers</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-push-1 signup-option option-premium selected">
                    <div class="row signup-top">
                        <img src="{% static 'framebuzz/marketing/img/2015/icon-film-chat.png' %}" width="104" height="79" alt="">
                        <h2>$9 <span>one-time<br>payment</span></h2>
                        <h3>PREMIUM ACCOUNT</h3>
                        <h4>For producers &amp; business users</h4>
                        <hr>
                        <div class="row subscribe-row">
                            <a href="{% url 'account_signup' %}?option=paid" class="subscribe" data-signup-option="premium">Buy</a>
                        </div>
                    </div>
                    <div class="row signup-bottom">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check-circle-o"></i> Unlimited video uploads for life</li>
                            <li><i class="fa-li fa fa-check-circle-o"></i> Create groupwatch sessions with team</li>
                            <li><i class="fa-li fa fa-check-circle-o"></i> Manage production tasks via dashboard</li>
                            <li><i class="fa-li fa fa-check-circle-o"></i> Speak directly with your audience</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 go-back">
                    <p>Already have an account? <a href="{% url 'account_login' %}">Log in</a> or <a href="{% url 'fbz-tumblr-home' %}">click here</a> to return to the homepage.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
{% endblock %}
