{% extends "marketing/base.html" %}
{% load staticfiles addendum_tags compress %}

{% block page_classes %}content subpage wordpress{% endblock %}

{% block page_css %}
    {% compress css %}
        <link href="{% static 'framebuzz/player/app/css/mediaelementplayer.min.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{% static 'framebuzz/marketing/css/stylesheets/onboarding.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content_center %}
    <div id="onboarding" class="col-md-12">
        <div id="video" class="row container">
            <div class="col-xs-4 sidebar">
                <div class="row container">
                    <div class="col-xs-12 details">
                        <h1>Vlogger Heaven</h1>
                        <p>Add moment-by-moment commentary to the videos you post, and let your users interact with you and each other around every second of a video.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-xs-7 download">
                        <a href="http://wordpress.org/plugins/framebuzz/" target="_blank" class="btn btn-info btn-large">Download Plugin</a>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-xs-7 text-center or">- or -</div>
                </div>
                <div class="row container">
                    <div class="col-xs-12 register">
                        <a href="{% url 'account_signup' %}" class="btn btn-info btn-large">Create an Account</a>
                        <br>
                        <em class="text-center">(and explore FrameBuzz!)</em>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 video-container">
                <video src="http://p.fbzvideos.framebuzz.netdna-cdn.com/vod/fbzvideos.framebuzz/framebuzz.mp4" poster="{% static 'framebuzz/marketing/img/wp-onboarding.jpg' %}" width="580" height="325"></video>
                <div id="steps">
                    <div class="step step1">
                        <button type="button" id="btn-start" class="btn btn-lg btn-success"><i class="fa fa-video-camera fa-fw"></i> Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascript %}
    {% compress js %}
        <script src="{% static 'framebuzz/marketing/vendor/mediaelement-and-player.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('video').mediaelementplayer({
                    features: ['playpause'],
                    alwaysShowControls: false,
                    enableKeyboard: false,
                    enablePluginSmoothing: true,
                    autosizeProgress: false,
                    defaultVideoWidth: 580,
                    defaultVideoHeight: 325,
                    enablePseudoStreaming: true,
                    pluginPath: '/static/framebuzz/player/app/swf/',
                    flashName: 'flashmediaelement.swf',
                    silverlightName: 'silverlightmediaelement.xap',
                    success: function(media) {
                        $('.mejs-controls').remove();

                        $('.mejs-video').css({ height: '325px', width: '580px' });
                        $('video').css({ height: '325px', width: '580px' });

                        $('#btn-start').click(function() {
                            $('div.step1').hide('fast', function() {
                                media.play();
                            });
                        });
                    }
                });
            });
        </script>
    {% endcompress %}
{% endblock %}