{% load i18n avatar_tags %}

{% if page_obj.object_list %}
  <ul id="feed">
    {% for action in page_obj.object_list %}
      <li class="clearfix">
        <img src="{% avatar_url action.actor 50 %}" alt="" height="50" width="50" />
        <div class="feed-header clearfix">
          <div class="details clearfix">
            <h1>{{ action.actor }}</h1>
            <span class="posted-on">{{ action.timestamp|timesince }} {% trans "ago" %}</span>
          </div>
          <p>
              {{ action.verb }}
              {% if action.action_object %}
                  {% if action.action_object.get_absolute_url %}<a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
                  {% else %}<a href="{{ action.target_url }}">{{ action.action_object }}</a>{% endif %}
              {% endif %}
              {% if action.action_object and action.target %}to{% endif %}
              {% if action.target %}
                  {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                  {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
              {% endif %}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% include "dashboard/snippets/pagination.html" %}
{% else %}
  <div class="alert alert-info">
    <strong>{{ user }}</strong> has no activity yet!
  </div>
{% endif %}