{% load staticfiles i18n account socialaccount compress avatar_tags raven %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
    <meta itemprop="image" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}">
    <meta property="og:image:url" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}">
    <meta property="og:url" content="http://framebuzz.com">
    <meta property="og:description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
    <meta property="og:title" content="FrameBuzz: Watch Whenever, Talk Together.">
    <meta property="og:site_name" content="FrameBuzz">
    <link rel="shortcut icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    <title>{% block page_title %}FrameBuzz + Tumblr{% endblock %}</title>
    <script src="https://use.typekit.net/tud1dml.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% compress js %}
      <script src="{% static 'framebuzz/marketing/vendor/compat/modernizr.min.js' %}"></script>
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/fontawesome/font-awesome.min.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/remodal.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/remodal-default-theme.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/jquery.growl.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/hover.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/player/app/css/animations.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/js/vendor/mediaelement/mediaelementplayer.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/lightslider.min.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/screen.css' %}" type="text/css" media="screen">
    {% endcompress %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="tumblr{% if is_mobile %} mobile{% endif %}{% if not show_carousel %} no-carousel{% endif %}{% block body_classes %}{% endblock %}">
    <!--[if lte IE 8]>
      <div class="chromeframe">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
    <div id="base" class="remodal-bg container-fluid">
      <div id="header">
        <div id="actions" class="clearfix logged-{% if not request.user.is_authenticated %}out{% else %}in{% endif %}">
          <div class="container">
            {% include "tumblr/snippets/account.html" %}
          </div>
        </div>
        <div id="logo-content">
          <div id="fbz-logo" class="row">
              <div class="col-xs-12">
                <div class="container">
                  <img src="{% static 'framebuzz/tumblr/img/v2/logo@2x.png' %}" class="img-fluid m-x-auto d-block">
                </div>
              </div>
          </div>
          <div id="tumblr-video-chat" class="row">
              <div class="col-xs-12">
                <div class="container">
                  <img src="{% static 'framebuzz/tumblr/img/v2/tumblr-video-chat@2x.png' %}" class="img-fluid m-x-auto d-block">
                </div>
              </div>
          </div>
          <div id="what-is-fbz" class="row">
              <div class="col-xs-12">
                <div class="container">
                  <img src="{% static 'framebuzz/tumblr/img/v2/what-is-fbz@2x.png' %}" class="img-fluid m-x-auto d-block">
                </div>
              </div>
          </div>
        </div>
      </div>
      <div id="sidenav" class="col-xs-3 hidden-lg-down">
        <div class="innernav">
          <a href="{% if request.user.is_authenticated %}#uploader{% else %}{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}{% endif %}" class="upload{% if not request.user.is_authenticated %} tumblr-login-link{% endif %}"><span class="icon"></span>Upload a video</a>
          <a href="{% if request.user.is_authenticated %}#videolist{% else %}{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}{% endif %}" class="framebuzzes{% if not request.user.is_authenticated %} tumblr-login-link{% endif %}"><span class="icon"></span>My framebuzzes{% if request.user.is_authenticated %} ({{ video_count }}){% endif %}</a>
          <a href="{% if request.user.is_authenticated %}#post{% else %}{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}{% endif %}" class="share{% if not request.user.is_authenticated %} tumblr-login-link{% endif %}"><span class="icon"></span>Share to your tumblr</a>
        </div>
      </div>
      <div id="example">
        <div class="container">
          <div class="row">
            <div class="col-xs-12" id="embed-row">
                <video poster="https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/b5P2hIWQviStSbw7sh5r.mp4" controls="controls" preload="auto" class="video" width="705" height="395" style="max-width: 100%; height: 100%;">
                  <source type="video/mp4" src="https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/b5P2hIWQviStSbw7sh5r.mp4">
                  <source type="video/webm" src="https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/b5P2hIWQviStSbw7sh5r.webm">
                  <object type="application/x-shockwave-flash" data="{% static 'framebuzz/tumblr/js/vendor/mediaelement/flashmediaelement.swf' %}">
                      <param name="movie" value="{% static 'framebuzz/tumblr/js/vendor/mediaelement/flashmediaelement.swf' %}">
                      <param name="flashvars" value="controls=true&file=https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/b5P2hIWQviStSbw7sh5r.mp4">
                      <img src="https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/frame_0001.png" title="No video playback capabilities" class="img-fluid">
                  </object>
                </video>
            </div>
          </div>
        </div>
      </div>
      <div id="login-row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {% if request.user.is_authenticated %}
                <a href="#uploader" title="Upload a video and start a framebuzz" class="btn-start-fbz m-x-auto d-block"></a>
              {% else %}
                  <a href="{% provider_login_url 'tumblr' next=next_url method='oauth2' display='popup' %}" title="Login with your Tumblr account and upload a video" class="btn-login no-login tumblr-login-link m-x-auto d-block"></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if show_carousel %}
        <div id="video-carousel">
          {% include "tumblr/snippets/carousel.html" %}
        </div>
      {% endif %}
      <div id="uploader">
        {% include "tumblr/snippets/upload.html" %}
      </div>
      {% block content %}{% endblock %}
      <div id="post">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-xs-center text-md-left">Post it to your tumblr page... <br class="hidden-md-up"><em>and get talking</em>!</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 pull-left">
                <img src="{% static 'framebuzz/tumblr/img/vid@2x.jpg' %}" width="166" class="img-fluid m-x-auto d-block">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 pull-left">
                <p class="info">
                  Click the 'post to my tumblr' button on your video, or copy/paste the embed tag
                  to use on your tumblr page, and voilá! You're ready to talk!
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="m-x-auto d-block text-xs-center">&copy; {% now "Y" %}, FrameBuzz. Patent 14/067,585.</footer>
    <div class="remodal{% if is_mobile %} mobile{% endif %}" data-remodal-id="modal" data-remodal-options="hashTracking: false">
        <iframe src="" scrolling="no" frameBorder="0" allowfullscreen="true" height="{{ lightbox_embed.height }}" width="{{ lightbox_embed.width }}" class="fbzplayer center-block"></iframe>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script type="text/javascript">
      (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v2/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    {% compress js %}
        <script>IS_MOBILE = '{{ is_mobile|lower }}' == 'true';</script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/lightslider.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/stickykit.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/queryCommandSupported.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/mediaelement/mediaelement-and-player.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/remodal.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/jquery.growl.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/clipboard.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/jquery.dotdotdot.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/uploads.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function() {
          var isDebug = '{{ is_debug|lower }}' == 'true';
          var showCarousel = '{{ show_carousel|lower }}' == 'true';

          if (showCarousel) {
            $('#featured-videos-carousel').lightSlider({
                item: 4,
                pager: false,
                auto: false,
                loop: true,
                slideMove: 1,
                slideMargin: 9,
                speed: 600,
                controls: true,
                responsive: [
                  {
                      breakpoint: 650,
                      settings: {
                          item: 2,
                          slideMove: 1,
                          slideMargin: 9
                        }
                  },
                    {
                        breakpoint: 361,
                        settings: {
                            item: 1,
                            slideMove: 1,
                            slideMargin: 9
                          }
                    }
                ],
                onSliderLoad: function() {
                    $('#featured-videos-carousel').removeClass('cS-hidden');
                }
            });
          }

          // Sticky sidebar.
          $("#sidenav").stick_in_parent();

          // Video player.
          $('video').mediaelementplayer({
            debug: isDebug,
            enablePluginDebug: isDebug,
            features: ['playpause','progress','volume',],
            startVolume: 0,
            pluginPath: '/static/framebuzz/tumblr/js/vendor/mediaelement/',
            enablePluginSmoothing: true,
            flashScriptAccess: 'always',
            poster: 'https://fbz-zc.s3.amazonaws.com/b5P2hIWQviStSbw7sh5r/frame_0001.png',
            showPosterWhenEnded: true,
            // There's a bug here where commenting and hitting the spacebar will
            // cause the space to not be entered, and the video to pause.
            enableKeyboard: false,
            success: function(media) {
              media.play();
            }
          });
        });
        </script>
    {% endcompress %}
    {% if not is_debug %}
      <script src="//cdn.ravenjs.com/2.3.0/raven.min.js"></script>
      <script>Raven.config('{% sentry_public_dsn %}').install();</script>
      <script>
        var _prum = [['id', '526acad9abe53d0e0d000000'],
                     ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
              , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-43394419-1', 'framebuzz.com');
        ga('send', 'pageview');
      </script>
      <script>
          setTimeout(function(){
              var a=document.createElement("script");
              var b=document.getElementsByTagName("script")[0];
              a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/6248.js?"+Math.floor(new Date().getTime()/3600000);
              a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
      </script>
    {% endif %}
  </body>
</html>
