{% load staticfiles i18n account socialaccount compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'framebuzz/favicon.ico' %}" type="image/x-icon">
    <title>{% block page_title %}FrameBuzz + Tumblr{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
    <meta itemprop="image" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}">
    <meta property="og:image:url" content="http://framebuzz.com{% static 'framebuzz/marketing/img/share_logo.jpg' %}">
    <meta property="og:url" content="http://framebuzz.com">
    <meta property="og:description" content="Share thoughts and conversations with friends while you watch videos, even if you're not watching at the same time.">
    <meta property="og:title" content="FrameBuzz: Watch Whenever, Talk Together.">
    <meta property="og:site_name" content="FrameBuzz">
    <script>
      (function(d) {
        var tkTimeout=3000;
        if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
        var config = { kitId: 'tud1dml', scriptTimeout: tkTimeout },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    {% compress js %}
      <script src="{% static 'framebuzz/marketing/vendor/compat/modernizr.min.js' %}"></script>
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/bootstrap/css/bootstrap.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/marketing/vendor/fontawesome/font-awesome.min.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'framebuzz/tumblr/css/stylesheets/screen.css' %}" type="text/css" media="screen">
    {% endcompress %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="tumblr{% block body_classes %}{% endblock %}">
    <!--[if lte IE 8]>
      <div class="chromeframe">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
    <div id="base" class="container">
      <div id="header" class="row">
        <div id="actions" class="clearfix">
          {% if request.user.is_authenticated %}
            <form class="pull-right" method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{% url 'fbz-tumblr-home' %}"/>
              <button class="btn btn-small btn-success" type="submit">Log out</button>
            </form>
          {% else %}
            <a id="btn-login" class="btn btn-small btn-success pull-right">Log in</a>
          {% endif %}
        </div>
        <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5 clearfix">
                <span class="powered-by pull-right">powered by</span>
              </div>
              <div class="col-xs-7 clearfix">
                <img class="fbz-logo" src="http://fpoimg.com/222x47?text=FPO: Logo" height="47" width="222">
              </div>
            </div>
            <div class="row">
              <div id="text-row" class="col-xs-12">
                {% spaceless %}
                  <span class="tumblr">tumblr</span><span class="dot">.</span>
                  <span class="video">video</span><span class="dot">.</span>
                  <span class="chat">chat</span><span class="dot">.</span>
                {% endspaceless %}
              </div>
            </div>
          </div>
      </div>
      <div id="example" class="row">
        <div class="col-xs-12">
          <img src="http://fpoimg.com/670x375?text=FPO: Player+Tumblr Image" height="375" width="670">
        </div>
        <div class="col-xs-12">
          <p class="description"><span>What is <img src="http://fpoimg.com/167x38?text=FPO: Logo" height="38" width="167">
?</span> <em>Chat with other Tumblr users on videos.</em></p>
        </div>
      </div>
      <div id="uploader" class="row">
        {% include "tumblr/snippets/upload.html" %}
      </div>
      {% block content %}{% endblock %}
      <div id="post" class="row">
        <h1>2. Post it to your tumblr page... <em>and get talking</em>!</h1>
        <div class="col-xs-3">
          <img src="http://fpoimg.com/162x103?text=FPO: Video Tile Image" height="103" width="162">
        </div>
        <div class="col-xs-9">
          <p class="info">
            Click the 'post to my tumblr' button on your video, or copy/paste the embed tag<br>
            to use on your tumblr page, and voilá! You're ready to talk!
          </p>
        </div>
      </div>
    </div>
    {% compress js %}
        <script src="{% static 'framebuzz/marketing/vendor/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/vendor/jquery/ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
        <script src="{% static 'framebuzz/profiles/vendor/jquery/lazyload.min.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/vendor/jquery.smooth-scroll.js' %}"></script>
        <script src="{% static 'framebuzz/tumblr/js/uploads.js' %}"></script>
    {% endcompress %}
    {% block page_javascript %}{% endblock %}
    <script>
      var _prum = [['id', '526acad9abe53d0e0d000000'],
                   ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
          var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
          p.async = 'async';
          p.src = '//rum-static.pingdom.net/prum.min.js';
          s.parentNode.insertBefore(p, s);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43394419-1', 'framebuzz.com');
      ga('send', 'pageview');
    </script>
    <script>
        setTimeout(function(){
            var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/6248.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
