{% extends "tumblr/base.html" %}
{% load staticfiles account i18n socialaccount compress %}

{% block page_title %}FrameBuzz | Tumblr Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body_classes %} uploader{% endblock %}

{% block content %}
  <div id="videos" class="row">
    <h3>My Videos</h3>
    {% if video_count == 0 %}
        <div id="no-videos" class="col-xs-12 blue-round no-videos">
          <h4>You have no videos uploaded.</h4>
          <p>Upload one above to get started.</p>
        </div>
    {% else %}
      <div id="video-list" class="col-xs-12 blue-round">
        {% include "tumblr/snippets/videos.html" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
