{% extends "tumblr/base.html" %}
{% load staticfiles account i18n socialaccount compress %}

{% block page_title %}Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body_classes %} uploader{% endblock %}

{% block content %}
  <div id="videos" class="row">
    <h3>My Videos</h3>
    {% if video_count == 0 %}
        <div id="no-videos" class="blue-round">
          <h4>You have no videos uploaded.</h4>
          <p>Upload one above to get started.</p>
        </div>
    {% else %}
    {% endif %}
  </div>
{% endblock %}


{% block page_javascript %}
{% endblock %}
