{% extends "tumblr/base.html" %}
{% load staticfiles account i18n socialaccount compress %}

{% block page_title %}Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body_classes %} uploader{% endblock %}

{% block content %}
  <div id="videos" class="row">
    <div class="col-xs-12">
      <h3>My Videos</h3>
      {% if video_count == 0 %}
          <div id="no-videos" class="col-xs-12 blue-round">
            <h4>You have no videos uploaded.</h4>
            <p>Upload one above to get started.</p>
          </div>
      {% else %}
        <div id="video-list" class="col-xs-12 blue-round">
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}


{% block page_javascript %}
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
{% endblock %}
