{% extends "tumblr/base.html" %}
{% load staticfiles account i18n socialaccount compress %}

{% block body_classes %}view-video {% if request.user.is_authenticated %} logged-in{% else %} logged-out{% endif %}{% if video_count == 0 %} no-videos{% endif %}{% endblock %}

{% block embedded_video %}
    <iframe src="{% url 'video-embed' video.slug %}" scrolling="no" frameBorder="0" allowfullscreen="true" height="435" width="700" class="fbzplayer center-block"></iframe>
{% endblock %}

{% block player_js %}
{% endblock %}
