
/* Code for [Framebuzz a New Video] */

#first-option {
    padding: 5px;
}

.table-like {
    display: table;
    width: 90%;
}

.row-like {
    display: table-row;
}

.cell-like {
    display: table-cell;
}

.mid-text {
    text-align: center;
}

/* ............................... */