
/* Code for [Framebuzz a New Video] */

#first-option {
    padding: 5px;
}

.table-like {
    display: table;
    width: 99%;
}

.table-like .table-small {
    display: table;
    width: 50%;
    text-align: left;
    min-height: 500px;
}

.table-like .table-medium {
    display: table;
    width: 70%;
    text-align: left;
    min-height: 500px;
}

.row-like {
    display: table-row;
}

.row-like .row-small {
    display: table-row;
    
}

.cell-like {
    display: table-cell;
}

.cell-like .cell-small {
    display: table-cell;
    width: 30px !important;
}


.mid-text {
    text-align: center !important;
}

/*  ............................... 
    Video Library  
    ............................... */

/*video-library-galleryview{
  display:none;
}                 
video-library-listview{
  display:none;
}*/

#left-login {
    width: 25%;
    min-width: 25%;
}

#right-login {
    width: 35%;
    min-width: 35%;
}

#left-header-login {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#right-header-login {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#video-container {
    min-height: 100%;
    padding: 30px;
}

#left {
    position:absolute;
    top: 70px;
    left: 5px;
    width: 20%;
    min-width: 20%;
    min-height: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 2px;
}

#moderator-left {
    position:absolute;
    top: 70px;
    left: 5px;
    width: 25%;
    min-height: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 2px;
}

#right {
    position: absolute;
    top: 50px;
    left: 260px;
    width: 70%;
    min-height: 100%;
    padding: 10px;
}

#signup {
    position: relative;
    top: -35px;
    padding-left: 30px;
}

.spaced-title {
    padding-bottom: 10px;
    padding-top: 10px;
}

select {
    width: 180px !important;
}

select:first-child {
    font-style: italic;
}

.small-select {
    width: 50px !important;
}

.moderator-report-container {
    width: 100%;
    padding-top: 3px;
}

.td-hidden {
    display: none !important;
}

.video-right-panel {
    left: 30px;
    position: relative;
}

.video-left-panel > div {
    padding-top: 10px;
    text-align: center;
}

.moderator-rule-set , .moderator-report {
    width: 180px;
}

#video-container {
    width: 95%;
}

#vcard-description, #ucard-name {
    text-align: center;
    font-size: 16px;
    padding: 2px;
}

#vcard-thumbnail {
    padding: 2px;
    border: thick 2px #FFFFFF;
    box-shadow: 0px 5px 2px #888888;
}

.row-fluid .filter-block {
    padding: 10px;
}

.base-fotter {
    bottom: 0px !important;
}

.gallery {
    position: absolute;
    left: 10px;
    width: 100%;
}

.title, .pull-center{
    text-align: center;
}

#video-player-wrapper {
    width: auto;
    height: auto;
    position:relative;
    top: -30px;
}

#find-user {
    height: 70px;
}

#notify-user {
    padding-top: 10px;
    padding-bottom: 10px;
}

#hide-comments {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#user-table {
    box-shadow: 0px 5px 2px #888888;
    padding: 5px;
}

#user-stats {
    width: 100%;
}

#user-stats td {
    width: auto;
    padding: 10px;
}

#user-stats tr:first-child {
    border-bottom: solid 1px #888888;
}

#user-options {
    text-align: center;
}

#video-view-type {
    top:5px;
}

#content {
    padding: 12px 36px 12px 12px !important;
}

.list-view-videos-table {
    overflow-y: scroll !important;
    height: 520px;
}

#div-success-fbuzz-video, #div-success-yt-video {
    display: none;
}

