.popupback {
  opacity:0.75;
  background-color:#000000;
  z-index:1000;
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
}

.popupbox {
  background-color:#ffffff;
  z-index:1001;
  position:fixed;
  left:50%;
  top:50%;
  padding: 20px;
}

.popupx {
  float:right;
  margin-right:0px;
  margin-top:14px;
  font-color:#0f0f0f; 
}

#fbuzz-code {
  border: 0px;
  resize: none;
}

#popupx-header {
  padding-left: 10px;
}