<div class="col-xs-12">
    <div class="row tabs-wrapper">
        <div class="col-xs-2 tabs-title">
            <h4><i class="fa fa-cloud-upload"></i> Upload Video</h4>
        </div>
        <ul id="add-video-tabs" class="col-xs-5 nav nav-tabs">
            <li class="file">
                <a href="#upload-file" data-toggle="tab">
                    <i class="fa fa-film fa-fw"></i>
                    <strong>From a File or the Cloud</strong>
                </a>
            </li>
            <li class="youtube">
                <a href="#upload-youtube" data-toggle="tab">
                    <i class="fa fa-youtube-play fa-fw"></i>
                    <strong>From YouTube</strong>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-7 tab-content">
            <div id="upload-file" class="tab-pane">
                <form id="upload-file-form" action="{% url 'profiles-upload-video' request.user.username %}" method="POST">
                    {% csrf_token %}
                    {{ upload_form.fpname.as_hidden }}
                    <div class="row drop-pane-row">
                        <div class="col-xs-12">
                            <div class="row input-row">
                                <div class="col-xs-12">
                                    {{ upload_form.title }}
                                </div>
                            </div>
                            <div class="row input-row textarea-row">
                                <div class="col-xs-12">
                                    {{ upload_form.description }}
                                </div>
                            </div>
                            <div class="row drop-pane-row-inner">
                                <div id="upload-drop-pane" class="col-xs-12 clearfix">
                                    {{ upload_form.fpfile }}
                                </div>
                            </div>
                            <div class="row submit-row">
                                <div class="col-xs-6 clearfix">
                                    <a class="btn cancel-upload btn-default pull-left" data-hide-tab="#upload-file"><i class="fa fa-times"></i> Cancel</a>
                                </div>
                                <div class="col-xs-6 clearfix">
                                    <button type="submit" class="btn add-video confirm-upload btn-theme pull-right">Upload &amp; Post Video</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="drop-result-bar" class="col-xs-12"></div>
                    </div>
                </form>
            </div>
            <div id="upload-youtube" class="tab-pane">
                <form id="add-video-form" action="{% url 'profiles-add-video' request.user.username %}" method="POST">
                    {% csrf_token %}
                    <div class="row drop-pane-row">
                        <div class="col-xs-12">
                            <div class="row input-row">
                                <div class="col-xs-12">
                                    <input type="text" name="video_id" id="id_video_id" placeholder="Paste a YouTube URL to post a video...">
                                </div>
                            </div>
                            <div class="row submit-row">
                                <div class="col-xs-6 clearfix">
                                    <a class="btn cancel-upload btn-default pull-left" data-hide-tab="#upload-youtube"><i class="fa fa-times"></i> Cancel</a>
                                </div>
                                <div class="col-xs-6 clearfix">
                                    <button type="submit" class="btn add-video confirm-upload btn-theme pull-right">
                                        Post Video
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>