<!-- MODERATOR RULE SETS -->
<div>
    <input type="hidden" name="videoId" id='ffv-vcard-id' value="" />
    <div class="description">
        <label class='name pull-center' id='ffv-vcard-description'>
            <strong>Rule Set Name</strong>
        </label>
    </div>
    <hr/>
    <div class='table-like table-small'>
        <div class='row-like'>
            <div class='cell-like'>
                <strong>Moderators:</strong>
            </div>
        </div>
        <div class = 'row-like row-small'>
            <div class='cell-like'>
                <select id='slct-moderator-list' >
                    <option value='0'>Choose a moderator</option>
                    <!-- FOR MODERATOR IN MODERATOR_LIST -->
                </select>
            </div>
        </div>
        <div class='row-like row-small'>
            <div class='cell-like cell-small'>
                <strong>Notifiy Moderator when # Comments in Queue:</strong>
            </div>
            <div class='cell-like'>
                <select id='slct-comment-queue' class='small-select'>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        
        <div class='row-like'>
            <div class='cell-like'>
                <strong>Send to Queue when Comment Flagged # Times</strong>
            </div>
            <div class='cell-like'>
                <select id='slct-comment-flagged' class='small-select'>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        
        <div class='row-like'>
            <div class='cell-like'>
                <strong>Auto-Hide Flagged Comments in Queue:</strong>
            </div>
            <div class='cell-like'>
                <div class="slider-frame primary">
                    <span name="openclosecomments" class="slider-button" data-off-text="OFF" data-on-text="ON" id='sldr-hide-flagged'>OFF</span>
                </div>
            </div>
        </div>
        
        <div class='row-like'>
            <div class='cell-like'>
                <strong>Block Profanity:</strong>
            </div>
            <div class='cell-like'>
                <div class="slider-frame primary">
                    <span name="openclosecomments" class="slider-button" data-off-text="OFF" data-on-text="ON" id='sldr-block-profaniy'>OFF</span>
                </div>
            </div>
        </div>
        
        <div class='row-like pull-center'>
            <p>
                <select id='slct-blocked-words'>
                    <option selected value='0'>Select a Word</option>
                    <!-- FOR WORD IN WORD_LIST -->
                </select>
            </p>
            <p>
                <div class="btn-flat" id='btn-apply'>Apply Changes</div>
            </p>
            <p>
                <div class="btn-flat danger">Delete Rule Set</div>
            </p>
        </div>        
    </div>
</div>