<!-- MODERATOR PROFILE -->
<div>
    <input type="hidden" name="videoId" id='ucard-id' value="" />
    <div id="ucard-thumbnail">
    </div>
    <div class="description">
        <label class='name' id='ucard-name'>Name</label>
    </div>
    <div id='user-table'>
        <table id='user-stats'>
            <tr>
                <td id='cell-comments'></td>
                <td id='cell-favorites'></td>
            </tr>
            <tr>
                <td id='cell-followers'></td>
                <td id='cell-following'></td>
            </tr>
        </table>
    </div>
    <hr/>
    <div id='user-options'>
        <p>
            <div class="btn-flat icon"><i class="icon-star-empty"></i> Make Star Commenter</div>
        </p>
        <p>
            <div class="btn-flat icon"><i class="icon-ban-circle"></i> Ban user from site</div>
        </p>
        <p>
            <strong>IP Address: <label id='ip-address'></label></strong>
            <div class="btn-flat" id='btn-ban-ip'>Ban IP Address</div>
        </p>
    </div>
</div>