{% for vid in pending_uploads %}
  <li data-job-id="{{ vid.job_id }}">
    <a href="#">
        <div class="task-info">
            <div class="desc">{{ vid.filename }}</div>
            <div class="percent"><span class="percent-text">40%</span></div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only"><span class="percent-text">40%</span> Complete</span>
            </div>
        </div>
    </a>
</li>
{% empty %}
    <li class="empty centered" style="padding: 50px 0;"><h3>No pending uploads!</h3></li>
{% endfor %}