<div id="upload-video" class="row content-panel">
    <div id="wizard">
        <h4>1. Select Video Upload Option</h4>
        <section>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 masonry">
                <div class="dmbox" data-uploadtype="dragdrop">
                    <div class="service-icon">
                        <a class=""><i class="dm-icon fa fa-file-video-o fa-3x"></i></a>
                    </div>
                    <h5>1. Drag and Drop / Cloud Uploader</h5>
                    <p class="hidden-sm hidden-xs">
                        <strong>Drag and drop a video file in the space we provide, </strong> <br> or import videos from your favorite cloud services.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 masonry">
                <div class="dmbox" data-uploadtype="youtube">
                    <div class="service-icon">
                        <a class=""><i class="dm-icon fa fa-youtube fa-3x"></i></a>
                    </div>
                    <h5>2. YouTube URL</h5>
                    <p class="hidden-sm hidden-xs">Add a new dimension to your YouTube videos.<br><strong>Just paste the URL, and we'll add it to your dashboard &mdash; instantly!</strong></p>
                </div>
            </div>
        </section>
        <h4>2. Add Video</h4>
        <section>
            <div class="row">
                <div id="wizard-content" class="col-xs-12">
                    <form id="upload-video-form" action="{% url 'profiles-upload-video' request.user.username %}" method="POST" class="hidden">
                        {% csrf_token %}
                        {{ upload_form.fpname.as_hidden }}
                        <div class="row drop-pane-row">
                            <div class="col-xs-4 right-divider pull-left">
                                <div class="row input-row">
                                    <div class="col-xs-12">
                                        {{ upload_form.title }}
                                    </div>
                                </div>
                                <div class="row input-row textarea-row">
                                    <div class="col-xs-12">
                                        {{ upload_form.description }}
                                    </div>
                                </div>
                                <div class="row input-row textarea-row">
                                    <div class="col-xs-12">
                                        {{ upload_form.notify_emails }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 pull-left">
                                <div class="row drop-pane-row-inner">
                                    <div id="upload-drop-pane" class="col-lg-12 clearfix">
                                        {{ upload_form.fpfile }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="drop-result-bar" class="col-xs-12"></div>
                        </div>
                    </form>
                    <form id="add-video-form" action="{% url 'profiles-add-video' request.user.username %}" method="POST" class="hidden">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="video_id" id="id_video_id" placeholder="Paste a YouTube URL to post a video...">
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
