{% load staticfiles profile_tags comments %}


<div class="row modal-content-wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 poster-image">
      <div class="row">
        <div class="col-xs-12">
            <a class="thumbnail-link fancybox" data-fancybox-type="iframe" href="{% url 'video-embed' video.slug %}">
                <img src="{{ video.default_thumbnail }}" alt="{{ video.title }}" class="cover lazy-load img-responsive">
                <span class="play absolute-center"><i class="fa fa-icon fa-play fa-2x absolute-center"></i></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <h5><i class="fa fa-fw fa-eye"></i> {{ plays|short_number }} View{{ plays|pluralize }}</h5>
          </div>
          <div class="col-xs-12">
              <h5><i class="fa fa-fw fa-user"></i> {{ commenters|length|short_number }} Participant{{ commenters|length|pluralize }}</h5>
          </div>
          <div class="col-xs-12">
              {% get_comment_count for video as comment_count %}
              <h5><i class="fa fa-fw fa-comments-o"></i> {{ comment_count|short_number }} Comment{{ comment_count|pluralize }}</h5>
          </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="row row-modal-tabs">
            <div class="col-lg-12 modal-tab-container">
                <ul id="modal-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#video-details">Video Details</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#video-comments" class="contact-map">Viewer Comments</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row tab-content">
            <div id="video-details" class="tab-pane active col-lg-12">
                <table class="table table-hover">                              
                  <tbody>
                      {% if video.added_by %}
                      <tr>
                          <td class="first"><strong>Uploaded By</strong></td>
                          <td class="first">{{ video.added_by|display_name }}</td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td{% if not video.added_by %} class="first"{% endif %}><strong>{% if video.added_by %}Uploaded{% else %}Added{% endif %} On</strong></td>
                          <td{% if not video.added_by %} class="first"{% endif %}>{{ video.added_on }}</td>
                      </tr>
                      <tr>
                          <td><strong>Duration</strong></td>
                          <td>{{ video.timeInHMS }}</td>
                      </tr>
                      <tr>
                          <td><strong>Description</strong></td>
                          <td>{% if video.description.length > 0 %}{{ video.formatted_description }}{% else %}<i>No description available.</i>{% endif %}</td>
                      </tr>
                      <tr>
                          <td><strong>Public</strong></td>
                          <td>{{ video.public|yesno|title }}</td>
                      </tr>
                      <tr>
                          <td><strong>Embed Code</strong></td>
                          <td><textarea style="font-family: monospace; font-size: 12px;" rows="2" class="form-control">{{ video.embed_code }}</textarea></td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div id="video-comments" class="tab-pane table-responsive">
              {% if unread_comments|length > 0 %}
                  <table class="table table-comments table-striped table-advance table-hover">
                      <tbody>
                          {% for com in unread_comments %}
                              {% include "dashboard/snippets/comments/list_item.html" %}
                          {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="time"><strong><i class="fa fa-fw fa-comments"></i> [@00:00] {{ request.user|display_name }}</strong></td>
                          <td class="comment" colspan="3">
                            <form class="form-inline comment-reply-form" action="" method="post">
                              {% csrf_token %}
                              <p style="display:none;"><input type="text" id="id_honeypot" name="honeypot"></p>
                              <input type="hidden" name="parent">
                              <input type="hidden" name="time">
                              <input type="hidden" name="object_pk" val="">
                              <input type="hidden" name="content_type" val="">
                              <input type="text" name="comment" class="form-control" placeholder="Select a comment to reply..." autocomplete="off" style="width: 78%; margin-right: 12px;" disabled>
                              <button type="submit" class="btn btn-success btn-submit-reply">Reply</button>
                              <button class="btn btn-danger btn-clear-form tooltips">Clear</button>
                            </form>
                          </td>
                        </tr>
                    </tfoot>
                  </table>
              {% else %}
                  <div class="text-center stats">
                      <i class="fa fa-4x fa-inbox"></i>
                      <h5>No viewer activity yet!</h5>
                  </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>