<!-- Admin Controls view -->
<div id="admin-controls-wrapper">
    <div id="video-player-wrapper">
       {{ video.embed_code|safe}}
    </div>
    <hr/>
    <div id="video-description" class='table-like'>
        <div class='row-like'>
            <div class='cell-like'>
                <p><strong>Description</strong></p>
                <p>{{video.description}}</p>
            </div>
            <div class='cell-like'>
                <p><strong>Added By</strong></p>
                <p>{{video.added_by}}</p>
            </div>
        </div>
        <div class='row-like'>
            <div class='cell-like'>
                <p><strong>Original URL:</strong></p>
                <p>{{ video.youtube_url }}</p>
            </div>
            <div class='cell-like'>
                <p><strong>Added:</strong></p>
                <p>{{ video.added_on }}</p>
            </div>
        </div>
    </div>
</div>
