<!-- ADD YOUTUBE VIDEOS -->
<div id='video-list-wrapper' class="row-fluid">
    {% csrf_token %}
    {% if video_list %}
    <hr/>
    <h3>Your List</h3>
    <p>
        <table class="table table-hover">
        <thead>
            <tr>
                <th class="span1">
                    <input type="checkbox" id='chk-all'>
                </th>
                <th class="span2">
                    <span class="line"></span>Video
                </th>
                 <th class="span3">
                    <span class="line"></span>Title
                </th>
                <th class="span3">
                    <span class="line"></span>Description
                </th>
            </tr>
        </thead>
        <tbody>
            {% for video in video_list %}
                {% if forloop.first %}
                    <tr class="first">
                        <td>
                            <input type="checkbox" data-videoid="{{video.video_id}}">
                        </td>
                        <td>
                            <div class="img">
                                <img height="60" width="80" src="{{video.default_thumbnail}}">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="name"> {{video.title}} </a>
                        </td>
                        <td class="description">
                            <div>{{ video.description }}</div>
                        </td>
                    </tr>
                {% else %}
                     <tr>
                        <td>
                            <input type="checkbox" data-videoid="{{video.video_id}}">
                        </td>
                        <td>
                            <div class="img">
                                <img height="60" width="80" src="{{video.default_thumbnail}}">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="name"> {{video.title}} </a>
                        </td>
                        <td class="description">
                            <div>{{ video.description }}</div>
                        </td>
                    </tr>
                {% endif%}
                
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <p>
            <button id="btn-add-video" class="btn-flat primary">
                FrameBuzz!
            </button>
        </p>
        {% endif %}
    </p>
</div>