{% load staticfiles profile_tags comments %}


<div class="row modal-content-wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 poster-image">
        <img src="{{ video.default_thumbnail }}" class="img-responsive">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="row row-modal-tabs">
            <div class="col-lg-12 modal-tab-container">
                <ul id="modal-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#video-details">Video Details</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#video-comments" class="contact-map">Viewer Comments</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#video-stats">Statistics</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row tab-content">
            <div id="video-details" class="tab-pane active col-lg-12">
                <table class="table table-hover">                              
                  <tbody>
                      {% if video.added_by %}
                      <tr>
                          <td class="first"><strong>Uploaded By</strong></td>
                          <td class="first">{{ video.added_by|display_name }}</td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td{% if not video.added_by %} class="first"{% endif %}><strong>{% if video.added_by %}Uploaded{% else %}Added{% endif %} On</strong></td>
                          <td{% if not video.added_by %} class="first"{% endif %}>{{ video.added_on }}</td>
                      </tr>
                      <tr>
                          <td><strong>Duration</strong></td>
                          <td>{{ video.timeInHMS }}</td>
                      </tr>
                      <tr>
                          <td><strong>Description</strong></td>
                          <td>{% if video.description.length > 0 %}{{ video.formatted_description }}{% else %}<i>No description available.</i>{% endif %}</td>
                      </tr>
                      <tr>
                          <td><strong>Public</strong></td>
                          <td>{{ video.public|yesno|title }}</td>
                      </tr>
                      <tr>
                          <td><strong>Embed Code</strong></td>
                          <td><textarea style="font-family: monospace; font-size: 12px;" rows="2" class="form-control">{{ video.embed_code }}</textarea></td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div id="video-comments" class="tab-pane">
                {% if unread_comments|length > 0 %}
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            {% for com in unread_comments %}
                                {% include "dashboard/snippets/comments/list_item.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center stats">
                        <i class="fa fa-4x fa-inbox"></i>
                        <h5>No unread comments.</h5>
                    </div>
                {% endif %}
                {% comment %}
                <div class="comments-row row mt">
                    <section>
                        <div class="panel-body">
                            <div class="task-content">
                                {% if unread_comments|length > 0 %}
                                    <ul class="task-list ui-sortable">
                                    {% for com in unread_comments %}
                                        <li class="list-item"
                                            data-parent="{{ com.id }}" 
                                            data-time="{{ com.time }}" 
                                            data-time-display="{{ com.timeInHMS }}" 
                                            data-commenter="{{ com.user|display_name }}" 
                                            data-reply-url="{% url 'dashboard-comment-reply' com.content_object.slug %}"
                                            data-class="list-{% if forloop.counter == 1 %}primary{% elif forloop.counter == 2 %}danger{% elif forloop.counter == 3 %}success{% elif forloop.counter == 4 %}warning{% else %}info{% endif %}"
                                            data-object-pk="{{ com.object_pk }}"
                                            data-content-type="{{ com.content_type }}">
                                            {% include "dashboard/snippets/comments/list_item.html" %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    <div class="row reply">
                                        <div class="col-md-12 reply-container">
                                            <form class="form-inline comment-reply-form" action="" method="post">
                                                {% csrf_token %}
                                                <p style="display:none;"><input type="text" id="id_honeypot" name="honeypot"></p>
                                                <input type="hidden" name="parent">
                                                <input type="hidden" name="time">
                                                <input type="hidden" name="object_pk" val="">
                                                <input type="hidden" name="content_type" val="">
                                                <div class="form-group col-md-11">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-fw fa-comments"></i> <strong>[@00:00]</strong></span>    
                                                        <input type="text" name="comment" class="form-control" placeholder="Select a comment to reply..." autocomplete="off" disabled>
                                                        <button class="btn btn-danger btn-xs fa fa-times btn-clear-form tooltips" title="Clear"></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-success btn-submit-reply">Post Reply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% else %}

                            {% endif %}
                        </div>
                    </section>
                </div>
                {% endcomment %}
            </div>
            <div id="video-stats" class="tab-pane">
                <div class="row stats">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-4x fa-eye"></i>
                        <h5>{{ plays|short_number }} View{{ plays|pluralize }}</h5>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-4x fa-user"></i>
                        <h5>{{ commenters|length|short_number }} Commenter{{ commenters|length|pluralize }}</h5>
                    </div>
                    <div class="col-xs-4 text-center">
                        {% get_comment_count for video as comment_count %}
                        <i class="fa fa-4x fa-comments-o"></i>
                        <h5>{{ comment_count|short_number }} Comment{{ comment_count|pluralize }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>