@import "compass";
@import "compass/css3/border-radius";

body {
    background-color: #ffffff;
}

ul.top-menu > li > .logout {
    margin: 0 0 0 20px;
}

a.thumbnail-link {
    display: block;
    overflow: hidden;
    max-height: 294px;
    width: 100%;
    height: 100%;

    img.cover {
        height: 180px;
        width: 100%;
    }

    span.play {
        @include border-radius(50%, 50%);
        color: white;
        background-color: rgba(255, 255, 255, 0.5);
        height: 55px;
        width: 55px;
        z-index: 5;

        i.fa-play {
            color: black;
            display: block;
            height: 24px;
            padding-left: 5px;
            width: 24px;
        }
    }

    &:hover {
        span.play {
            background-color: rgba(255, 255, 255, 0.75);
        }
    }
}


.table {
    max-width: none;
    margin-bottom: 0;

    //col.time { width: 9%; }
    //col.user { width: 10%; }
    //col.comment { width: 65%; }
    //col.status { width: 10%; }
    //col.actions { width: 9%; }


    tbody {
        tr {
            cursor: pointer;

            //td { line-height: 34px; }

            td.time {
                border-left: 3px solid transparent;
                padding-right: 0;
                

                &.has-parent {
                    border-left: 3px solid rgba(91, 192, 222, 1.0);
                }

                i.fa-comment,
                i.fa-comments {
                    font-size: 14px;
                }

                i.fa-comments {
                    color: rgba(91, 192, 222, 1.0);
                    margin-left: -3px;
                }
            }

            td.user {

            }

            &.form-row {
                display: none;
                cursor: normal;

                td.comment {
                    padding: 0;

                }

                div.input-wrapper {
                    padding-top: 4px;
                    position: relative;
                    max-width: 73.5%;
                    width: 100%;
                
                    input.form-control {
                        height: 28px;
                        margin-bottom: 0;
                        width: inherit;
                        position: relative;
                        z-index: 10;
                    }

                    .btn-clear-form {
                        background: none;
                        border: none;
                        box-shadow: none;
                        padding: 3px 0;
                        position: absolute;
                        right: 5px;
                        top: 6px;
                        z-index: 99;
                    }
                }

                                    
                .btn-submit-reply {
                    margin: 3px 12px 3px;
                }
            }

            &.active {
                td {
                    background-color: #E8E8E8;
                }
            }
        }
    }

    tfoot {
        color: #797979;
        background-color: #ccd1d9;
        border-color: #ccd1d9;
        position: relative;
        bottom: 0;

        tr {

        }
    }
}

.logo {
    img {
        vertical-align: top !important;
    }
}

.badge { 
    opacity: 0; 

    &.on {
        opacity: 1;
    }
}

.dropdown-menu.extended {
   // display: none;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.client-logo {
    display: block;
    height: 24px;
    width: 152px;
}

div.inline-modal {
    background: #F3F4F6;
    box-shadow: 0px 0px 10px #AAB2BD inset;
    display: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 360px;

    .panel-heading {
        padding-bottom: 0;
    }

    div.poster-image {

    }

    div.row-modal-title {
        padding: 8px 0 13px 0;

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 25px;

            strong.video-title {
                color: #5F615E;
                display: inline-block;
                font-weight: bold;
            }

            a.inline-close {
                color: #5F615E;
                display: inline-block;
                font-size: 18px;
                margin-bottom: 0;
                margin-top: 0;

                &:hover, &:active, &:visited {
                    color: #333333;
                }
            }
        }
    }

    div.row-modal-tabs {
        div.modal-tab-container {
            padding-left: 0;
            padding-right: 0;

            ul.nav-tabs {
                background: transparent;

                li {
                    a {
                        background-color: #EBEBEB;
                        border-bottom: none;
                        text-transform: uppercase;
                    }

                    &.active {
                        a {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }

    div.inline-modal-content {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;

        i.ajax-indicator {
            display: inline-block;
            left: 41%;
            opacity: 0.4;
            position: absolute;
            top: 38%;
        }

        div.inner-content {
            h5 {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 6px;
            }

            .ajax-indicator-row {
                margin: 290px 0 -50px 0;
            }

            .tab-content { margin-bottom: 20px; }

            .tab-pane {
                background: white;
                border-bottom: 1px solid #DDDDDD;
                border-left: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
                min-height: 230px;
            }

            div.video-stats {

                h1 {
                    font-size: 32px;
                    margin-bottom: 2px;
                    margin-top: 5px;
                    line-height: 1em;

                    i {
                        vertical-align: text-bottom;

                        &.fa-users {
                            font-size: 28px;
                        }

                        &.fa-comments {
                            font-size: 36px;
                        }

                        &.fa-eye {
                            font-size: 35px;
                        }
                    }
                }

                h3 {
                    margin-bottom: 0;
                }

                h6 {
                    margin-top: 5px;
                }

                .stat.first {
                    //padding-left: 0;
                    //margin-left: -15px;
                }

                .stat.last {
                    padding-right: 20px;
                }
            }

            .modal-content-wrapper {

            }
        }
    }
}

iframe.video-iframe {
    background: #202020;
    border-top: 4px solid #202020;
    border-bottom: 4px solid #202020;
    height: 402px;
    width: 648px;
    margin-bottom: 20px;
}

section.wrapper {
    margin-top: 0;

    h3 { 
        color: #5F615E;
        margin-top: 0;
    }
}

section.upload-wrapper {
    margin-top: 60px;
}


section.home-wrapper {
    margin-top: -20px;
}

div.stats {
    padding: 69px 0;
}

 .table > tbody > tr > td.first { border-top: 1px solid transparent; }

.video-panel {
    cursor: pointer;

    &:hover {
        .content-panel .pr2-social i {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }   
    }

    .content-panel {
        background: #22242A;
        color: rgba(255, 255, 255, 0.9);
        height: auto;
        padding-top: 0;

        .panel-bkg {
            height: 180px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        .pr2-social {
            padding-left: 15px;
            padding-right: 15px;

            i {
                font-size: 14px;
                margin-right: 0;
                margin-top: 3px;

                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            h5 {
                margin-bottom: 0;
                margin-top: 5px;

                strong {
                    display: block;
                    line-height: 20px;
                    margin-bottom: 6px;
                    margin-top: 15px;
                }
            }
        }
    }
}


div.project {
    .photo-wrapper.active {
        background-color: #4ECDC4 !important;
        background-image:url(../../theme/assets/img/zoom.png)  !important;
        background-repeat:no-repeat  !important;
        background-position:center  !important;
        top: 0  !important;
        bottom: 0  !important; 
        left: 0  !important;
        right: 0 !important;
        position: relative !important;
    }

    strong {
        color: #797979;
        display: block;
        font-size: 15px;
        padding: 5px 0;

        i { padding-top: 3px; }

        &.selected { 
            i {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

.ds {
    background: #F3F4F6;
    .desc {
        font-size: 12px;
        text-align: left;
    }
}

.donut-chart h2 {
    font-size: 25px;
}

#upload-video {
    background: #AA1A30;
    height: 41px;

    .tabs-title {
        width: 12.667%;
        border: 1px solid rgba(0, 0, 0, 0);
        color: white;

        h4 {
            margin-bottom: 8px;
            margin-top: 10px;
        }
    }

    #add-video-tabs {
        background: transparent;
        border-bottom: none;
        width: auto;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    //.nav-tabs > li.active > a:focus,
    //.nav-tabs > li.active > a:active,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    //.nav-tabs > li > a:active,
    .nav-tabs > li > a {
        @include border-radius(0px, 0px);
        background: #AA1A30;
        border: none;
        border-top: 5px solid transparent;
        color: white;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 15px 11px;
        margin-right: 0;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    //.nav-tabs > li.active > a:focus,
    //.nav-tabs > li.active > a:active,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus {
    //.nav-tabs > li > a:active 
        background: #F3F4F6;
        border-top: 5px solid #E8E9ED;
        color: #888;
    }

    .tab-content {
        position: absolute;
        left: -15px;
        margin-top: -1px;
        z-index: 100;

        .tab-pane {
            background: #F3F4F6;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        div.drop-pane-row {
            margin: 0;
            @include border-radius(5px, 5px);

            #upload-drop-pane {
                margin: 0 0 0 -10px;
            }

            #upload-drop-pane > div {
                clear: both;
                height: 50px;
                width: 103%;
            }

            #upload-drop-pane > div > div {
                background-color: #E8E9ED !important;
                border: 2px dashed #DADAD5 !important;
                color: #888 !important;
                float: left !important;
                font-size: 0.9em !important;
                margin: 0 0 0 5px !important;
                padding: 4px 0 !important;
                text-align: center !important;
                width: 84.2% !important;
                height: 100%;
                line-height: 18px !important;
            }

            #upload-drop-pane > div > div > div {
                height: 22px !important;
                margin: 0 3px !important;
            }

            #upload-drop-pane > div > button.btn-success {
                background-color: #5CB85C;
                border-color: #4CAE4C;
                color: #FFFFFF;
                font-weight: bold;
                float: left !important;
                padding: 3px 12px;
                width: 15%;
            }

            div.input-row {
                margin-left: -10px;
                margin-right: -10px;
                padding-top: 5px;

                div {
                    padding: 0;

                    input, textarea {
                        font-size: 13px;
                        color: #888888;
                        width: 100%;
                        @include border-radius(2px, 2px);

                        &::-webkit-input-placeholder { /* WebKit browsers */
                            color:    #888888;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color:    #888888;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color:    #888888;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:-ms-input-placeholder { /* Internet Explorer 10+ */
                            color:    #888888;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &.placeholder {
                            color:    #888888;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:focus {
                            border: 1px solid #888888;
                            outline: 0;
                        }

                        &.error {
                            border: 1px solid red;

                            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &.placeholder {
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            div.textarea-row {
                margin-bottom: 5px;

                textarea {
                    height: 43px;
                }
            }

            div.submit-row {
                margin-top: 15px;

                .col-xs-6 { padding: 0 5px; }
            }
        }
    }

    form {
        padding: 15px;
    }
}

.grey-panel {
    position: relative;

    img.thumb {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

    }

    .grey-header {
        position: relative;
        z-index: 10;
    }
}

.fancybox-skin {
    @include border-radius(0px, 0px);
    background: none repeat scroll 0 0 #202020;
    color: #444444;
    position: relative;
    text-shadow: none;
}

.fancybox-type-iframe {
    width: 700px !important;
    height: 445px !important;
}

.fancybox-inner {
    width: 700px !important;
    height: 445px !important;
}