ul.top-menu > li > .logout {
    margin: 0 0 0 20px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.client-logo {
    display: block;
    height: 24px;
    width: 152px;
}

div.desc {
    margin-bottom: 30px;
}


div.info-placeholder {
    background: #4ECDC4;
    display: none;
}

div.stats {
    color: white;

    div.row {
        margin-bottom: 3%;
    }
}

div.project {
    strong {
        font-size: 15px;
    }
}