@import "compass";
@import "compass/css3/border-radius";

ul.top-menu > li > .logout {
    margin: 0 0 0 20px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.client-logo {
    display: block;
    height: 24px;
    width: 152px;
}

div.inline-modal {
    display: none;
    margin-top: 0;

    h3.video-title {
        font-weight: bold;
        margin-top: 20px;
    }

    a.inline-close {
        color: #666666;
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 15px;

        &:hover, &:active, &:visited {
            color: #333333;
        }
    }

    div.inline-modal-content {
        background: #D7D7D7;
        position: relative;
        min-height: 470px;

        i.ajax-indicator {
            display: inline-block;
            left: 45%;
            opacity: 0.4;
            position: absolute;
            top: 38%;
        }

        div.inner-content {
            h5 {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

iframe.video-iframe {
    background: #202020;
    border-top: 4px solid #202020;
    border-bottom: 4px solid #202020;
    margin-top: 4px;
    height: 445px;
    width: 700px;
}

section.wrapper {
    margin-top: 0;

    h3 { margin-top: 0; }
}

section.upload-wrapper {
    margin-top: 60px;
}


section.home-wrapper {
    margin-top: -22px;
}

section.stats {
    height: 180px;
    margin-bottom: 20px;
}

div.comments-row {
   margin: 10px 0 20px;

   div.task-buttons {
      .btn {
        opacity: 1;
      }
   }
}

div.project {
    .photo-wrapper.active {
        background-color: #4ECDC4 !important;
        background-image:url(../../theme/assets/img/zoom.png)  !important;
        background-repeat:no-repeat  !important;
        background-position:center  !important;
        top: 0  !important;
        bottom: 0  !important; 
        left: 0  !important;
        right: 0 !important;
        position: relative !important;
    }

    strong {
        color: #797979;
        display: block;
        font-size: 15px;
        padding: 5px 0;

        i { padding-top: 3px; }

        &.selected { 
            i {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

.ds .desc {
    font-size: 12px;
    text-align: left;
}

#upload-video {
    .tabs-title {
        background: #E0E1E7;
        width: 12.667%;
        border: 1px solid rgba(0, 0, 0, 0);

        h4 {
            margin-bottom: 8px;
            margin-top: 11px;
        }
    }

    .tabs-wrapper {
        ul {
            li {
                a { color: #666; }
            }
        }
    }

    #add-video-tabs {
        width: 87.333%;
    }

    .tab-content {
        position: absolute;
        z-index: 100;

        .tab-pane {
            background: #FFFFFF;
        }

        div.drop-pane-row {
            margin: 0;
            @include border-radius(5px, 5px);

            #upload-drop-pane {
                margin: 0 0 0 -10px;
            }

            #upload-drop-pane > div {
                clear: both;
                height: 50px;
                width: 103%;
            }

            #upload-drop-pane > div > div {
                background-color: #F0F0F0 !important;
                border: 2px dashed #D8D8D8 !important;
                color: #888 !important;
                float: left !important;
                font-size: 0.9em !important;
                margin: 0 0 0 5px !important;
                padding: 4px 0 !important;
                text-align: center !important;
                width: 83.7% !important;
                height: 100%;
                line-height: 18px !important;
            }

            #upload-drop-pane > div > div > div {
                height: 22px !important;
                margin: 0 3px !important;
            }

            #upload-drop-pane > div > button.btn-success {
                background-color: #5CB85C;
                border-color: #4CAE4C;
                color: #FFFFFF;
                font-weight: bold;
                float: left !important;
                padding: 3px 12px;
                width: 15%;
            }

            div.input-row {
                margin-left: -10px;
                margin-right: -10px;
                padding-top: 5px;

                div {
                    padding: 0;

                    input, textarea {
                        border: 1px solid #CCCCCC;
                        color: #666;
                        padding: 3px 5px;
                        width: 100%;
                        @include border-radius(2px, 2px);

                        &::-webkit-input-placeholder { /* WebKit browsers */
                            color:    #666;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color:    #666;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color:    #666;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:-ms-input-placeholder { /* Internet Explorer 10+ */
                            color:    #666;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &.placeholder {
                            color:    #666;
                            font-weight: 300;
                            font-style: italic;
                        }

                        &:focus {
                            border: 1px solid #666;
                            outline: 0;
                        }

                        &.error {
                            border: 1px solid red;

                            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }

                            &.placeholder {
                                color:    red;
                                font-weight: 300;
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            div.textarea-row {
                margin-bottom: 5px;

                textarea {
                    height: 43px;
                }
            }

            div.submit-row {
                margin-top: 15px;
            }
        }
    }

    form {
        padding: 15px;
    }
}