{% block plain %}
{% endblock %}


{% block html %}
<!doctype html>
<html>
<head>
    <title>Happy Holidays from FrameBuzz!</title>
</head>
<body bgcolor="#03151B">
    <table width="100%">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="601px" align="center" style="padding: 20px;">
                    <tr>
                        <td valign="top" width="600px">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="513px" width="600px" background="http://localhost:9999/static/framebuzz/email/happy-holidays.jpg">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="top" style="padding: 20px 25px 0px 25px;">
                                        <p style="line-height: 18px;">
                                            <center>
                                                <font face="Helvetica, Arial, sans-serif" color="#77DBF6" size="20px">
                                                    Happy Holidays!
                                                </font>
                                                <br><br>
                                                <font face="Helvetica, Arial, sans-serif" color="#F0F4F7" size="3">
                                                    What's cooler than a white Christmas? <a style="color: #1DACEA;" href="http://{{ username }}.framebuzz.com">Sharing your FrameBuzz</a> with
                                                    <br>
                                                    your friends and family.
                                                </font>
                                                <br><br>
                                                <font face="Helvetica, Arial, sans-serif" color="#F0F4F7" size="5">
                                                    Wishing you a very happy holiday season,
                                                </font>
                                            </center>
                                        </p>
                                    </td>
                                </tr>
                            </table>        
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" width="600px" align="center">
                                <tr>
                                    <td align="center" height="51px" style="background: url('http://localhost:9999/static/framebuzz/email/framebuzz-logo-dark.jpg') no-repeat 183 0;">&nbsp;</td> 
                                </tr>
                                <tr>
                                    <td align="center" style="padding-top: 20px;">
                                        <font face="Helvetica, Arial, sans-serif" color="#3c3c3c" size="-2"><i>&copy; 2013 FrameBuzz. All rights reserved.</i></font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{% endblock %}