{% extends "templated_email/base.html" %}
{% load profile_tags %}

{% block email_recipient %}

{% endblock %}

{% block email_message %}
    {{ session.owner|display_name }} would like to watch <strong>{{ video.title|title }}</strong> with you{% if audience_total == 0 %}!{% else %} and <strong>{{ audience_total }}</strong> additional audience member{{ audience_total|pluralize }}.{% endif %} Click <a href="http://{{ site.domain }}{% url 'dashboard-join-viewing-session' session.owner.username video.slug session.slug %}">here</a> to accept the invitation!
{% endblock %}
