{% extends "templated_email/base.html" %}
{% load profile_tags %}

{% block email_recipient %}

{% endblock %}

{% block email_message %}
    {% if session.is_synchronized %}
        {{ session.owner|display_name }} would like to watch <strong>{{ video.title|title }}</strong> with you{% if audience_total == 0 %}!{% else %} and <strong>{{ audience_total }}</strong> additional audience member{{ audience_total|pluralize }}.{% endif %} Click <a href="http://framebuzz.com{% url 'dashboard-join-viewing-session' session.owner.username video.slug session.slug %}">here</a> to accept the invitation!
    {% else %}
        {{ session.owner|display_name }} would like to start a private conversation with you{% if send_to_list|length > 0 %} and <strong>{{ send_to_list|length }}</strong> others{% endif %} while watching <strong>{{ video.title|title }}</strong>. Click <a href="http://framebuzz.com{% url 'profiles-convo-share' session.owner.username video.slug session.slug %}">here</a> to accept the invitation!
    {% endif %}
{% endblock %}
