{% extends "templated_email/base.html" %}

{% block email_recipient %}
    DEAR {{ comment.parent.user.username|upper }},
{% endblock %}

{% block email_message %}
     Hey, don’t look now, but {{ comment.user.username }} replied to a comment you made on <a href="http://{{ site.domain }}{% url 'profiles-share' comment.parent.user.username comment.content_object.slug %}{{ comment.get_player_url }}" style="color: #0C94C8;">{{ comment.content_object.title }}</a>.
     <br><br>
    <a style="color: #0C94C8;" href="http://{{ site.domain }}{{ comment.get_share_url }}">{{ comment.formatted_comment }}</a>
{% endblock %}