{% extends "templated_email/base.html" %}

{% block email_recipient %}

{% endblock %}

{% block email_message %}
     Hey, don’t look now, but {{ comment.user.username }} replied to a comment you made on <a href="http://{{ site.domain }}{{ comment.get_absolute_url }}" style="color: #0C94C8;">{{ comment.content_object.title }}</a>
    <p>{{ comment.comment }}</p>
    <p>Got something to say to that? Speak it! <a href="http://{{ site.domain }}{{ comment.get_absolute_url }}" style="color: #0C94C8;">Reply Now</a></p>
{% endblock %}