{% extends "templated_email/base.html" %}

{% block email_recipient %}

{% endblock %}

{% block email_message %}
    <b>Welcome to FrameBuzz!</b><br/>
    You’re receiving this email because you registered for FrameBuzz, the best way to share comments and conversations around video.
    <p>Ready to see what’s buzzing? Click the link below to confirm this email address, and jump in the conversation.</p>
    <p><a href="{{ activate_url }}" style="color: #0C94C8;">Click here to confirm your email address</a></p>
    <p>Your user name is: {{ user.username }}</p>
    <p>Feeling social? Link your FrameBuzz account with Facebook and Twitter here: <a href="http://{{ site.domain }}{% url 'account_login' %}" style="color: #0C94C8;">http://{{ site.domain }}{% url 'account_login' %}</a></p>
{% endblock %}