{% extends "templated_email/base.html" %}

{% block email_recipient %}Welcome to FrameBuzz!{% endblock %}

{% block email_message %}
    Hi, this is Aaron, CEO of FrameBuzz, and I want to personally thank you for signing up.
    <br><br>
    Check out FrameBuzz and discover the cool things you can do with it. If you have any questions, experience anything weird or have any ideas to make FrameBuzz better, we want to hear them. Email us at <a style="color: #0C94C8;" href="mailto:hello@framebuzz.com">hello@framebuzz.com</a> or tweet us <a style="color: #0C94C8;" href="http://www.twitter.com/framebuzz">@framebuzz</a> anytime. We're pretty much always around, and someone will get back to you within a few hours.
    <br><br>
    In the meantime, kick the tires on your new account. Your user name is <b>{{ user.username }}</b>.
    <br><br>
    Get into it and customize your Profile <a style="color: #0C94C8;" href="http://framebuzz.com{{ user.get_profile.get_absolute_url }}">here</a>.
    <br><br>
    If you want to create your own FrameBuzz and start a conversation with your friends (which is really one of the most fun things you can do with it), click the "FrameBuzz a Video" button on your <a style="color: #0C94C8;" href="http://framebuzz.com{{ user.get_profile.get_absolute_url }}">profile</a>.
    <br><br>
    Thanks again, and feel free to drop us a line anytime, for any reason.
    <br><br>
    <b>Aaron Lindsey</b>
{% endblock %}