<ul class="comment-stream" data-ng-if="userProfile.total_comments > 0">
    <li data-ng-repeat="thread in userProfile.comments_list">
        <div class="thread">
            <div class="header">
                <a class="username">{{ thread.user.username }}</a>
                <strong class="time" data-ng-click="openPlayerLink(thread.thread_url)">{{ thread.time_hms }}</strong>
            </div>
            <p ng-bind-html-unsafe="thread.comment"></p>
        </div>
    </li>
</ul>
<p class="none" data-ng-if="userProfile.total_comments == 0">No comments yet!</p>