{% extends "dashboard/base.html" %}
{% load socialaccount staticfiles %}

            {% block sidebar-publisher %}
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{% url 'publisher' %}" class="inactive-link">
                    <i class="icon-home"></i>
                    <span>Publisher</span>
                </a>
            </li>            
            {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">
    <h1><br/>Publisher Dashboard</h1>
{% endblock %}