{% extends "dashboard/base.html" %}
{% load i18n account socialaccount %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div id="login" class="span6">
  <div class="well">
    <h3>{% trans "Login" %}</h4>

      {% if socialaccount.providers  %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}" class="signup-link">sign up</a>
      for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">
        <ul class="clearfix socialaccount_providers">

          {% for provider in socialaccount.providers %}
            {% if provider.id == "openid" %}
              {% for brand in provider.get_brands %}
                <li>
                  <a title="{{brand.name}}"
                     class="socialaccount_provider {{provider.id}} {{brand.id}} btn"
                     href="{% provider_login_url provider.id openid=brand.openid_url %}"
                     >{{brand.name}}</a>
                </li>
              {% endfor %}
            {% endif %}
            <li>
              {% if is_ajax_request %}
                <a title="{{provider.name}}" target="_top" class="socialaccount_provider {{provider.id}}"
                 href="{% provider_login_url provider.id next=next_url method='oauth2' display='popup' %}"></a>
              {% else %}
                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                 href="{% provider_login_url provider.id %}"></a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}

      <form class="login" method="POST" action="{% url 'dashboard-login' %}">
                {% csrf_token %}
                {% if request.GET.errorlogin %}

                <ul class="errorlist"><li>Invalid Credentials</li></ul>

                {% endif %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}" /> <!-- {{ request.GET.next }} -->
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </form>
    </div>
</div>
{% endblock %}