{% extends "dashboard/base.html" %}
{% load i18n account %}
{% load i18n socialaccount staticfiles %}
{% load url from future %}

<!-- Registration form for a new User -->
{% block content %}

<!-- Custom Layout for this page -->
<link rel="stylesheet" type="text/css" href="{% static 'framebuzz/dashboard/css/dashboard-custom.css'%}">    
<div class='table-like'>
    <div class='row-like'>
        <div class='cell-like' id='left-header-login'>
            <h3>Add FrameBuzz to Your Site Now</h3>
            <hr/>
        </div>
       
    </div>
    <div class='row-like'>
        <div class='cell-like' id='left-login'>
            <!-- LEFT PANEL -->
            <div id="signup">
                <form id="signup_form" method="post" action="/dashboard/register/">
                    {% csrf_token %}
                    <p>
                        {{ reg_user_form.as_p }}
                    </p>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
        
        <div class='cell-like' id='right-login'>
            <!-- RIGHT PANEL -->
            <div class='spaced-title'><h4>Already Have an Account?</h4></div>
            <div class='spaced-title'>You can add FrameBuzz Publisher features to your commenting account for free.</div>
            <form class="login" method="POST" action="{% url 'dashboard-login' %}">
                {% csrf_token %}
                {% if request.GET.errorlogin %}

                <ul class="errorlist"><li>Invalid Credentials</li></ul>

                {% endif %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}" /> <!-- {{ request.GET.next }} -->
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}