{% extends "marketing/base.html" %}

{% load i18n account staticfiles %}
{% block title %}{% trans "FrameBuzz - Password Reset" %}{% endblock %}

{% block page_classes %}background-bottom accounts{% endblock %}

{% block marketing_content %}
<div id="reset-password">
    <div class="wrapper">
      <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="description">Forgot your password? Enter your email address and we’ll send you instructions to reset it.</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ password_reset_form.as_p }}
            <div class="actions clearfix">
                <a class="secondaryAction" href="{% url 'account_login' %}">Back to Login</a>
                <button class="signup" type="submit">RESET PASSWORD <em>&#9654;</em></button>
            </div>
        </form>
        <p class="description help">{% blocktrans %}Please <a href="mailto:support@framebuzz.com?subject=Reset Password Request">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
    <script src="{% static 'framebuzz/marketing/js/jquery.anystretch.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_email").focus();
            $('div.marketing-content').anystretch("{% static 'framebuzz/profiles/img/background.jpg' %}", {speed: 150, positionY: 0});
        });
    </script>
{% endblock %}
