{% extends "marketing/base.html" %}
{% load i18n staticfiles addendum_tags socialaccount %}


{% block page_classes %}content subpage account login{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div id="homepage-logo" class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p class="description">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        {% if form %}
                            <form id="signup_form" method="POST" action="" class="form-vertical">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="actions clearfix">
                                    {% if not request.user.is_authenticated %}
                                        <a class="secondaryAction" href="{% url 'account_login' %}">Back to Login</a>
                                    {% endif %}
                                    <button class="signup" name="action" type="submit">RESET PASSWORD <em>&#9654;</em></button>
                                </div>
                            </form>
                        {% else %}
                            <p class="description">{% trans 'Your password is now changed.' %}</p>
                            <a class="signup" type="submit" href="{% url 'account_login' %}">SIGN IN <em>&#9654;</em></button>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}