{% extends "marketing/base.html" %}

{% load i18n account staticfiles %}
{% block title %}{% trans "FrameBuzz - Change Password" %}{% endblock %}

{% block page_classes %}background-bottom accounts{% endblock %}

{% block marketing_content %}
<div id="change-password">
    <div class="wrapper">
        <h1>{% trans "Change Password" %}</h1>
        <p class="form-description"></p>
                {% if messages %}
            <ul class="messages alert alert-success">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="" class="password_change form-vertical">
            {% csrf_token %}
            {{ password_change_form.as_p }}
            <div class="actions clearfix">
                <a class="secondaryAction" href="{% url 'account_login' %}">
                    {% if request.user.is_authenticated %}Back to Profile{% else %}Back to Login{% endif %}
                </a>
                <button class="signup" type="submit">CHANGE PASSWORD <em>&#9654;</em></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
    <script src="{% static 'framebuzz/marketing/js/jquery.anystretch.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_password").focus();
            $('div.marketing-content').anystretch("{% static 'framebuzz/profiles/img/background.jpg' %}", {speed: 150, positionY: 0});
        });
    </script>
{% endblock %}