{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}


{% block sub_navigation_items %}
  <li class="active"><a href="{% url 'account_change_password' %}">Change Password</a></li>
  <li><a href="{% url 'avatar_change' %}">Change Avatar</a></li>
  <li><a href="{% url 'dashboard-website-edit' %}">Change Website Settings</a></li>
  <li><a href="{% url 'dashboard-profile-edit' %}">Change Profile Settings</a></li>
{% endblock %}

{% block dashboard_right %}
    <div class="page-header">
        <h1>Set Password</h1>
    </div>

    <p class="form-description"></p>

    <form method="POST" action="" class="password_set form-vertical">
        {% csrf_token %}
        {{ password_set_form.as_p }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
        </div>
    </form>
{% endblock %}
