{% extends "dashboard/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block dashboard_left %}{% endblock %}
{% block left_navigation_menu %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Password Reset" %}</h1>
    </div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="form-description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class='form-vertical' method="POST" action="" class="password_reset">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
    </form>

    <p class="form-description">{% blocktrans %}Please <a href="mailto:support@framebuzz.com?subject=Reset Password Request">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

{% block page_javascript %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
