{% extends "dashboard/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset - Email Sent" %}{% endblock %}

{% block content %}
    <div class="span6" id="reset-password-done">
        <div class="page-header">
            <h1>{% trans "Password Reset" %}</h1>
        </div>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="alert alert-success">
            We have sent you an e-mail with instructions on how to change your password. Please <a href="mailto:support@framebuzz.com?subject=Reset Password Request">contact us</a> if you do not receive it within a few minutes.
        </div>
        <a class="btn btn-primary" href="{% url 'account_login' %}">Back to Login</a>
    </div>
{% endblock %}
