{% extends "marketing/base.html" %}
{% load i18n staticfiles addendum_tags socialaccount %}


{% block page_classes %}content subpage account login{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div id="homepage-logo" class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p class="description">Forgot your password? Enter your email address and we’ll send you instructions to reset it.</p>
                        <form id="signup-form" method="POST" action="">
                            {% csrf_token %}
                            {{ password_reset_form.as_p }}
                            <div class="row">
                                <div class="col-xs-3">
                                    <button class="btn btn-info" type="submit">Reset Password</button>
                                </div>
                                <div class="col-xs-3 pull-right">
                                    <a class="secondaryAction" href="{% url 'account_login' %}">Back to Login</a>
                                </div>
                            </div>
                        </form>
                        <br>
                        <p class="description help">{% blocktrans %}Please <a href="mailto:support@framebuzz.com?subject=Reset Password Request">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}