{% extends "marketing/base.html" %}
{% load i18n staticfiles addendum_tags %}

{% block title %}{% trans "FrameBuzz - Sign up" %}{% endblock %}

{% block content %}
<div id="signup-page">
  <div class="wrapper">
    <h1>{% trans "Sign up" %}</h1>
    <p class="description">{% snippet 'signup:signup_header' %}Already a user? Or want to log in with your social network?{% endsnippet %} <a href="{{ login_url }}" class="login-link">Click here</a>.</p>
      <form class="signup form-vertical" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p class="terms">By registering for FrameBuzz, you acknowledge that you agree to our <a href="{% url 'terms' %}" target="_blank">Terms of Service</a>.</p>
        <div class="actions clearfix">
          <a class="secondaryAction" href="{% url 'account_login' %}">Back to Login</a>
          <button class="signup" type="submit">SIGN UP <em>&#9654;</em></button>
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block page_javascript %}
    <script src="{% static 'framebuzz/marketing/js/jquery.anystretch.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('div.marketing-content').anystretch("{% static 'framebuzz/marketing/img/home@2x.jpg' %}", {speed: 150, positionY: 0});
        });
    </script>
{% endblock %}