{% extends "marketing/base.html" %}
{% load i18n staticfiles addendum_tags socialaccount %}


{% block page_classes %}content subpage account{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div id="homepage-logo" class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 description">
                        <p><strong>Create an account and join the conversation!</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% include "account/snippets/signup_form.html" %}
                    </div>
                </div>
                <div class="row terms">
                    <div class="col-xs-12">
                        <p>By registering for FrameBuzz, you acknowledge that you agree to our <a href="{% url 'terms' %}" target="_blank">Terms of Service.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}