{% extends "marketing/base_new.html" %}
{% load i18n staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags zebra_tags %}

{% block body_classes %}subpage show-header{% endblock %}

{% block page_title %}: Create Your Account.{% endblock %}

{% block page_body %}
<div id="signup" class="row">
    <div class="container">
        <div class="col-xs-12">
            <div class="row" data-selected="">
                <div class="col-xs-12 signup-header">
                    <h1 class="absolute-center">Welcome to <img class="logo" src="{% static 'framebuzz/marketing/img/logo.png' %}" width="184"></h1>
                    <p class="selection">
                        You’ve selected {% if signup_option == 'free' %}FREE{% else %}PREMIUM{% endif %} ACCOUNT.
                        <a href="{% url 'subscribe' %}?option={{ signup_option }}">change selection</a>
                        <em class="pull-right">Next step: Your Dashboard</em>
                    </p>
                </div>
                {% if form.errors %}
                    <div class="row row-error bs-callout bs-callout-danger">
                        <div class="col-xs-12 error-wrap">
                            <h4><i class="fa fa-icon fa-rocket fa-fw"></i> Houston, we have a problem!</h4>
                            <ol>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{% if field|lower != '__all__' %}<strong>{{ field|title }}</strong>: {% endif %}{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        {% include "account/snippets/signup_form.html" %}
                    </div>
                </div>
                <div class="row terms">
                    <div class="col-xs-12">
                        <p>By registering for FrameBuzz, you acknowledge that you agree to our <a href="{% url 'terms' %}" target="_blank">Terms of Service.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
    {% zebra_head_and_stripe_key %}
    {% compress js %}
    <script src="{% static 'framebuzz/marketing/vendor/jquery/jquery.payment.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if zebra_form %}
                $('#id_card_number').payment('formatCardNumber');
                $('#id_card_cvv').payment('formatCardCVC');
            {% endif %}
        });
    </script>
    {% endcompress %}
{% endblock %}
