{% extends "marketing/base.html" %}
{% load i18n staticfiles addendum_tags socialaccount %}


{% block page_classes %}content subpage account{% endblock %}

{% block content_center %}
    <div class="col-xs-12">
        <div class="row">
            <div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div id="homepage-logo" class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'fbz-tumblr-home' %}">
                            <img src="{% static 'framebuzz/marketing/img/logo.png' %}" alt="FrameBuzz" height="40" width="184">
                        </a>
                    </div>
                </div>
                {% if not form.errors %}
                    <div class="row">
                        <div class="col-xs-12 description">
                            <p><strong>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</strong></p>
                        </div>
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="row row-error bs-callout bs-callout-danger">
                        <div class="col-xs-12 error-wrap">
                            <h4><i class="fa fa-icon fa-rocket fa-fw"></i> Houston, we have a problem!</h4>
                            <ol>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{% if field|lower != '__all__' %}<strong>{{ field|title }}</strong>: {% endif %}{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        {% include "account/snippets/signup_form.html" %}
                    </div>
                </div>
                <div class="row terms">
                    <div class="col-xs-12">
                        <p>By registering for FrameBuzz, you acknowledge that you agree to our <a href="{% url 'terms' %}" target="_blank">Terms of Service.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
