<div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="row row-error bs-callout bs-callout-danger">
        <div class="col-xs-12 error-wrap">
            <h1><i class="fa fa-icon fa-rocket fa-fw"></i> Houston, we have a problem!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <i class="fa fa-fw fa-4x fa-exclamation-triangle absolute-center"></i>
            <p>We are unable to play the video you requested at this time. The video may have been deleted by the original uploader, or removed due to content or ownership concerns.</p>
        </div>
    </div>
</div>