{% load avatar_tags profile_tags comments %}

{% get_comment_count for video as comment_count %}
{% regroup commenters by actor.username as commenter_list %}
<div class="col-xs-12{% if not profile_user %} standalone{% endif %}">
        <div class="row video">
            <div class="col-xs-12">
                <h1>{{ video.title|title }}</h1>
                <iframe src="{% url 'video-embed' video.video_id %}" scrolling="no" frameBorder="0" height="445" width="700" class="center-block"></iframe>
            </div>
        </div>
        <div class="row container details clearfix">
            <div class="col-xs-2 {% if not request.user.is_authenticated and not found_by %} hidden{% endif %}">
                {% if found_by %}
                    <h2>Found By</h2>
                    <a title="{{ found_by|display_name }}" href="{% url 'profiles-home' found_by.username %}">
                        <img src="{% avatar_url found_by 110 %}" alt="" class="img-responsive" />
                    </a>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <h2>Add to Library</h2>
                        <a class="add-to-library video-toggle-button" href="{% url 'profiles-toggle-library' request.user.username video.video_id %}">
                            <i class="icon-plus-sign-alt"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-xs-4 description">
                <h2>Description</h2>
                <div class="scroller">
                    <p>{{ video.formatted_description|linebreaks|urlize }}</p>
                </div>
            </div>
            <div class="col-xs-2 stats">
                <h2>&nbsp;</h2>
                <p>
                    <i class="fa fa-comment fa-fw"></i>
                    <span>{{ comment_count }}</span>
                </p>
                {% for commenter in commenter_list %}
                    <p>
                        <i class="fa fa-group fa-fw"></i>
                        <span>{{ commenter.list|length }}</span>
                    </p>
                {% empty %}
                    <p>
                        <i class="fa fa-group fa-fw"></i>
                        <span>0</span>
                    </p>
                {% endfor %}
                <p>
                    {% comment %}
                    <i class="fa fa-share fa-fw"></i>
                    <span>{{ shares }}</span>
                    {% endcomment %}
                </p>
            </div>
            <div class="col-xs-4 commenters">
                <h2>Commenters</h2>
                <ul class="row">
                    {% for commenter in commenter_list %}
                        {% for item in commenter.list|slice:":8"  %}
                            <li class="pull-left">
                                <a title="{{ item|display_name }}" href="{% url 'profiles-home' item.username %}">
                                    {% if forloop.last and commenter.list|length > 8 %}
                                        <span class="counter">+{{ commenter.list|length|add:-8 }}</span>
                                    {% endif %}
                                    <img src="{% avatar_url item 60 %}" alt="" width="48" height="48" class="img-responsive" />
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty shown">No commenters yet!</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>