{% load avatar_tags profile_tags comments staticfiles %}

{% get_comment_count for video as comment_count %}
{% regroup commenters by actor.username as commenter_list %}
<div class="col-xs-12{% if not profile_user %} standalone{% endif %}">
        <div class="row video">
            <div class="col-xs-12">
                <h1>{{ video.title|title }}{% if is_convo %}<i class="fa {% if private_session.is_synchronized %}fa-group{% else %}fa-lock{% endif %} pull-right"></i>{% endif %}</h1>
                {% if is_convo %}
                    {% if private_session.is_synchronized %}
                        <iframe src="{% url 'viewing-embed' video.slug private_session.slug %}" scrolling="no" frameBorder="0" height="445" width="700" class="center-block"></iframe>
                    {% else %}
                        <iframe src="{% url 'convo-embed' video.slug private_session.slug %}" scrolling="no" frameBorder="0" height="445" width="700" class="center-block"></iframe>
                    {% endif %}
                {% else %}
                    <iframe src="{% url 'video-embed' video.slug %}" scrolling="no" frameBorder="0" height="445" width="700" class="center-block"></iframe>
                {% endif %}
            </div>
        </div>
        <div class="row container details clearfix">
            {% if found_by %}
                <div class="col-xs-2">
                    <h2>Found By</h2>
                    {% if found_by.get_profile.dashboard_enabled %}
                        <a href="{% if found_by.get_profile.website %}{{ found_by.get_profile.website }}{% endif %}" target="_blank" class="logo client-logo">
                          <img src="/static/framebuzz/dashboard/img/{{ found_by.username|lower }}-avatar.png" alt="{{ found_by|display_name }}" width="110">
                        </a>
                    {% else %}
                        <a title="{{ found_by|display_name }}" href="{% url 'profiles-home' found_by.username %}">
                            <img src="{% avatar_url found_by 110 %}" alt="" class="img-responsive" />
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="{% if found_by %}col-xs-4{% else %}col-xs-6{% endif %} description">
                <h2>Description</h2>
                <div class="scroller">
                    <p>{{ video.formatted_description|linebreaks|urlize }}</p>
                </div>
            </div>
            <div class="col-xs-2 stats">
                <h2>&nbsp;</h2>
                <p>
                  <a class="feed-item-type share-add btn btn-info{% if video_in_library %} remove{% else %} add{% endif %}{% if request.user.is_authenticated %} toggle{% endif %}" href="{% if request.user.is_authenticated %}{% url 'profiles-toggle-library' request.user.username video.slug %}{% else %}{% url 'account_signup' %}{% endif %}">
                    <span class="fa-stack video{% if video_in_library %} active{% endif %}">
                        <i class="fa fa-video-camera fa-fw fa-stack-2x"></i>
                        <i class="fa {% if video_in_library %}fa-minus{% else %}fa-plus{% endif %} fa-inverse fa-stack-1x"></i>
                    </span>
                    <span class="toggle-text">{% if video_in_library %}Remove Post{% else %}Post Video{% endif %}</span>
                  </a>
                </p>
                <p>
                    <i class="fa fa-play fa-fw"></i>
                    <span>{{ plays|short_number }}</span>
                </p>
                <p>
                    <i class="fa fa-comment fa-fw"></i>
                    <span>{{ comment_count|short_number }}</span>
                </p>
                {% for commenter in commenter_list %}
                    <p>
                        <i class="fa fa-group fa-fw"></i>
                        <span>{{ commenter.list|length|short_number }}</span>
                    </p>
                {% empty %}
                    <p>
                        <i class="fa fa-group fa-fw"></i>
                        <span>0</span>
                    </p>
                {% endfor %}
            </div>
            <div class="col-xs-4 commenters">
                <h2>{% if is_convo %}Invited{% else %}Commenters{% endif %}</h2>
                <ul class="row">
                    {% for commenter in commenter_list %}
                        {% for item in commenter.list|slice:":8"  %}
                            <li class="pull-left">
                                <a title="{{ item|display_name }}" href="{% url 'profiles-home' item.username %}">
                                    {% if forloop.last and commenter.list|length > 8 %}
                                        <span class="counter">+{{ commenter.list|length|add:-8 }}</span>
                                    {% endif %}
                                    <img src="{% avatar_url item 60 %}" alt="" width="48" height="48" class="img-responsive" />
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty shown">No commenters yet!</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
