{% load avatar_tags profile_tags comments %}

{% regroup commenters by actor as commenter_list %}
<div class="tab-pane active{% if not profile_user %} standalone{% endif %}" id="share">
    <div id="share-container" class="clearfix">
        <div id="stats-container">
            {% get_comment_count for video as comment_count %}
            <p>{{ comment_count }} Comment{{ comment_count|pluralize }}</p> 
            {% for commenter in commenter_list %}
                <p>{{ commenter.list|length }} Commenter{{ commenter.list|length|pluralize }}</p>
            {% empty %}
                <p>0 Commenters</p>
            {% endfor %}
        </div>
        <div id="video-container">
            <div class="frame">
                <iframe src="{% url 'video-embed' video.video_id %}" scrolling="no" frameBorder="0" height="398" width="640"></iframe>
                <div class="details">
                    <h1>{{ video.title|title }}</h1>
                    <div class="social">
                        <ul class="clearfix">
                            <li class="user">
                                {% if found_by %}
                                    <h2>Found By</h2>
                                    <a href="{% url 'profiles-home' found_by.username %}">
                                        <img src="{% avatar_url found_by 110 %}" alt="" height="55" width="55" class="img-circle" />
                                    </a>
                                {% else %}
                                    <h2>Add to Library</h2>
                                    <a href="">
                                        <i class="icon-plus-sign-alt"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="description">
                                <h2>Description</h2>
                                <p>{{ video.description|urlize }}</p>
                            </li>
                            <li class="commenters">
                                <h2>Commenters</h2>
                                <ul>
                                    {% for commenter in commenter_list %}
                                        {% for item in commenter.list %}
                                            <li>
                                                <a class="tooltip" data-placement="bottom" title="{{ item|display_name }}" href="{% url 'profiles-home' item.username %}">
                                                    <img src="{% avatar_url item 60 %}" alt="" height="30" width="30" class="img-circle" />
                                                </a>
                                            </li>
                                        {% empty %}
                                            <li class="empty">No commenters yet!</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>