{% extends "dashboard/base_dark.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags %}

{% block page_header %}{% endblock %}

{% block page_class %}home{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="block">
            <h2><i class="fa fa-upload"></i> Upload Video</h2>
            {% include 'dashboard/snippets/upload_video.html' %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="block">
            <h2><i class="fa fa-video-camera"></i> Latest Videos</h2>
            {% for video in latest_videos %}
                {% include "dashboard/snippets/video_entry.html" %}
            {% endfor %}
        </div>
    </div>
    {% comment %}
    <div class="col-md-6">
        <div class="block" style="height: 372px;">
            <h2>My Tasks</h2>
            <div class="config">
                <a href="{% url 'tasks-create' request.user.username %}" class="sbox">
                    <i class="icon-plus add-new-todo"></i>
                </a>
            </div>
            <div class="listview todo-list">
                {% for task in tasks %}
                    {% include "tasks/snippets/item.html" %}
                {% endfor %}
            </div>
        </div>
        <div class="modal fade" id="addNew-todo">
            <div class="modal-dialog modal-narrow">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add New Todo List</h4>
                    </div>
                    <form class="form-horizontal form-validation" role="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control validate[required] input-sm" placeholder="...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Detail</label>
                                <div class="col-md-10">
                                    <textarea class="form-control auto-size input-sm" placeholder="Optional"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-sm" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 listview-block">
        <div class="block" style="height: 372px;">
            <h2>Upcoming Viewings</h2>
            <p class="text-center" style="color: #aaa;">
                <br><br>
                <i>No viewing sessions scheduled.</i>
            </p>
        </div>
    </div>
    {% endcomment %}
{% endblock %}

{% block page_javascript %}
    <script src="{% static 'framebuzz/dashboard/js/dashboard.quickupload.js' %}"></script>
{% endblock %}
