{% extends "dashboard/base.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags %}

{% block page_header %}
 
{% endblock %}

{% block page_content %}
  <section class="wrapper site-min-height home-wrapper">
      <div class="row">
          <div class="col-lg-9 main-chart">   
            <br><br><br>
          </div><!-- /col-lg-9 END SECTION MIDDLE -->
          <div class="col-lg-3 ds site-min-height">
            <!--COMPLETED ACTIONS DONUTS CHART-->
            <div class="donut-main">
              <!-- RECENT ACTIVITIES SECTION -->
              <h4 class="centered">RECENT AUDIENCE ACTIVITY</h4>
              {% for action in activities %}
                <div class="desc col-xs-10">
                  <div class="thumb">
                      <img class="img-circle" src="{% avatar_url action.actor 70 %}" width="35" height="35">
                  </div>
                  <div class="details">
                      <p><muted>{{ action.timestamp|timesince }} ago</muted><br/>
                         {% include 'dashboard/snippets/action.html' %}
                      </p>
                  </div>
                </div>
               {% empty %}
                 <div class="desc col-xs-10">
                      <div class="thumb">
                      </div>
                      <div class="details">
                          <p>No viewer activities yet!</p>
                      </div>
                </div>
              {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}

{% block page_javascript %}

{% endblock %}