{% extends "dashboard/base.html" %}

{% block page_content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                </div>
                <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                    <div class="donut-main">
                        <h4>COMPLETED ACTIONS &amp; PROGRESS</h4>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}