{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>FrameBuzz: Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    {% compress css %}
        <link href="{% static 'framebuzz/dashboard/theme_dark/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'framebuzz/dashboard/theme_dark/css/icomoon.min.css' %}" rel="stylesheet">
        <link href="{% static 'framebuzz/dashboard/theme_dark/css/style.min.css' %}" rel="stylesheet">
        <style type="text/css">
            .checkbox { font-size: 11px; text-align: left; }
            .checkbox input { margin-top: 1px; }
            .logo {
                display: block;
                margin: 0 20px;
                position: absolute;
                top: 33%;
            }
        </style>
    {% endcompress %}
</head>
<body>
    <div class="lbox-vert">
        <a href="{% url 'home' %}" class="logo">
            {% include 'dashboard/snippets/logo.html' %}
        </a>
    </div>
    <div class="login-box side-form">
        <form class="form-login" action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="login" id="id_login" type="text" class="form-control" placeholder="User ID" autofocus>
            </div>
            <div class="form-group">
                <input name="password" name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input name="remember" id="id_remember" type="checkbox"> Remember me
                </label>
            </div>
            <br>
            <button class="btn btn-gr-gray btn-block btn-xs" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
        </form>
    </div>
</body>
</html>
