{% extends "marketing/base.html" %}
{% load staticfiles compress avatar_tags %}

{% block marketing_meta %}
    <meta property="og:title" content="FrameBuzz: {{ video.title }}" />
    <meta property="og:type" content="Video" />
    <meta property="og:url" content="http://framebuzz.com{% url 'video-share' video.slug %}" />
    <meta property="og:image" content="{{ video.poster_image }}" />
    <meta property="og:description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta property="og:site_name" content="FrameBuzz" />
    <meta itemprop="name" content="FrameBuzz: {{ video.title }}" />
    <meta itemprop="description" content="I'm watching {{ video.title }}. Come talk about it with me on FrameBuzz!" />
    <meta itemprop="image" content="{{ video.poster_image }}" />
{% endblock %}

{% block page_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/iconic.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'framebuzz/profiles/stylesheets/screen.css' %}" type="text/css" media="screen" />
        <style type="text/css">
            .row-logo {
    
            }

            .logo {
                img {
                    vertical-align: top !important;
                    
                }
            }

            .absolute-center {
              margin: auto;
              position: absolute;
              top: 0; left: 0; bottom: 0; right: 0;
            }

            body.content #base #logo div.row-logo a.client-logo {
                display: block;
                height: auto;
                margin: 0 auto 14px;
                width: 120px;
            }
        </style>
    {% endcompress %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block page_classes %}content profiles share{% endblock %}

{% block header_row %}
    <div class="col-xs-12 row-logo">
        <a href="http://goketra.com" target="_blank" class="logo client-logo">
          <img src="{% static 'framebuzz/dashboard/img/ketra-black.png' %}" alt="Ketra" width="200">
        </a>
    </div>
{% endblock %}

{% block content_center %}
    <div id="share" class="row" style="display: block;">
        {% include "player/snippets/share.html" %}
    </div>
{% endblock %}

{% block page_javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tooltip').tooltip();

            $('body').on('click', 'a.feed-item-type.toggle', function(e) {
                e.preventDefault();

                var url = $(this).attr('href'),
                    links = $('a[href="' + url + '"]'),
                    addOrRemoveIcon = $(this).find('.fa-stack-1x'),
                    removing = addOrRemoveIcon.hasClass('fa-minus'),
                    toggleText = $(this).find('.toggle-text');

                    $.get(url, function(data) {
                        links.each(function(k, v) {
                            $(v).find('.fa-stack').toggleClass('active');
                        });
                        
                        if (removing) {
                            links.each(function(k, v) {
                                $(v).find('.fa-stack-1x').removeClass('fa-minus').addClass('fa-plus');
                            });
                            
                            toggleText.parent().removeClass('remove').addClass('add');
                            toggleText.text('Post Video'); 
                        }
                        else {
                            links.each(function(k, v) {
                                $(v).find('.fa-stack-1x').removeClass('fa-plus').addClass('fa-minus');
                            });

                            toggleText.parent().removeClass('add').addClass('remove');
                            toggleText.text('Remove Post');
                        }
                    });

                return false;
            });
        });
    </script>
{% endblock %}