{% extends "dashboard/base.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags dashboard_tags %}

{% block page_header %}
    <link rel="stylesheet" href="{% static 'framebuzz/dashboard/theme/assets/css/to-do.css' %}">
    <link href="{% static 'framebuzz/dashboard/theme/assets/js/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
  <section class="wrapper site-min-height home-wrapper">
    <div class="row">
          <div class="col-lg-12 main-chart">   
            <h3><i class="fa fa-angle-right"></i> Uploads in Progress</h3>
            <hr>
            <ul class="uploads-list">
                {% include "dashboard/snippets/pending_upload.html" %}
            </ul>
          </div>
        </div>
    </section>
{% endblock %}

{% block page_javascript %}
  {% compress js %}
  <script type="text/javascript">
    $(document).ready(function() {
        var baseUrl = 'https://app.zencoder.com/api/v2/jobs/',
            checkJobsInterval = null,
            finishedUploads = [],
            currentCount = $('ul.uploads-list li').not('.complete').length;

        var progress = function(percent, $element) {
            $element.attr('data-percentage', percent);
            $element.animate({ width: percent + '%' }, 500);

            $element.parent().parent().find('.percent-text').text(percent + '%');
        };

        function checkZencoderJobs() {
          // Check status of uploads dynamically if we still have some pending
          // jobs on page refresh.
          // Queue the AJAX calls properly.
          var deferreds = [];

          $('ul.uploads-list li').not('.complete').each(function(key, value) {
            var url = baseUrl + $(this).attr('data-job-id') + '/progress.json?api_key=e9d23782542efd39f402fc40a7b4edaf';
             //test: 
            //var url = baseUrl + $(this).attr('data-job-id') + '/progress.json?api_key=75e13910e393a6ccafc1a3272f3a6a48';
            var row = $(this);

            deferreds.push(
              $.ajax({
                  url: url,
                  type: 'GET',
                  dataType: 'json',
                  success: function(data) {
                    var progressBar = row.find('div.progress-bar');
                    var percent = Math.round(parseFloat(data['progress'], 0));

                    if (data['state'] == 'processing') {
                      progress(percent, progressBar); 
                    }
                    else {
                      if (data['state'] == 'finished') {
                        progress(100, progressBar);

                        row.addClass('complete');
                        currentCount = currentCount - 1;

                        row.find('a.video-link').addClass('finished');
                        row.find('i.fa-film').addClass('i.fa-play-circle');
                        row.find('i.fa-film').removeClass('i.fa-film');
                      }
                    }
                  },
                  error: function(data) {

                  }
              })
            );
          });

          // All AJAX calls complete.
          $.when.apply($, deferreds).done(function() {
            if (currentCount == 0 && checkJobsInterval !== null) {
              clearInterval(checkJobsInterval);
            }
          });
        };

        var startJobCheckInterval = function() {
          if (checkJobsInterval === null) {
            checkZencoderJobs();

            checkJobsInterval = setInterval(checkZencoderJobs, 5000);
          }
        };

        startJobCheckInterval();
    });
  </script>
  {% endcompress %}
{% endblock %}