{% extends "dashboard/base.html" %}
{% load staticfiles addendum_tags account socialaccount avatar_tags compress profile_tags dashboard_tags %}

{% block page_header %}
    <link rel="stylesheet" href="{% static 'framebuzz/dashboard/theme/assets/css/to-do.css' %}">
{% endblock %}

{% block page_content %}

  <section class="wrapper site-min-height home-wrapper">
      <div class="row">
          <div class="col-lg-12 main-chart">   
            <h3><i class="fa fa-angle-right"></i> Videos</h3>
                <hr>
                {% for group in videos|group_by:3 %}
                <div class="row mt">
                    {% for video in group %}
                        <div class="col-lg-4 col-md-4 col-sm-4 mb video-panel" data-remote="{% url 'dashboard-video-details' video.slug %}" data-title="{{ video.title|title }}" data-slug="{{ video.slug }}">
                            <div class="content-panel pn">
                                <div class="panel-bkg" style="background: url('{{ video.default_thumbnail }}') no-repeat center top; background-position: center center; background-size: cover;">
                                </div>
                                <div class="pr2-social" id="{{ video.slug }}">
                                    <h5><strong class="title">{{ video.title|title|truncatechars:"55" }} <i class="fa fa-chevron-right pull-right"></i></strong></h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row content-panel inline-modal">
                    <div class="panel-heading">
                        <div class="row row-modal-title">
                            <div class="col-md-12">
                                <h3 class="clearfix">
                                    <strong class="video-title pull-left"></strong>
                                    <a class="inline-close pull-right" href="#" rel="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>                           
                    <div class="panel-body inline-modal-content">
                        <div class="inner-content">
                            <div class="ajax-indicator-row text-center">
                                <i class="fa fa-4x fa-cog fa-spin ajax-indicator"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /col-lg-12 END SECTION MIDDLE -->
    </div>
</section>
{% endblock %}

{% block page_javascript %} 
  {% compress js %}
    <script src="{% static 'framebuzz/dashboard/js/dashboard.videos.js' %}" type="text/javascript"></script>
  {% endcompress %}
{% endblock %}